{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Oekrainedossier afsluiten</h1>
    {{ form_start(form) }}
    {{ form_row(form.datum) }}
    {{ form_row(form.reden) }}
    {{ form.land is defined ? form_row(form.land) }}
    {{ form_row(form.toelichting) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script>
   window.onload = function(){
      if($){

        $(function() {
            var toggleCountry = function() {
                var selectedElm = $('select#afsluiting_reden option:selected');
                if (/land_1/i.test(selectedElm.attr('class'))) {
                    $('#afsluiting_land').closest('.form-group').show();
                } else {
                    $('#afsluiting_land option:selected').prop('selected', false);
                    $('#afsluiting_land').closest('.form-group').hide();
                }
            };

            $('select#afsluiting_reden').on('change', function() {
                toggleCountry();
            });

            toggleCountry();
        });

      }
   }
   </script>
{% endblock %}
