{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.link('Bezoeker toevoegen', path('oekraine_bezoekers_add'), 'add') }}
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                {{ form_start(filter) }}
                <th>
                    {{ form_widget(filter.appKlant.id) }}
                    {{ form_errors(filter.appKlant.id) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.voornaam) }}
                    {{ form_errors(filter.appKlant.voornaam) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.achternaam) }}
                    {{ form_errors(filter.appKlant.achternaam) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.geboortedatumRange.start) }}
                    {{ form_errors(filter.appKlant.geboortedatumRange.start) }}
                    {{ form_widget(filter.appKlant.geboortedatumRange.end) }}
                    {{ form_errors(filter.appKlant.geboortedatumRange.end) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.geslacht) }}
                    {{ form_errors(filter.appKlant.geslacht) }}
                </th>
                <th>
                    {{ form_widget(filter.woonlocatie) }}
                    {{ form_errors(filter.woonlocatie) }}
                </th>
                <th>
                </th>
                <th>
                    {{ form_widget(filter.appKlant.maatschappelijkWerker) }}
                    {{ form_errors(filter.appKlant.maatschappelijkWerker) }}
                </th>
                <th>
                    {{ form_widget(filter.mentalCoach) }}
                    {{ form_errors(filter.mentalCoach) }}
                </th>
                <th>
                    {{ form_widget(filter.huidigeStatus) }}
                    {{ form_errors(filter.huidigeStatus) }}
                </th>
                <th colspan="2">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>
                {{ form_end(filter) }}
            </tr>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'bezoeker.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Voornaam', 'appKlant.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Achternaam', 'appKlant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'appKlant.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                </th>
                <th>
                    Woonlocatie
                </th>
                <th>
                    Intakedatum
                </th>
                <th>
                    Maatschappelijk werker
                </th>
                <th>
                    Mental Coach
                </th>
                <th>
                    Dossierstatus
                </th>
                <th>
                    Aantal intakes
                </th>
            </tr>
        </thead>
        <tbody>
            {% for bezoeker in pagination %}
                <tr data-href="{{ path('oekraine_bezoekers_view', {id: bezoeker.id}) }}">
                    <td>
                        {{ bezoeker.id }}
                    </td>
                    <td>
                        {{ bezoeker.appKlant.voornaam }}
                        {% if bezoeker.appKlant.roepnaam %}({{ bezoeker.appKlant.roepnaam }}){% endif %}
                    </td>
                    <td>
                        {{ bezoeker.appKlant.tussenvoegsel }} {{ bezoeker.appKlant.achternaam }}
                    </td>
                    <td>
                        {{ bezoeker.appKlant.geboortedatum ? bezoeker.appKlant.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ bezoeker.appKlant.geslacht }}
                    </td>
                    <td>
                        {{ bezoeker.laatsteIntake ? bezoeker.laatsteIntake.woonlocatie }}
                    </td>
                    <td>
                        {{ bezoeker.laatsteIntake ? bezoeker.laatsteIntake.intakedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ bezoeker.appKlant.maatschappelijkWerker }}
                    </td>
                    <td>
                        {{ bezoeker.mentalCoach }}
                    </td>
                    <td>
                        {{ bezoeker.huidigeStatus }}
                    </td>
                    <td>
                        {{ bezoeker.intakes|length }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
