{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    {% if entity.huidigeStatus.afgesloten %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten.
            {{ html.link('Oekrainedossier heropenen', path(route_base~'open', {id: entity.id}), 'open') }}
        </p>
    {% endif %}
    <p>
        {% if entity.huidigeStatus.aangemeld %}
            {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
            {{ html.link('Oekrainedossier afsluiten', path(route_base~'close', {id: entity.id}), 'close') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <h2>Oekrainedossier</h2>
    <ul>
        {% for status in entity.statussen %}
            <li>{{ status }}</li>
        {% endfor %}
    </ul>
    {% include 'klant_basis.html.twig' with {klant: entity.appKlant, module: 'Intake'} %}
    {{ render(controller('OekraineBundle\\Controller\\BezoekersController::_intakesAction', {id: entity.id})) }}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dossier">Dossier</a></li>
        <li><a data-toggle="tab" href="#intake">Laatste intake</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
        <li><a data-toggle="tab" href="#incidenten">Incidenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="dossier" class="tab-pane active">
            <h2>Dossier</h2>
            {{ html.link('Wijzigen', path('oekraine_bezoekers_edit', {id: entity.id}), 'edit') }}
            <div class="row">
                <div class="col-xs-6">
                    <dl  class="dl-horizontal">
                        <dt>Mental coach</dt>
                        <dd>{{ entity.getMentalCoach }}</dd>

                    </dl>
                </div>
            </div>

        </div>
        <div id="intake" class="tab-pane">
            <h2>Laatste intake</h2>
            {% if entity.laatsteIntake %}
                <p>
                    {{ html.link('Printen', path('oekraine_intakes_view', {id: entity.laatsteIntake.id, _format: 'pdf'}), 'print') }}
                    {{ html.link('Wijzigen', path('oekraine_intakes_edit', {id: entity.laatsteIntake.id}), 'edit') }}
                    {% if entity.huidigeStatus.aangemeld %}
                        {{ html.link('Intake toevoegen', path('oekraine_intakes_add', {bezoeker: entity.id}), 'add') }}
                    {% endif %}
                </p>
                {% include 'oekraine/intakes/_detail.html.twig' with {entity: entity.laatsteIntake} %}
            {% else %}
                {% if entity.huidigeStatus.aangemeld %}
                    {{ html.link('Intake toevoegen', path('oekraine_intakes_add', {bezoeker: entity.id}), 'add') }}
                {% endif %}
            {% endif %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include 'oekraine/bezoekers/_verslagen.html.twig' with {entity: entity } %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include 'oekraine/bezoekers/_documenten.html.twig' with {entity: entity } %}
        </div>
        <div id="incidenten" class="tab-pane">
            {% include 'oekraine/incidenten/_list.html.twig' with {entity: entity} %}
        </div>
    </div>
{% endblock %}
