{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>
        {% if 'Vog' == class(entity, false) %}
            {{ class(entity, false)|upper }} toevoegen
        {% else %}
            {{ class(entity, false)|capitalize }} toevoegen
        {% endif %}
    </h1>
    <p>
        {{ html.cancelLink(try_path(route_base~'index')) }}
        {{ html.link('Annuleren', try_path(route_base~'index')) }}
    </p>
{% endblock %}

{% block content %}
    {# Check if max_files is defined before passing it to the form rendering #}
    {% set form_options = {} %}
    {% if max_files is defined %}
        {% set form_options = {'max_files': max_files} %}
    {% endif %}
    {{ form(form, form_options) }}
{% endblock %}
