{% block zrm_widget %}
    <table class="table table-hover">
        <tr>
            <th>&nbsp;</th>
            {% for choice in (form.children|first).vars.choices %}
                <th>{{ choice.label }}</th>
            {% endfor %}
        </tr>
        {%- for child in form|filter(child => child.vars.name not in ['requestModule', 'medewerker', 'submit']) %}
            {{ form_row(child) }}
        {%- endfor -%}
    </table>
{#    JTB 230518 Somehow, this stopped working with update to 5.4... but dont know the reason for doubling this loop...results in the same thing. #}
{#    {%- for child in form %}#}
{#        {{ form_row(child) }}#}
{#        {{ child.vars.name }}#}
{#    {%- endfor -%}#}
{% endblock %}

{% block zrm_item_row %}
    <tr>
        <th>{{ form_label(form) }}</th>
        {%- for child in form %}
            <td>
                {{- form_widget(child, {
                    label: false,
                    parent_label_class: label_attr.class|default('')
                }) -}}
            </td>
        {% endfor -%}
    </tr>
{% endblock %}

{% block container_label -%}
    <h2>{{ form.vars.label ? form.vars.label : form.vars.name|humanize }}</h2>
    <div class="{{ block('form_label_class') }}"></div>
{%- endblock %}
