{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    <p>
        {{ html.Link('Wijzigen', path(route_base ~ 'edit', {'id': entity.id}), 'edit') }}
        {% if entity.deletable %}
            {{ html.link('Verwijderen', path(route_base ~ 'delete', {'id': entity.id}), 'delete') }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Datum van</dt>
        <dd>{{ entity.datumVan|date('d-m-Y') }}</dd>
        <dt>Datum tot</dt>
        <dd>{{ entity.datumTot|if_date('d-m-Y') }}</dd>
    </dl>
{% endblock %}


