    <h2>Intake</h2>
    <dl class="dl-horizontal">
        <dt>Intakedatum</dt>
        <dd>{{ intake and intake.intakedatum ? intake.intakedatum|date('d-m-Y') }}</dd>
        <dt>Coördinator</dt>
        <dd>{{ intake ? intake.medewerker }}</dd>
        <dt>Gezin met kinderen</dt>
        <dd>{{ intake ? intake.gezinMetKinderen ? 'Ja' }}</dd>
    </dl>
    {#% if intake.zrm %}
        <h2>Zelfredzaamheidmatrix</h2>
        {% include 'AppBundle:zrms:_detail.html.twig' with {entity: intake.zrm} %}
    {% endif %#}



<h2>Intake</h2>
{% if intake and intake.id %}
    <p>
        {{ html.editLink(path('iz_intakes_edit', {id: intake.id})) }}
        {{ html.link('Intake bewerken', path('iz_intakes_edit', {id: intake.id})) }}
    </p>
    <dl class="dl-horizontal">
        <dt>Intakedatum</dt>
        <dd>{{ intake.intakedatum ? intake.intakedatum|date('d-m-Y') }}</dd>
        <dt>Coördinator</dt>
        <dd>{{ intake.medewerker }}</dd>
        <dt>Gezin met kinderen</dt>
        <dd>{{ intake.gezinMetKinderen ? 'Ja' : 'Nee' }}</dd>
    </dl>
    {% if intake.zrm %}
        {% include 'AppBundle:zrms:_detail.html.twig' with {entity: intake.zrm} %}
    {% endif %}
{% else %}
    {% if form is defined %}
        {% if 'IzBundle\Entity\IzKlant' == class(intake.izDeelnemer) %}
            <p>
                {{ html.cancelLink(path('iz_klanten_view', {id: intake.izDeelnemer.id, _fragment: 'intake'})) }}
                {{ html.link('Annuleren', path('iz_klanten_view', {id: intake.izDeelnemer.id, _fragment: 'intake'})) }}
            </p>
        {% else %}
            <p>
                {{ html.cancelLink(path('iz_vrijwilligers_view', {id: intake.izDeelnemer.id, _fragment: 'intake'})) }}
                {{ html.link('Annuleren', path('iz_vrijwilligers_view', {id: intake.izDeelnemer.id, _fragment: 'intake'})) }}
            </p>
        {% endif %}
        {{ form(form) }}
    {% else %}
        {{ html.addLink('') }}
        {{ html.link('Intake toevoegen', path('iz_intakes_add', {deelnemer: deelnemer.id})) }}
    {% endif %}
{% endif %}
