{% include 'oek_subnavigation.twig' %}

<h1>Trainingen</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('OEK-training toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.id) }}
            {{ form_errors(filter.id) }}
        </th>
        <th>
            {{ form_widget(filter.naam) }}
            {{ form_errors(filter.naam) }}
        </th>
        <th>
            {{ form_widget(filter.oekGroep) }}
            {{ form_errors(filter.oekGroep) }}
        </th>
        <th></th>
        <th>
            {{ form_widget(filter.startDatum) }}
            {{ form_errors(filter.startDatum) }}
        </th>
        <th>
            {{ form_widget(filter.eindDatum) }}
            {{ form_errors(filter.eindDatum) }}
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'oekTraining.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Naam', 'oekTraining.naam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Groep', 'oekGroep.naam') }}
        </th>
        <th>
            Aantal deelnemers
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Startdatum', 'oekTraining.startDatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Einddatum', 'oekTraining.eindDatum') }}
        </th>
        <th></th>
    </tr>
    {% for oekTraining in pagination %}
    <tr>
        <td>
            {{ html.link(oekTraining.id, {'action': 'view', 0: oekTraining.id})|raw }}
        </td>
        <td>
            {{ html.link(oekTraining.naam, {'action': 'view', 0: oekTraining.id})|raw }}
        </td>
        <td>
            {{ html.link(oekTraining.oekGroep, {'controller': 'oek_trainingen', 'action': 'view', 0: oekTraining.oekGroep.id})|raw }}
        </td>
        <td>{{ oekTraining.oekKlanten.count() }}</td>
        <td>
            {{ oekTraining.startDatum ? oekTraining.startDatum|date('d-m-Y') }}
            {{ oekTraining.startTijd ? '(' ~ oekTraining.startTijd|date('H:i') ~ ' uur)' }}
        </td>
        <td>{{ oekTraining.eindDatum ? oekTraining.eindDatum|date('d-m-Y') }}</td>
        <td>
            {{ html.viewLink({'action': 'view', 0: oekTraining.id})|raw }}
            {{ html.editLink({'action': 'edit', 0: oekTraining.id})|raw }}
            {% if oekTraining.deletable %}
                {{ html.deleteLink({'action': 'delete', 0: oekTraining.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
