{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base ~ 'add')) }}
        {{ html.link('Afsluiting toevoegen', path(route_base ~ 'add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'afsluiting.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'afsluiting.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'afsluiting.actief') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Tonen in lijst', 'afsluiting.tonen') }}
            </th>
            <th>
            </th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity }}
                </td>
                <td>
                    {{ entity.actief ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ entity.tonen ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ html.editLink(path(route_base ~ 'edit', {'id': entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path(route_base ~ 'delete', {'id': entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
