{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    OEK | Verwijzingen Door |
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/_partials/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verwijzingen door</h1>

    <p>
        {{ html.addLink(path('oek_verwijzingendoor_add')) }}
        {{ html.link('Verwijzing toevoegen', path('oek_verwijzingendoor_add')) }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'oekVerwijzing.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'oekVerwijzing.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'oekVerwijzing.actief') }}
            </th>
            <th></th>
        </tr>
        {% for oekVerwijzing in pagination %}
            <tr>
                <td>
                    {{ oekVerwijzing.id }}
                </td>
                <td>
                    {{ oekVerwijzing.naam }}
                </td>
                <td>
                    {{ oekVerwijzing.actief ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ html.editLink(path('oek_verwijzingendoor_edit', {id: oekVerwijzing.id})) }}
                    {% if oekVerwijzing.deletable %}
                        {{ html.deleteLink(path('oek_verwijzingendoor_delete', {id: oekVerwijzing.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
