{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% set max_depth = 4 %}
{% set col_width = (100/(max_depth))|round(0, 'floor') %}

{#Should be set in controller#}
{% if accessProfile is not defined %}
    {% set accessProfile = 1 %}
{% endif %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} toevoegen voor {{ entity.bezoeker }}</h1>
{% endblock %}
{% if is_granted("ROLE_MW") %}
    {%  set roleMw = true %}
{% else %}
    {%  set roleMw = false %}
{% endif %}
{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-xs-6">
        {{ form_row(form.medewerker) }}
        {{ form_row(form.datum) }}

        {{ form_row(form.locatie) }}
        {{ form_row(form.aantalContactmomenten) }}
        {% if roleMw == true %}
            {{ form_row(form.access) }}
        {% else %}
            {{ form_row(form.access,{'value':'1'}) }}
        {% endif %}
        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
    </div>
    <div class="col-xs-6">
        {{ form_row(form.opmerking) }}
        {{ form_end(form,{'render_rest':false}) }}
        <h2>Vorige verslagen</h2>

        <div style="max-height: 30em; overflow-y: scroll;">
            {% for verslag in entity.bezoeker.verslagen|filter(verslag => (verslag.access <= accessProfile) ) %}

                <h3>Verslag van {{ verslag.datum|date('d-m-Y') }}</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Locatie</dt>
                            <dd>{{ verslag.locatie }}</dd>
                            <dt>Medewerker</dt>
                            <dd>{{ verslag.medewerker }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Aantal contactmomenten</dt>
                            <dd>{{ verslag.aantalContactmomenten }}</dd>
                            <dt>Type</dt>
                            <dd>{{ verslag.typeAsString }}</dd>
                        </dl>
                    </div>
                </div>
                <p class="well">{{ verslag.opmerking|raw|nl2br }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .radio input[type="radio"] {
            position: relative;
            margin-left: 0;
        }
    </style>
{% endblock %}
