{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('tw_woningbouwcorporaties_add')) }}
        {{ html.link('Pandeigenaar toevoegen', path('tw_woningbouwcorporaties_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'woningbouwcorporatie.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'woningbouwcorporatie.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'woningbouwcorporatie.actief') }}
            </th>
            <th>
            </th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity }}
                </td>
                <td>
                    {{ entity.actief ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ html.editLink(path('tw_woningbouwcorporaties_edit', {'id': entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path('tw_woningbouwcorporaties_delete', {'id': entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
