{{ form_start(filter) }}
    <tr>
        <th colspan="8">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.vrijwilliger.id) }}
            {{ form_errors(filter.vrijwilliger.id) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.naam) }}
            {{ form_errors(filter.vrijwilliger.naam) }}
        </th>
        <th>
            {{ form_widget(filter.hulpverlener) }}
            {{ form_errors(filter.hulpverlener) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.adres) }}
            {{ form_errors(filter.vrijwilliger.adres) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.geboortedatumRange.start) }}
            {{ form_errors(filter.vrijwilliger.geboortedatumRange.start) }}
            {{ form_widget(filter.vrijwilliger.geboortedatumRange.end) }}
            {{ form_errors(filter.vrijwilliger.geboortedatumRange.end) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.stadsdeel) }}
            {{ form_errors(filter.vrijwilliger.stadsdeel) }}
        </th>
        <th>
            {{ form_label(filter.rijbewijs) }}
            {{ form_widget(filter.rijbewijs) }}
            {{ form_errors(filter.rijbewijs) }}
        </th>
        <th>
            {{ form_widget(filter.status) }}
            {{ form_errors(filter.status) }}
        </th>
    </tr>
{{ form_end(filter) }}
