<h2 onClick="$('#vrijwilligers_list').toggle()">Vrijwilligers</h2>
<div id="vrijwilligers_list">
    {% if add_url is defined %}
        <p>
            {{ html.addLink(add_url) }}
            {{ html.link('Vrijwilliger toevoegen', add_url) }}
        </p>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Dienstverlener</th>
                <th>Stadsdeel</th>
                <th>Rijbewijs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vrijwilliger in entity.vrijwilligers %}
            <tr>
                <td>
                    {{ html.link(vrijwilliger.vrijwilliger.id, path('hs_vrijwilligers_view', {'id': vrijwilliger.id})) }}
                </td>
                <td>
                    {{ html.link(vrijwilliger.vrijwilliger.naam, path('hs_vrijwilligers_view', {'id': vrijwilliger.id})) }}
                </td>
                <td>
                    {{ vrijwilliger.vrijwilliger.werkgebied }}
                </td>
                <td>
                    {{ vrijwilliger.rijbewijs ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ html.deleteLink(path('hs_klussen_vrijwilligers_delete', {klusId: entity.id, vrijwilligerId: vrijwilliger.id})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
