{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {% include 'app/zrms/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Datum', 'zrm.created') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Module', 'zrm.requestModule') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for zrm in pagination|filter(zrm => zrm.id) %}
                <tr data-href="{{ path('app_zrms_view', {id: zrm.id}) }}">
                    <td>
                        {{ zrm.klant.id }}
                    </td>
                    <td>
                        {{ zrm.klant }}
                    </td>
                    <td>
                        {{ zrm.created|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ zrm.requestModule }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
