{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('tw_klanten_add')) }}
        {{ html.link('Klant toevoegen', path('tw_klanten_add')) }}
    </p>
    <table class="table table-hover mb-0">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="2"></th>
                    <th>
                        {{ form_label(filter.dagbesteding) }}
                        {{ form_widget(filter.dagbesteding) }}
                    </th>
                    <th>
                        {{ form_label(filter.ritme) }}
                        {{ form_widget(filter.ritme) }}
                    </th>
                    <th>
                        {{ form_label(filter.huisdieren) }}
                        {{ form_widget(filter.huisdieren) }}
                    </th>
                    <th>
                        {{ form_label(filter.roken) }}
                        {{ form_widget(filter.roken) }}
                    </th>
                    <th>
                        {{ form_label(filter.softdrugs) }}
                        {{ form_widget(filter.softdrugs) }}
                    </th>
                    <th>
                        {{ form_label(filter.alcohol) }}
                        {{ form_widget(filter.alcohol) }}
                    </th>
                    <th>
                        {{ form_label(filter.traplopen) }}
                        {{ form_widget(filter.traplopen) }}
                    </th>
                    <th>
                        {{ form_label(filter.inkomensverklaring) }}
                        {{ form_widget(filter.inkomensverklaring) }}
                    </th>
                    <th>
                        {{ form_label(filter.gekoppeld) }}
                        {{ form_widget(filter.gekoppeld) }}
                        {{ form_errors(filter.gekoppeld) }}
                    </th>
                    <th>
                        {{ form_label(filter.actief) }}
                        {{ form_widget(filter.actief) }}
                    </th>

                    <th>
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}

                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>


        </thead></table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        {{ form_widget(filter.aanmelddatum.start) }}
                        {{ form_errors(filter.aanmelddatum.start) }}
                        {{ form_widget(filter.aanmelddatum.end) }}
                        {{ form_errors(filter.aanmelddatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.appKlant.naam) }}
                        {{ form_errors(filter.appKlant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.appKlant.geslacht) }}
                        {{ form_errors(filter.appKlant.geslacht) }}
                    </th>
                    <th>
                        {{ form_widget(filter.appKlant.geboortedatumRange.start) }}
                        {{ form_errors(filter.appKlant.geboortedatumRange.start) }}
                        {{ form_widget(filter.appKlant.geboortedatumRange.end) }}
                        {{ form_errors(filter.appKlant.geboortedatumRange.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.project) }}
                        {{ form_errors(filter.project) }}
                    </th>

                    <th>
                        {{ form_widget(filter.intakeStatus) }}
                        {{ form_errors(filter.intakeStatus) }}
                    </th>
                    <th>
                        {{ form_widget(filter.bindingRegio) }}
                        {{ form_errors(filter.bindingRegio) }}
                    </th>
                    <th>
                        {{ form_widget(filter.shortlist) }}
                        {{ form_errors(filter.shortlist) }}
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'klant.aanmelddatum') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Klant', 'appKlant.achternaam') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'appKlant.geboortedatum') }}
                    </th>
                    <th>
                        Project(en)
                    </th>

                    <th>
                        {{ knp_pagination_sortable(pagination, 'Intake status', 'intakeStatus.naam') }}

                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Binding', 'bindingRegio.naam') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Shortlist', 'shortlist.achternaam') }}
                    </th>
                    <th>
                        {{ form_row(filter._token) }}
                    </th>
                </tr>
            </thead>{{ form_end(filter,{'render_rest':false}) }}
        <tbody>
            {% for klant in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: klant.id}) }}">
                    <td>
                        {{ klant.aanmelddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ klant.appKlant }}
                    </td>
                    <td>
                        {{ klant.appKlant.geslacht }}
                    </td>
                    <td>
                        {{ klant.appKlant.geboortedatum|if_date('d-m-Y') }}
                    </td>
                    <td>
                        {% for project in klant.projecten %}
                        <li>{{ project.naam }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {{ klant.intakeStatus }}
                    </td>
                    <td>{{ klant.bindingRegio }}</td>
                    <td>{{ klant.shortlist }}</td>
                    <td>
                        {{ html.editLink(path('tw_klanten_edit', {id: klant.id})) }}
                        {% if klant.deletable %}
                            {{ html.deleteLink(path('tw_klanten_delete', {id: klant.id})) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
