{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include 'InloopBundle::subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    {% if entity.huidigeStatus.afgesloten %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten.
            {{ html.link('Inloopdossier heropenen', path(route_base~'open', {id: entity.id}), 'open') }}
        </p>
    {% endif %}
    <p>
        {% if entity.huidigeStatus.aangemeld %}
            {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
            {{ html.link('Inloopdossier afsluiten', path(route_base~'close', {id: entity.id}), 'close') }}
        {% endif %}
        {{ html.link('Klantrapportage bekijken', path(route_base~'viewreport', {klant: entity.id}), 'list') }}
        {% if entity.doorverwijzenNaarAmoc or entity.land in amoc_landen %}
            {{ html.link('AMOC-brief printen', path(route_base~'amoc', {klant: entity.id}), 'print') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <h2>Inloopdossier</h2>
    <ul>
        {% for status in entity.statussen %}
            <li>{{ status }}</li>
        {% endfor %}
    </ul>
    {% include '::klant_basis.html.twig' with {klant: entity, module: 'Intake'} %}
    {{ render(controller('InloopBundle:Klanten:_intakes', {id: entity.id})) }}
    {{ render(controller('InloopBundle:Klanten:_opmerkingen', {id: entity.id})) }}
    {{ render(controller('InloopBundle:Klanten:_schorsingen', {id: entity.id})) }}
    {{ render(controller('InloopBundle:Klanten:_registraties', {id: entity.id})) }}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#intake">Laatste intake</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#opmerkingen">Opmerkingen</a></li>
        <li><a data-toggle="tab" href="#schorsingen">Schorsingen</a></li>
    </ul>
    <div class="tab-content">
        <div id="intake" class="tab-pane active">
            <h2>Laatste intake</h2>
            {% if entity.laatsteIntake %}
                <p>
                    {{ html.link('Printen', path('inloop_intakes_view', {id: entity.laatsteIntake.id, _format: 'pdf'}), 'print') }}
                    {% if is_granted('edit', entity.laatsteIntake) and is_granted('owner', entity.laatsteIntake) %}
                        {{ html.link('Wijzigen', path('inloop_intakes_edit', {id: entity.laatsteIntake.id}), 'edit') }}
                    {% endif %}
                    {% if entity.huidigeStatus.aangemeld %}
                        {{ html.link('Intake toevoegen', path('inloop_intakes_add', {klant: entity.id}), 'add') }}
                    {% endif %}
                </p>
                {% include 'InloopBundle:intakes:_detail.html.twig' with {entity: entity.laatsteIntake} %}
            {% else %}
                {% if entity.huidigeStatus.aangemeld %}
                    {{ html.link('Intake toevoegen', path('inloop_intakes_add', {klant: entity.id}), 'add') }}
                {% endif %}
            {% endif %}
        </div>
        <div id="verslagen" class="tab-pane">
            <h2>Verslagen</h2>
            <p>
                {{ html.link('Verslag toevoegen', path('inloop_verslagen_add', {klant: entity.id, type: 2}), 'add') }}
            </p>

            {% if is_granted("ROLE_MW") %}
                    {%  set ookMw = true %}
            {% else %}
                    {%  set ookMw = false %}
            {% endif %}


            {% for verslag in entity.verslagen|filter(verslag => (verslag.type == 1 and ookMw == true) or verslag.type == 2) %}

                 <h3>Verslag van {{ verslag.datum|date('d-m-Y') }}</h3>
                 <p>
                     {{ html.link('Verslag bewerken', path('inloop_verslagen_edit', {id: verslag.id}), 'edit') }}
                 </p>

                {% if verslag.type == 2 %}
                    {% set class = "bg-info" %}
                {% else %}
                    {% set class = "" %}
                {% endif %}
                <div class="row {{class}}">
                     <div class="col-xs-6">
                         <dl class="dl-horizontal">
                             <dt>Locatie</dt>
                             <dd>{{ verslag.locatie }}</dd>
                             <dt>Medewerker</dt>
                             <dd>{{ verslag.medewerker }}</dd>
                         </dl>
                     </div>
                     <div class="col-xs-6">
                         <dl class="dl-horizontal">
                             <dt>Contactsoort</dt>
                             <dd>{{ verslag.contactsoort }}</dd>
                             {% if verslag.duur %}
                                 <dt>Duur</dt>
                                 <dd>{{ verslag.duur }} minuten</dd>
                             {% endif %}
                             <dt>Type</dt>
                             <dd>{{ verslag.typeAsString }}</dd>
                         </dl>
                     </div>
                 </div>
                 <p class="well">{{ verslag.opmerking|nl2br }}</p>

            {% endfor %}
        </div>
        <div id="opmerkingen" class="tab-pane">
            <h2>Opmerkingen</h2>
            <p>
                {{ html.link('Opmerking toevoegen', path('inloop_opmerkingen_add', {klant: entity.id}), 'add') }}
            </p>
            {% if 0 == entity.opmerkingen|length %}
                <p>Geen opmerkingen.</p>
            {% else %}
                {% for opmerking in entity.opmerkingen %}
                    <div data-id="{{ opmerking.id }}">
                        <h2>{{ opmerking.modified|date('d-m-Y') }}</h2>
                        <p class="pull-right">
                            <input class="gezien" id="gezien-{{ opmerking.id }}" type="checkbox" {{ opmerking.gezien ? 'checked' }}/>
                            <label for="gezien-{{ opmerking.id }}">Opgelost</label>
                            <a class="delete" title="Verwijderen">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Verwijderen
                            </a>
                        </p>
                        <p>Categorie: {{ opmerking.categorie }}</p>
                        <div class="well">{{ opmerking.beschrijving }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="schorsingen" class="tab-pane">
            <h2>Huidige schorsingen <small>({{ entity.huidigeSchorsingen|length }} schorsingen)</small></h2>
            <p>
                {{ html.link('Schorsing toevoegen', path('inloop_schorsingen_add', {'klant': entity.id}), 'add') }}
            </p>
            {% if 0 == entity.huidigeSchorsingen|length %}
                <p>Deze persoon is op dit moment niet geschorst.</p>
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Locaties</th>
                            <th>Begindatum</th>
                            <th>Einddatum</th>
                            <th>Redenen</th>
                            <th>Opmerking</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schorsing in entity.huidigeSchorsingen %}
                            <tr data-id="{{ schorsing.id }}" data-href="{{ path('inloop_schorsingen_view', {id: schorsing.id}) }}" class="{{ entity.id == schorsing.id ? 'info' }}">
                                <td>
                                    <ul>
                                        {% for locatie in schorsing.locaties %}
                                            <li>{{ locatie }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ schorsing.datumVan|date('d-m-Y') }}</td>
                                <td>{{ schorsing.datumTot|date('d-m-Y') }}</td>
                                <td>
                                    <ul>
                                        {% for reden in schorsing.redenen %}
                                            <li>{{ reden }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ schorsing.opmerking }}<br><br>
                                    <a href="{{ path('inloop_schorsingen_view', {id: schorsing.id, language: 'nl', _format: 'pdf'}) }}" target="_blank">
                                        <span class="glyphicon glyphicon-print"></span>
                                        Printen
                                    </a>
                                    <a href="{{ path('inloop_schorsingen_view', {id: schorsing.id, language: 'en', _format: 'pdf'}) }}" target="_blank">
                                        <span class="glyphicon glyphicon-print"></span>
                                        Printen Engels
                                    </a>
                                    {{ html.link('Wijzigen', path('inloop_schorsingen_edit', {id: schorsing.id}), 'edit') }}
                                    {% if is_granted('ROLE_TEAMLEIDERS') %}
                                        {{ html.link('Verwijderen', path('inloop_schorsingen_delete', {id: schorsing.id}), 'delete') }}
                                    {% endif %}
                                </td>
                                <td>
                                    <input class="gezien" id="gezien-{{ schorsing.id }}" type="checkbox" {{ schorsing.gezien ? 'checked' }}/>
                                    <label for="gezien-{{ schorsing.id }}">Gezien</label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h2>Verlopen schorsingen <small>({{ entity.verlopenSchorsingen|length }} schorsingen)</small></h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Locaties</th>
                        <th>Begindatum</th>
                        <th>Einddatum</th>
                        <th>Redenen</th>
                        <th>Opmerking</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schorsing in entity.verlopenSchorsingen %}
                        <tr data-id="{{ schorsing.id }}" data-href="{{ path('inloop_schorsingen_view', {id: schorsing.id}) }}" class="{{ entity.id == schorsing.id ? 'info' }}">
                            <td>
                                <ul>
                                    {% for locatie in schorsing.locaties %}
                                        <li>{{ locatie }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ schorsing.datumVan|date('d-m-Y') }}</td>
                            <td>{{ schorsing.datumTot|date('d-m-Y') }}</td>
                            <td>
                                <ul>
                                    {% for reden in schorsing.redenen %}
                                        <li>{{ reden }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ schorsing.opmerking }}<br><br>
                                {{ html.link('Wijzigen', path('inloop_schorsingen_edit', {id: schorsing.id}), 'edit') }}
                                {% if is_granted('ROLE_TEAMLEIDERS') %}
                                    {{ html.link('Verwijderen', path('inloop_schorsingen_delete', {id: schorsing.id}), 'delete') }}
                                {% endif %}
                            </td>
                            <td>
                                <input class="gezien" id="gezien-{{ schorsing.id }}" type="checkbox" {{ schorsing.gezien ? 'checked' }}/>
                                <label for="gezien-{{ schorsing.id }}">Gezien</label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {

            function opmerking_seen(opmerking_id) {
                $.post({
                    url: `/inloop/opmerkingen/${opmerking_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#opmerkingen .gezien').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_seen(id);
            });

            function opmerking_remove(opmerking_id) {
                var confirmed = confirm('Weet u zeker dat u deze opmerking wilt verwijderen?');
                if (confirmed) {
                    $.post({
                        url: `/inloop/opmerkingen/${opmerking_id}/delete`,
                    }).done(function(data) {
                        location.reload();
                    }).fail(function() {
                        alert('Er is een fout opgetreden.')
                    });
                }
            };

            $('.delete').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_remove(id);
            });

            function schorsing_seen(schorsing_id) {
                $.post({
                    url: `/inloop/schorsingen/${schorsing_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#schorsingen .gezien').on('click', function() {
                var id = $(this).closest('tr').attr('data-id');
                schorsing_seen(id);
            });
        });
    </script>
{% endblock %}
