{% import '::html.macro.twig' as html %}
{% if vrijwilliger is defined %}
    {% set entity = vrijwilliger %}
    {% set url = path('inloop_documenten_add', {vrijwilliger: entity.id}) %}
{% endif %}

<h2>Documenten</h2>
<p>
    {% if url is defined %}
        {{ html.addLink(url) }}
        {{ html.link('Document toevoegen', url) }}
    {% endif %}
</p>
<table class="table table-hover">
    {% for document in entity.documenten %}
        <tr>
            <td>{{ document.naam }} </td>
            <td>{{ document.created|date('d-m-Y') }}</td>
            <td>{{ document.medewerker }}</td>
            <td>
                <a href="{{ vich_uploader_asset(document, 'file') }}" alt="{{ document.naam }}">
                    Document downloaden
                </a>
            </td>
            <td>
                {% if vrijwilliger is defined %}
                    {% set url = path('inloop_documenten_delete', {id: document.id, vrijwilliger: entity.id}) %}
                {% endif %}
                {{ html.deleteLink(url) }}
            </td>
        </tr>
    {% endfor %}
</table>
