{% extends '@Ga/index.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base~'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base~'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th>
                        {{ form_widget(filter.naam) }}
                        {{ form_errors(filter.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.werkgebied) }}
                        {{ form_errors(filter.werkgebied) }}
                    </th>
                    <th>
                        {{ form_widget(filter.startdatum.start) }}
                        {{ form_errors(filter.startdatum.start) }}
                        {{ form_widget(filter.startdatum.end) }}
                        {{ form_errors(filter.startdatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.einddatum.start) }}
                        {{ form_errors(filter.einddatum.start) }}
                        {{ form_widget(filter.einddatum.end) }}
                        {{ form_errors(filter.einddatum.end) }}
                    </th>
                    <th colspan="3">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'groep.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Werkgebied', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Startdatum', 'groep.startdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Einddatum', 'groep.einddatum') }}
                </th>
                <th>Aantal activiteiten</th>
                <th>Aantal leden</th>
            </tr>
        </thead>
        <tbody>
            {% for groep in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: groep.id}) }}" class="{{ groep.afgesloten ? 'danger' }}">
                    <td>
                        {{ groep }}
                    </td>
                    <td>
                        {{ groep.werkgebied }}
                    </td>
                    <td>
                        {{ groep.startdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ groep.einddatum ? groep.einddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ groep.activiteiten|length }}
                    </td>
                    <td>
                        {{ groep.actieveLidmaatschappen|length }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
