{% extends 'add.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    {% if vrijwilligers is defined and filterForm.vars.errors|length == 0 %}
        <p>
            Selecteer de gewenste {{ entity_name }} in onderstaande lijst of klik op
            "Nieuwe {{ entity_name }}" als deze niet in de lijst voorkomt.
        </p>
        <p>
            {{ html.link('Nieuwe '~entity_name, path('iz_vrijwilligers_add', {vrijwilliger: 'new'}), 'plus') }}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>BSN</th>
                    <th>Geboortedatum</th>
                </tr>
            </thead>
            {% for entity in vrijwilligers %}
                <tr data-href="{{ path('iz_vrijwilligers_add', {vrijwilliger: entity.id}) }}">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity }}</td>
                    <td>{{ entity.bsn }}</td>
                    <td>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% elseif filterForm is defined %}
        <p>Zoek een bestaande {{ entity_name }} op naam, BSN of geboortedatum.</p>
        {{ form(filterForm) }}
    {% endif %}

    {% if creationForm is defined %}
        {% if entity.vrijwilliger.id %}
            <div class="col-xs-4">
                {% include 'vrijwilliger_basis.html.twig' with {vrijwilliger: entity.vrijwilliger} %}
            </div>
            <div class="col-xs-8">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Aanmelding</a></li>
                </ul>
                <div class="tab-content">
                    <div id="aanmelding" class="tab-pane active">
                        <h2>Aanmelding</h2>
                        {{ form(creationForm) }}
                    </div>
                </div>
            </div>
        {% else %}
            {{ form_start(creationForm) }}
                <h2>Basisgegevens</h2>
                {% include 'app/vrijwilligers/_form.html.twig' with {form: creationForm.vrijwilliger} %}
                <h2>Informele Zorg</h2>
                {{ form(creationForm) }}
            {{ form_end(creationForm) }}
        {% endif %}
    {% endif %}
{% endblock %}
