{% import '::html.macro.twig' as html %}

{% if klus is defined %}
    {% set entity_name = 'klusinfo' %}
    {% set entity = klus %}
    {% set url = path('hs_memos_add', {klus: entity.id}) %}
{% elseif klant is defined %}
    {% set entity_name = 'klantinfo' %}
    {% set entity = klant %}
    {% set url = path('hs_memos_add', {klant: entity.id}) %}
{% elseif dienstverlener is defined %}
    {% set entity_name = 'dienstverlenerinfo' %}
    {% set entity = dienstverlener %}
    {% set url = path('hs_memos_add', {dienstverlener: entity.id}) %}
{% elseif vrijwilliger is defined %}
    {% set entity_name = 'vrijwilligerinfo' %}
    {% set entity = vrijwilliger %}
    {% set url = path('hs_memos_add', {vrijwilliger: entity.id}) %}
{% endif %}

<h2>{{ entity_name|capitalize }}</h2>
{% if url is defined %}
    <p>
        {{ html.addLink(url) }}
        {{ html.link(entity_name|capitalize~' toevoegen', url) }}
    </p>
{% endif %}
<table class="table table-hover">
    <tr>
        <th>Onderwerp</th>
        <th>Memo</th>
        <th>Datum</th>
        <th>Medewerker</th>
        <th>&nbsp;</th>
    </tr>
    {% for memo in entity.memos %}
        <tr>
            <td>{{ memo.onderwerp }}</td>
            <td>{{ memo.memo|nl2br }}</td>
            <td>{{ memo.datum|date('d-m-Y') }}</td>
            <td>{{ memo.medewerker }}</td>
            <td>
                {{ html.editLink(path('hs_memos_edit', {id: memo.id})) }}
                {% if klus is defined %}
                    {% set url = path('hs_memos_delete', {id: memo.id, klus: entity.id}) %}
                {% elseif klant is defined %}
                    {% set url = path('hs_memos_delete', {id: memo.id, klant: entity.id}) %}
                {% elseif dienstverlener is defined %}
                    {% set url = path('hs_memos_delete', {id: memo.id, dienstverlener: entity.id}) %}
                {% elseif vrijwilliger is defined %}
                    {% set url = path('hs_memos_delete', {id: memo.id, vrijwilliger: entity.id}) %}
                {% endif %}
                {{ html.deleteLink(url) }}
            </td>
        </tr>
    {% endfor %}
</table>
