{% include 'hs_subnavigation.twig' %}

<h1>
    Klant {{ hsKlant.klant.naam }}
    {{ html.editLink({'action': 'edit', 0: hsKlant.id})|raw }}
    {% if hsKlant.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: hsKlant.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>#</dt>
    <dd>{{ hsKlant.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ hsKlant.klant.naam }}</dd>
    <dt>
        Memo's
        {{ html.addLink({'action': 'memos_add', 0: hsKlant.id})|raw }}
    </dt>
    <dd>
        <table>
            <tr>
                <th>Datum</th>
                <th>Intake</th>
                <th>Medewerker</th>
                <th>Memo</th>
                <th>
                </th>
            </tr>
            {% for hsMemo in hsKlant.hsMemos %}
                <tr>
                    <td>
                        {{ hsMemo.datum ? hsMemo.datum|date('d-m-Y H:i') : '' }}
                    </td>
                    <td>
                        {{ hsMemo.intake ? 'ja' : 'nee' }}
                    </td>
                    <td>
                        {{ hsMemo.medewerker }}
                    </td>
                    <td>
                        {{ hsMemo.memo|nl2br }}
                    </td>
                    <td>
                        {{ html.editLink({'controller': 'hs_memos', 'action': 'edit', 0: hsMemo.id})|raw }}
                        {{ html.deleteLink({'controller': 'hs_memos', 'action': 'delete', 0: hsMemo.id})|raw }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </dd>
    <dt>Openstaand</dt>
    <dd>{{ hsKlant.openstaand|money }}</dd>
    <dt>
        Klussen
        {{ html.addLink({'controller': 'hs_klussen', 'action': 'add', 0: hsKlant.id})|raw }}
    </dt>
    <dd>
        <ul>
            {% for hsKlus in hsKlant.hsKlussen %}
                <li>
                    {{ html.link(hsKlus, {'controller': 'hs_klussen', 'action': 'view', 0: hsKlus.id})|raw }}
                </li>
            {% endfor %}
        </ul>
    </dd>
    <dt>
        Facturen
    </dt>
    <dd>
        {% if hsKlant.hsFacturen is empty %}
            -
        {% else %}
            <table>
                <tr>
                    <th>#</th>
                    <th>Datum</th>
                    <th>Klant</th>
                    <th>Bedrag</th>
                    <th>Betaald</th>
                    <th>Openstaand</th>
                    <th>&nbsp;</th>
                </tr>
                {% for hsFactuur in hsKlant.hsFacturen %}
                    <tr>
                        <td>
                            {{ html.link(hsFactuur.id, {'controller': 'hs_facturen', 'action': 'view', 0: hsFactuur.id})|raw }}
                        </td>
                        <td>{{ hsFactuur.datum|date('d-m-Y') }}</td>
                        <td>{{ hsFactuur.hsKlus.hsKlant }}</td>
                        <td>{{ hsFactuur.bedrag|money }}</td>
                        <td>{{ hsFactuur.betaald|money }}</td>
                        <td>{{ hsFactuur.openstaand|money }}</td>
                        <td>
                            {{ html.viewLink({'controller': 'hs_facturen', 'action': 'view', 0: hsFactuur.id})|raw }}
                            {{ html.editLink({'controller': 'hs_facturen', 'action': 'edit', 0: hsFactuur.id})|raw }}
                            {{ html.deleteLink({'controller': 'hs_facturen', 'action': 'edit', 0: hsFactuur.id})|raw }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </dd>
</dl>
