{% include 'hs_subnavigation.twig' %}

<h1>
    Klant {{ hsKlant.klant.naam }}
    {{ html.editLink({'action': 'edit', 0: hsKlant.id})|raw }}
    {% if hsKlant.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: hsKlant.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>#</dt>
    <dd>{{ hsKlant.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ hsKlant.klant.naam }}</dd>
    <dt>Klussen</dt>
    <dd>
        {{ html.link('Klus toevoegen', {'controller': 'hs_klussen', 'action': 'add', 0: hsKlant.id})|raw }}
        <ul>
            {% for hsKlus in hsKlant.hsKlussen %}
                <li>
                    {{ hsKlus }}
                </li>
            {% endfor %}
        </ul>
    </dd>
</dl>

