{% include('hs_subnavigation.twig') %}

<h1>Factuur verwijderen</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    Weet u zeker dat u {{ factuur }} wilt verwijderen?<br>
    {{ html.link('Nee, terug', {'action': 'view', 0: factuur.id}) }}
    <button type="submit">Ja, verwijderen</button>
{{ form_end(form) }}
