{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Homeservice | Facturen
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {% include '@Hs/facturen/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Klant', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Factuurnummer', 'factuur.nummer') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Factuurdatum', 'factuur.datum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Factuurbedrag', 'factuur.bedrag') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Status', 'factuur.locked') }}
                </th>
                <th>Openstaand bedrag</th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Betalingsherinneringen', 'herinnering.type') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Inbaar', 'factuur.oninbaar') }}
                </th>
                <th>Afwijkend factuuradres</th>
            </tr>
        </thead>
        <tbody>
            {% for factuur in pagination %}
                <tr data-href="{{ path('hs_facturen_view', {id: factuur.id}) }}">
                    <td>{{ factuur.klant }}</td>
                    <td>{{ factuur.nummer }}</td>
                    <td>{{ factuur.datum|date('d-m-Y') }}</td>
                    <td>{{ factuur.bedrag|money }}</td>
                    <td>{{ factuur.locked ? 'Definitief' : 'Concept' }}</td>
                    <td>
                        {% if factuur.saldo < 0 %}
                            <span style="color: green">{{ factuur.saldo|money }}</span>
                        {% elseif factuur.saldo > 0 %}
                            <span style="color: red">{{ factuur.saldo|money }}</span>
                        {% else %}
                            {{ factuur.saldo|money }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for herinnering in factuur.herinneringen %}
                                <li>{{ herinnering }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ factuur.oninbaar ? 'Nee' }}</td>
                    <td>{{ factuur.klant.afwijkendFactuuradres ? 'Ja' : 'Nee' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
