{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Facturen
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>Factuur {{ entity }}</h1>
    <p>
        {% if entity.locked %}
            {{ html.link('PDF downloaden', path('hs_facturen_view', {id: entity.id, _format: 'pdf'}), 'download') }}
            {% if entity.oninbaar %}
                {{ html.link('Markeren als inbaar', path('hs_facturen_inbaar', {id: entity.id}), 'edit') }}
            {% else %}
                {{ html.link('Markeren als oninbaar', path('hs_facturen_oninbaar', {id: entity.id}), 'edit') }}
            {% endif %}
        {% else %}
            {% if is_granted('ROLE_HOMESERVICE_BEHEER') %}
                {{ html.link('Factuur definitief maken', path('hs_facturen_lock', {id: entity.id}), 'ok') }}
            {% endif %}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>Klant</dt>
        <dd>{{ html.link(entity.klant, path('hs_klanten_view', {id: entity.klant.id})) }}</dd>
        <dt>Betreft</dt>
        <dd>{{ entity.betreft }}</dd>
        <dt>Factuurnummer</dt>
        <dd>{{ entity.nummer }}</dd>
        <dt>Factuurdatum</dt>
        <dd>{{ entity.datum|date('d-m-Y') }}</dd>
        <dt>Factuurbedrag</dt>
        <dd>{{ entity.bedrag|money }}</dd>
        <dt>Betaald</dt>
        <dd>{{ entity.betaald|money }}</dd>
        <dt>Saldo</dt>
        <dd>{{ entity.saldo|factuurSaldo }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#memos">Klantinfo</a></li>
        <li><a data-toggle="tab" href="#registraties">Uren</a></li>
        <li><a data-toggle="tab" href="#declaraties">Declaraties</a></li>
        {% if entity.locked %}
            <li><a data-toggle="tab" href="#betalingen">Betalingen</a></li>
            <li><a data-toggle="tab" href="#herinneringen">Betalingsherinneringen</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div id="memos" class="tab-pane active">
            {% include '@Hs/memos/_list.html.twig' with {klant: entity.klant} %}
        </div>
        <div id="registraties" class="tab-pane">
            {% include '@Hs/registraties/_list.html.twig' with {factuur: entity} %}
        </div>
        <div id="declaraties" class="tab-pane">
            {% include '@Hs/declaraties/_list.html.twig' with {factuur: entity} %}
        </div>
        {% if entity.locked %}
            <div id="betalingen" class="tab-pane">
                {% include '@Hs/betalingen/_list.html.twig' with {factuur: entity} %}
            </div>
            <div id="herinneringen" class="tab-pane">
                {% include '@Hs/herinneringen/_list.html.twig' with {factuur: entity} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
