{% include('hs_subnavigation.twig') %}

<h1>Profielgroep verwijderen</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    Weet u zeker dat u profielgroep {{ hsProfielGroep }} wilt verwijderen?<br>
    {{ html.link('Nee, annuleren', {'action': 'index'})|raw }}
    <input type="submit" value="Ja, verwijderen" />
{{ form_end(form) }}
