{% include 'hs_subnavigation.twig' %}

<h1>Facturen</h1>

{{ html.link('Factuur toevoegen', {'action': 'add'})|raw }}

<table>
    <tr>
        <th>Factuurnr</th>
        <th></th>
    </tr>
    {% for hsFactuur in hsFacturen %}
    <tr>
        <td>{{ hsFactuur.id }}</td>
        <td>
            {{ html.link('Bekijken', {'action': 'view', 0: hsFactuur.id})|raw }}
            {{ html.link('Bewerken', {'action': 'edit', 0: hsFactuur.id})|raw }}
            {% if hsFactuur.deletable %}
                {{ html.link('Verwijderen', {'action': 'delete', 0: hsFactuur.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{# this.element('pagination') #}
