{% include 'hs_subnavigation.twig' %}

<h1>Factuur: {{ hsFactuur }}</h1>

<dl>
    <dt>Factuurnr</dt>
    <dd>{{ hsFactuur.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ hsFactuur.naam }}</dd>
</dl>

{{ html.link('Bewerken', {'action': 'edit', 0: hsFactuur.id})|raw }}
{% if hsFactuur.deletable %}
    {{ html.link('Verwijderen', {'action': 'delete', 0: hsFactuur.id})|raw }}
{% endif %}
