{% include 'hs_subnavigation.twig' %}

<h1>
    {{ hsFactuur }}
    {{ html.editLink({'action': 'edit', 0: hsFactuur.id})|raw }}
    {% if hsFactuur.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: hsFactuur.id})|raw }}
    {% endif %}
</h1>

<p>
    {{ html.addLink({'controller': 'hs_betalingen', 'action': 'add', 0: hsFactuur.id})|raw }}
    {{ html.link('Betaling toevoegen', {'controller': 'hs_betalingen', 'action': 'add', 0: hsFactuur.id})|raw }}
</p>

<dl>
    <dt>#</dt>
    <dd>{{ hsFactuur.nummer }}</dd>
    <dt>Betreft</dt>
    <dd>{{ hsFactuur.betreft }}</dd>
    <dt>Datum</dt>
    <dd>{{ hsFactuur.datum|date('d-m-Y') }}</dd>
    <dt>Klant</dt>
    <dd>{{ hsFactuur.hsKlus.hsKlant }}</dd>
    <dt>Totaal</dt>
    <dd>{{ hsFactuur.bedrag|money }}</dd>
    <dt>Betaald</dt>
    <dd>{{ hsFactuur.betaald|money }}</dd>
    <dt>Openstaand</dt>
    <dd>{{ hsFactuur.openstaand|money }}</dd>
    <dt>Uren</dt>
    <dd>
        {% if hsFactuur.hsRegistraties is empty %}
            -
        {% else %}
            <table class="fixed">
                <tr>
                    <th>Datum</th>
                    <th>Activiteit</th>
                    <th>Start</th>
                    <th>Eind</th>
                    <th>Uren</th>
                    <th>Tarief</th>
                    <th>Totaal</th>
                </tr>
                {% set tarief = 2.5 %}
                {% set totaal = 0.0 %}
                {% for hsRegistratie in hsFactuur.hsRegistraties %}
                    {% set bedrag = hsRegistratie.uren * tarief %}
                    <tr>
                        <td>{{ hsRegistratie.datum|date('d-m-Y') }}</td>
                        <td>{{ hsRegistratie.hsActiviteit }}</td>
                        <td>{{ hsRegistratie.start|date('H:i') }}</td>
                        <td>{{ hsRegistratie.eind|date('H:i') }}</td>
                        <td>{{ hsRegistratie.uren }}</td>
                        <td>{{ tarief|money }}</td>
                        <td>{{ bedrag|money }}</td>
                    </tr>
                    {% set totaal = totaal + bedrag %}
                {% endfor %}
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Totaal</th>
                        <th>{{ totaal|money }}</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    </dd>
    <dt>Declaraties</dt>
    <dd>
        {% if hsFactuur.hsDeclaraties is empty %}
            -
        {% else %}
            <table class="fixed">
                <tr>
                    <th>Datum</th>
                    <th>Categorie</th>
                    <th colspan="4">Info</th>
                    <th>Totaal</th>
                </tr>
                {% set totaal = 0.0 %}
                {% for hsDeclaratie in hsFactuur.hsDeclaraties %}
                    <tr>
                        <td>{{ hsDeclaratie.datum|date('d-m-Y') }}</td>
                        <td>{{ hsDeclaratie.hsDeclaratieCategorie }}</td>
                        <td colspan="4">{{ hsDeclaratie.info }}</td>
                        <td>{{ hsDeclaratie.bedrag|money }}</td>
                    </tr>
                    {% set totaal = totaal + hsDeclaratie.bedrag %}
                {% endfor %}
                <tfoot>
                    <tr>
                        <th colspan="6">Totaal</th>
                        <th>{{ totaal|money }}</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    </dd>
    <dt>Betalingen</dt>
    <dd>
        {% if hsFactuur.hsBetalingen is empty %}
            -
        {% else %}
            <table class="fixed">
                <tr>
                    <th>Datum</th>
                    <th>Referentie</th>
                    <th colspan="4">Info</th>
                    <th>Bedrag</th>
                </tr>
                {% for hsBetaling in hsFactuur.hsBetalingen %}
                    <tr>
                        <td>{{ hsBetaling.datum|date('d-m-Y') }}</td>
                        <td>{{ hsBetaling.referentie }}</td>
                        <td colspan="4">{{ hsBetaling.info }}</td>
                        <td>{{ hsBetaling.bedrag|money }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                        <th colspan="6">Totaal</th>
                        <th>{{ hsFactuur.betaald|money }}</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    </dd>
</dl>
