{% include 'oek_subnavigation.twig' %}

<h1>Groepen</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('OEK-groep toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'oekGroep.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Naam', 'oekGroep.naam') }}
        </th>
        <th>
            Aantal klanten
        </th>
        <th>
            Aantal trainingen
        </th>
        <th></th>
    </tr>
    {% for oekGroep in pagination %}
    <tr>
        <td>
            {{ html.link(oekGroep.id, {'action': 'view', 0: oekGroep.id})|raw }}
        </td>
        <td>
            {{ html.link(oekGroep.naam, {'action': 'view', 0: oekGroep.id})|raw }}
        </td>
        <td>{{ oekGroep.oekKlanten.count() }}</td>
        <td>{{ oekGroep.oekTrainingen.count() }}</td>
        <td>
            {{ html.viewLink({'action': 'view', 0: oekGroep.id})|raw }}
            {{ html.editLink({'action': 'edit', 0: oekGroep.id})|raw }}
            {% if oekGroep.deletable %}
                {{ html.deleteLink({'action': 'delete', 0: oekGroep.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
