{% include 'oek_subnavigation.twig' %}

<h1>{{ oekGroep }}</h1>

<p>
    {{ html.editLink({'action': 'edit', 0: oekGroep.id})|raw }}
    {{ html.link('Groep wijzigen', {'action': 'edit', 0: oekGroep.id})|raw }}
    {% if oekGroep.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: oekGroep.id})|raw }}
    {% endif %}
</p>

<dl>
    <dt>#</dt>
    <dd>{{ oekGroep.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ oekGroep.naam }}</dd>
    <dt>
        Wachtlijst
        {{ html.addLink({'controller': 'oek_groepen', 'action': 'voeg_klant_toe', 0: oekGroep.id})|raw }}
    </dt>
    <dd>
        {{ html.link(oekGroep.oekKlanten.count() ~ ' deelnemers', {
            'controller': 'oek_klanten',
            'action': 'wachtlijst',
            '?': {
                'oek_klant_filter': {
                    'groep': oekGroep.id
                }
            }
        }) |raw }}
    </dd>
    <dt>Trainingen</dt>
    <dd>
        {% if oekGroep.oekTrainingen.count() > 0 %}
            <ul>
            {% for oekTraining in oekGroep.oekTrainingen %}
                <li>{{ html.link(oekTraining, {'controller': 'oek_trainingen', 'action': 'view', 0: oekTraining.id})|raw }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <span>Er zijn nog geen trainingen voor deze groep.</span>
        {% endif %}
    </dd>
</dl>
