{% import '::html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Klanten', path('app_klanten_index'), isActiveRoute('app_klanten_')) }}
    {{ html.navLink('Vrijwilligers', path('app_vrijwilligers_index'), isActiveRoute('app_vrijwilligers_')) }}
    {{ html.navLink('Zelfredzaamheidmatrixen', path('app_zrms_index'), isActiveRoute('app_zrms_')) }}
    {% if is_granted("CONTROLLER_APP_DOWNLOAD") %}
        {{ html.navLink('Downloads', path('app_download_index'), isActiveRoute('app_download_')) }}
    {% endif %}
    <li role="presentation" class="dropdown {{ isActivePath('iz/admin') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Dubbele invoer', path('app_admin_klanten_duplicates'), isActiveRoute('app_admin_klanten_')) }}
        </ul>
    </li>
</ul>
