{% import 'html.macro.twig' as html %}

<h2>Contactgegevens</h2>
<p>
    {{ html.link('Bekijken', path('app_klanten_view', {id: klant.id}), 'view') }}
    {{ html.link('Wijzigen', path('app_klanten_edit', {id: klant.id}), 'edit') }}
</p>
<dl class="dl-horizontal">

    <dt>Adres</dt>
    <dd>
        {% if klant.briefadres is not null %}
            {% set class='' %}
            {% if date(klant.briefadres) < date("+6 weeks")  %}
                {% set class="text-danger" %}
            {% endif %}
            <p>Let op, adres is briefadres.</p>
            <p class="{{ class }}">Verloopt op {{ klant.briefadres|if_date("d-m-Y") }}</p>
        {% endif %}
        {{ klant.adres }}<br>
        {{ klant.postcode }} {{ klant.plaats }}
    </dd>
    <dt>Stadsdeel / Werkgebied</dt>
    <dd>{{ klant.werkgebied }}</dd>
    <dt>Postcodegebied</dt>
    <dd>{{ klant.postcodegebied }}</dd>
    <dt>Mobiel</dt>
    <dd>{{ klant.mobiel }}</dd>
    <dt>Telefoon</dt>
    <dd>{{ klant.telefoon }}</dd>
    <dt>E-mail</dt>
    <dd>{{ klant.email }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Postvoorkeur</dt>
    <dd>{{ klant.geenPost ? 'Geen post'|color('red') : 'Wel post' }}</dd>
    <dt>E-mailvoorkeur</dt>
    <dd>{{ klant.geenEmail ? 'Geen e-mail'|color('red') : 'Wel e-mail' }}</dd>
    <dt>Opmerking</dt>
    <dd>{{ klant.opmerking|nl2br }}</dd>
</dl>
