<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h2>Persoonsgegevens</h2>
            {{ form_row(form.voornaam) }}
            {{ form_row(form.tussenvoegsel) }}
            {{ form_row(form.achternaam) }}
            {{ form_row(form.roepnaam) }}
            {{ form_row(form.geslacht) }}
            {{ form_row(form.geboortedatum) }}
            {{ form_row(form.land) }}
            {{ form_row(form.nationaliteit) }}
            {{ form_row(form.voorkeurstaal) }}
            {{ form_row(form.overigeTalen) }}
            {{ form_row(form.bsn) }}
            {{ form_row(form.coronaBesmetVanaf) }}
            {{ form_row(form.overleden) }}
        </div>
        <div class="col-xs-6">
            <h2>Contactgegevens</h2>
            {{ form_row(form.adres) }}
            {{ form_row(form.postcode) }}
            {{ form_row(form.plaats) }}
            {{ form_row(form.briefadres) }}
            {{ form_row(form.email) }}
            {{ form_row(form.telefoon) }}
            {{ form_row(form.mobiel) }}
            {{ form_row(form.geenPost) }}
            {{ form_row(form.geenEmail) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Opmerking</h2>
            {{ form_row(form.opmerking, {label: false}) }}
        </div>
        <div class="col-xs-6">
            <h2>Medewerker</h2>
            {{ form_row(form.medewerker, {label: false}) }}
            {% if form.submit is defined %}
                <span class="pull-right">
                    {{ form_row(form.submit) }}
                </span>
            {% endif %}
        </div>
    </div>
</div>
