{% import 'html.macro.twig' as html %}

<h2>Persoonsgegevens</h2>
<p>
    {{ html.link('Bekijken', path('app_klanten_view', {id: klant.id}), 'view') }}
    {{ html.link('Wijzigen', path('app_klanten_edit', {id: klant.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>Naam</dt>
    <dd>{{ klant|naam_voor_achter }}</dd>
    <dt>Geslacht</dt>
    <dd>{{ klant.geslacht ? klant.geslacht.volledig }}</dd>
    <dt>Geboortedatum</dt>
    <dd>{{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}</dd>
    <dt>Geboorteland</dt>
    <dd>{{ klant.land }}</dd>
    <dt>Nationaliteit</dt>
    <dd>{{ klant.nationaliteit }}</dd>
    <dt>Voorkeurstaal</dt>
    <dd>{{ klant.voorkeurstaal }}</dd>
    <dt>Overige talen</dt>
    <dd>
        <ul>
            {% for taal in klant.overigeTalen %}
                <li>{{ taal }}</li>
            {% endfor %}
        </ul>
    </dd>
    <dt>BSN</dt>
    <dd>{{ klant.bsn }}</dd>
    <dt>Corona besmet vanaf</dt>
    <dd class="{{ klant.coronaBesmetVanaf? 'bg-danger' }}">{{ klant.coronaBesmetVanaf ? klant.coronaBesmetVanaf|date('d-m-Y') }}</dd>
    <dt>Medewerker</dt>
    <dd>{{ klant.medewerker }}</dd>
    <dt>Maatschappelijk werker</dt>
    <dd>{{ klant.maatschappelijkWerker }}</dd>
    {% if klant.overleden %}
        <span class="text-danger">
            <dt>Overleden</dt>
            <dd>Ja</dd>
        </span>
    {% endif %}
    {% if klant.partner is defined and klant.partner is not null %}
        <dt>Partner</dt>
        <dd>{{ html.link(klant.partner, path('app_klanten_view', {id: klant.partner.id}) ) }}   {{ html.link('Verwijder partner', path('app_klanten_addpartner', {klant: klant.id, 'partner':'remove'}), 'scissors') }}</dd>
    {% elseif klant.id is defined and klant.id is not null %}
        <dt>Partner</dt>
        <dd>{{ html.link('Voeg partner toe', path('app_klanten_addpartner', {klant: klant.id}), 'heart') }}</dd>
    {% endif %}
</dl>
