<h2>Koppelingen</h2>
{% if form is defined and form.vars.name in ['hulpaanbod', 'hulpaanbod_close'] %}
    <p>
        {{ html.cancelLink(path('iz_vrijwilligers_view', {id: vrijwilliger.id, _fragment: 'koppelingen'})) }}
        {{ html.link('Annuleren', path('iz_vrijwilligers_view', {id: vrijwilliger.id, _fragment: 'koppelingen'})) }}
    </p>
    {{ form(form) }}
{% else %}
    <h3>Open hulpaanbiedingen</h3>
    <p>
        {{ html.addLink(path('iz_hulpaanbiedingen_add', {vrijwilliger: vrijwilliger.id})) }}
        {{ html.link('Hulpaanbod toevoegen', path('iz_hulpaanbiedingen_add', {vrijwilliger: vrijwilliger.id})) }}
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Startdatum hulpaanbod</th>
                <th>Coördinator</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpaanbod in vrijwilliger.openHulpaanbiedingen %}
                <tr data-href="{{ path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id}) }}">
                    <td>{{ hulpaanbod.project }}</td>
                    <td>{{ hulpaanbod.startdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.medewerker }}</td>
                    <td>
                        {{ html.link('Koppelen', path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id, _fragment: 'hulpaanbod'}), 'connect') }}
                        {{ html.link('Verslagen', path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id, _fragment: 'verslagen'}), 'list') }}
                        {{ html.link('Afsluiten', path('iz_hulpaanbiedingen_close', {id: hulpaanbod.id}), 'close') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Actieve koppelingen</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Deelnemer</th>
                <th>Startdatum koppeling</th>
                <th>Einddatum koppeling</th>
                <th>Coördinator</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpaanbod in vrijwilliger.actieveKoppelingen %}
                <tr data-href="{{ path('iz_koppelingen_view', {id: hulpaanbod.hulpvraag.id}) }}">
                    <td>{{ hulpaanbod.project }}</td>
                    <td>
                        {{ html.link(
                            hulpaanbod.hulpvraag.izKlant.klant|naam_voor_achter,
                            path('iz_klanten_view', {id: hulpaanbod.hulpvraag.izKlant.id})
                        ) }}
                    </td>
                    <td>{{ hulpaanbod.koppelingStartdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.koppelingEinddatum ? hulpaanbod.koppelingEinddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.medewerker }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_koppelingen_view', {id: hulpaanbod.hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                        {{ html.link('Afsluiten', path('iz_koppelingen_close', {id: hulpaanbod.hulpvraag.id}), 'close') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3><small>Afgesloten hulpaanbiedingen</small></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Startdatum hulpaanbod</th>
                <th>Einddatum hulpaanbod</th>
                <th>Coördinator</th>
                <th>Reden afsluiting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpaanbod in vrijwilliger.afgeslotenHulpaanbiedingen %}
                <tr data-href="{{ path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id}) }}">
                    <td>{{ hulpaanbod.project }}</td>
                    <td>{{ hulpaanbod.startdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.einddatum ? hulpaanbod.einddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.medewerker }}</td>
                    <td>{{ hulpaanbod.eindeVraagAanbod }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id, _fragment: 'verslagen'}), 'list') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3><small>Afgesloten koppelingen</small></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Deelnemer</th>
                <th>Startdatum koppeling</th>
                <th>Einddatum koppeling</th>
                <th>Coördinator</th>
                <th>Succesvol</th>
                <th>Reden afsluiting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpaanbod in vrijwilliger.afgeslotenKoppelingen %}
                <tr data-href="{{ path('iz_koppelingen_view', {id: hulpaanbod.hulpvraag.id}) }}">
                    <td>{{ hulpaanbod.project }}</td>
                    <td>
                        {{ html.link(
                            hulpaanbod.hulpvraag.izKlant.klant|naam_voor_achter,
                            path('iz_klanten_view', {id: hulpaanbod.hulpvraag.izKlant.id})
                        ) }}
                    </td>
                    <td>{{ hulpaanbod.koppelingStartdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.koppelingEinddatum ? hulpaanbod.koppelingEinddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpaanbod.medewerker }}</td>
                    <td>{{ hulpaanbod.koppelingSuccesvol ? 'Ja' : 'Nee' }}</td>
                    <td>{{ hulpaanbod.afsluitredenKoppeling }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_koppelingen_view', {id: hulpaanbod.hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
