{% extends '@Iz/index.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {% include '@Iz/hulpaanbiedingen/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Startdatum', 'hulpaanbod.startdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Vrijwilligernummer', 'vrijwilliger.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'vrijwilliger.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'vrijwilliger.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Werkgebied', 'werkgebied.naam') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for hulpaanbod in pagination %}
                <tr data-href="{{ path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id}) }}" class="{{ hulpaanbod.gereserveerd ? 'danger' }}">
                    <td>
                        {{ hulpaanbod.startdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ hulpaanbod.izVrijwilliger.vrijwilliger.id }}
                    </td>
                    <td>
                        {{ hulpaanbod|naam_vrijwilliger }}
                    </td>
                    <td>
                        {% if (hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum) %}
                            {{ hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum|date('d-m-Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ hulpaanbod.project }}
                    </td>
                    <td>
                        {{ hulpaanbod.medewerker }}
                    </td>
                    <td>
                        {{ hulpaanbod.izVrijwilliger.vrijwilliger.werkgebied }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
