{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include 'AppBundle::subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.editLink(path(route_base~'edit', {id: entity.id})) }}
        {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id})) }}
    </p>
{% endblock %}

{% block content_left %}
    <h2>Persoonsgegevens</h2>
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Geslacht</dt>
        <dd>{{ entity.geslacht.volledig }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</dd>
        <dt>Geboorteland</dt>
        <dd>{{ entity.land }}</dd>
        <dt>Nationaliteit</dt>
        <dd>{{ entity.nationaliteit }}</dd>
        <dt>BSN</dt>
        <dd>{{ entity.bsn }}</dd>
    </dl>
    <h2>Contactgegevens</h2>
    <dl class="dl-horizontal">
        <dt>Adres</dt>
        <dd>
            {{ entity.adres }}<br>
            {{ entity.postcode }} {{ entity.plaats }}
        </dd>
        <dt>Werkgebied</dt>
        <dd>{{ entity.werkgebied }}</dd>
        <dt>Postcodegebied</dt>
        <dd>{{ entity.postcodegebied }}</dd>
        <dt>Mobiel</dt>
        <dd>{{ entity.mobiel }}</dd>
        <dt>Telefoon</dt>
        <dd>{{ entity.telefoon }}</dd>
        <dt>E-mail</dt>
        <dd>{{ entity.email }}</dd>
        <dt>Postvoorkeur</dt>
        <dd>{{ entity.geenPost ? 'Geen post' : 'Wel post' }}</dd>
        <dt>E-mailvoorkeur</dt>
        <dd>{{ entity.geenEmail ? 'Geen e-mail' : 'Wel e-mail' }}</dd>
    </dl>
    <h2>Medewerker</h2>
    <dl class="dl-horizontal">
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
    </dl>
    <h2>Opmerking</h2>
    <dl class="dl-horizontal">
        <dt>Opmerking</dt>
        <dd>{{ entity.opmerking|nl2br }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% if diensten is defined %}
        <h2>Diensten</h2>
        <table class="table">
            {% if diensten|length > 0 %}
                {% for dienst in diensten %}
                    <tr>
                        <td>
                            {% if dienst.url %}
                                {% set link = html.link(dienst.name, dienst.url) %}
                            {% else %}
                                {% set link = dienst.name %}
                            {% endif %}
                            {{ link }}
                        </td>
                        <td>
                            {% if 'date' == dienst.type %}
                                {% set value = '' %}
                                {% if not dienst.to %}
                                    {% set value = 'sinds ' %}
                                {% endif %}
                                {% set value = value~dienst.from~' ' %}
                                {% if dienst.to %}
                                    {% set value = value~'tot '~dienst.to %}
                                {% endif %}
                            {% else %}
                                {% set value = dienst.value %}
                            {% endif %}
                            {{ value }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Geen diensten</td>
                </tr>
            {% endif %}
        </table>
    {% endif %}

    <h2>ZRMs</h2>
    <p>
        {{ html.viewLink(path('app_zrms_index', {'zrm_filter[klant][id]': entity.id})) }}
        {{ html.link('ZRM-overzicht', path('app_zrms_index', {'zrm_filter[klant][id]': entity.id})) }}
        {{ html.addLink(path('app_zrms_add', {klant: entity.id})) }}
        {{ html.link('ZRM toevoegen', path('app_zrms_add', {klant: entity.id})) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>Module</th>
            <th>Datum</th>
        </tr>
        {% for zrm in entity.zrms %}
            <tr data-href="{{ path('app_zrms_view', {id: zrm.id}) }}">
                <td>
                    {{ zrm.requestModule }}
                </td>
                <td>
                    {{ zrm.created|date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
