{% import 'html.macro.twig' as html %}
<h2>Contactpersonen</h2>
<p>
    {% if deelnemer is defined and deelnemer.isActief %}
        {% set url = path('dagbesteding_contactpersonen_add', {deelnemer: deelnemer.id}) %}
    {% endif %}
    {% if url is defined %}
        {{ html.addLink(url) }}
        {{ html.link('Contactpersoon toevoegen', url) }}
    {% endif %}
</p>
<table class="table">
    <thead>
        <tr>
            <th>Soort</th>
            <th>Naam</th>
            <th>Telefoon</th>
            <th>E-mail</th>
            <th>Opmerking</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contactpersoon in deelnemer.contactpersonen %}
            <tr>
                <td>{{ contactpersoon.soort }}</td>
                <td>{{ contactpersoon.naam }}</td>
                <td>{{ contactpersoon.telefoon }}</td>
                <td>{{ contactpersoon.email }}</td>
                <td>{{ contactpersoon.opmerking }}</td>
                <td>
                    {{ html.editLink(path('dagbesteding_contactpersonen_edit', {id: contactpersoon.id})) }}
                    {{ html.deleteLink(path('dagbesteding_contactpersonen_delete', {id: contactpersoon.id})) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
