<h2>Verslagen</h2>
{% if form is defined and 'verslag' == form.vars.name %}
    <p>
        {{ html.cancelLink(redirect_uri) }}
        {{ html.link('Annuleren', redirect_uri~'#verslagen') }}
    </p>
    {{ form(form) }}
{% else %}
    {% if hulpvraag is defined %}
        {% set verslagen = entity.verslagen(false) %}
        {% set add_url = path('iz_verslagen_add', {hulpvraag: hulpvraag.id}) %}
    {% elseif hulpaanbod is defined %}
        {% set verslagen = entity.verslagen(false) %}
        {% set add_url = path('iz_verslagen_add', {hulpaanbod: hulpaanbod.id}) %}
    {% elseif koppeling is defined %}
        {% set verslagen = entity.verslagen %}
        {% set add_url = path('iz_verslagen_add', {koppeling: koppeling.id}) %}
    {% elseif deelnemer is defined %}
        {% set verslagen = entity.verslagen %}
        {% set add_url = path('iz_verslagen_add', {deelnemer: deelnemer.id}) %}
    {% endif %}
    <p>
        {{ html.addLink(add_url) }}
        {{ html.link('Verslag toevoegen', add_url) }}
    </p>
    {% for verslag in verslagen if not verslag.empty %}
        {% if 'Evaluatie' == short_class(verslag) %}
            <h3>{{ verslag.naam }} {{ verslag.datum|date('d-m-Y') }} | {{ verslag.medewerker }}</h3>
            <p>
                {{ html.link('Evaluatie bewerken', path('iz_evaluaties_edit', {id: verslag.id}), 'edit') }}
            </p>
            <dl class="dl-horizontal">
                <dt>Eenzaamheidscijfer</dt>
                <dd>{{ verslag.eenzaamheidscijfer }}</dd>
            </dl>
        {% else %}
            <h3>Verslag {{ verslag.datum|date('d-m-Y') }} | {{ verslag.medewerker }}</h3>
            <p>
                {{ html.link('Verslag bewerken', path('iz_verslagen_edit', {id: verslag.id}), 'edit') }}
            </p>
        {% endif %}
        <div class="well">{{ verslag.opmerking|raw }}</div>
    {% endfor %}
{% endif %}
