{% if instanceof(entity, 'GaBundle\\Entity\\KlantIntake') %}
    <h2>Groepen</h2>
    <p>
        {{ html.link('Groep toevoegen', path('ga_klantlidmaatschappen_add', {dossier: entity.id}), 'add') }}
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Groep</th>
                <th>Startdatum</th>
                <th>Contact</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lidmaatschap in lidmaatschappen if not lidmaatschap.einddatum %}
                <tr>
                    <td>{{ html.link(lidmaatschap.groep, path('ga_groepen_view', {id: lidmaatschap.groep.id})) }}</td>
                    <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                    <td>
                        <ul>
                            {% if lidmaatschap.communicatieEmail %}<li>E-mail</li>{% endif %}
                            {% if lidmaatschap.communicatiePost %}<li>Post</li>{% endif %}
                            {% if lidmaatschap.communicatieTelefoon %}<li>Telefoon</li>{% endif %}
                        </ul>
                    </td>
                    <td>
                        {% set url = path('ga_lidmaatschappen_edit', {id: lidmaatschap.id}) %}
                        {{ html.deleteLink(url) }}
                        {{ html.link('Lidmaatschap wijzigen', url) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Groep</th>
                <th>Startdatum</th>
                <th>Einddatum</th>
                <th>Reden</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lidmaatschap in lidmaatschappen if lidmaatschap.einddatum %}
                <tr>
                    <td>{{ html.link(lidmaatschap.groep, path('ga_groepen_view', {id: lidmaatschap.groep.id})) }}</td>
                    <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                    <td>{{ lidmaatschap.einddatum|date('d-m-Y') }}</td>
                    <td>{{ lidmaatschap.afsluitreden }}</td>
                    <td>
                        {% set url = path('ga_lidmaatschappen_edit', {id: lidmaatschap.id}) %}
                        {{ html.deleteLink(url) }}
                        {{ html.link('Lidmaatschap wijzigen', url) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if instanceof(entity, 'GaBundle\\Entity\\Groep') %}
    {% if 'klanten' == context %}
        <h2>Deelnemers</h2>
        <p>
            {% set url = path('ga_lidmaatschappen_add', {groep: entity.id, type: 'klant'}) %}
            {{ html.addLink(url) }}
            {{ html.link('Deelnemer toevoegen', url) }}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.voornaam') }}</th>
                    <th>Startdatum</th>
                    <th>Einddatum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for lidmaatschap in pagination %}
                    {{ lidmaatschap }}
                    <tr>
                        <td>{{ html.link(lidmaatschap.klant, path('ga_dossiers_view', {id: lidmaatschap.klant.id})) }}</td>
                        <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                        <td>{{ lidmaatschap.einddatum ? lidmaatschap.einddatum|date('d-m-Y') }}</td>
                        <td>
                            {{ html.link('Lidmaatschap wijzigen', path('ga_lidmaatschappen_edit', {id: lidmaatschap.id}), 'edit') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    {% elseif 'vrijwilligers' == context %}
        <h2>Vrijwilligers</h2>
        <p>
            {% set url = path('ga_lidmaatschappen_add', {groep: entity.id, type: 'vrijwilliger'}) %}
            {{ html.addLink(url) }}
            {{ html.link('Vrijwilliger toevoegen', url) }}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Vrijwilliger</th>
                    <th>Startdatum</th>
                    <th>Einddatum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for lidmaatschap in entity.vrijwilligerlidmaatschappen %}
                    <tr>
                        <td>{{ html.link(lidmaatschap.vrijwilliger, path('ga_dossiers_view', {id: lidmaatschap.vrijwilliger.id})) }}</td>
                        <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                        <td>{{ lidmaatschap.einddatum ? lidmaatschap.einddatum|date('d-m-Y') }}</td>
                        <td>
                            {{ html.link('Lidmaatschap wijzigen', path('ga_lidmaatschappen_edit', {id: lidmaatschap.id}), 'edit') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}
