<h2>Uren</h2>
{% if add_url is defined %}
    <p>
        {{ html.addLink(add_url) }}
        {{ html.link('Uren toevoegen', add_url) }}
    </p>
{% endif %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Vrijwilliger</th>
            <th>Medewerker</th>
            <th>Activiteit</th>
            <th>Datum/Tijd</th>
            <th>Dagdelen</th>
            <th>Reiskosten</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for registratie in entity.registraties %}
            <tr>
                <td>{{ registratie.vrijwilliger }}</td>
                <td>{{ registratie.medewerker }}</td>
                <td>{{ registratie.activiteit }}</td>
                <td>
                    {{ registratie.datum|date('d-m-Y') }} |
                    {{ registratie.start|date('H:i') }} -
                    {{ registratie.eind|date('H:i') }}
                </td>
                <td>{{ registratie.dagdelen }}</td>
                <td>{{ registratie.reiskosten|money }}</td>
                <td>
                    {{ html.editLink(path('hs_registraties_edit', {id: registratie.id})) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
