<h2 onClick="$('#registraties_list').toggle()">Uren</h2>
<div id="registraties_list">
    {% if add_url is defined %}
        <p>
            {{ html.addLink(add_url) }}
            {{ html.link('Uren toevoegen', add_url) }}
        </p>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vrijwilliger</th>
                <th>Activiteit</th>
                <th>Datum/Tijd</th>
                <th>Dagdelen</th>
                <th>Reiskosten</th>
                <th>Factuur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for registratie in entity.registraties %}
                <tr>
                    <td>{{ registratie.arbeider }}</td>
                    <td>{{ registratie.activiteit }}</td>
                    <td>
                        {{ registratie.datum|date('d-m-Y') }} |
                        {{ registratie.start|date('H:i') }} -
                        {{ registratie.eind|date('H:i') }}
                    </td>
                    <td>{{ registratie.dagdelen }}</td>
                    <td>{{ registratie.reiskosten|money }}</td>
                    <td>{{ registratie.factuur }}</td>
                    <td>
                        {% if not registratie.factuur %}
                            {{ html.editLink(path('hs_registraties_edit', {id: registratie.id})) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
