{% import '::html.macro.twig' as html %}
<h2>Huurverzoeken</h2>
<p>
    {% if huurder.actief %}
        {{ html.addLink(path('odp_huurverzoeken_add', {id: huurder.id})) }}
        {{ html.link('Huurverzoek toevoegen', path('odp_huurverzoeken_add', {id: huurder.id})) }}
    {% endif %}
</p>
<table class="table">
    <tr>
        <th>Startdatum</th>
        <th>Afsluitdatum</th>
        <th></th>
    </tr>
    {% for huurverzoek in huurder.huurverzoeken %}
        {% if not huurverzoek.huurovereenkomst %}
            <tr>
                <td>
                    {{ huurverzoek.startdatum ? huurverzoek.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huurverzoek.afsluitdatum ? huurverzoek.afsluitdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewlink(path('odp_huurverzoeken_view', {id: huurverzoek.id})) }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
