{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    ODP | Huurverzoeken |
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>
        Huurverzoek van {{ huurverzoek.huurder.klant }}
    </h1>
    <p>
        {{ html.editLink(path('odp_huurverzoeken_edit', {id: huurverzoek.id})) }}
        {{ html.link('Wijzigen', path('odp_huurverzoeken_edit', {id: huurverzoek.id})) }}
        {% if huurverzoek.deletable %}
            {{ html.deleteLink(path('odp_huurverzoeken_delete', {id: huurverzoek.id})) }}
            {{ html.link('Verwijderen', path('odp_huurverzoeken_delete', {id: huurverzoek.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ huurverzoek.id }}</dd>
        <dt>Huurder</dt>
        <dd>{{ html.link(huurverzoek.huurder.klant, path('odp_huurders_view', {id: huurverzoek.huurder.id})) }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ huurverzoek.startdatum | date('d-m-Y') }}</dd>
        <dt>Einddatum</dt>
        <dd>{{ huurverzoek.einddatum ? huurverzoek.einddatum|date('d-m-Y') : '-' }}</dd>
        <dt>Koppeling</dt>
        <dd>
            {% if huurverzoek.huurovereenkomst %}
                {{ html.link(huurverzoek.huurovereenkomst, path('odp_huurovereenkomsten_view', {id: huurverzoek.huurovereenkomst.id})) }}
            {% else %}
                {{ html.addLink(path('odp_huurovereenkomsten_add', {huurverzoek: huurverzoek.id})) }}
                {{ html.link('Maak koppeling', path('odp_huurovereenkomsten_add', {huurverzoek: huurverzoek.id})) }}
            {% endif %}
        </dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% include 'OdpBundle:verslagen:_list.html.twig' with {entity: huurverzoek} %}
{% endblock %}
