{% include 'odp_subnavigation.twig' %}

<h1>Huurders</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('Huurder toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.id) }}
            {{ form_errors(filter.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.naam) }}
            {{ form_errors(filter.klant.naam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'odpHuurder.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Klant', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'klant.werkgebied') }}
        </th>
        <th></th>
        <th>
        </th>
    </tr>
    {% for odpHuurder in pagination %}
    <tr>
        <td>
            {{ html.link(odpHuurder.id, {'action': 'view', 0: odpHuurder.id})|raw }}
        </td>
        <td>
            {{ html.link(odpHuurder.klant.naam, {'action': 'view', 0: odpHuurder.id})|raw }}
        </td>
        <td>
            {{ odpHuurder.klant.werkgebied }}
        </td>
        <td>
            {{ html.viewLink({'action': 'view', 0: odpHuurder.id})|raw }}
            {{ html.editLink({'action': 'edit', 0: odpHuurder.id})|raw }}
            {% if odpHuurder.deletable %}
                {{ html.deleteLink({'action': 'delete', 0: odpHuurder.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
