{% include 'odp_subnavigation.twig' %}

<h1>
    Huurder {{ odpHuurder.klant }}
    {{ html.editLink({'action': 'edit', 0: odpHuurder.id})|raw }}
    {% if odpHuurder.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: odpHuurder.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>#</dt>
    <dd>{{ odpHuurder.klant.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ odpHuurder.klant }}</dd>
    <dt>
        Huurverzoeken
    </dt>
    <dd>
        {% if odpHuurder.actiefOdpHuurverzoek %}
            {{ html.link(odpHuurder.actiefOdpHuurverzoek, {'controller': 'odp_huurverzoeken', 'action': 'view', 0: odpHuurder.actiefOdpHuurverzoek.id})|raw }}
        {% else %}
            {% set link = {'controller': 'odp_huurders', 'action': 'nieuw_huurverzoek', 0: odpHuurder.id} %}
            {{ html.addLink(link)|raw }}
            {{ html.link('Huurverzoek maken', link)|raw }}
        {% endif %}
    </dd>
    <dt>Verslagen</dt>
    <dd>
        {% set link = {'controller': 'odp_verslagen', 'action': 'add', 'odpHuurder': odpHuurder.id} %}
        {{ html.addLink(link)|raw }}
        {{ html.link('Verslag toevoegen', link)|raw }}
        <ul>
            {% for odpVerslag in odpHuurder.odpVerslagen %}
                <li>
                    {{ odpVerslag.medewerker }}
                    ({{ odpVerslag.datum|date('d-m-Y') }})
                    <pre>{{ odpVerslag.opmerking }}</pre>
                </li>
            {% endfor %}
        </ul>
    </dd>
</dl>
