{% include 'odp_subnavigation.twig' %}

<h1>
    Huurder {{ odpHuurder.klant }}
    {{ html.editLink({'action': 'edit', 0: odpHuurder.id})|raw }}
    {% if odpHuurder.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: odpHuurder.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>#</dt>
    <dd>{{ odpHuurder.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ odpHuurder.klant }}</dd>
    <dt>
        Huurverzoeken
        {{ html.addLink({'controller': 'odp_huurders', 'action': 'nieuw_huurverzoek', 0: odpHuurder.id})|raw }}
    </dt>
    <dd>
        <ul>
            {% for odpHuurverzoek in odpHuurder.huurverzoeken %}
                <li>
                    {{ html.link(odpHuurverzoek.id, {'controller': 'odp_huurverzoeken', 'action': 'view', 0: odpHuurverzoek.id})|raw }}
                </li>
            {% endfor %}
        </ul>
        &nbsp;
    </dd>
</dl>
