{% include 'odp_subnavigation.twig' %}

<h1>Huuraanbiedingen</h1>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.id) }}
            {{ form_errors(filter.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.naam) }}
            {{ form_errors(filter.klant.naam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
        <th>
            {{ form_widget(filter.startdatum) }}
            {{ form_errors(filter.startdatum) }}
        </th>
        <th>
            {{ form_widget(filter.einddatum) }}
            {{ form_errors(filter.einddatum) }}
        </th>
        <th>
            {{ form_widget(filter.openstaand) }}
            {{ form_label(filter.openstaand) }}
            {{ form_errors(filter.openstaand) }}
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'odpHuuraanbod.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Huurder', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'klant.werkgebied') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Startdatum', 'odpHuuraanbod.startdatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Einddatum', 'odpHuuraanbod.einddatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Huurovereenkomst', 'odpHuurovereenkomst.id') }}
        </th>
        <th>
        </th>
    </tr>
    {% for odpHuuraanbod in pagination %}
        <tr>
            <td>
                {{ html.link(odpHuuraanbod.id, {'action': 'view', 0: odpHuuraanbod.id})|raw }}
            </td>
            <td>
                {{ html.link(odpHuuraanbod.klant.naam, {'controller': 'odp_verhuurders', 'action': 'view', 0: odpHuuraanbod.odpVerhuurder.id})|raw }}
            </td>
            <td>
                {{ odpHuuraanbod.klant.werkgebied }}
            </td>
            <td>
                {{ odpHuuraanbod.startdatum | date('d-m-Y') }}
            </td>
            <td>
                {{ odpHuuraanbod.einddatum ? odpHuuraanbod.einddatum | date('d-m-Y')  : 'onbepaald' }}
            </td>
            <td>
                {{ odpHuuraanbod.odpHuurovereenkomst ? html.link(odpHuuraanbod.odpHuurovereenkomst.id, {'controller': 'odp_huurovereenkomsten', 'action': 'view', 0: odpHuuraanbod.odpHuurovereenkomst.id})|raw }}
            </td>
            <td>
                {{ html.viewLink({'action': 'view', 0: odpHuuraanbod.id})|raw }}
                {{ html.editLink({'action': 'edit', 0: odpHuuraanbod.id})|raw }}
                {% if odpHuuraanbod.deletable %}
                    {{ html.deleteLink({'action': 'delete', 0: odpHuuraanbod.id})|raw }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
