{% include 'odp_subnavigation.twig' %}

<h1>Huuraanbiedingen</h1>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'odpVerhuurder.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Verhuurder', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'klant.werkgebied') }}
        </th>
        {#<th></th>#}
        <th>
        </th>
    </tr>
    {% for odpVerhuurder in pagination %}
    <tr>
        <td>
            {{ html.link(odpVerhuurder.id, {'action': 'view', 0: odpVerhuurder.id})|raw }}
        </td>
        <td>
            {{ html.link(odpVerhuurder.klant.naam, {'action': 'view', 0: odpVerhuurder.id})|raw }}
        </td>
        <td>
            {{ odpVerhuurder.klant.werkgebied }}
        </td>
        <td>
            {{ html.viewLink({'action': 'view', 0: odpVerhuurder.id})|raw }}
            {{ html.editLink({'action': 'edit', 0: odpVerhuurder.id})|raw }}
            {% if odpVerhuurder.deletable %}
                {{ html.deleteLink({'action': 'delete', 0: odpVerhuurder.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
