<div id="subheader">
    {{ html.link(
        'Klanten',
        {'controller': 'hs_klanten', 'action': 'index'},
        this.viewPath == 'hs_klanten' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Vrijwilligers',
        {'controller': 'hs_vrijwilligers', 'action': 'index'},
        this.viewPath == 'hs_vrijwilligers' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Klussen',
        {'controller': 'hs_klussen', 'action': 'index'},
        this.viewPath == 'hs_klussen' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Facturen',
        {'controller': 'hs_facturen', 'action': 'index'},
        this.viewPath == 'hs_facturaten' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Activiteiten',
        {'controller': 'hs_activiteiten', 'action': 'index'},
        this.viewPath == 'hs_activiteiten' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Declaratiecategorieën',
        {'controller': 'hs_declaratie_categorieen', 'action': 'index'},
        this.viewPath == 'hs_declaratie_categorieen' ? {'class': 'selected'} : {}
    )|raw }}
    <div>&nbsp;</div>
</div>
