<div id="subheader">
    {{ html.link('Mijn IZ', path('iz_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Deelnemers', path('iz_klanten_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Vrijwilligers', path('iz_vrijwilligers_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Hulpvragen', path('iz_hulpvragen_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Hulpaanbiedingen', path('iz_hulpaanbiedingen_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Koppelingen', path('iz_koppelingen_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Rapportages', path('iz_rapportages_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Selecties', path('iz_selecties_index'))|raw }}
    &nbsp;&nbsp;
    {{ html.link('Intervisiegroepen',
        {'controller': 'iz_deelnemers', 'action': 'intervisiegroepen'}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link('Beheer',
        {'controller': 'iz_deelnemers', 'action': 'beheer'}
    )|raw }}
    &nbsp;&nbsp;
    <div>&nbsp;</div>
</div>
