<fieldset>
    <legend>Basisgegevens</legend>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>Voornaam</td>
            <td>{{ klant.voornaam }}</td>
        </tr>
        <tr>
            <td>Tussenvoegsel</td>
            <td>{{ klant.tussenvoegsel }}</td>
        </tr>
        <tr>
            <td>Achternaam</td>
            <td>{{ klant.achternaam }}</td>
        </tr>
        <tr>
            <td>Roepnaam</td>
            <td>{{ klant.roepnaam }}</td>
        </tr>
        <tr>
            <td>Geslacht</td>
            <td>{{ klant.geslacht.volledig }}</td>
        </tr>
        <tr>
            <td>Geboortedatum</td>
            <td>{{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Geboorteland</td>
            <td>{{ klant.land.naam }}</td>
        </tr>
        <tr>
            <td>Nationaliteit</td>
            <td>{{ klant.nationaliteit.naam }}</td>
        </tr>
        <tr>
            <td>BSN</td>
            <td>{{ klant.bsn }}</td>
        </tr>
        <tr>
            <td>Laatste TBC controle</td>
            <td>{{ klant.laatsteTbcControle ? klant.laatsteTbcControle|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Medewerker</td>
            <td>{{ klant.medewerker }}</td>
        </tr>
    </table>
    <div class="editWrench">
        {{ html.editLink(
            {controller: 'klanten', action: 'edit', 0: klant.id},
            {title: 'Bewerken'}
        )|raw }}
    </div>
</fieldset>
