<div id="subheader">
    {{ html.link(
        'Huurders',
        {'controller': 'odp_huurders', 'action': 'index'},
        this.viewPath == 'odp_huurders' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Verhuurders',
        {'controller': 'odp_verhuurders', 'action': 'index'},
        this.viewPath == 'odp_verhuurders' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Huurverzoeken',
        {'controller': 'odp_huurverzoeken', 'action': 'index'},
        this.viewPath == 'odp_huurverzoeken' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Huuraanbiedingen',
        {'controller': 'odp_huuraanbiedingen', 'action': 'index'},
        this.viewPath == 'odp_huuraanbiedingen' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Huurovereenkomsten',
        {'controller': 'odp_huurovereenkomsten', 'action': 'index'},
        this.viewPath == 'odp_huurovereenkomsten' ? {'class': 'selected'} : {}
    )|raw }}
    <div>&nbsp;</div>
</div>
