<div id="subheader">
    {{ html.link(
        'Deelnemers',
        {'controller': 'oek_klanten', 'action': 'index'},
        this.viewPath == 'oek_klanten' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Wachtlijst',
        {'controller': 'oek_wachtlijst', 'action': 'index'},
        this.viewPath == 'oek_wachtlijst' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Groepen',
        {'controller': 'oek_groepen', 'action': 'index'},
        this.viewPath == 'oek_groepen' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Trainingen',
        {'controller': 'oek_trainingen', 'action': 'index'},
        this.viewPath == 'oek_trainingen' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Verwijzingen door',
        {'controller': 'oek_verwijzingen_door', 'action': 'index'},
        this.viewPath == 'oek_verwijzingen_door' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Verwijzingen naar',
        {'controller': 'oek_verwijzingen_naar', 'action': 'index'},
        this.viewPath == 'oek_verwijzingen_naar' ? {'class': 'selected'} : {}
    )|raw }}
    <div>&nbsp;</div>
</div>
