{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    ODP | Verhuurdersafsluitingen |
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verhuurdersafsluitingen</h1>
    <p>
        {{ html.addLink(path('odp_verhuurderafsluitingen_add')) }}
        {{ html.link('Woningbouwcorporatie toevoegen', path('odp_verhuurderafsluitingen_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'verhuurderafsluiting.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'verhuurderafsluiting.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'verhuurderafsluiting.actief') }}
            </th>
            <th>
            </th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity }}
                </td>
                <td>
                    {{ entity.actief ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ html.editLink(path('odp_verhuurderafsluitingen_edit', {'id': entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path('odp_verhuurderafsluitingen_delete', {'id': entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
