{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }} verwijderen</h1>
    <p>
        {{ html.link('Annuleren', path(route_base~'index'), 'cancel') }}
    </p>
{% endblock %}

{% block content %}
    <p>
        Weet u zeker dat u {{ entity_name }} <strong>{{ entity }}</strong> wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
