<h2>Klussen</h2>
<p>
    {% if klant is defined %}
        {% set entity = klant %}
        {% set url = path('hs_klussen_add', {klant: entity.id}) %}
    {% endif %}
    {% if url is defined %}
        {{ html.addLink(url) }}
        {{ html.link('Klus toevoegen', url) }}
    {% endif %}
</p>
<table class="table table-hover">
    <tr>
        <th>Stadsdeel</th>
        <th>Activiteit</th>
        <th>Status</th>
        <th>Startdatum</th>
        <th>Einddatum</th>
    </tr>
    {% for klus in entity.klussen %}
        <tr data-href="{{ path('hs_klussen_view', {id: klus.id}) }}">
            <td>{{ klus.klant.werkgebied }}</td>
            <td>{{ klus.activiteit }}</td>
            <td>{{ klus.status|status_color }}</td>
            <td>{{ klus.startdatum|date('d-m-Y') }}</td>
            <td>{{ klus.einddatum ? klus.einddatum|date('d-m-Y') }}</td>
        </tr>
    {% endfor %}
</table>
