{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klussen
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% set add_route = 'hs_klussen_add' %}
{% set view_route = 'hs_klussen_view' %}
{% set edit_route = 'hs_klussen_edit' %}
{% set delete_route = 'hs_klussen_delete' %}
{% set close_route = 'hs_klussen_close' %}

{% block content_top %}
    <h1>Klus {{ entity }}</h1>
    <p>
        {{ html.link('Wijzigen', path(edit_route, {id: entity.id}), 'edit') }}
        {% if not entity.einddatum and not entity.annuleringsdatum %}
            {{ html.link('Annuleren', path('hs_klussen_annuleren', {id: entity.id}), 'cancel') }}
            {{ html.link('Afsluiten', path(close_route, {id: entity.id}), 'close') }}
        {% else %}
            {{ html.link('Heropenen', path('hs_klussen_heropenen', {id: entity.id}), 'reopen') }}
        {% endif %}
        {% if entity.deletable %}
            {{ html.link('Verwijderen', path(delete_route, {id: entity.id}), 'delete') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>{{ entity.status|status_color }}</dd>
        <dt>Activiteiten</dt>
        <dd>
            <ul>
                {% for activiteit in entity.activiteiten %}
                    <li>{{ activiteit }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Startdatum</dt>
        <dd>{{ entity.startdatum|date('d-m-Y') }}</dd>
        <dt>Einddatum</dt>
        <dd>{{ entity.einddatum ? entity.einddatum|date('d-m-Y') : '-' }}</dd>
        <dt>Annuleringsdatum</dt>
        <dd>{{ entity.annuleringsdatum ? entity.annuleringsdatum|date('d-m-Y') : '-' }}</dd>
    </dl>
    <dl class="dl-horizontal">
        {% if entity.klant %}
            <dt>Klant</dt>
            <dd>
                {{ html.link(entity.klant, path('hs_klanten_view', {id: entity.klant.id})) }}
            </dd>
            <dt>Adres</dt>
            <dd>
                {{ entity.klant.adres }}<br>
                {{ entity.klant.postcode }} {{ entity.klant.plaats }}
            </dd>
            <dt>Stadsdeel</dt>
            <dd>{{ entity.klant.werkgebied }}</dd>
            <dt>GGW-gebied</dt>
            <dd>{{ entity.klant.postcodegebied }}</dd>
            <dt>Mobiel</dt>
            <dd>{{ entity.klant.mobiel }}</dd>
            <dt>Telefoon</dt>
            <dd>{{ entity.klant.telefoon }}</dd>
            <dt>E-mail</dt>
            <dd>{{ entity.klant.email }}</dd>
            <dt>BSN</dt>
            <dd>{{ entity.klant.bsn }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Naam hulpverlener</dt>
            <dd>{{ entity.klant.hulpverlener.naam }}</dd>
            <dt>Organisatie hulpverlener</dt>
            <dd>{{ entity.klant.hulpverlener.organisatie }}</dd>
            <dt>Telefoon hulpverlener</dt>
            <dd>{{ entity.klant.hulpverlener.telefoon }}</dd>
            <dt>E-mail hulpverlener</dt>
            <dd>{{ entity.klant.hulpverlener.email }}</dd>
        {% else %}
            <dt>Klant</dt>
            <dd>Homeservice (geen klant)</dd>
        {% endif %}
    </dl>
    <dl class="dl-horizontal">
        <dt>Dienstverleners</dt>
        <dd>
            <ul>
                {% for dienstverlener in entity.dienstverleners %}
                    <li>
                        {{ html.link(dienstverlener.klant, path('hs_dienstverleners_view', {id: dienstverlener.id})) }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Vrijwilligers</dt>
        <dd>
            {% if entity.vrijwilligers|length > 0 %}
            <ul>
                {% for vrijwilliger in entity.vrijwilligers|filter(vrijwilliger => vrijwilliger.vrijwilliger is not null) %}
                    <li>
                        {{ html.link(vrijwilliger.vrijwilliger, path('hs_vrijwilligers_view', {'id': vrijwilliger.id})) }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </dd>
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#memos">Klusinfo</a></li>
        <li><a data-toggle="tab" href="#registraties">Uren</a></li>
        <li><a data-toggle="tab" href="#declaraties">Declaraties</a></li>
        {% if entity.klant %}
            <li><a data-toggle="tab" href="#facturen">Facturen</a></li>
        {% endif %}
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="memos" class="tab-pane active">
            {% include '@Hs/memos/_list.html.twig' with {klus: entity} %}
        </div>
        <div id="registraties" class="tab-pane">
            {% include '@Hs/registraties/_list.html.twig' with {klus: entity} %}
        </div>
        <div id="declaraties" class="tab-pane">
            {% include '@Hs/declaraties/_list.html.twig' with {klus: entity} %}
        </div>
        {% if entity.klant %}
            <div id="facturen" class="tab-pane">
                {% include '@Hs/facturen/_list.html.twig' with {klus: entity} %}
            </div>
        {% endif %}
        <div id="documenten" class="tab-pane">
            {% include '@Hs/documenten/_list.html.twig' with {klus: entity} %}
        </div>
    </div>
{% endblock %}
