{% import 'html.macro.twig' as html %}
<h2>Verslagen</h2>
{% if entity.huidigeStatus.aangemeld %}
    <p>
        {{ html.link('Verslag toevoegen', path('oekraine_verslagen_add', {bezoeker: entity.id}), 'add') }}
    </p>
{% endif %}
{#Should be set in controller#}
{% if accessProfile is not defined %}
    {% set accessProfile = 1 %}
{% endif %}

{% if is_granted("ROLE_MW") %}
    {%  set roleMw = true %}
{% else %}
    {%  set roleMw = false %}
{% endif %}

{% if is_granted("ROLE_OEKRAINE_PSYCH") %}
    {%  set rolePsych = true %}
{% else %}
    {%  set rolePsych = false %}
{% endif %}

{% for verslag in entity.verslagen|filter(verslag => (verslag.access <= accessProfile) ) %}

    <h3>Verslag van {{ verslag.datum|date('d-m-Y') }}</h3>
    <p>
        {{ html.link('Verslag bewerken', path('oekraine_verslagen_edit', {id: verslag.id}), 'edit') }}
    </p>
    {% if verslag.type == 2 %}
        {% set class = "bg-info" %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <div class="row {{class}}">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Zichtbaarheid</dt>
                <dd>{{ verslag.accessAsString }}</dd>
                <dt>Locatie</dt>
                <dd>{{ verslag.locatie }}</dd>
                <dt>Medewerker</dt>
                <dd>{{ verslag.medewerker }}</dd>
            </dl>
        </div>
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Contactsoort</dt>
                <dd>{{ verslag.contactsoort }}</dd>
                {% if verslag.duur %}
                    <dt>Duur</dt>
                    <dd>{{ verslag.duur }} minuten</dd>
                {% endif %}
                <dt>Type</dt>
                <dd>{{ verslag.typeAsString }}</dd>
            </dl>
        </div>
    </div>
    <p class="well">{{ verslag.opmerking|raw|nl2br }}</p>
{% endfor %}