{% include 'oek_subnavigation.twig' %}

<h1>Deelnemers</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('Deelnemer toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.klant.id) }}
            {{ form_errors(filter.klant.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.naam) }}
            {{ form_errors(filter.klant.naam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
        <th>
            {{ form_widget(filter.aanmelding) }}
            {{ form_errors(filter.aanmelding) }}
        </th>
        <th>
            {{ form_widget(filter.afsluiting) }}
            {{ form_errors(filter.afsluiting) }}
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'klant.werkgebied') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'oekKlant.aanmelding') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'oekKlant.afsluiting') }}
        </th>
        <th></th>
    </tr>
    {% for oekKlant in pagination %}
    <tr>
        <td>
            {{ html.link(oekKlant.klant.id, {'action': 'view', 0: oekKlant.id})|raw }}
        </td>
        <td>
            {{ html.link(oekKlant.klant.naam, {'action': 'view', 0: oekKlant.id})|raw }}
        </td>
        <td>
            {{ oekKlant.klant.werkgebied }}
        </td>
        <td>
            {{ oekKlant.aanmelding | date('d-m-Y') }}
        </td>
        <td>
            {{ oekKlant.afsluiting | date('d-m-Y') }}
        </td>
        <td>
            {{ html.viewLink({'action': 'view', 0: oekKlant.id})|raw }}
            {{ html.editLink({'action': 'edit', 0: oekKlant.id})|raw }}
            {% if oekKlant.deletable %}
                {{ html.deleteLink({'action': 'delete', 0: oekKlant.id})|raw }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
