{% include 'oek_subnavigation.twig' %}

<h1>Deelnemer {{ oekKlant.klant.naam }}</h1>

<p>
    {% set view_link = {'controller': 'klanten', 'action': 'view', 0: oekKlant.klant.id} %}
    {{ html.viewLink(view_link)|raw }}
    {{ html.link('Basisdossier bekijken', view_link)|raw }}

    {% set edit_link = {'action': 'edit', 0: oekKlant.id} %}
    {{ html.editLink(edit_link)|raw }}
    {{ html.link('Deelnemer wijzigen', edit_link)|raw }}

    {% if oekKlant.deletable %}
        {% set delete_link = {'action': 'delete', 0: oekKlant.id} %}
        {{ html.deleteLink(delete_link)|raw }}
    {% endif %}

    {% if oekKlant.oekAfsluiting %}
        {% set open_link = {'action': 'open', 0: oekKlant.id} %}
        {{ html.addLink(open_link)|raw }}
        {{ html.link('Dossier heropenen', open_link)|raw }}
    {% else %}
        {% set close_link = {'action': 'close', 0: oekKlant.id} %}
        {{ html.deleteLink(close_link)|raw }}
        {{ html.link('Dossier afsluiten', close_link)|raw }}
    {% endif %}
</p>

<dl>
    <dt>#</dt>
    <dd>{{ oekKlant.klant.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ oekKlant.klant.naam }}</dd>
    <dt>Historie</dt>
    <dd>
        <ul>
            {% for oekDossierStatus in oekKlant.oekDossierStatussen %}
                <li>{{ oekDossierStatus }}</li>
            {% endfor %}
        </ul>&nbsp;
    </dd>
    <dt>Opmerking</dt>
    <dd>{{ oekKlant.opmerking|nl2br }}&nbsp;</dd>
    <dt>
        Groepen
        {{ html.addLink({'controller': 'oek_lidmaatschappen', 'action': 'add', 'oekKlant': oekKlant.id})|raw }}
    </dt>
    <dd>
        <ul>
            {% for oekLidmaatschap in oekKlant.oekLidmaatschappen %}
                <li>
                    {{ html.link(oekLidmaatschap.oekGroep, {'controller': 'oek_groepen', 'action': 'view', 0: oekLidmaatschap.oekGroep.id})|raw }}
                    {% set delete_link = {'controller': 'oek_lidmaatschappen', 'action': 'delete', 0: oekLidmaatschap.id} %}
                    {{ html.deleteLink(delete_link)|raw }}
                </li>
            {% endfor %}
        </ul>
        &nbsp;
    </dd>
    <dt>
        Trainingen
        {{ html.addLink({'controller': 'oek_deelnames', 'action': 'add', 'oekKlant': oekKlant.id})|raw }}
    </dt>
    <dd>
        <ul>
            {% for oekTraining in oekKlant.oekTrainingen %}
                <li>
                    {{ html.link(oekTraining, {'controller': 'oek_trainingen', 'action': 'view', 0: oekTraining.id})|raw }}
                </li>
            {% endfor %}
        </ul>
        &nbsp;
    </dd>
</dl>
