{% include 'groepsactiviteiten_subnavigation.twig' %}
{% form_theme filter 'form_div_layout.html.twig' %}

<h1>Afgesloten vrijwilligers dossiers</h1>

{#<p>#}
    {#{{ html.addLink({'action': 'add'})|raw }}#}
    {#{{ html.link('Vrijwilliger toevoegen', {'action': 'add'})|raw }}#}
{#</p>#}

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.vrijwilliger.id) }}
            {{ form_errors(filter.vrijwilliger.id) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.naam) }}
            {{ form_errors(filter.vrijwilliger.naam) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.geboortedatum) }}
            {{ form_errors(filter.vrijwilliger.geboortedatum) }}
        </th>
        <th>
            {{ form_widget(filter.medewerker) }}
            {{ form_errors(filter.medewerker) }}
        </th>
        <th>
            {{ form_widget(filter.afsluitdatum) }}
            {{ form_errors(filter.afsluitdatum) }}
        </th>
        <th>
            {{ form_widget(filter.filter) }}
            {{ form_widget(filter.download) }}
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'vrijwilliger.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'vrijwilliger.geboortedatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'intake.afsluitdatum') }}
        </th>
        <th></th>
    </tr>
    {% for intake in pagination %}
        <tr>
            <td>
                {{ html.link(intake.vrijwilliger.id, {'action': 'view', 0: intake.id})|raw }}
            </td>
            <td>
                {{ html.link(intake.vrijwilliger.naam, {'action': 'view', 0: intake.id})|raw }}
            </td>
            <td>
                {{ intake.vrijwilliger.geboortedatum ? intake.vrijwilliger.geboortedatum|date('d-m-Y') }}
            </td>
            <td>
                {{ intake.medewerker }}
            </td>
            <td>
                {{ intake.afsluitdatum ? intake.afsluitdatum | date('d-m-Y') }}
            </td>
            <td>
                {{ html.viewLink({'action': 'view', 0: intake.id})|raw }}
                {#{{ html.editLink({'action': 'edit', 0: intake.id})|raw }}#}
                {% if intake.deletable %}
                    {{ html.deleteLink({'action': 'delete', 0: intake.id})|raw }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
