<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>ECD | {% block title %}{% endblock %}</title>

    <link href="{{ asset('favicon.png') }}" type="image/png" rel="shortcut icon" />

    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}?{{ app_version }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ asset('css/cake.generic.css') }}" media="screen" /> -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/regenboog-bootstrap.css') }}?{{ app_version }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datepicker.css') }}?{{ app_version }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui-1.8.11.custom.css') }}?{{ app_version }}" />
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="{{ asset('js/jquery-1.12.4.min.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-migrate-1.4.1.min.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/lodash.min.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepicker.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.8.11.custom.min.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.ui.datepicker-nl.js') }}?{{ app_version }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}?{{ app_version }}"></script>
    <!-- <script type="text/javascript" src="{{ asset('js/fixFloat.jquery.js.js') }}"></script> -->
</head>
<body>
    {% block header %}
        {% include '::header.html.twig' %}
    {% endblock %}
    <div class="container-fluid">
        {% block subnavigation %}{% endblock %}
        <div class="row">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }}" role="alert">{{ flash_message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% block content_top %}{% endblock %}
        {% block content %}{% endblock %}
        {% block content_bottom %}{% endblock %}
    </div>
    {% include '::footer.html.twig' %}
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}?{{ app_version }}"></script>
    <script src="{{ asset('node_modules/ckeditor4/ckeditor.js') }}?{{ app_version }}"></script>
    <script src="{{ asset('js/app.js') }}?{{ app_version }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
