{% import '::html.macro.twig' as html %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ relative_path('/') }}"><span>ECD</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for controller, label in menu_allowed %}
                    {{ html.navLink(label, relative_path("/" ~ controller, controller), isActiveRoute(controller ~ '_')) }}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if userFullName is defined %}
                    <li><a href="#">Ingelogd als {{ userFullName }}</a></li>
                    <li>{{ html.link('Uitloggen', relative_path('/medewerkers/logout')) }}</li>
                {% else %}
                    <li>{{ html.link('Inloggen', relative_path('/medewerkers/login')) }}</li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
