{% if module is not defined %}
    {% set module = app.request.get('module', 'Klant') %}
{% endif %}

<h2>Basisgegevens</h2>
<p>
    {{ html.link('Bekijken', path('app_klanten_view', {id: klant.id}), 'view') }}
    {{ html.link('Wijzigen', path('app_klanten_edit', {id: klant.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>Naam</dt>
    <dd>{{ klant|naam_voor_achter }}</dd>
    <dt>Geslacht</dt>
    <dd>{{ klant.geslacht ? klant.geslacht.volledig }}</dd>
    <dt>Geboortedatum</dt>
    <dd>{{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}</dd>
    <dt>Geboorteland</dt>
    <dd>{{ klant.land }}</dd>
    <dt>Nationaliteit</dt>
    <dd>{{ klant.nationaliteit }}</dd>
    <dt>BSN</dt>
    <dd>{{ klant.bsn }}</dd>
    {% if tbc_countries is defined and klant.land.getNaam() in tbc_countries %}
        <dt>Laatste TBC-check</dt>
        <dd>{{ klant.laatsteTbcControle|date('d-m-Y') }}</dd>
    {% endif %}
    <dt>Medewerker</dt>
    <dd>{{ klant.medewerker }}</dd>
    {% if klant.overleden %}
        <span class="text-danger">
            <dt>Overleden</dt>
            <dd>Ja</dd>
        </span>
    {% endif %}
</dl>
<h2>Contactgegevens</h2>
<p>
    {{ html.link('Bekijken', path('app_klanten_view', {id: klant.id}), 'view') }}
    {{ html.link('Wijzigen', path('app_klanten_edit', {id: klant.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>Adres</dt>
    <dd>
        {{ klant.adres }}<br>
        {{ klant.postcode }} {{ klant.plaats }}
    </dd>
    <dt>Werkgebied</dt>
    <dd>{{ klant.werkgebied }}</dd>
    <dt>Postcodegebied</dt>
    <dd>{{ klant.postcodegebied }}</dd>
    <dt>Mobiel</dt>
    <dd>{{ klant.mobiel }}</dd>
    <dt>Telefoon</dt>
    <dd>{{ klant.telefoon }}</dd>
    <dt>E-mail</dt>
    <dd>{{ klant.email }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Postvoorkeur</dt>
    <dd>{{ klant.geenPost ? 'Geen post' : 'Wel post' }}</dd>
    <dt>E-mailvoorkeur</dt>
    <dd>{{ klant.geenEmail ? 'Geen e-mail' : 'Wel e-mail' }}</dd>
    <dt>Opmerking</dt>
    <dd>{{ klant.opmerking }}</dd>
</dl>

{{ render(controller('AppBundle:Klanten:_diensten', {id: klant.id})) }}

<h2>ZRMs</h2>
<p>
    {{ html.link('ZRM-overzicht', path('app_zrms_index', {'zrm_filter[klant][id]': klant.id}), 'view') }}
    {{ html.link('ZRM toevoegen', path('app_zrms_add', {klant: klant.id, module: module}), 'add') }}
</p>
<table class="table table-hover">
    <tr>
        <th>Module</th>
        <th>Datum</th>
    </tr>
    {% for zrm in klant.zrms if zrm.id %}
        <tr data-href="{{ path('app_zrms_view', {id: zrm.id}) }}">
            <td>{{ zrm.requestModule }}</td>
            <td>{{ zrm.created|date('d-m-Y') }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Documenten</h2>
<dl class="dl-horizontal">
    <dt>Toestemmingsformulier</dt>
    <dd>
        {% if klant.toestemmingsformulier %}
            {{ html.link('Toestemmingsformulier downloaden', vich_uploader_asset(klant.toestemmingsformulier, 'file'), 'download') }}
        {% else %}
            {{ html.link('Toestemmingsformulier toevoegen', path('app_documenten_add', {klant: klant.id, type: 'toestemming'}), 'add') }}
        {% endif %}
    </dd>
</dl>
