<h2>Basisgegevens</h2>
<p>
    {{ html.link('Basisdossier bekijken', path('app_vrijwilligers_view', {id: vrijwilliger.id}), 'view') }}
    {{ html.link('Wijzigen', path('app_vrijwilligers_edit', {id: vrijwilliger.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>Naam</dt>
    <dd>{{ vrijwilliger|naam_voor_achter }}</dd>
    <dt>Geslacht</dt>
    <dd>{{ vrijwilliger.geslacht.volledig }}</dd>
    <dt>Geboortedatum</dt>
    <dd>{{ vrijwilliger.geboortedatum ? vrijwilliger.geboortedatum|date('d-m-Y') }}</dd>
    <dt>Geboorteland</dt>
    <dd>{{ vrijwilliger.land }}</dd>
    <dt>Nationaliteit</dt>
    <dd>{{ vrijwilliger.nationaliteit }}</dd>
    <dt>BSN</dt>
    <dd>{{ vrijwilliger.bsn }}</dd>
    <dt>Medewerker</dt>
    <dd>{{ vrijwilliger.medewerker }}</dd>
</dl>
<h2>Contactgegevens</h2>
<p>
    {{ html.link('Wijzigen', path('app_vrijwilligers_edit', {id: vrijwilliger.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>Adres</dt>
    <dd>
        {{ vrijwilliger.adres }}<br>
        {{ vrijwilliger.postcode }} {{ vrijwilliger.plaats }}
    </dd>
    <dt>Werkgebied</dt>
    <dd>{{ vrijwilliger.werkgebied }}</dd>
    <dt>Postcodegebied</dt>
    <dd>{{ vrijwilliger.postcodegebied }}</dd>
    <dt>Mobiel</dt>
    <dd>{{ vrijwilliger.mobiel }}</dd>
    <dt>Telefoon</dt>
    <dd>{{ vrijwilliger.telefoon }}</dd>
    <dt>E-mail</dt>
    <dd>{{ vrijwilliger.email }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Postvoorkeur</dt>
    <dd>{{ vrijwilliger.geenPost ? 'Geen post' : 'Wel post' }}</dd>
    <dt>E-mailvoorkeur</dt>
    <dd>{{ vrijwilliger.geenEmail ? 'Geen e-mail' : 'Wel e-mail' }}</dd>
    <dt>Opmerking</dt>
    <dd>{{ vrijwilliger.opmerking }}</dd>
</dl>
<h2>Documenten</h2>
<p>
    {{ html.link('Wijzigen', path('app_vrijwilligers_edit', {id: vrijwilliger.id}), 'edit') }}
</p>
<dl class="dl-horizontal">
    <dt>VOG aangevraagd</dt>
    <dd>{{ vrijwilliger.vogAangevraagd ? 'Ja' : 'Nee' }}</dd>
    <dt>VOG</dt>
    <dd>
        {% if vrijwilliger.vogAanwezig %}
            {% if vrijwilliger.vog %}
                {{ html.link('VOG downloaden', vich_uploader_asset(vrijwilliger.vog, 'file'), 'download') }}
            {% else %}
                Aanwezig
            {% endif %}
        {% else %}
            {{ html.link('VOG toevoegen', path('app_documenten_add', {vrijwilliger: vrijwilliger.id, type: 'vog'}), 'add') }}
        {% endif %}
    </dd>
    <dt>Overeenkomst</dt>
    <dd>
        {% if vrijwilliger.overeenkomstAanwezig %}
            {% if vrijwilliger.overeenkomst %}
                {{ html.link('Overeenkomst downloaden', vich_uploader_asset(vrijwilliger.overeenkomst, 'file'), 'download') }}
            {% else %}
                Aanwezig
            {% endif %}
        {% else %}
            {{ html.link('Overeenkomst toevoegen', path('app_documenten_add', {vrijwilliger: vrijwilliger.id, type: 'overeenkomst'}), 'add') }}
        {% endif %}
    </dd>
</dl>
