{% extends 'ga/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.link('Aanwezigheid registreren', path('ga_activiteiten_editdeelnames', {id: entity.id}), 'list') }}
        {{ html.link(entity_name|capitalize ~ ' wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
        {% if not entity.geannuleerd %}
            {{ html.link(entity_name|capitalize ~ ' annuleren', path(route_base~'cancel', {id: entity.id}), 'cancel') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        {% if entity.geannuleerd %}
            <dt>Annuleringsreden</dt>
            <dd><span class="text-danger">{{ entity.annuleringsreden }}</span></dd>
        {% endif %}
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Groep</dt>
        <dd>{{ entity.groep ? html.link(entity.groep, path('ga_groepen_view', {id: entity.groep.id})) }}</dd>
        <dt>Datum</dt>
        <dd>{{ entity.datum|date('d-m-Y') }}</dd>
        {% if entity.aantalAnoniemeDeelnemers > 0 %}
            <dt>Anonieme deelnemers</dt>
            <dd>{{ entity.aantalAnoniemeDeelnemers }}</dd>
        {% endif %}
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#deelnemers">Deelnemers</a></li>
        <li><a data-toggle="tab" href="#vrijwilligers">Vrijwilligers</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
    </ul>
    <div class="tab-content">
        <div id="deelnemers" class="tab-pane active">
            {% include 'ga/deelnames/_list.html.twig' with {context: 'klanten'} %}
        </div>
        <div id="vrijwilligers" class="tab-pane">
            {% include 'ga/deelnames/_list.html.twig' with {context: 'vrijwilligers'} %}
        </div>
        <div id="verslagen" class="tab-pane">
            <h2>Verslagen</h2>
            {{ html.link('Verslag toevoegen', path('ga_verslagen_add', {activiteit: entity.id}), 'add') }}
            {% for verslag in entity.verslagen %}
                <h3>{{ verslag.created|date('d-m-Y - H:i')~' uur' }}</h3>
                <p>
                    {{ html.link('Verslag bewerken', path('ga_verslagen_edit', {id: verslag.id}), 'edit') }}
                </p>
                <dl class="dl-horizontal">
                    <dt>Medewerker</dt>
                    <dd>{{ verslag.medewerker }}</dd>
                    <dt>Opmerking</dt>
                    <dd><div class="well">{{ verslag.opmerking|nl2br }}</div></dd>
                </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}
