{% import '::html.macro.twig' as html %}
<ul class="nav nav-tabs">
    {{ html.navLink('Deelnemers', path('oek_deelnemers_index'), isActiveRoute('oek_deelnemers_')) }}
    {{ html.navLink('Vrijwilligers', path('oek_vrijwilligers_index'), isActiveRoute('oek_vrijwilligers_')) }}
    {{ html.navLink('Wachtlijst', path('oek_wachtlijst_index'), isActiveRoute('oek_wachtlijst_')) }}
    {{ html.navLink('Groepen', path('oek_groepen_index'), isActiveRoute('oek_groepen_')) }}
    {{ html.navLink('Trainingen', path('oek_trainingen_index'), isActiveRoute('oek_trainingen_')) }}
    {{ html.navLink('Rapportages', path('oek_rapportages_index'), isActiveRoute('oek_rapportages_')) }}
    <li role="presentation" class="dropdown {{ isActivePath('oek/admin') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Verwijzingen door', path('oek_verwijzingendoor_index'), isActiveRoute('oek_verwijzingendoor_')) }}
            {{ html.navLink('Verwijzingen naar', path('oek_verwijzingennaar_index'), isActiveRoute('oek_verwijzingennaar_')) }}
        </ul>
    </li>
</ul>
