{% extends 'IzBundle::index.html.twig' %}

{% block content %}
    {% if 'email' == action %}
        {% include 'IzBundle:selecties:_email.html.twig' %}
    {% else %}
        {{ form_start(form) }}
            <h1>Selecties</h1>
            <div class="row">
                {{ form_errors(form) }}
                <span class="form-inline pull-right">
                    {{ form_row(form.filter, {label: 'E-mail verzenden'}) }}
                    {{ form_row(form.download) }}
                </span>
            </div>
            <div class="col-xs-3">
                <h2>Projecten</h2>
                {{ form_row(form.alleProjecten) }}
                {{ form_row(form.projecten) }}
            </div>
            <div class="col-xs-3">
                <h2>Stadsdelen</h2>
                {{ form_row(form.alleStadsdelen) }}
                {{ form_row(form.stadsdelen) }}
            </div>
            <div class="col-xs-3">
                <h2>Personen</h2>
                <p>Selecteer deelnemers en/of vrijwilligers.</p>
                {{ form_row(form.personen, {label: false}) }}
            </div>
            <div class="col-xs-3">
                <h2>Communicatievorm</h2>
                <p>Selecteer de communicatievorm.</p>
                {{ form_row(form.communicatie, {label: false}) }}
                <p>
                    Als je "E-mail" aanvinkt worden de mensen die geen email willen ontvangen weggelaten.
                    Als je "Post" aanvinkt worden de mensen die geen post willen ontvangen weggelaten.
                    Niets aangevinkt betekent: iedereen, ongeacht communicatievoorkeur.
                </p>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            // check all options if "Alle projecten" is chekced
            // uncheck all options if "Alle projecten" is unchecked
            $('#iz_deelnemer_selectie_alleProjecten').change(function() {
                if ($('#iz_deelnemer_selectie_alleProjecten').is(':checked')) {
                    $('#iz_deelnemer_selectie_projecten input').prop('checked', true);
                } else {
                    $('#iz_deelnemer_selectie_projecten input').prop('checked', false);
                }
            });

            // check "Alle projecten" if all options are checked
            // uncheck "Alle projecten" if not all options are checked
            $('#iz_deelnemer_selectie_projecten input').change(function() {
                if ($('#iz_deelnemer_selectie_projecten input').not(':checked').length > 0) {
                    $('#iz_deelnemer_selectie_alleProjecten').prop('checked', false);
                } else {
                    $('#iz_deelnemer_selectie_alleProjecten').prop('checked', true);
                }
            });

            // check all options if "Alle stadsdelen" is chekced
            // uncheck all options if "Alle stadsdelen" is unchecked
            $('#iz_deelnemer_selectie_alleStadsdelen').change(function() {
                if ($('#iz_deelnemer_selectie_alleStadsdelen').is(':checked')) {
                    $('#iz_deelnemer_selectie_stadsdelen input').prop('checked', true);
                } else {
                    $('#iz_deelnemer_selectie_stadsdelen input').prop('checked', false);
                }
            });

            // check "Alle stadsdelen" if all options are checked
            // uncheck "Alle stadsdelen" if not all options are checked
            $('#iz_deelnemer_selectie_stadsdelen input').change(function() {
                if ($('#iz_deelnemer_selectie_stadsdelen input').not(':checked').length > 0) {
                    $('#iz_deelnemer_selectie_alleStadsdelen').prop('checked', false);
                } else {
                    $('#iz_deelnemer_selectie_alleStadsdelen').prop('checked', true);
                }
            });

            // check all initially
            $('#iz_deelnemer_selectie_alleProjecten').prop('checked', true);
            $('#iz_deelnemer_selectie_projecten input').prop('checked', true);
            $('#iz_deelnemer_selectie_alleStadsdelen').prop('checked', true);
            $('#iz_deelnemer_selectie_stadsdelen input').prop('checked', true);
        });
    </script>
{% endblock %}
