{% import 'dagbesteding/macro.twig' as dagbestedingmacro %}
{% import 'html.macro.twig' as html %}

<h3>Beschikbaarheid</h3>
{{ html.link('Project toevoegen', path('dagbesteding_deelnames_add', {'traject': entity.id}), 'add') }}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Project</th>
            <th>Beschikbaarheid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for deelname in entity.deelnames %}
            <tr>
                <td>
                    {% if 'Project' == class(entity, false) %}
                        {{ deelname.traject }}
                    {% elseif 'Traject' == class(entity, false) %}
                        {{ deelname.project }}
                    {% endif %}
                </td>
                <td>
                    {% if deelname.beschikbaarheid %}
                        {{ dagbestedingmacro.beschikbaarheid(deelname.beschikbaarheid) }}
                    {% else %}
                        {{ html.link('Beschikbaarheid opgeven', path('dagbesteding_deelnames_edit', {id: deelname.id}), 'add') }}
                    {% endif %}
                </td>
                <td>
                    {% if 'Project' == class(entity, false) %}
                        {{ html.link('Naar deelnemer', path('dagbesteding_deelnames_view', {id: deelname.deelnemer.id}), 'view') }}
                    {% elseif 'Deelnemer' == class(entity, false) %}
                        {{ html.link('Naar project', path('dagbesteding_projecten_view', {id: deelname.project.id}), 'view') }}
                    {% endif %}
                        {{ html.link('Wijzigen', path('dagbesteding_deelnames_edit', {id: deelname.id}), 'edit') }}
                        {{ html.link('Verwijderen', path('dagbesteding_deelnames_delete', {id: deelname.id}), 'delete') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
