{{ form_start(filter) }}
    <tr>
        <th colspan="6">
            <span class="form-inline">
                {{ form_widget(filter.openDossiers) }}
                {{ form_widget(filter.zonderActieveKoppeling) }}
                {{ form_widget(filter.zonderActieveHulpvraag) }}
            </span>
        </th>
        <th colspan="2">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.klant.id) }}
            {{ form_errors(filter.klant.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.voornaam) }}
            {{ form_errors(filter.klant.voornaam) }}
            {{ form_widget(filter.klant.achternaam) }}
            {{ form_errors(filter.klant.achternaam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.geboortedatumRange.start) }}
            {{ form_errors(filter.klant.geboortedatumRange.start) }}
            {{ form_widget(filter.klant.geboortedatumRange.end) }}
            {{ form_errors(filter.klant.geboortedatumRange.end) }}
        </th>
        <th>
            {{ form_widget(filter.aanmeldingMedewerker) }}
            {{ form_errors(filter.aanmeldingMedewerker) }}
        </th>
        <th>
            {{ form_widget(filter.intakeMedewerker) }}
            {{ form_errors(filter.intakeMedewerker) }}
        </th>
        <th>
            <span class="form-inline">
                {{ form_widget(filter.actief) }}
                {{ form_widget(filter.project) }}
            </span>
            <br>
            {{ form_errors(filter.actief) }}
            {{ form_errors(filter.project) }}
            {{ form_widget(filter.hulpvraagMedewerker) }}
            {{ form_errors(filter.hulpvraagMedewerker) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
        <th>
            {{ form_widget(filter.afsluitDatum.start) }}
            {{ form_errors(filter.afsluitDatum.start) }}
            {{ form_widget(filter.afsluitDatum.end) }}
            {{ form_errors(filter.afsluitDatum.end) }}
        </th>
    </tr>
{{ form_end(filter) }}
