{% extends '@Iz/index.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base~'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base~'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {% include '@Iz/klanten/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Nummer', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker aanmelding', 'aanmeldingMedewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker intake', 'intakeMedewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }} /
                    {{ knp_pagination_sortable(pagination, 'Medewerker hulpvraag', 'hulpvraagMedewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Hulpvraagsoort', 'hulpvraagsoort.naam') }}
                </th>
                <th>
                    Doelgroep
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'izKlant.afsluitDatum') }}
                </th>

            </tr>
        </thead>
        <tbody>
            {% for izKlant in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: izKlant.id}) }}" class="{{ izKlant.closeable ? 'warning' }}">
                    <td>
                        {{ izKlant.klant.id }}
                    </td>
                    <td>
                        {{ izKlant }}
                    </td>
                    <td>
                        {{ izKlant.klant.geboortedatum ? izKlant.klant.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ izKlant.medewerker }}
                    </td>
                    <td>
                        {{ izKlant.intake ? izKlant.intake.medewerker }}
                    </td>
                    <td>
                        <ul>
                            {% for hulpvraag in izKlant.hulpvragen %}
                                <li>{{ hulpvraag.project }}, {{ hulpvraag.medewerker ? '('~hulpvraag.medewerker~')' }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% for hulpvraag in izKlant.hulpvragen %}
                            <li>{{ hulpvraag.hulpvraagsoort }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {% for hulpvraag in izKlant.hulpvragen %}
                            <li>{{ hulpvraag.doelgroep }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {{ izKlant.klant.werkgebied }}
                    </td>
                    <td>
                        {{ izKlant.afsluitdatum ? izKlant.afsluitdatum|date('d-m-Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
