{% extends '@Iz/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    {% if entity.afgesloten %}
        <p class="h3 text-danger pull-right">Dossier is afgesloten</p>
    {% endif %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    {% if entity.closeable and (entity.intake and entity.intake.id is defined) %}
        <div class="alert alert-danger" role="alert">
            Deelnemer {{ entity }} heeft geen open hulpvragen of actieve koppelingen.
            Sluit het dossier af of maak een nieuwe hulpvraag aan.
            {{ html.link('Hulpvraag aanmaken', path('iz_hulpvragen_add', {klant: entity.id}), 'add') }}
            {{ html.link('Dossier afsluiten', path('iz_klanten_close', {id: entity.id}), 'close') }}
        </div>
    {% endif %}
{% endblock %}

{% block content_left %}
    {% include '::klant_basis.html.twig' with {klant: entity.klant, module: 'IzIntake'} %}
{% endblock %}

{% block content_right %}
    {% include '@Iz/klanten/_tabs.html.twig' with {klant: entity, current: 'aanmelding'} %}
    <div class="tab-content">
        <div id="aanmelding" class="tab-pane active">
            <h2>Aanmelding</h2>
            {% if form is defined and 'iz_klant' == form.vars.name %}
                <p>
                    {{ html.cancelLink(path('iz_klanten_view', {id: entity.id, _fragment: 'aanmelding'})) }}
                    {{ html.link('Annuleren', path('iz_klanten_view', {id: entity.id, _fragment: 'aanmelding'})) }}
                </p>
                {{ form(form) }}
            {% else %}
                <p>
                    {{ html.editLink(path(route_base~'edit', {id: entity.id})) }}
                    {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id})) }}
                </p>
                <dl class="dl-horizontal">
                    <dt>Aanmelddatum</dt>
                    <dd>{{ entity.datumAanmelding ? entity.datumAanmelding|date('d-m-Y') }}</dd>
                    <dt>Medewerker</dt>
                    <dd>{{ entity.medewerker }}</dd>
                    <dt>Interesse in projecten</dt>
                    <dd>
                        <ul>
                            {% for project in entity.projecten %}
                                <li>{{ project }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                    <dt>Contact ontstaan</dt>
                    <dd>{{ entity.contactOntstaan }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Aanmeldende organisatie</dt>
                    <dd>{{ entity.organisatieAanmelder }}</dd>
                    <dt>Naam aanmelder</dt>
                    <dd>{{ entity.naamAanmelder }}</dd>
                    <dt>E-mail aanmelder</dt>
                    <dd>{{ entity.emailAanmelder }}</dd>
                    <dt>Telefoon aanmelder</dt>
                    <dd>{{ entity.telefoonAanmelder }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Notitie</dt>
                    <dd class="well">{{ entity.notitie|nl2br }}</dd>
                </dl>
            {% endif %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include '@Iz/verslagen/_list.html.twig' with {deelnemer: entity} %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include '@Iz/documenten/_list.html.twig' with {deelnemer: entity} %}
        </div>
        <div id="koppelingen" class="tab-pane">
            {% include '@Iz/hulpvragen/_list.html.twig' with {klant: entity} %}
        </div>
        <div id="afsluiting" class="tab-pane">
            {% include '@Iz/afsluitingen/_detail.html.twig' with {klant: entity} %}
        </div>
    </div>
{% endblock %}
