{% import _self as macro %}
{% import '::html.macro.twig' as html %}
{% import '@Dagbesteding/macro.twig' as dagbestedingmacro %}

{% macro color(key, value) %}
    {% if key == 'A' %}
        {% set color = 'green' %}
    {% elseif key == 'Z' %}
        {% set color = 'orange' %}
    {% elseif key == 'O' %}
        {% set color = 'red' %}
    {% elseif key == 'V' %}
        {% set color = 'blue' %}
    {% else %}
        {% set color = 'black' %}
    {% endif %}
    <span style="color: {{ color }}">{{ value }}</span>
{% endmacro %}

{#<h2>Beschikbaarheid</h2>#}
{#<table class="table">#}
{#    <thead>#}
{#    <tr>#}
{#        <th>Project</th>#}
{#        <th>Beschikbaarheid</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for deelname in deelnemer.deelnames %}#}
{#        <tr>#}
{#            <td>#}
{#                {{ deelname.project }}#}
{#            </td>#}
{#            <td>#}
{#                {% if deelname.beschikbaarheid %}#}
{#                    {{ dagbestedingmacro.beschikbaarheid(deelname.beschikbaarheid) }}#}
{#                {% else %}#}
{#                    {{ html.link('Beschikbaarheid opgeven', path('dagbesteding_deelnames_edit', {id: deelname.id}), 'add') }}#}
{#                {% endif %}#}
{#            </td>#}
{#            <td>#}
{#                {% if 'Project' == class(entity, false) %}#}
{#                    {{ html.link('Naar deelnemer', path('dagbesteding_deelnames_view', {id: deelname.deelnemer.id}), 'view') }}#}
{#                {% elseif 'Deelnemer' == class(entity, false) %}#}
{#                    {{ html.link('Naar project', path('dagbesteding_projecten_view', {id: deelname.project.id}), 'view') }}#}
{#                {% endif %}#}
{#                {{ html.link('Wijzigen', path('dagbesteding_deelnames_edit', {id: deelname.id}), 'edit') }}#}
{#                {{ html.link('Verwijderen', path('dagbesteding_deelnames_delete', {id: deelname.id}), 'delete') }}#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
<h2>Dagdelen</h2>
<table class="table">
    <tr>
        <th></th>
        {% for project in entity.projecten(true) %}
            <th colspan="5">{{ project }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Maand</th>
        {% for project in entity.projecten(true) %}
            <th>{{ macro.color('A', 'A') }}</>
            <th>{{ macro.color('Z', 'Z') }}</th>
            <th>{{ macro.color('O', 'O') }}</th>
            <th>{{ macro.color('V', 'V') }}</th>
            <th></th>
        {% endfor %}
    </tr>
    {% for maand in entity.countDagdelenByMonth %}
        <tr>
            <td>{{ maand.maand|date('m-Y') }}</td>
            {% for project in maand.projecten %}
                <td>
                    {{ macro.color('A', project['A']) }}
                </td>
                <td>
                    {{ macro.color('Z', project['Z']) }}
                </td>
                <td>
                    {{ macro.color('O', project['O']) }}
                </td>
                <td>
                    {{ macro.color('V', project['V']) }}
                </td>
                <td>
                    {{ html.viewLink(path('dagbesteding_trajecten_viewdagdelen', {
                        id: traject.id,
                        project: project.project.id,
                        month: maand.maand|date('Y-m')
                    })) }}
                    {{ html.editLink(path('dagbesteding_trajecten_editdagdelen', {
                        id: traject.id,
                        project: project.project.id,
                        month: maand.maand|date('Y-m')
                    })) }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
