{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('tw_verhuurders_add')) }}
        {{ html.link('Verhuurder toevoegen', path('tw_verhuurders_add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="3">
                    </th>
                    <th>
                            {{ form_widget(filter.actief) }}
                    </th>
                    <th>
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.aanmelddatum.start) }}
                        {{ form_errors(filter.aanmelddatum.start) }}
                        {{ form_widget(filter.aanmelddatum.end) }}
                        {{ form_errors(filter.aanmelddatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.appKlant.naam) }}
                        {{ form_errors(filter.appKlant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.project) }}
                        {{ form_errors(filter.project) }}
                    </th>
                    <th>
                        {{ form_widget(filter.gekoppeld) }}
                        {{ form_errors(filter.gekoppeld) }}
                    </th>
                    <th>
                        {{ form_widget(filter.medewerker) }}
                        {{ form_errors(filter.medewerker) }}
                    </th>
                    <th>

                    </th>

                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'verhuurder.aanmelddatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Verhuurder', 'appKlant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                </th>
                <th>Gekoppeld</th>

                <th>Medewerker</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for verhuurder in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: verhuurder.id}) }}">
                    <td>
                        {{ verhuurder.aanmelddatum ? verhuurder.aanmelddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ verhuurder.appKlant.naam }}
                    </td>
                    <td>
                        {{ verhuurder.project }}
                    </td>
                    <td>
                        {{ verhuurder.isGekoppeld|ja_nee }}
                    </td>
                    <td>
                        {{ verhuurder.medewerker }}
                    </td>

                    <td>

                        {{ html.editLink(path('tw_verhuurders_edit', {'id': verhuurder.id}))}}
                        {% if verhuurder.deletable %}
                            {{ html.deleteLink(path('tw_verhuurders_delete', {'id': verhuurder.id}))}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
