{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}
{% block content_top %}
    <h1>
        Verhuurder {{ entity.appKlant.naam }}
    </h1>
    <p>
    {% if entity.actief %}
        {{ html.editLink(path('tw_verhuurders_edit', {'id': entity.id})) }}
        {{ html.link('Wijzigen', path('tw_verhuurders_edit', {'id': entity.id})) }}
        {% if entity.closable %}
            {{ html.closeLink(path('tw_verhuurders_close', {id: entity.id})) }}
            {{ html.link('Afsluiten', path('tw_verhuurders_close', {id: entity.id})) }}
        {% endif %}
    {% else %}
        {{ html.addLink(path('tw_verhuurders_reopen', {id: entity.id})) }}
        {{ html.link('Heropenen', path('tw_verhuurders_reopen', {id: entity.id})) }}
        <dl class="dl-horizontal" style="color: red;">
            <dt>Afsluitdatum dossier</dt>
            <dd>{{ entity.afsluitdatum ? entity.afsluitdatum|date('d-m-Y') }}</dd>
            <dt>Reden afsluiting</dt>
            <dd>{{ entity.afsluiting ? entity.afsluiting }}</dd>
        </dl>
    {% endif %}
    {% if entity.deletable %}
        {{ html.deleteLink(path('tw_verhuurders_delete', {'id': entity.id})) }}
        {{ html.link('Verwijderen', path('tw_verhuurders_delete', {'id': entity.id})) }}
    {% endif %}
    </p>
{% endblock %}

{% block content_left %}

    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity.appKlant }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
        <dt>Ambulant ondersteuner</dt>
        <dd>{{ entity.ambulantOndersteuner }}</dd>
        <dt>Project</dt>
        <dd>{{ entity.project }}</dd>
        <dt>Aanmelddatum</dt>
        <dd>{{ entity.aanmelddatum|date('d-m-Y') }}</dd>
        <dt>Rekeningnummer</dt>
        <dd>{{ entity.rekeningnummer }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Woningbouwcorporatie</dt>
        <dd>{{ entity.woningbouwcorporatie }}</dd>
        <dt>Toelichting</dt>
        <dd>{{ entity.woningbouwcorporatieToelichting }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Klantmanager</dt>
        <dd>{{ entity.klantmanager }}</dd>
        <dt>WPI</dt>
        <dd>{{ entity.wpi ? 'Ja' : 'Nee' }}</dd>
        <dt title="Kleine schuld, grote winst">KSGW</dt>
        <dd>{{ entity.ksgw ? 'Ja' : 'Nee' }}</dd>
    </dl>
    {% include '::klant_basis.html.twig' with {klant: entity.appKlant} %}
{% endblock %}

{% block content_right %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#huuraanbiedingen">Huuraanbiedingen / Koppelingen</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>

    <div class="tab-content">
        <div id="huuraanbiedingen" class="tab-pane active">
            {% include 'TwBundle:huuraanbiedingen:_list.html.twig' with {verhuurder: entity} %}
            {% include 'TwBundle:huurovereenkomsten:_list.html.twig' with {verhuurder: entity} %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include 'TwBundle:verslagen:_list.html.twig' with {verhuurder: entity} %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include 'TwBundle:documenten:_list.html.twig' with {verhuurder: entity} %}
        </div>
    </div>
{% endblock %}
