<h2>Koppelingen</h2>
{% if form is defined and form.vars.name in ['hulpvraag', 'hulpvraag_close'] %}
    <p>
        {{ html.cancelLink(path('iz_klanten_view', {id: klant.id, _fragment: 'koppelingen'})) }}
        {{ html.link('Annuleren', path('iz_klanten_view', {id: klant.id, _fragment: 'koppelingen'})) }}
    </p>
    {{ form(form) }}
{% else %}
    <h3>Open hulpvragen</h3>
    <p>
        {{ html.addLink(path('iz_hulpvragen_add', {klant: klant.id})) }}
        {{ html.link('Hulpvraag toevoegen', path('iz_hulpvragen_add', {klant: klant.id})) }}
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Startdatum hulpvraag</th>
                <th>Coördinator</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraag in klant.openHulpvragen %}
                <tr data-href="{{ path('iz_hulpvragen_view', {id: hulpvraag.id}) }}">
                    <td>{{ hulpvraag.project }}</td>
                    <td>{{ hulpvraag.startdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.medewerker }}</td>
                    <td>
                        {{ html.link('Koppelen', path('iz_hulpvragen_view', {id: hulpvraag.id, _fragment: 'hulpvraag'}), 'connect') }}
                        {{ html.link('Verslagen', path('iz_hulpvragen_view', {id: hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                        {{ html.link('Afsluiten', path('iz_hulpvragen_close', {id: hulpvraag.id}), 'close') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Actieve koppelingen</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Vrijwilliger</th>
                <th>Startdatum koppeling</th>
                <th>Einddatum koppeling</th>
                <th>Coördinator</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraag in klant.actieveKoppelingen %}
                <tr data-href="{{ path('iz_koppelingen_view', {id: hulpvraag.id}) }}">
                    <td>{{ hulpvraag.project }}</td>
                    <td>
                        {{ html.link(
                            hulpvraag.hulpaanbod.izVrijwilliger.vrijwilliger|naam_voor_achter,
                            path('iz_vrijwilligers_view', {id: hulpvraag.hulpaanbod.izVrijwilliger.id})
                        ) }}
                    </td>
                    <td>{{ hulpvraag.koppelingStartdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.koppelingEinddatum ? hulpvraag.koppelingEinddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.medewerker }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_koppelingen_view', {id: hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                        {{ html.link('Afsluiten', path('iz_koppelingen_close', {id: hulpvraag.id}), 'close') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3><small>Afgesloten hulpvragen</small></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Startdatum hulpvraag</th>
                <th>Einddatum hulpvraag</th>
                <th>Coördinator</th>
                <th>Reden afsluiting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraag in klant.afgeslotenHulpvragen %}
                <tr data-href="{{ path('iz_hulpvragen_view', {id: hulpvraag.id}) }}">
                    <td>{{ hulpvraag.project }}</td>
                    <td>{{ hulpvraag.startdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.einddatum ? hulpvraag.einddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.medewerker }}</td>
                    <td>{{ hulpvraag.eindeVraagAanbod }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_hulpvragen_view', {id: hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3><small>Afgesloten koppelingen</small></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project</th>
                <th>Vrijwilliger</th>
                <th>Startdatum koppeling</th>
                <th>Einddatum koppeling</th>
                <th>Coördinator</th>
                <th>Succesvol</th>
                <th>Reden afsluiting</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraag in klant.afgeslotenKoppelingen %}
                <tr data-href="{{ path('iz_koppelingen_view', {id: hulpvraag.id}) }}">
                    <td>{{ hulpvraag.project }}</td>
                    <td>
                        {{ html.link(
                            hulpvraag.hulpaanbod.izVrijwilliger.vrijwilliger|naam_voor_achter,
                            path('iz_vrijwilligers_view', {id: hulpvraag.hulpaanbod.izVrijwilliger.id})
                        ) }}
                    </td>
                    <td>{{ hulpvraag.koppelingStartdatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.koppelingEinddatum ? hulpvraag.koppelingEinddatum|date('d-m-Y') }}</td>
                    <td>{{ hulpvraag.medewerker }}</td>
                    <td>{{ hulpvraag.koppelingSuccesvol ? 'Ja' : 'Nee' }}</td>
                    <td>{{ hulpvraag.afsluitredenKoppeling }}</td>
                    <td>
                        {{ html.link('Verslagen', path('iz_koppelingen_view', {id: hulpvraag.id, _fragment: 'verslagen'}), 'list') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
