{% extends 'IzBundle::view.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity.izKlant }}</h1>
{% endblock %}

{% block content_left %}
    {% include 'IzBundle:hulpvragen:_detail.html.twig' %}
    {% include '::klant_basis.html.twig' with {klant: entity.izKlant.klant} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#matching">Matching</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
    </ul>
    <div class="tab-content">
        <div id="matching" class="tab-pane active">
            {% if entity.gekoppeld %}
                <h2>Koppeling</h2>
                {{ html.viewLink(path('iz_koppelingen_view', {id: entity.id})) }}
                {{ html.link('Naar koppeling', path('iz_koppelingen_view', {id: entity.id})) }}
            {% elseif entity.gereserveerd %}
                <h2>Reservering</h2>
                <p>
                    {{ html.link('Reservering bewerken', path('iz_reserveringen_edit', {id: entity.huidigeReservering.id}), 'edit') }}
                    {{ html.link('Reservering omzetten in koppeling', path('iz_koppelingen_add', {hulpvraag: entity.huidigeReservering.hulpvraag.id, hulpaanbod: entity.huidigeReservering.hulpaanbod.id}), 'paperclip') }}
                </p>
                <p>
                    Deze hulpvraag is
                    <strong>
                        van {{ entity.huidigeReservering.startdatum|date('d-m-Y') }}
                        tot {{ entity.huidigeReservering.einddatum|date('d-m-Y') }}
                    </strong>
                    gereserveerd voor hulpaanbod
                    <strong>
                        {{ html.link(entity.huidigeReservering.hulpvraag, path('iz_hulpvragen_view', {id: entity.huidigeReservering.hulpvraag.id})) }}
                    </strong>.
                </p>
            {% elseif not entity.afgesloten and kandidaten is defined %}
                <h2>Kandidaat hulpaanbiedingen</h2>
                {% if 0 == kandidaten|length %}
                    <p>Geen kandidaten gevonden.</p>
                {% else %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Startdatum hulpaanbod', 'hulpaanbod.startdatum') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Geslacht', 'geslacht.volledig') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Geboortedatum', 'vrijwilliger.geboortedatum') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Stadsdeel', 'stadsdeel.naam') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Roker', 'vrijwilliger.roker') }}
                                </th>
                                <th>
                                    {{ knp_pagination_sortable(kandidaten, 'Dierenbezitter', 'vrijwilliger.dierenbezitter') }}
                                </th>
                                <th>Matchingsinformatie</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hulpaanbod in kandidaten %}
                                <tr data-href="{{ path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id}) }}">
                                    <td>{{ hulpaanbod.startdatum|date('d-m-Y') }}</td>
                                    <td>{{ hulpaanbod.izVrijwilliger }}</td>
                                    <td>
                                        {{ hulpaanbod.izVrijwilliger.vrijwilliger.geslacht }}<br>
                                    </td>
                                    <td>
                                        {{ hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum ? hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum|date('d-m-Y') }}
                                    </td>
                                    <td>{{ hulpaanbod.izVrijwilliger.vrijwilliger.werkgebied }}</td>
                                    <td>{{ hulpaanbod.izVrijwilliger.vrijwilliger.roker ? 'Ja' : 'Nee' }}</td>
                                    <td>{{ hulpaanbod.izVrijwilliger.vrijwilliger.dierenbezitter ? 'Ja' : 'Nee' }}</td>
                                    <td>{{ hulpaanbod.info }}</td>
                                    <td>
                                        {{ html.link('Reserveren', path('iz_reserveringen_add', {hulpvraag: entity.id, hulpaanbod: hulpaanbod.id}), 'tag') }}
                                        {{ html.link('Koppelen', path('iz_koppelingen_add', {hulpvraag: entity.id, hulpaanbod: hulpaanbod.id}), 'paperclip') }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(kandidaten) }}
                {% endif %}
            {% endif %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include 'IzBundle:verslagen:_list.html.twig' with {hulpvraag: entity} %}
        </div>
    </div>
{% endblock %}
