{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <table class="table table-hover">
        {{ form_start(filter) }}
            <tr>
                <th colspan="6">
                </th>
                <th colspan="2">
                    <span class="pull-right">
                        {{ form_widget(filter.actief) }}
                        {{ form_errors(filter.actief) }}
                    </span>
                </th>
                <th colspan="3">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>

            </tr>
            <tr>
                <th>
                    {{ form_widget(filter.startdatum.start) }}
                    {{ form_errors(filter.startdatum.start) }}
                    {{ form_widget(filter.startdatum.end) }}
                    {{ form_errors(filter.startdatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.naam) }}
                    {{ form_errors(filter.appKlant.naam) }}
                </th>

                <th>
                    {{ form_widget(filter.project) }}
                    {{ form_errors(filter.project) }}
                </th>
                <th>
                    {{ form_widget(filter.appKlant.plaats) }}
                    {{ form_errors(filter.appKlant.plaats) }}
                </th>
                <th>
                    {{ form_widget(filter.huurprijs.low) }}
                    {{ form_errors(filter.huurprijs.low) }}
                    {{ form_widget(filter.huurprijs.high) }}
                    {{ form_errors(filter.huurprijs.high) }}
                </th>
                <th>
                    {{ form_widget(filter.datumToestemmingAangevraagd.start) }}
                    {{ form_errors(filter.datumToestemmingAangevraagd.start) }}
                    {{ form_widget(filter.datumToestemmingAangevraagd.end) }}
                    {{ form_errors(filter.datumToestemmingAangevraagd.end) }}
                </th>
                <th>
                    {{ form_widget(filter.datumToestemmingToegekend.start) }}
                    {{ form_errors(filter.datumToestemmingToegekend.start) }}
                    {{ form_widget(filter.datumToestemmingToegekend.end) }}
                    {{ form_errors(filter.datumToestemmingToegekend.end) }}
                </th>
                <th>
                    {{ form_widget(filter.medewerker) }}
                    {{ form_errors(filter.medewerker) }}
                </th>
                <th>
                    {{ form_widget(filter.huurovereenkomst.isReservering) }}
                    {{ form_errors(filter.huurovereenkomst.isReservering) }}
                </th>

                <th colspan="3">

                </th>


            </tr>
        {{ form_end(filter) }}
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, 'Startdatum', 'huuraanbod.startdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Verhuurder', 'appKlant.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Project(en)', 'project.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Plaats', 'appKlant.plaats') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Huurprijs', 'huuraanbod.huurprijs') }}
            </th>
            <th>{{ knp_pagination_sortable(pagination, 'Aanvraag Woco', 'huuraanbod.datumToestemmingAangevraagd') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Toestemming Woco', 'huuraanbod.datumToestemmingToegekend') }}</th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Reservering', 'huurovereenkomst.isReservering') }}
            </th>
            <th>Samenvatting</th>
            <th>
            </th>

        </tr>
        {% for huuraanbod in pagination %}
            {% set cssClass = "" %}
            {% set class= "" %}

            {% if huuraanbod.datumToestemmingToegekend is not empty and huuraanbod.medewerker is empty%} {#  and date(huuraanbod.datumToestemmingToegekend) < date() %}#}
                {% set cssClass = "success" %}
            {% endif %}

            {% if huuraanbod.huurovereenkomst is not null and huuraanbod.huurovereenkomst.isReservering == true %}
                {% set class = "danger" %}
            {% endif %}
            <tr class="{{ cssClass }} {{ class }}" data-href="{{ path('tw_huuraanbiedingen_view', {id: huuraanbod.id}) }}">

                <td>
                    {{ huuraanbod.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huuraanbod.verhuurder.appKlant.naam }}
                </td>
                <td>
                    {{ huuraanbod.project}}
                </td>
                <td>
                    {{ huuraanbod.verhuurder.appKlant.plaats }}
                </td>
                <td>
                    {{ huuraanbod.huurprijs|money }}
                </td>
                <td>
                    {{ huuraanbod.datumToestemmingAangevraagd|if_date("d-m-Y") }}
                </td>
                <td>
                    {{ huuraanbod.datumToestemmingToegekend|if_date("d-m-Y") }}
                </td>
                <td>
                    {{ huuraanbod.medewerker }}
                </td>
                <td>
                    {{ huuraanbod.huurovereenkomst ? huuraanbod.huurovereenkomst.isReservering|ja_nee : "Nee" }}
                </td>
                <td>
                    {% if huuraanbod.verhuurder.samenvatting|length > 24 %}
                        <a href="#" data-toggle="tooltip" title="{{ huuraanbod.verhuurder.samenvatting }}">{{ huuraanbod.verhuurder.samenvatting|slice(0, 25)|split(' ')|slice(0, -1)|join(' ') ~ '…' }}</a>
                    {% else %}
                        {{ huuraanbod.verhuurder.samenvatting }}
                    {% endif %}
                </td>
                <td>
                    {{ html.editLink(path('tw_huuraanbiedingen_edit', {id: huuraanbod.id})) }}
                    {% if huuraanbod.deletable %}
                        {{ html.deleteLink(path('tw_huuraanbiedingen_delete', {id: huuraanbod.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
