{% import 'html.macro.twig' as html %}
{% if entity is not null and entity.id is not empty  %}
    <h2>Locatiekeuze / toegang</h2>
    {#{% if is_granted('edit', entity) and is_granted('owner', entity) %}#}

    {{ html.link('Wijzigen', path('inloop_intakes_edittoegang', {id: entity.id,access:true}), 'edit') }}

    <dl class="dl-horizontal" data-verblijfsstatus-id="{{ verblijfsstatusId }}">
        <dt>Intakelocatie</dt>
        <dd>{{ entity.intakelocatie }}</dd>
        <dt>Toegang inloophuis</dt>
        <dd>{{ entity.toegangInloophuis ? 'Ja' : 'Nee' }}</dd>
        <dt>Toegang specifieke locaties</dt>
        <dd>{{ entity.specifiekeLocaties|implode }}</dd>
        <dt>Startdatum toegang overigen</dt>
        <dd>{{ entity.overigenToegangVan|if_date('d-m-Y') }}</dd>
        <dt>Toegang gebruikersruimte</dt>
        <dd>{{ entity.gebruikersruimte }}</dd>
        <dt>Beschikking wachtlijstbegeleiding?</dt>
        <dd>{{ entity.beschikkingWachtlijstbegeleiding ? 'Ja' : 'Nee' }}</dd>
    </dl>
{% endif %}