{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Onder de Pannen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('odp_huurders_add')) }}
        {{ html.link('Huurder toevoegen', path('odp_huurders_add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="10">
                    </th>
                    <th>
                        {{ form_widget(filter.actief) }}
                    </th>
                    <th>
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.wpi) }}
                        {{ form_errors(filter.wpi) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.stadsdeel) }}
                        {{ form_errors(filter.klant.stadsdeel) }}
                    </th>
                    <th>
                        {{ form_widget(filter.automatischeIncasso) }}
                        {{ form_errors(filter.automatischeIncasso) }}
                    </th>
                    <th>
                        {{ form_widget(filter.inschrijvingWoningnet) }}
                        {{ form_errors(filter.inschrijvingWoningnet) }}
                    </th>
                    <th>
                        {{ form_widget(filter.waPolis) }}
                        {{ form_errors(filter.waPolis) }}
                    </th>
                    <th>
                        {{ form_widget(filter.medewerker) }}
                        {{ form_errors(filter.medewerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.aanmelddatum.start) }}
                        {{ form_errors(filter.aanmelddatum.start) }}
                        {{ form_widget(filter.aanmelddatum.end) }}
                        {{ form_errors(filter.aanmelddatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.afsluitdatum.start) }}
                        {{ form_errors(filter.afsluitdatum.start) }}
                        {{ form_widget(filter.afsluitdatum.end) }}
                        {{ form_errors(filter.afsluitdatum.end) }}
                    </th>
                    <th>
                    </th>
                    <th>
                        {{ form_widget(filter.ambulantOndersteuner) }}
                        {{ form_errors(filter.ambulantOndersteuner) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Huurder', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'WPI', 'huurder.wpi') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Automatische incasso', 'huurder.automatischeIncasso') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Inschrijving Woningnet', 'huurder.inschrijvingWoningnet') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'WA-polis', 'huurder.waPolis') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'huurder.aanmelddatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Afsluitdatum dossier', 'huurder.afsluitdatum') }}
                </th>
                <th></th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Ambulant ondersteuner', 'ambulantOndersteuner.achternaam') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for huurder in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: huurder.id}) }}">
                    <td>
                        {{ huurder.klant.id }}
                    </td>
                    <td>
                        {{ huurder.klant }}
                    </td>
                    <td>
                        {{ huurder.wpi ? 'Ja' : 'Nee' }}
                    </td>
                    <td>
                        {{ huurder.klant.werkgebied }}
                    </td>
                    <td>
                        {{ huurder.automatischeIncasso ? 'Ja' : 'Nee' }}
                    </td>
                    <td>
                        {{ huurder.inschrijvingWoningnet ? 'Ja' : 'Nee' }}
                    </td>
                    <td>
                        {{ huurder.waPolis ? 'Ja' : 'Nee' }}
                    </td>
                    <td>
                        {{ huurder.medewerker.naam }}
                    </td>
                    <td>
                        {{ huurder.aanmelddatum ? huurder.aanmelddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ huurder.afsluitdatum ? huurder.afsluitdatum|date('d-m-Y') }}
                        {{ huurder.afsluiting ? '('~huurder.afsluiting~')' }}
                    </td>
                    <td>
                        {{ html.editLink(path('odp_huurders_edit', {id: huurder.id})) }}
                        {% if huurder.deletable %}
                            {{ html.deleteLink(path('odp_huurders_delete', {id: huurder.id})) }}
                        {% endif %}
                    </td>

                    <td>
                        {{ huurder.ambulantOndersteuner ? huurder.ambulantOndersteuner.naam : '' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
