{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        {{ form_start(filter) }}
            <tr>
                <th colspan="6">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>
            </tr>
            <tr>
                <th>
                    {{ form_widget(filter.klant.id) }}
                    {{ form_errors(filter.klant.id) }}
                </th>
                <th>
                    {{ form_widget(filter.klant.naam) }}
                    {{ form_errors(filter.klant.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.klant.stadsdeel) }}
                    {{ form_errors(filter.klant.stadsdeel) }}
                </th>
                <th>
                    {{ form_widget(filter.groep) }}
                    {{ form_errors(filter.groep) }}
                </th>
                <th>
                    {{ form_widget(filter.aanmelddatum.start) }}
                    {{ form_errors(filter.aanmelddatum.start) }}
                    {{ form_widget(filter.aanmelddatum.end) }}
                    {{ form_errors(filter.aanmelddatum.end) }}
                </th>
            </tr>
        {{ form_end(filter) }}
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Groep(en)', 'groep.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'aanmelding.datum') }}
            </th>
        </tr>
        {% for deelnemer in pagination %}
            <tr data-href="{{ path('oek_deelnemers_view', {id: deelnemer.id}) }}">
                <td>
                    {{ deelnemer.klant.id }}
                </td>
                <td>
                    {{ deelnemer.klant }}
                </td>
                <td>
                    {{ deelnemer.klant.werkgebied }}
                </td>
                <td>
                    <ul>
                        {% for groep in deelnemer.groepen %}
                            <li>{{ groep.naam }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ deelnemer.aanmelding ? deelnemer.aanmelding.datum|date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
