{% include 'elements/iz_subnavigation.twig' %}

<h2>Koppelingen</h2>
<table class="table index filtered">
    <tr>
        {{ form_start(form) }}
            <th>
                {{ form_row(form.klant.voornaam) }}
                {{ form_row(form.klant.achternaam) }}
            </th>
            <th>
                {{ form_row(form.vrijwilliger.voornaam) }}
                {{ form_row(form.vrijwilliger.achternaam) }}
            </th>
            <th>
                {{ form_row(form.koppelingStartdatum) }}
            </th>
            <th>
                {{ form_row(form.koppelingEinddatum) }}
                {{ form_row(form.lopendeKoppelingen) }}
            </th>
            <th>
                {{ form_row(form.izProject) }}
            </th>
            <th>
                {{ form_row(form.izHulpvraagMedewerker) }}
            </th>
            <th>
                {{ form_row(form.izHulpaanbodMedewerker) }}
            </th>
            <th>
                {{ form_row(form.klant.stadsdeel) }}
                {{ form_row(form.filter) }}
                {{ form_row(form.download) }}
            </th>
        {{ form_end(form) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Startdatum koppeling', 'izHulpvraag.koppelingStartdatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Einddatum koppeling', 'izHulpvraag.koppelingEinddatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Project', 'izProject.naam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Medewerker hulpvraag', 'medewerker.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Medewerker hulpaanbod', 'medewerker.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Werkgebied', 'klant.werkgebied') }}
        </th>
    </tr>
    {% for i, izHulpvraag in pagination %}
        {% set url = html.url({
            'controller': 'iz_deelnemers',
            'action': 'koppelingen',
            0: izHulpvraag.izKlant.id
        }) %}
        <tr onMouseOver="this.style.cursor='pointer'" onClick="location.href='{{ url }}';">
            <td>
                {{ izHulpvraag.izKlant.klant.naam }}
            </td>
            <td>
                {{ izHulpvraag.izHulpaanbod.izVrijwilliger.vrijwilliger.naam }}
            </td>
            <td>
                {{ izHulpvraag.koppelingStartdatum is empty ? "" : izHulpvraag.koppelingStartdatum|date('d-m-Y') }}
            </td>
            <td>
                {{ izHulpvraag.koppelingEinddatum is empty ? "" : izHulpvraag.koppelingEinddatum|date('d-m-Y') }}
            </td>
            <td>
                {{ izHulpvraag.izProject }}
            </td>
            <td>
                {{ izHulpvraag.medewerker }}
            </td>
            <td>
                {{ izHulpvraag.izHulpaanbod.medewerker }}
            </td>
            <td>
                {{ izHulpvraag.izKlant.klant.werkgebied }}
            </td>
        </tr>
    {% endfor %}
</table>
<p>
    {{ knp_pagination_render(pagination) }}
</p>
