{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('dagbesteding_trajectbegeleiders_add')) }}
        {{ html.link('Trajectbegeleider toevoegen', path('dagbesteding_trajectbegeleiders_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'trajectbegeleider.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'trajectbegeleider.displayName') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'trajectbegeleider.actief') }}
            </th>
            <th>
            </th>
        </tr>
        {% for trajectbegeleider in pagination %}
            <tr>
                <td>
                    {{ trajectbegeleider.id }}
                </td>
                <td>
                    {{ trajectbegeleider }}
                </td>
                <td>
                    {{ trajectbegeleider.actief ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ html.editLink(path('dagbesteding_trajectbegeleiders_edit', {'id': trajectbegeleider.id})) }}
                    {{ html.deleteLink(path('dagbesteding_trajectbegeleiders_delete', {'id': trajectbegeleider.id})) }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
