{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} inactief maken</h1>
    <p>
        Weet u zeker dat u {{ entity_name }} <strong>{{ entity }}</strong> inactief wilt maken?<br>
        {{ form(form) }}
    </p>
{% endblock %}
