{% include('hs_subnavigation.twig') %}
{{ this.element('hs_subnavigation') }}

<h1>Activiteit verwijderen</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    Weet u zeker dat u activiteit {{ activiteit.naam }} wilt verwijderen?<br>
    {{ html.link('Nee, terug', {'action': 'index'})|raw }}
    <button type="submit">Ja, verwijderen</button>
{{ form_end(form) }}
