{% include 'hs_subnavigation.twig' %}

<h1>Vrijwilligers</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('Vrijwilliger toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.id) }}
            {{ form_errors(filter.id) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.naam) }}
            {{ form_errors(filter.vrijwilliger.naam) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.stadsdeel) }}
            {{ form_errors(filter.vrijwilliger.stadsdeel) }}
        </th>
        <th>
        </th>
        <th>
            <button type="submit">Filteren</button>
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'hsVrijwilliger.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'vrijwilliger.werkgebied') }}
        </th>
        <th>Dragende vrijwilliger</th>
        <th>
        </th>
    </tr>
    {% for hsVrijwilliger in pagination %}
        <tr>
            <td>
                {{ html.link(hsVrijwilliger.id, {'action': 'view', 0: hsVrijwilliger.id})|raw }}
            </td>
            <td>
                {{ html.link(hsVrijwilliger.vrijwilliger.naam, {'action': 'view', 0: hsVrijwilliger.id})|raw }}
            </td>
            <td>
                {{ hsVrijwilliger.vrijwilliger.werkgebied }}
            </td>
            <td>
                {{ hsVrijwilliger.dragend ? 'ja' : 'nee' }}
            </td>
            <td>
                {{ html.viewLink({'action': 'view', 0: hsVrijwilliger.id})|raw }}
                {{ html.editLink({'action': 'edit', 0: hsVrijwilliger.id})|raw }}
                {% if hsVrijwilliger.deletable %}
                    {{ html.deleteLink( {'action': 'delete', 0: hsVrijwilliger.id})|raw }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
