{% include 'hs_subnavigation.twig' %}

<h1>
    Vrijwilliger: {{ hsVrijwilliger }}
    {{ html.editLink({'action': 'edit', 0: hsVrijwilliger.id})|raw }}
    {% if hsVrijwilliger.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: hsVrijwilliger.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>Vrijwilligernr</dt>
    <dd>{{ hsVrijwilliger.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ hsVrijwilliger }}</dd>
    <dt>Klussen</dt>
    <dd>
        <ul>
            {% for hsKlus in hsVrijwilliger.hsKlussen %}
                <li>
                    {{ html.link(hsKlus, {'controller': 'hs_klussen', 'action': 'view', 0: hsKlus.id})|raw }}
                    <table>
                        <tr>
                            <th>Datum</th>
                            <th>Start</th>
                            <th>Eind</th>
                            <th>Dagdelen</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for hsRegistratie in hsVrijwilliger.registraties(hsKlus) %}
                            <tr>
                                <td>{{ hsRegistratie.datum|date('d-m-Y') }}</td>
                                <td>{{ hsRegistratie.start|date('H:i') }}</td>
                                <td>{{ hsRegistratie.eind|date('H:i') }}</td>
                                <td>{{ hsRegistratie.dagdelen }}</td>
                                <td>
                                    {{ html.link('Uren bewerken', {'controller': 'hs_registraties', 'action': 'edit', 0: hsRegistratie.id})|raw }}
                                    {{ html.link('Uren verwijderen', {'controller': 'hs_registraties', 'action': 'edit', 0: hsRegistratie.id})|raw }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5">
                                {{ html.link('Uren toevoegen', {'controller': 'hs_registraties', 'action': 'add', 0: hsVrijwilliger.id, 1: hsVrijwilliger.id})|raw }}
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        </ul>
    </dd>
    <dt>
        Memo's
        {{ html.addLink({'action': 'memos_add', 0: hsVrijwilliger.id})|raw }}
    </dt>
    <dd>
        {% if hsVrijwilliger.memos is empty %}
            -
        {% else %}
            {{ hsVrijwilliger.memos|length }} {{ hsVrijwilliger.memos|length == 1 ? 'memo' : 'memo\'s' }}
            {{ html.viewLink({'action': 'memos_index', 0: hsVrijwilliger.id})|raw }}
        {% endif %}
    </dd>
</dl>
