<ul class="nav nav-tabs">
    <li class="{{ current == 'intake' ? 'active' }}"><a href="{{ path('ga_klantintakes_view', {id: intake.id}) }}">Intake</a></li>
    <li class="{{ current == 'verslagen' ? 'active' }}"><a href="{{ path('ga_klanten_viewverslagen', {id: klant.id}) }}">Verslagen</a></li>
    <li class="{{ current == 'groepen' ? 'active' }}"><a href="{{ path('ga_klanten_viewgroepen', {id: klant.id}) }}">Groepen</a></li>
    <li class="{{ current == 'activiteiten' ? 'active' }}"><a href="{{ path('ga_klanten_viewactiviteiten', {id: klant.id}) }}">Activiteiten</a></li>
    <li class="{{ current == 'afsluiting' ? 'active' }}"><a href="{{ path('ga_klanten_viewafsluiting', {id: klant.id}) }}">Afsluiting</a></li>
</ul>
