{% include 'hs_subnavigation.twig' %}

<h1>
    Activiteit {{ hsActiviteit.naam }}
    {{ html.editLink({'action': 'edit', 0: hsActiviteit.id})|raw }}
    {% if hsActiviteit.deletable %}
        {{ html.deleteLink({'action': 'delete', 0: hsActiviteit.id})|raw }}
    {% endif %}
</h1>

<dl>
    <dt>Activiteitnr</dt>
    <dd>{{ hsActiviteit.id }}</dd>
    <dt>Naam</dt>
    <dd>{{ hsActiviteit.naam }}</dd>
    <dt>Klussen</dt>
    <dd>
        {% if hsActiviteit.hsKlussen is empty %}
            -
        {% else %}
            <ul>
                {% for hsKlus in hsActiviteit.hsKlussen %}
                    <li>{{ hsKlus }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
</dl>
