{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include 'AppBundle::subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ html.link('Verwijderen', path(route_base~'delete', {id: entity.id}), 'delete') }}
        {% endif %}
    </p>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>Persoonsgegevens</h2>
                <dl class="dl-horizontal">
                    <dt>Naam</dt>
                    <dd>{{ entity }}</dd>
                    <dt>Geslacht</dt>
                    <dd>{{ entity.geslacht.volledig }}</dd>
                    <dt>Geboortedatum</dt>
                    <dd>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</dd>
                    <dt>Geboorteland</dt>
                    <dd>{{ entity.land }}</dd>
                    <dt>Nationaliteit</dt>
                    <dd>{{ entity.nationaliteit }}</dd>
                    <dt>BSN</dt>
                    <dd>{{ entity.bsn }}</dd>
                </dl>
            </div>
            <div class="col-xs-6">
                <h2>Contactgegevens</h2>
                <dl class="dl-horizontal">
                    <dt>Adres</dt>
                    <dd>
                        {{ entity.adres }}<br>
                        {{ entity.postcode }} {{ entity.plaats }}
                    </dd>
                    <dt>Werkgebied</dt>
                    <dd>{{ entity.werkgebied }}</dd>
                    <dt>Postcodegebied</dt>
                    <dd>{{ entity.postcodegebied }}</dd>
                    <dt>Mobiel</dt>
                    <dd>{{ entity.mobiel }}</dd>
                    <dt>Telefoon</dt>
                    <dd>{{ entity.telefoon }}</dd>
                    <dt>E-mail</dt>
                    <dd>{{ entity.email }}</dd>
                    <dt>Postvoorkeur</dt>
                    <dd>{{ entity.geenPost|postvoorkeur }}</dd>
                    <dt>E-mailvoorkeur</dt>
                    <dd>{{ entity.geenEmail|emailvoorkeur }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2>Opmerking</h2>
                <dl class="dl-horizontal">
                    <dt>Opmerking</dt>
                    <dd>{{ entity.opmerking|nl2br }}</dd>
                </dl>
            </div>
            <div class="col-xs-6">
                <h2>Medewerker</h2>
                <dl class="dl-horizontal">
                    <dt>Medewerker</dt>
                    <dd>{{ entity.medewerker }}</dd>
                </dl>
            </div>
            <div class="col-xs-6">
                <h2>Documenten</h2>
                <dl class="dl-horizontal">
                    <dt>Geinformeerd opslaan gegevens?</dt>
                    <dd>{{ entity.geinformeerdOpslaanGegevens ? 'Ja' : 'Nee' }}</dd>
                    <dt>VOG aangevraagd</dt>
                    <dd>{{ entity.vogAangevraagd ? 'Ja' : 'Nee' }}</dd>
                    <dt>VOG</dt>
                    <dd>
                        {% if entity.vogAanwezig %}
                            {% if entity.vog %}
                                {{ html.link('VOG downloaden', vich_uploader_asset(entity.vog, 'file'), 'download') }}
                                {% if entity.vog.medewerker.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    {{ html.link('', path('app_vrijwilligers_deletedocument', {vrijwilliger: entity.id, documentId: entity.vog.id}), 'delete') }}
                                {% endif %}
                            {% else %}
                                Aanwezig
                            {% endif %}
                        {% else %}
                            {{ html.link('VOG toevoegen', path('app_documenten_add', {vrijwilliger: entity.id, type: 'vog'}), 'add') }}
                        {% endif %}
                    </dd>
                    <dt>Overeenkomst</dt>
                    <dd>
                        {% if entity.overeenkomstAanwezig %}
                            {% if entity.overeenkomst %}
                                {{ html.link('Overeenkomst downloaden', vich_uploader_asset(entity.overeenkomst, 'file'), 'download') }}
                                {% if entity.overeenkomst.medewerker.id == app.user.id or is_granted('ROLE_ADMIN') %}
                                    {{ html.link('', path('app_vrijwilligers_deletedocument', {vrijwilliger: entity.id, documentId: entity.overeenkomst.id}), 'delete') }}
                                {% endif %}
                            {% else %}
                                Aanwezig
                            {% endif %}
                        {% else %}
                            {{ html.link('Overeenkomst toevoegen', path('app_documenten_add', {vrijwilliger: entity.id, type: 'overeenkomst'}), 'add') }}
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
