{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('uhk_index') }}">Uhk</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Deelnemers', path('uhk_deelnemers_index'), isActiveRoute('uhk_deelnemers_')) }}
    {% if is_granted('ROLE_UHK_BEHEER') %}
        <li role="presentation" class="dropdown {{ isActivePath('uhk/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Projecten', path('uhk_projecten_index'), isActiveRoute('uhk_projecten_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
