{% import '::html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('oekraine_index') }}">Oekraine</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Bezoekersregistratie', path('oekraine_registraties_locationselect'), isActiveRoute('oekraine_registraties_')) }}
    {% if is_granted('ROLE_INLOOP_KLANTEN') %}
        {{ html.navLink('Bezoekers', path('oekraine_bezoekers_index'), isActiveRoute('oekraine_bezoekers_')) }}
    {% endif %}

    {% if is_granted('ROLE_INLOOP_INTAKES') %}
        {{ html.navLink('Intakes', path('oekraine_intakes_index'), isActiveRoute('oekraine_intakes_')) }}
    {% endif %}

    {% if is_granted('ROLE_INLOOP_REPORTS') %}
{#        {{ html.navLink('Rapportage', path('oekraine_rapportages_index'), isActiveRoute('oekraine_rapportages_')) }}#}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_BEHEER') %}
        <li role="presentation" class="dropdown {{ isActivePath('inloop/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Locaties', path('oekraine_locaties_index'), isActiveRoute('oekraine_locaties_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
