{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}
{% import _self as macro %}

{% block title %}
    Maatschappelijk werk | Rapportages
{% endblock %}

{% block subnavigation %}
    {% include '@Mw/subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>Rapportages</h1>
    {{ form(form) }}
{% endblock %}

{% block content_right %}
    <h2>{{ title ? 'Rapport "'~title~'"' }}</h2>
    {% if reports is defined %}
        {{ include('@App/rapportages/_pivot_tables.html.twig') }}
    {% endif %}
{#
    <div><div>
    {% set rendered = [] %}
    {% set indent = 50 %}
    {% for leaf in leafs %}
        {% for i, node in leaf.path|filter(node => node.id not in rendered) %}
            {% if leaf.path.0 == node %}
                </div></div>
                <div class="col-md-6"><div class="well well-lg">
                <h2>{{ node.titel }}</h2>
            {% elseif node == leaf.0 %}
                <div style="margin-left: {{ indent*(node.depth-1) }}px;">
                    {{ leaf.0.titel }}:
                    <strong>{{ leaf.aantal_verslagen }}</strong>
                </div>
            {% else %}
                <div style="margin-left: {{ indent*(node.depth-1) }}px;">
                    {{ node.titel }}
                </div>
            {% endif %}
            {% set rendered = rendered|merge([node.id]) %}
        {% endfor %}
    {% endfor %}
    </div></div>
#}
{% endblock %}
