{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Inloophuizen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Inloop/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    {% if not entity.actief %}
        <div class="alert alert-danger">Dossier is afgesloten</div>
    {% endif %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.link(entity_name|capitalize~' wijzigen', path('inloop_vrijwilligers_edit', {id: entity.id}), 'edit') }}
        {% if entity.deletable %}
            {{ html.link(entity_name|capitalize~' verwijderen', path('inloop_vrijwilligers_delete', {id: entity.id}), 'delete') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.vrijwilliger.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
    </dl>
    {% include '::vrijwilliger_basis.html.twig' with {vrijwilliger: entity.vrijwilliger} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#aanmelding">Aanmelding</a></li>
        <li><a data-toggle="tab" href="#memos">Memo's</a></li>
        <li><a data-toggle="tab" href="#trainingen">Trainingen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
        <li><a data-toggle="tab" href="#afsluiting">Afsluiting</a></li>
    </ul>
    <div class="tab-content">
        <div id="aanmelding" class="tab-pane active">
            <h2>Eerste fase</h2>
            {{ html.link(entity_name|capitalize~' wijzigen', path('inloop_vrijwilligers_edit', {id: entity.id}), 'edit') }}
            <dl class="dl-horizontal">
                <dt>Aanmelddatum</dt><dd>{{ entity.aanmelddatum|if_date('d-m-Y') }}</dd>
                <dt>Binnen via</dt><dd>{{ entity.binnenVia }}</dd>
                <dt>Medewerker intake</dt><dd>{{ entity.medewerker }}</dd>
{#                <dt>Locatie</dt><dd>{{ entity.locatie }}</dd>#}
                <dt>Locaties:</dt>
                <dd>
                {% for l in entity.locaties %}
                    <li>{{ l.naam }}</li>
                {% endfor %}
                </dd>
                <dt>Stagiair?</dt><dd>{{ entity.stagiair|ja_nee }}</dd>
                <dt>Notitie datum</dt><dd>{{ entity.datumNotitieIntake|if_date('d-m-Y') }}</dd>
                <dt>Notitie</dt><dd>{{ entity.notitieIntake|nl2br }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <h2>Tweede fase</h2>
                <dt>Startdatum na proeftijd</dt><dd>{{ entity.startdatum|if_date('d-m-Y') }}</dd>
                <dt>Medewerker locatie</dt><dd>{{ entity.medewerkerLocatie }}</dd>
            </dl>
        </div>

        <div id="memos" class="tab-pane">
            {% include '@Inloop/memos/_list.html.twig' with {vrijwilliger: entity} %}
        </div>
        <div id="trainingen" class="tab-pane ">
            {% include '@Inloop/deelnames/_list.html.twig' with {vrijwilliger: entity} %}
        </div>

        <div id="documenten" class="tab-pane">
            {% include '@Inloop/documenten/_list.html.twig' with {vrijwilliger: entity} %}
        </div>
        <div id="afsluiting" class="tab-pane">
            <div id="aanmelding" class="tab-pane active">

                <h2>Afsluiting</h2>
                {% if entity.actief == false %}
                    {{ html.link(entity_name|capitalize~' heropenen', path('inloop_vrijwilligers_open', {id: entity.id}), 'open') }}
                {% endif %}
                {% if entity.actief %}
                    {{ html.link(entity_name|capitalize~' afsluiten', path('inloop_vrijwilligers_close', {id: entity.id}), 'close') }}
                {% endif %}
                <dl class="dl-horizontal">
                    <dt>Reden afsluiting</dt><dd>{{ entity.afsluitreden }}</dd>
                    <dt>Datum afsluiting</dt><dd>{{ entity.afsluitdatum|if_date('d-m-Y') }}</dd>
{#                    <dt>Medewerker</dt><dd>{{ entity.medewerker }}</dd>#}

                </dl>
            </div>
        </div>
    </div>
{% endblock %}
