{% extends 'GaBundle:klantdossiers:view.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block tabs %}
    {% include 'GaBundle:klantdossiers:_tabs.html.twig' with {current: 'groepen'} %}
{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div id="groepen" class="tab-pane active">
            <h2>Groepen</h2>
            {% if not entity.afgesloten %}
                {{ html.link('Groep toevoegen', path('ga_lidmaatschappen_add', {dossier: entity.id}), 'add') }}
            {% endif %}
            <h3>Actief</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Groep</th>
                        <th>Startdatum</th>
                        <th>Contact</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for lidmaatschap in entity.lidmaatschappen if not lidmaatschap.einddatum %}
                        <tr>
                            <td>{{ html.link(lidmaatschap.groep, path('ga_groepen_view', {id: lidmaatschap.groep.id})) }}</td>
                            <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                            <td>
                                <ul>
                                    {% if lidmaatschap.communicatieEmail %}<li>E-mail</li>{% endif %}
                                    {% if lidmaatschap.communicatiePost %}<li>Post</li>{% endif %}
                                    {% if lidmaatschap.communicatieTelefoon %}<li>Telefoon</li>{% endif %}
                                </ul>
                            </td>
                            <td>
                                {{ html.link('Lidmaatschap wijzigen', path('ga_lidmaatschappen_edit', {id: lidmaatschap.id}), 'edit') }}
                                {{ html.link('Lidmaatschap beëindigen', path('ga_lidmaatschappen_close', {id: lidmaatschap.id}), 'close') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3>Afgesloten</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Groep</th>
                        <th>Startdatum</th>
                        <th>Einddatum</th>
                        <th>Reden</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for lidmaatschap in entity.lidmaatschappen if lidmaatschap.einddatum %}
                        <tr>
                            <td>{{ html.link(lidmaatschap.groep, path('ga_groepen_view', {id: lidmaatschap.groep.id})) }}</td>
                            <td>{{ lidmaatschap.startdatum|date('d-m-Y') }}</td>
                            <td>{{ lidmaatschap.einddatum|date('d-m-Y') }}</td>
                            <td>{{ lidmaatschap.afsluitreden }}</td>
                            <td>
                                {{ html.link('Lidmaatschap activeren', path('ga_lidmaatschappen_reopen', {id: lidmaatschap.id}), 'open') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
