{% extends '@Ga/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    {% include '::klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}

{% block content_right %}
    {% if entity.afgesloten %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten.
            {{ html.link('Heropenen', path(route_base~'open', {id: entity.id}), 'open') }}
        </p>
    {% endif %}
    {% block tabs %}
        {% include '@Ga/klantdossiers/_tabs.html.twig' with {current: 'intake'} %}
    {% endblock %}
    {% block tab_content %}
        <div class="tab-content">
            <div id="intake" class="tab-pane active">
                <h2>Aanmelding</h2>
                {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
                <dl class="dl-horizontal">
                    <dt>Aanmelddatum</dt>
                    <dd>{{ entity.aanmelddatum|date('d-m-Y') }}</dd>
                </dl>
                <h2>Intake</h2>
                {% if entity.intake %}
                    {{ html.link('Wijzigen', path('ga_intakes_edit', {id: entity.intake.id}), 'edit') }}
                    <dl class="dl-horizontal">
                        <dt>Intakedatum</dt>
                        <dd>{{ entity.intake.intakedatum|date('d-m-Y') }}</dd>
                        <dt>Gezin met kinderen</dt>
                        <dd>{{ entity.intake.gezinMetKinderen ? 'Ja' : 'Nee' }}</dd>
                        <dt>Coördinator</dt>
                        <dd>{{ entity.intake.medewerker }}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Gespreksverslag</dt>
                        <dd class="well">{{ entity.intake.gespreksverslag|nl2br }}</dd>
                    </dl>
                    <h3>Ondersteuning</h3>
                    <dl>
                        <dt>Zou je het leuk vinden om iedere week met iemand samen iets te ondernemen?</dt>
                        <dd>{{ entity.intake.ondernemen ? 'Ja' : 'Nee' }}</dd>
                        <dt>Zou je het leuk vinden om overdag iets te doen te hebben?</dt>
                        <dd>{{ entity.intake.overdag ? 'Ja' : 'Nee' }}</dd>
                        <dt>Zou je een plek in de buurt willen hebben waar je iedere dag koffie kan drinken en mensen kan ontmoeten?</dt>
                        <dd>{{ entity.intake.ontmoeten ? 'Ja' : 'Nee' }}</dd>
                        <dt>Heeft u hulp nodig met regelzaken?</dt>
                        <dd>{{ entity.intake.regelzaken ? 'Ja' : 'Nee' }}</dd>
                    </dl>
                {% elseif not entity.afgesloten %}
                    {{ html.link('Intake toevoegen', path('ga_intakes_add', {dossier: entity.id}), 'add') }}
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
