{% extends 'ga/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    {% include 'klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}

{% block content_right %}
    {% include 'ga/klantdossiers/_tabs.html.twig' with {intake: entity, klant: entity.klant, current: 'intake'} %}
    <div class="tab-content">
        <div id="intakes" class="tab-pane active">
            <h2>Intake</h2>
            <p>
                {{ html.link('Bewerken', path('ga_intakes_edit', {id: entity.id}), 'edit') }}
            </p>
            <dl class="dl-horizontal">
                <dt>Intakedatum</dt>
                <dd>{{ entity.intakedatum|date('d-m-Y') }}</dd>
                <dt>Gezin met kinderen</dt>
                <dd>{{ entity.gezinMetKinderen ? 'Ja' : 'Nee' }}</dd>
                <dt>Coördinator</dt>
                <dd>{{ entity.medewerker }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gespreksverslag</dt>
                <dd class="well">{{ entity.gespreksverslag|nl2br }}</dd>
            </dl>
            <h3>Ondersteuning</h3>
            <dl>
                <dt>Zou je het leuk vinden om iedere week met iemand samen iets te ondernemen?</dt>
                <dd>{{ entity.ondernemen ? 'Ja' : 'Nee' }}</dd>
                <dt>Zou je het leuk vinden om overdag iets te doen te hebben?</dt>
                <dd>{{ entity.overdag ? 'Ja' : 'Nee' }}</dd>
                <dt>Zou je een plek in de buurt willen hebben waar je iedere dag koffie kan drinken en mensen kan ontmoeten?</dt>
                <dd>{{ entity.ontmoeten ? 'Ja' : 'Nee' }}</dd>
                <dt>Heeft u hulp nodig met regelzaken?</dt>
                <dd>{{ entity.regelzaken ? 'Ja' : 'Nee' }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
