<h2>Huuraanbiedingen</h2>
<p>
    {% if verhuurder.actief %}
        {{ html.addLink(path('odp_huuraanbiedingen_add', {id: verhuurder.id})) }}
        {{ html.link('Huuraanbod toevoegen', path('odp_huuraanbiedingen_add', {id: verhuurder.id})) }}
    {% endif %}
</p>
<table class="table">
    <tr>
        <th>Stadsdeel</th>
        <th>Startdatum</th>
        <th>Afsluitdatum</th>
        <th></th>
    </tr>
    {% for huuraanbod in verhuurder.huuraanbiedingen %}
        {% if not huuraanbod.huurovereenkomst %}
            <tr>
                <td>{{ huuraanbod.verhuurder.klant.werkgebied }}</td>
                <td>
                    {{ huuraanbod.startdatum ? huuraanbod.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huuraanbod.afsluitdatum ? huuraanbod.afsluitdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewlink(path('odp_huuraanbiedingen_view', {id: huuraanbod.id})) }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
