{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Onder de Pannen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>
        Huuraanbod van {{ huuraanbod.verhuurder.klant }}
    </h1>
    <p>
        {% if huuraanbod.actief %}
            {{ html.editLink(path('odp_huuraanbiedingen_edit', {id: huuraanbod.id})) }}
            {{ html.link('Wijzigen', path('odp_huuraanbiedingen_edit', {id: huuraanbod.id})) }}
            {{ html.closeLink(path('odp_huuraanbiedingen_close', {id: huuraanbod.id})) }}
            {{ html.link('Afsluiten', path('odp_huuraanbiedingen_close', {id: huuraanbod.id})) }}
        {% endif %}
        {% if huuraanbod.deletable %}
            {{ html.deleteLink(path('odp_huuraanbiedingen_delete', {id: huuraanbod.id})) }}
            {{ html.link('Verwijderen', path('odp_huuraanbiedingen_delete', {id: huuraanbod.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ huuraanbod.id }}</dd>
        <dt>Verhuurder</dt>
        <dd>{{ html.link(huuraanbod.verhuurder.klant, path('odp_verhuurders_view', {id: huuraanbod.verhuurder.id})) }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ huuraanbod.startdatum|date('d-m-Y') }}</dd>
        <dt>Vorm van overeenkomst</dt>
        <dd>{{ huuraanbod.vormvanovereenkomst }}</dd>
        <dt>Toestemming aangevraagd</dt>
        <dd>
            {{ huuraanbod.datumToestemmingAangevraagd ? huuraanbod.datumToestemmingAangevraagd|date('d-m-Y') }}
        </dd>
        <dt>Toestemming toegekend</dt>
        <dd>
            {{ huuraanbod.datumToestemmingToegekend ? huuraanbod.datumToestemmingToegekend|date('d-m-Y') }}
        </dd>
        <dt>Afsluitdatum</dt>
        <dd>{{ huuraanbod.afsluitdatum ? huuraanbod.afsluitdatum|date('d-m-Y') }}</dd>
        <dt>Reden afsluiting</dt>
        <dd>{{ huuraanbod.afsluiting }}</dd>
        <dt>Koppeling</dt>
        <dd>
            {% if huuraanbod.huurovereenkomst %}
                {{ html.link(huuraanbod.huurovereenkomst.id, path('odp_huurovereenkomsten_view', {id: huuraanbod.huurovereenkomst.id})) }}
            {% elseif huuraanbod.actief %}
                {{ html.addLink(path('odp_huurovereenkomsten_add', {huuraanbod: huuraanbod.id})) }}
                {{ html.link('Maak koppeling', path('odp_huurovereenkomsten_add', {huuraanbod: huuraanbod.id})) }}
            {% endif %}
        </dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% include 'OdpBundle:verslagen:_list.html.twig' with {huuraanbod: huuraanbod} %}
{% endblock %}
