{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    ODP | Huuraanbiedingen |
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>
        Huuraanbod van {{ huuraanbod.verhuurder.klant }}
        {{ html.editLink(path('odp_huuraanbiedingen_edit', {id: huuraanbod.id})) }}
        {% if huuraanbod.deletable %}
            {{ html.deleteLink(path('odp_huuraanbiedingen_delete', {id: huuraanbod.id})) }}
        {% endif %}
    </h1>

    <dl>
        <dt>#</dt>
        <dd>{{ huuraanbod.id }}</dd>
        <dt>Verhuurder</dt>
        <dd>{{ huuraanbod.verhuurder.klant }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ huuraanbod.startdatum | date('d-m-Y') }}</dd>
        <dt>Einddatum</dt>
        <dd>{{ huuraanbod.einddatum ? huuraanbod.einddatum | date('d-m-Y') : '-' }}</dd>
        <dt>Koppeling</dt>
        <dd>
            {% if huuraanbod.huurovereenkomst %}
                {{ html.link(huuraanbod.huurovereenkomst.id, path('odp_huurovereenkomsten_view', {id: huuraanbod.huurovereenkomst.id})) }}
            {% else %}
                {{ html.addLink(path('odp_huurovereenkomsten_add', {huuraanbod: huuraanbod.id})) }}
                {{ html.link('Maak koppeling', path('odp_huurovereenkomsten_add', {huuraanbod: huuraanbod.id})) }}
            {% endif %}
        </dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% include 'OdpBundle:verslagen:_list.html.twig' with {entity: huuraanbod} %}
{% endblock %}
