{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Verwijzingen Naar
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verwijzingen naar</h1>

    <p>
        {{ html.addLink(path('oek_verwijzingennaar_add')) }}
        {{ html.link('Verwijzing toevoegen', path('oek_verwijzingennaar_add')) }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'Verwijzing.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'Verwijzing.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'Verwijzing.actief') }}
            </th>
            <th></th>
        </tr>
        {% for Verwijzing in pagination %}
            <tr>
                <td>
                    {{ Verwijzing.id }}
                </td>
                <td>
                    {{ Verwijzing.naam }}
                </td>
                <td>
                    {{ Verwijzing.actief ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ html.editLink(path('oek_verwijzingennaar_edit', {id: Verwijzing.id})) }}
                    {% if Verwijzing.deletable %}
                        {{ html.deleteLink(path('oek_verwijzingennaar_delete', {id: Verwijzing.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
    {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
