{% import '::html.macro.twig' as html %}
<h2>Huurverzoeken</h2>
<p>
    {% if klant.actief %}
        {{ html.addLink(path('tw_huurverzoeken_add', {id: klant.id})) }}
        {{ html.link('Huurverzoek toevoegen', path('tw_huurverzoeken_add', {id: klant.id})) }}
    {% endif %}
</p>
<table class="table">
    <tr>
        <th>Project(en)</th>
        <th>Startdatum</th>
        <th>Afsluitdatum</th>
        <th></th>
    </tr>
    {% for huurverzoek in klant.huurverzoeken %}
        {% if not huurverzoek.huurovereenkomst or huurverzoek.huurovereenkomst.isReservering == true%}
            {% set class= "" %}
            {% if huurverzoek.huurovereenkomst is not null and huurverzoek.huurovereenkomst.isReservering == true %}
                {% set class = "danger" %}
            {% endif %}

            <tr class="{{ class }}">
                <td>
                    {{ huurverzoek.projecten|join(", ") }}
                </td>
                <td>
                    {{ huurverzoek.startdatum ? huurverzoek.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huurverzoek.afsluitdatum ? huurverzoek.afsluitdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewlink(path('tw_huurverzoeken_view', {id: huurverzoek.id})) }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
