{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Uit het Krijt | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Uhk/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} wijzigen</h1>
    {{ html.link('Annuleren', path(route_base~'view', {id: entity.id}), 'cancel') }}
    <p>
        Hier kunt u alleen de Uhk-gegevens voor deze {{ entity_name }} wijzigen.
        Klik {{ html.link('hier', path('uhk_deelnemers_view', {id: entity.klant.id })) }}
        om naar het basisdossier van deze {{ entity_name }} te gaan.
    </p>
    {{ form(form) }}
{% endblock %}
