{% import 'html.macro.twig' as html %}

{% if klant.huidigeMwStatus.reden is defined and klant.huidigeMwStatus.reden is not null and klant.huidigeMwStatus.reden.isLand == true %}
    <h3 class="text-warning">Repatriering</h3>
    <div class="row">
        <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>Land repatriering</dt>
            <dd>{{ klant.huidigeMwStatus.land }}</dd>
            <dt>Datum repatriering</dt>
            <dd>{{ klant.huidigeMwStatus.datumRepatriering|if_date('d-m-Y') }}</dd>
            <dt>Kosten repatriering</dt>
            <dd>{{ klant.huidigeMwStatus.kosten|money }}</dd>
            <dt>Zachte landing?</dt>
            <dd>{{ klant.huidigeMwStatus.zachteLanding|ja_nee }}</dd>
        </dl>
        </div>
    </div>
{% endif %}


{% if info %}
   <h3>Algemene dossierinformatie</h3>
    {{ html.link('Wijzigen', path('mw_klanten_infoedit', {klant: klant.id}), 'edit') }}
    <div class="row">
        <div class="col-xs-6">
            <dl  class="dl-horizontal">
                    <dt>Project</dt>
                    <dd>{{ klant.getAanmelding.project }}</dd>
                <dt>RIS</dt>
                <dd>{{ info.risDatumTot|if_date }}</dd>
                <dt>Maatschappelijk werker</dt>
                <dd>{{ klant.maatschappelijkWerker }}</dd>
                <dt>Is gezin?</dt>
                <dd>{{ info.isGezin|ja_nee }}</dd>
            </dl>
        </div>
    </div>
    <h3>Externe hulpverlening</h3>
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Hulpverlener extern</dt>
                <dd>{{ info.trajecthouderExternNaam }}</dd>
                <dt>Organisatie trajecthouder</dt>
                <dd>{{ info.trajecthouderExternOrganisatie }}</dd>
                <dt>E-mail trajecthouder</dt>
                <dd>{{ info.trajecthouderExternEmail }}</dd>
                <dt>Telefoonnummer trajecthouder</dt>
                <dd>{{ info.trajecthouderExternTelefoon }}</dd>
                <dt>Overige externe contactpersonen</dt>
                <dd>{{ info.overigeContactpersonenExtern }}</dd>

            </dl>
        </div>
    </div>
    <h3>Uitkerende instantie</h3>
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Instantie</dt>
                {% if info.instantie %}
                    {% set instantie = constant('MwBundle\\Entity\\Info::INSTANTIES')[info.instantie] %}
                {% else %}
                    {% set instantie = "" %}
                {% endif %}
                <dd>{{ instantie }}</dd>
                <dt>Registratienummer</dt>
                <dd>{{ info.registratienummer }}</dd>
            </dl>
        </div>
    </div>
    <h3>Budgettering</h3>
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Budgettering</dt>
                <dd>{{ info.budgettering }}</dd>

                <dt>Contactpersoon</dt>
                <dd>{{ info.contactpersoon }}</dd>
            </dl>
        </div>
    </div>
    <h3>Klantmanager</h3>
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Klantmanager</dt>
                <dd>{{ info.klantmanagerNaam }}</dd>

                <dt>E-mail klantmanager</dt>
                <dd>{{ info.klantmanagerEmail }}</dd>

                <dt>Telefoonnummer klantmanager</dt>
                <dd>{{ info.klantmanagerTelefoon }}</dd>

                <dt>Sociaal netwerk</dt>
                <dd>{{ info.sociaalNetwerk|nl2br }}</dd>

                <dt>Bankrekening</dt>
                <dd>{{ info.bankrekeningnummer }}</dd>

                <dt>Polisnummer ziektekostenverzekering</dt>
                <dd>{{ info.polisnummerZiektekostenverzekering }}</dd>
            </dl>
        </div>
    </div>
    <h3>Woningnet</h3>
    <div class="row">
        <div class="col-xs-6">
            <dl class="dl-horizontal">
                <dt>Inschrijfnummer woningnet</dt>
                <dd>{{ info.inschrijfnummer }}</dd>

                <dt>Wachtwoord</dt>
                <dd>{{ info.wachtwoord }}</dd>

                <dt>Contact</dt>
                <dd>{{ info.contact|nl2br }}</dd>

                <dt>Adres</dt>
                <dd>{{ info.adres|nl2br }}</dd>

                <dt>Overigen</dt>
                <dd>{{ info.overigen|nl2br }}</dd>
            </dl>
        </div>
    </div>

{% endif %}
