{% extends '::add.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Maatschappelijk werk | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Mw/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
{% endblock %}

{% block content %}
    {% if klanten is defined and filterForm.vars.errors|length == 0 %}
        <p>
            Selecteer de gewenste {{ entity_name }} in onderstaande lijst of klik op
            "Nieuwe {{ entity_name }}" als deze niet in de lijst voorkomt.
        </p>
        <p>
            {{ html.link('Nieuwe '~entity_name, path('mw_klanten_add', {klant: 'new'}), 'plus') }}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>BSN</th>
                    <th>Geboortedatum</th>
                </tr>
            </thead>
            {% for entity in klanten %}
                <tr data-href="{{ path('mw_klanten_add', {klant: entity.id}) }}">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity }}</td>
                    <td>{{ entity.bsn }}</td>
                    <td>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% elseif filterForm is defined %}
        <p>Zoek een bestaande {{ entity_name }} op naam, BSN of geboortedatum.</p>
        {{ form(filterForm) }}
    {% endif %}

    {% if creationForm is defined %}
        {% if entity.id %}
            <div class="col-xs-4">
                {% include '::klant_basis.html.twig' with {klant: entity, module: 'Intake'} %}
            </div>
            <div class="col-xs-8">
                <h2>Aanmelding</h2>
                {{ form(creationForm) }}
            </div>
        {% else %}
            {{ form_start(creationForm) }}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Persoonsgegevens</h2>
                            {{ form_row(creationForm.voornaam) }}
                            {{ form_row(creationForm.tussenvoegsel) }}
                            {{ form_row(creationForm.achternaam) }}
                            {{ form_row(creationForm.roepnaam) }}
                            {{ form_row(creationForm.geslacht) }}
                            {{ form_row(creationForm.geboortedatum) }}
                            {{ form_row(creationForm.land) }}
                            {{ form_row(creationForm.nationaliteit) }}
                            {{ form_row(creationForm.bsn) }}
                            {{ form_row(creationForm.overleden) }}
                        </div>
                        <div class="col-xs-6">
                            <h2>Contactgegevens</h2>
                            {{ form_row(creationForm.adres) }}
                            {{ form_row(creationForm.postcode) }}
                            {{ form_row(creationForm.plaats) }}
                            {{ form_row(creationForm.email) }}
                            {{ form_row(creationForm.telefoon) }}
                            {{ form_row(creationForm.mobiel) }}
                            {{ form_row(creationForm.geenPost) }}
                            {{ form_row(creationForm.geenEmail) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Opmerking</h2>
                            {{ form_row(creationForm.opmerking) }}
                        </div>
                        <div class="col-xs-6">
                            <h2>Medewerker</h2>
                            {{ form_row(creationForm.medewerker) }}
                            <span class="pull-right">
                                {{ form_row(creationForm.submit) }}
                            </span>
                        </div>
                    </div>
                </div>
            {{ form_end(creationForm) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% if amoc_landen is defined %}
        <script>
            $(function() {
                var amoc_landen = [];
                {% for land in amoc_landen %}
                    amoc_landen.push({{ land.id }});
                {% endfor %}

                var checkAmoc = function() {
                    var selected = parseInt($('select#klant_land').val());
                    if (amoc_landen.indexOf(selected) != -1) {
                        console.log($('select#klant_land'));
                        $('select#klant_land').closest('div').append('<p>Personen uit dit land worden doorgestuurd naar AMOC. Op het volgende scherm is een verwijsbrief uit te printen.</p>');
                    }
                };

                $('select#klant_land').on('change', function() {
                    checkAmoc();
                });

                checkAmoc();
            });
        </script>
    {% endif %}
{% endblock %}
