{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path('mw_klanten_add'), 'add') }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="11">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geboortedatumRange.start) }}
                        {{ form_errors(filter.klant.geboortedatumRange.start) }}
                        {{ form_widget(filter.klant.geboortedatumRange.end) }}
                        {{ form_errors(filter.klant.geboortedatumRange.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geslacht) }}
                        {{ form_errors(filter.klant.geslacht) }}
                    </th>
                    <th>
                        {{ form_widget(filter.maatschappelijkWerker) }}
                        {{ form_errors(filter.maatschappelijkWerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.laatsteVerslagDatum.start) }}
                        {{ form_errors(filter.laatsteVerslagDatum.start) }}
                        {{ form_widget(filter.laatsteVerslagDatum.end) }}
                        {{ form_errors(filter.laatsteVerslagDatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.huidigeMwStatus) }}
                        {{ form_errors(filter.huidigeMwStatus) }}
                    </th>
                    <th>
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Nummer', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Maatschappelijk werker', 'maatschappelijkWerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Laatste verslag', 'datumLaatsteVerslag') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Dossierstatus', 'klant.marking') }}
                </th>
                <th>
                    Acties
                </th>
            </tr>
        </thead>
        <tbody>
            {% for klant in pagination %}

                {% set rowColorClass = '' %}
                {% if klant.verslagen|length > 0 %}
                    {% if date(klant.verslagen|last.datum) < date("-3 months") %}
                        {% set rowColorClass = 'warning' %}
                    {% elseif date(klant.verslagen|last.datum) < date("-6 months") %}
                        {% set rowColorClass = 'danger' %}
                    {% endif %}
                {% endif %}

                <tr class="{{ rowColorClass }}" data-href="{{ path(route_base~'view', {id: klant.id}) }}">
                    <td>
                        {{ klant.id }}
                    </td>
                    <td>
                        {{ klant }}
                    </td>
                    <td>
                        {{ klant.klant.geboortedatum ? klant.klant.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ klant.klant.geslacht }}
                    </td>
                    <td>
                        {{ klant.medewerker }}
                        <ul>
                            {% if klant.maatschappelijkWerker is defined and klant.maatschappelijkWerker is not null %}
                                <li>{{ klant.maatschappelijkWerker }}</li>
                            {% else %}
                                {% set verslagMedewerker = null %}
                                {% set i = 0 %}

                                {% for verslag in klant.verslagen %}
                                    {% if i < 3 and verslag.medewerker != verslagMedewerker %}
                                        <li>{{ verslag.medewerker }}</li>
                                        {% set i = i+1 %}
                                    {% elseif loop.index == 3 %}
                                        <li>(...({{ loop.length - 3 }}))</li>
                                    {% endif %}
                                    {% set verslagMedewerker = verslag.medewerker %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        {# {{ item.datumLaatsteVerslag|if_date('d-m-Y') }} #}
                    </td>
                    <td>
                        {% set place = 'mw.workflow.' ~ workflow_marked_places(klant)|first %}
                        {{ place|trans }}
                        ({{ (klant.dossierstatus ? klant.dossierstatus.datum : klant.created)|date('d-m-Y') }})
                    </td>
                    <td>
                        {% set transitions = workflow_transitions(klant) %}
                        {% if transitions|length > 0 %}
                            {% set transition = transitions|first %}
                            {% set transition_title = workflow_metadata(klant, 'title', transition) %}
                            {% set transition_entity = workflow_metadata(klant, 'entity', transition) %}
                            {% set transition_icon = workflow_metadata(klant, 'icon', transition) %}
                            {{ html.link(transition_title, path('mw_dossierstatussen_add', {klant: klant.id, entity: transition_entity}), transition_icon) }}<br>
                        {% endif %}
                        {{ html.link('Verslag toevoegen', path('mw_verslagen_add', {klant: klant.id}), 'add') }}<br>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
