{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Maatschappelijk werk | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Mw/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path('mw_klanten_add'), 'add') }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="11">
                        <span class="pull-left">
                            {{ form_widget(filter.alleenMetVerslag) }}
                            {{ form_errors(filter.alleenMetVerslag) }}
                        </span>
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geboortedatumRange.start) }}
                        {{ form_errors(filter.klant.geboortedatumRange.start) }}
                        {{ form_widget(filter.klant.geboortedatumRange.end) }}
                        {{ form_errors(filter.klant.geboortedatumRange.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geslacht) }}
                        {{ form_errors(filter.klant.geslacht) }}
                    </th>
                    <th>
                        {{ form_widget(filter.gebruikersruimte) }}
                        {{ form_errors(filter.gebruikersruimte) }}
                    </th>
                    <th>
                        {{ form_widget(filter.laatsteVerslagLocatie) }}
                        {{ form_errors(filter.laatsteVerslagLocatie) }}
                    </th>
                    <th>
                        {{ form_widget(filter.maatschappelijkWerker) }}
                        {{ form_errors(filter.maatschappelijkWerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.laatsteVerslagDatum.start) }}
                        {{ form_errors(filter.laatsteVerslagDatum.start) }}
                        {{ form_widget(filter.laatsteVerslagDatum.end) }}
                        {{ form_errors(filter.laatsteVerslagDatum.end) }}
                    </th>
                    <th></th>
                    <th>
                        {{ form_widget(filter.huidigeMwStatus) }}
                        {{ form_errors(filter.huidigeMwStatus) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Nummer', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Gebruikersruimte', 'gebruikersruimte.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Verslaglocatie', 'laatsteVerslagLocatie.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Maatschappelijk werker', 'maatschappelijkWerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Laatste verslag', 'datumLaatsteVerslag') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Aantal verslagen', 'aantalVerslagen') }}
                </th>
                <th>Mw Dossierstatus</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                {% set klant = item[0] %}
                {% set rowColorClass = '' %}
                {%  if(date(item.datumLaatsteVerslag) < date("-3 months")) %}
                    {% set rowColorClass = 'warning' %}
                {% elseif(date(item.datumLaatsteVerslag) < date("-6 months")) %}
                    {%  set rowColorClass = 'danger' %}
                {% endif %}

                <tr class="{{ rowColorClass }}" data-href="{{ path(route_base~'view', {id: klant.id}) }}">
                    <td>
                        {{ klant.id }}
                    </td>
                    <td>
                        {{ klant }}
                    </td>
                    <td>
                        {{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ klant.geslacht }}
                    </td>
                    <td>
                        {{ klant.laatsteIntake ? klant.laatsteIntake.gebruikersruimte }}
                    </td>
                    <td>
                        {{ item.laatsteVerslagLocatie }}
                    </td>
                    <td>
                        <ul>
                            {% if klant.maatschappelijkWerker is defined and klant.maatschappelijkWerker is not null %}
                                <li>{{ klant.maatschappelijkWerker }}</li>
                            {% else %}
                                {% set verslagMedewerker = null %}
                                {% set i = 0 %}

                                {% for verslag in klant.verslagen %}
                                    {% if i < 3 and verslag.medewerker != verslagMedewerker %}
                                        <li>{{ verslag.medewerker }}</li>
                                        {% set i = i+1 %}
                                    {% elseif loop.index == 3 %}
                                        <li>(...({{ loop.length - 3 }}))</li>
                                    {% endif %}
                                    {% set verslagMedewerker = verslag.medewerker %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        {{ item.datumLaatsteVerslag|if_date('d-m-Y') }}
                    </td>
                    <td>
                        {{ item.aantalVerslagen }}
                    </td>
                    <td>
                        {{ klant.huidigeMwStatus }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block scripts %}
    <script>
   window.onload = function() {
       if ($) {
           var elmAlleenVerslag = $('#klant_filter_alleenMetVerslag');
           elmAlleenVerslag.change(function (event) {
               if ($(event.target).attr('checked') != 'checked') {
                   $('#klant_filter_huidigeMwStatus').val('');
               }
           });
       }
   }
   </script>
{% endblock %}