{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>

    {% if workflow_has_marked_place(entity, 'aangemaakt') %}
        <p class="alert alert-warning">
            Deze klant is nog niet aangemeld.
        </p>
    {% elseif workflow_has_marked_place(entity, 'aangemeld') %}
        {{ html.link('Wijzigen', path('mw_klanten_edit', {id: entity.id}), 'edit') }}
    {% elseif workflow_has_marked_place(entity, 'afgesloten') %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten op {{ entity.dossierStatus.datum|date("d-m-Y") }}.
        </p>
    {% endif %}

    {{ html.link('Klant toevoegen aan TW', path('tw_klanten_addwithcheck', {id: entity.id}),'add') }}
    {% include '@Mw/klanten/_transitions.html.twig' with {klant: entity} %}

    {% if not entity.klant.laatsteZrm %}
        <p class="text-danger">
            LET OP: geen ZRM aanwezig. Klik
            {{ html.link('hier', path('app_zrms_add', {klant: entity.id, module: 'MaatschappelijkWerk'})) }}
            om een ZRM toe te voegen.
        </p>
    {% elseif entity.klant.laatsteZrm < today|date_modify('-6 months') %}
        <p class="text-danger">
            LET OP: laatste ZRM is meer dan 6 maanden oud. Klik
            {{ html.link('hier', path('app_zrms_add', {klant: entity.id, module: 'MaatschappelijkWerk'})) }}
            om een nieuwe ZRM toe te voegen.
        </p>
    {% endif %}
{% endblock %}

{% block content_left %}
    {% include 'klant_basis.html.twig' with {klant: entity.klant, module: 'MaatschappelijkWerk'} %}
    {# {{ render(controller('MwBundle\\Controller\\KlantenController::_documentenAction', {id: entity.id})) }} #}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Dossierinformatie</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane active">
            {% include '@Mw/klanten/_info.html.twig' with {klant: entity} %}
        </div>
        <div id="verslagen" class="tab-pane">
            <h2>Verslagen</h2>
            <p>
                {{ html.link('Verslag toevoegen', path('mw_verslagen_add', {klant: entity.id}), 'add') }}
            </p>
            {% for verslag in entity.verslagen %}
                <h3>Verslag van {{ verslag.datum|date('d-m-Y') }}</h3>
                <p>
                    {{ html.link('Verslag bewerken', path('mw_verslagen_edit', {id: verslag.id}), 'edit') }}
                </p>
                {% if verslag.type == 2 %}
                    {% set class = "bg-info" %}
                {% else %}
                    {% set class = "" %}
                {% endif %}
                <div class="row {{class}}">
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Locatie</dt>
                            <dd>{{ verslag.locatie }}</dd>
                            <dt>Medewerker</dt>
                            <dd>{{ verslag.medewerker }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Contactsoort</dt>
                            <dd>{{ verslag.contactsoort }}</dd>
                            {% if verslag.duur %}
                                <dt>Duur</dt>
                                <dd>{{ verslag.duur }} minuten</dd>
                            {% endif %}
                            <dt>Type</dt>
                            <dd>{{ verslag.typeAsString }}</dd>
                        </dl>
                    </div>
                </div>
                <p class="well">{{ verslag.opmerking|raw|nl2br }}</p>
            {% endfor %}
        </div>
        <div id="documenten" class="tab-pane">
            <h2>Documenten</h2>
            <p>
                {{ html.link('Document toevoegen', path('mw_documenten_add', {klant: entity.id}), 'add') }}
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
   window.onload = function(){
      if($){

        $(function() {

            function opmerking_seen(opmerking_id) {
                $.post({
                    url: `/inloop/opmerkingen/${opmerking_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#opmerkingen .gezien').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_seen(id);
            });

            function opmerking_remove(opmerking_id) {
                var confirmed = confirm('Weet u zeker dat u deze opmerking wilt verwijderen?');
                if (confirmed) {
                    $.post({
                        url: `/inloop/opmerkingen/${opmerking_id}/delete`,
                    }).done(function(data) {
                        location.reload();
                    }).fail(function() {
                        alert('Er is een fout opgetreden.')
                    });
                }
            };

            $('.delete').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_remove(id);
            });

            function schorsing_seen(schorsing_id) {
                $.post({
                    url: `/inloop/schorsingen/${schorsing_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#schorsingen .gezien').on('click', function() {
                var id = $(this).closest('tr').attr('data-id');
                schorsing_seen(id);
            });
        });

      }
   }
   </script>
{% endblock %}
