<ul class="nav nav-tabs">
    <li class="{{ current == 'intake' ? 'active' }}"><a href="{{ path('ga_vrijwilligerintakes_view', {id: intake.id}) }}">Intake</a></li>
    <li class="{{ current == 'verslagen' ? 'active' }}"><a href="{{ path('ga_vrijwilligers_viewverslagen', {id: vrijwilliger.id}) }}">Verslagen</a></li>
    <li class="{{ current == 'groepen' ? 'active' }}"><a href="{{ path('ga_vrijwilligers_viewgroepen', {id: vrijwilliger.id}) }}">Groepen</a></li>
    <li class="{{ current == 'activiteiten' ? 'active' }}"><a href="{{ path('ga_vrijwilligers_viewactiviteiten', {id: vrijwilliger.id}) }}">Activiteiten</a></li>
    <li class="{{ current == 'documenten' ? 'active' }}"><a href="{{ path('ga_vrijwilligers_viewdocumenten', {id: vrijwilliger.id}) }}">Documenten</a></li>
    <li class="{{ current == 'afsluiting' ? 'active' }}"><a href="{{ path('ga_vrijwilligers_viewafsluiting', {id: vrijwilliger.id}) }}">Afsluiting</a></li>
</ul>
