{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base~'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base~'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'hulpvraagsoort.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Toelichting', 'hulpvraagsoort.toelichting') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Actief', 'hulpvraagsoort.actief') }}
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraagsoort in pagination %}
            <tr>
                <td>
                    {{ hulpvraagsoort.naam }}
                </td>
                <td>
                    {{ hulpvraagsoort.toelichting }}
                </td>
                <td>
                    {{ hulpvraagsoort.actief ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ html.editLink(path(route_base~'edit', {id: hulpvraagsoort.id})) }}
                    {% if hulpvraagsoort.deletable %}
                        {{ html.deleteLink(path(route_base~'delete', {id: hulpvraagsoort.id})) }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
