{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="nav nav-tabs">
        <li><a href="{{ path('iz_dashboard_koppelingen') }}">Lopende koppelingen</a></li>
        <li class="active"><a href="{{ path('iz_dashboard_hulpvragen') }}">Open hulpvragen</a></li>
        <li><a href="{{ path('iz_dashboard_hulpaanbiedingen') }}">Open hulpaanbiedingen</a></li>
    </ul>
    <div class="tab-content">
        <div id="hulpvragen" class="tab-pane active">
            <h2>Open hulpvragen</h2>
            <table class="table table-hover">
                <thead>
                    {{ form_start(filter) }}
                        <tr>
                            <th colspan="10">
                                <span class="pull-right">
                                    {{ form_widget(filter.filter) }}
                                    {{ form_widget(filter.download) }}
                                </span>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                {{ form_widget(filter.klant.id) }}
                                {{ form_errors(filter.klant.id) }}
                            </th>
                            <th>
                                {{ form_widget(filter.klant.voornaam) }}
                                {{ form_errors(filter.klant.voornaam) }}
                                {{ form_widget(filter.klant.achternaam) }}
                                {{ form_errors(filter.klant.achternaam) }}
                            </th>
                            <th>
                                {{ form_widget(filter.klant.geboortedatumRange.start) }}
                                {{ form_errors(filter.klant.geboortedatumRange.start) }}
                                {{ form_widget(filter.klant.geboortedatumRange.end) }}
                                {{ form_errors(filter.klant.geboortedatumRange.end) }}
                            </th>
                            <th>
                                {{ form_widget(filter.project) }}
                                {{ form_errors(filter.project) }}
                            </th>
                            <th>
                                {{ form_widget(filter.hulpvraagsoort) }}
                                {{ form_errors(filter.hulpvraagsoort) }}
                            </th>
                            <th>
                                {{ form_widget(filter.doelgroep) }}
                                {{ form_errors(filter.doelgroep) }}
                            </th>
                            <th>
                                {{ form_widget(filter.medewerker) }}
                                {{ form_errors(filter.medewerker) }}
                            </th>
                            <th>
                            </th>
                            <th>
                                {{ form_widget(filter.startdatum) }}
                                {{ form_errors(filter.startdatum) }}
                            </th>
                            <th>
                                {{ form_widget(filter.klant.stadsdeel) }}
                                {{ form_errors(filter.klant.stadsdeel) }}
                            </th>
                        </tr>
                    {{ form_end(filter) }}
                    <tr>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Nummer', 'klant.id') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Hulpvraagsoort', 'hulpvraagsoort.naam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Doelgroep', 'doelgroep.naam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.voornaam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Intakedatum', 'intake.intakeDatum') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Startdatum hulpvraag', 'hulpvraag.startdatum') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for hulpvraag in pagination %}
                        <tr data-href="{{ path('iz_hulpvragen_view', {id: hulpvraag.id}) }}" class="{{ hulpvraag.gereserveerd ? 'danger' }}">
                            <td>
                                {{ hulpvraag.izKlant.klant.id }}

                            </td>
                            <td>
                                {{ html.link(
                                    hulpvraag|naam_klant,
                                    path('iz_klanten_view', {id: hulpvraag.izKlant.id})
                                ) }}
                            </td>
                            <td>
                                {{ hulpvraag.izKlant.klant.geboortedatum ? hulpvraag.izKlant.klant.geboortedatum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ hulpvraag.project }}
                            </td>
                            <td>
                                {{ hulpvraag.hulpvraagsoort }}
                            </td>
                            <td>
                                {{ hulpvraag.doelgroep }}
                            </td>
                            <td>
                                {{ hulpvraag.medewerker }}
                            </td>
                            <td>
                                {{ hulpvraag.izKlant.intake.intakedatum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ hulpvraag.startdatum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ hulpvraag.izKlant.klant.werkgebied }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
        <div id="hulpaanbiedingen" class="tab-pane">
        </div>
        <div id="koppelingen" class="tab-pane">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            // make table rows clickable
            $('form #medewerker').change(function() {
                $(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}
