{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}
{% import _self as iz %}

{% block title %}
    Informele Zorg | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Iz/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('iz_dashboard_koppelingen') }}">Lopende koppelingen</a></li>
        <li><a href="{{ path('iz_dashboard_hulpvragen') }}">Open hulpvragen</a></li>
        <li><a href="{{ path('iz_dashboard_hulpaanbiedingen') }}">Open hulpaanbiedingen</a></li>
    </ul>
    <div class="tab-content">
        <div id="hulpvragen" class="tab-pane">
        </div>
        <div id="hulpaanbiedingen" class="tab-pane">
        </div>
        <div id="koppelingen" class="tab-pane active">
            <h2>Lopende koppelingen</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        {{ form_start(filter) }}
                            <tr>
                                <th colspan="10">
                                    <span class="pull-right">
                                        {{ form_widget(filter.filter) }}
                                        {{ form_widget(filter.download) }}
                                    </span>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ form_widget(filter.klant.voornaam) }}
                                    {{ form_errors(filter.klant.voornaam) }}
                                    {{ form_widget(filter.klant.achternaam) }}
                                    {{ form_errors(filter.klant.achternaam) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.vrijwilliger.voornaam) }}
                                    {{ form_errors(filter.vrijwilliger.voornaam) }}
                                    {{ form_widget(filter.vrijwilliger.achternaam) }}
                                    {{ form_errors(filter.vrijwilliger.achternaam) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.project) }}
                                    {{ form_errors(filter.project) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.koppelingStartdatum.start) }}
                                    {{ form_errors(filter.koppelingStartdatum.start) }}
                                    {{ form_widget(filter.koppelingStartdatum.end) }}
                                    {{ form_errors(filter.koppelingStartdatum.end) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.klant.stadsdeel) }}
                                    {{ form_errors(filter.klant.stadsdeel) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.medewerker) }}
                                    {{ form_errors(filter.medewerker) }}
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        {{ form_end(filter) }}
                    </tr>
                    <tr>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Startdatum koppeling', 'hulpvraag.koppelingStartdatum') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                        </th>
                        <th>
                            Medewerker hulpvraag/hulpaanbod
                        </th>
                        <th>
                            Laatste verslag
                        </th>
                        <th>
                            Intervisiegroep(en) VW
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Tussenevaluatie', 'hulpvraag.tussenevaluatiedatum') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(pagination, 'Eindevaluatie', 'hulpvraag.eindevaluatiedatum') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for koppeling in pagination %}
                        <tr data-href="{{ path('iz_koppelingen_view', {id: koppeling.id}) }}" style="{{ iz.koppeling_warning_style(koppeling) }}">
                            <td>
                                {{ html.link(
                                    koppeling|naam_klant,
                                    path('iz_klanten_view', {id: koppeling.izKlant.id})
                                ) }}
                            </td>
                            <td>
                                {{ html.link(
                                    koppeling.hulpaanbod|naam_vrijwilliger,
                                    path('iz_vrijwilligers_view', {id: koppeling.hulpaanbod.izVrijwilliger.id})
                                ) }}
                            </td>
                            <td>
                                {{ koppeling.project }}
                            </td>
                            <td>
                                {{ koppeling.koppelingStartdatum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ koppeling.izKlant.klant.werkgebied }}
                            </td>
                            <td>
                                {% if koppeling.medewerker == koppeling.hulpaanbod.medewerker %}
                                    {{ koppeling.medewerker }}
                                {% else %}
                                    {{ koppeling.medewerker }} (hulpvraag)<br>
                                    {{ koppeling.hulpaanbod.medewerker }} (hulpaanbod)
                                {% endif %}
                            </td>
                            <td>
                                {{ iz.koppeling_laatste_verslag(koppeling) }}
                            </td>
                            <td>
                                <ul>
                                    {% for intervisiegroep in koppeling.hulpaanbod.izVrijwilliger.intervisiegroepen %}
                                        <li>{{ intervisiegroep }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ koppeling.tussenevaluatiedatum ? koppeling.tussenevaluatiedatum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ koppeling.eindevaluatiedatum ? koppeling.eindevaluatiedatum|date('d-m-Y') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            // make table rows clickable
            $('form #medewerker').change(function() {
                $(this).closest('form').submit();
            });
        });
    </script>
{% endblock %}

{% macro koppeling_warning_style(koppeling) %}
    {% if koppeling.koppelingStartdatum|date('Y') >= 2018 %}
        {% if koppeling.koppelingStartdatum|date_modify('+6 months') < today
            or koppeling.eindevaluatiedatum < today
        %}
            {{ 'background-color: red; color: white' }}
        {% elseif koppeling.koppelingStartdatum|date_modify('+5 months +2 weeks') < today
            or koppeling.eindevaluatiedatum|date_modify('-2 weeks') < today
        %}
            {{ 'background-color: orange; color: white' }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro koppeling_laatste_verslag(koppeling) %}
    {% set dateHulpvraag = false %}
    {% set dateHulpaanbod = false %}
    {% if koppeling.verslagen|length > 0 %}
        {% set dateHulpvraag = koppeling.verslagen.0.created %}
    {% endif %}
    {% if koppeling.hulpaanbod.verslagen|length > 0 %}
        {% set dateHulpaanbod = koppeling.hulpaanbod.verslagen.0.created %}
    {% endif %}
    {% if dateHulpvraag and dateHulpaanbod %}
        {{ dateHulpvraag > dateHulpaanbod ? dateHulpvraag|date('d-m-Y') : dateHulpaanbod|date('d-m-Y') }}
    {% else %}
        {{ dateHulpvraag ? dateHulpvraag|date('d-m-Y') : dateHulpaanbod|if_date('d-m-Y') }}
    {% endif %}
{% endmacro %}
