<h2>Betalingen</h2>
<p>
    {% if factuur is defined %}
        {% set entity = factuur %}
        {% set url = path('hs_betalingen_add', {factuur: entity.id}) %}
    {% endif %}
    {% if url is defined %}
        {% if is_granted('ROLE_HOMESERVICE_BEHEER') %}
            {{ html.addLink(url) }}
            {{ html.link('Betaling toevoegen', url) }}
        {% endif %}
    {% endif %}
</p>
<table class="table table-hover">
    <tr>
        <th>Datum</th>
        <th>Referentie</th>
        <th colspan="4">Info</th>
        <th>Bedrag</th>
        <th>&nbsp;</th>
    </tr>
    {% for betaling in entity.betalingen %}
        <tr>
            <td>{{ betaling.datum|date('d-m-Y') }}</td>
            <td>{{ betaling.referentie }}</td>
            <td colspan="4">{{ betaling.info }}</td>
            <td>{{ betaling.bedrag|money }}</td>
            <td>
                {% if is_granted('ROLE_HOMESERVICE_BEHEER') %}
                    {{ html.editLink(path('hs_betalingen_edit', {id: betaling.id})) }}
                    {{ html.deleteLink(path('hs_betalingen_delete', {id: betaling.id})) }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <th colspan="6">Totaal</th>
            <th>{{ entity.betaald|money }}</th>
            <th>&nbsp;</th>
        </tr>
    </tfoot>
</table>
