{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Doelstellingen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@App/rapportages/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    {#    {{ form(form) }}#}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>Module</h2>
                {{ form_row(form.jaar) }}
                {{ form_row(form.repository) }}
                <h2>Doelstelling</h2>
                {{ form_row(form.aantal) }}

            </div>
            <div class="col-xs-6">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                {% if form.submit is defined %}
                    <span class="pull-right">
                    {{ form_row(form.submit) }}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script>
        var $repo = null;// $('#doelstelling_repository');
        var $rightCol = $('#doelstelling_kpi').closest('.col-xs-6');
        $rightCol.prop('id','rightCol');
        var insertRepoForm = function(elm)
        {
            var id = $(elm).val();
            var text = $(elm).text();
            if(text.length < 1){
                return;
            }

            $tmpFrmGrp = $('<div>').attr({
                'class':'form-group'
            });
            var $label =  $('<label>').attr({
                for: 'aantal['+id+']',
                class: 'col-sm-2 control-label required',
            });
            $label.text(text);
            var $div = $('<div>').attr({
                'class': 'col-sm-10'
            });

            var $aantal =  $('<input>').attr({
                type: 'text',
                id: 'aantal['+id+']',
                name: 'aantal['+id+']',
                class:'form-control'
            });
            $div.append($aantal);

            $tmpFrmGrp.append($label);
            $tmpFrmGrp.append($div);
            $rightCol.append($tmpFrmGrp);

        }

        $repo.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected repository value.
            var data = {};
            data[$repo.attr('name')] = $repo.val();
            // console.log(data);

            var $emptyKpi = $('#doelstelling_kpi');
            var $frmGrp = $emptyKpi.closest('form-group');

            // Submit data via AJAX to the form's action path.
            $('html, body').css("cursor", "wait");
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {

                    if($('#doelstelling_bulk').is(':checked') == true)
                    {
                        var options = $(html).find('#doelstelling_kpi option');
                        $.each(options,function(index){
                            insertRepoForm(this);
                        });
                        $('#doelstelling_bulk').prop('disabled',true);
                        $('#doelstelling_kpi').parent().parent().remove();
                        $('#doelstelling_aantal').parent().parent().remove();
                    }
                    else
                    {
                        $('#doelstelling_bulk').prop('disabled',true);
                        var newKpis = $(html).find('#doelstelling_verfijningsas1');
                        $('#doelstelling_verfijningsas1').replaceWith(newKpis);
                        // $.each(options,function(index){
                        //     $clone = $option.clone();
                        //     $clone.text = $(this).text();
                        //     $('#doelstelling_kpi').append($clone);
                        // });
                    }

                    $('html, body').css("cursor", "default");
                    // kpi field now displays the appropriate kpi.
                },
                error : function(xhr, textStatus, errorThrown) {
                    // console.log(xhr);
                    // console.log(textStatus);
                    // console.log(errorThrown);
                    $('html, body').css("cursor", "default");
                    alert('Ophalen KPIs mislukt. '+ errorThrown);
                }
            });

        });
    </script>
{% endblock %}