{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
  Doelstellingen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@App/subnavigation.html.twig' %}
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <h1>Downloads</h1>
    <div class="row">
        {{ form_errors(form) }}
        <span class="form-inline pull-right">
            {{ form_row(form.download) }}
        </span>
    </div>
    <div class="col-xs-3">
        <h2>Onderdelen</h2>
        <p>Selecteer de onderdelen die gedownload moetenworden.</p>
        {{ form_row(form.onderdeel) }}
    </div>
    {{ form_end(form) }}
{#    {{ knp_pagination_render(pagination) }}#}
{% endblock %}

{% block scripts %}
<script>
    $('#download_vrijwilligers_download').on('click',
        function(event)
        {
            if($('form[name=download_vrijwilligers] :checkbox:checked').length < 1)
            {
                alert('Selecteer tenminste een onderdeel');
                return false;
            }
        }
    );
</script>
{% endblock %}