{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    HomeService | Activiteiten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>
        Activiteit {{ entity.naam }}
        {{ html.editLink({'action': 'edit', 0: entity.id}) }}
        {% if entity.deletable %}
            {{ html.deleteLink({'action': 'delete', 0: entity.id}) }}
        {% endif %}
    </h1>

    <dl>
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
        <dt>Klussen</dt>
        <dd>
            {% if entity.klussen is empty %}
                -
            {% else %}
                <ul>
                    {% for klus in entity.klussen %}
                        <li>{{ klus }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>
{% endblock %}
