{% import 'html.macro.twig' as html %}


        <h2>Incidenten <small>({{ klant.incidenten|length }} incidenten)</small></h2>
        <p>
           {{ html.link('Incident toevoegen', path('inloop_incidenten_add', {'klant': klant.id}), 'add') }}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Locatie</th>
                    <th>Datum</th>
                    <th>Opmerking</th>
                    <th>Politie</th>
                    <th>Ambulance</th>
                    <th>Crisisdienst</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for incident in klant.incidenten %}
                    <tr>
                        <td>{{ incident.locatie }}</td>
                        <td>{{ incident.datum|if_date('d-m-Y') }}</td>
                        <td>{{ incident.opmerking }}</td>
                        <td>{{ incident.politie|ja_nee }}</td>
                        <td>{{ incident.ambulance|ja_nee }}</td>
                        <td>{{ incident.crisisdienst|ja_nee }}</td>
                        <td>
                            {{ html.link('Wijzigen', path('inloop_incidenten_edit', {id: incident.id}), 'edit') }}
                            {% if is_granted('ROLE_TEAMLEIDERS') %}
                                {{ html.link('Verwijderen', path('inloop_incidenten_delete', {id: incident.id}), 'delete') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
