{% extends 'iz/intervisiegroepen/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#vrijwilligers">Vrijwilligers</a></li>
    </ul>
    <div class="tab-content">
        <div id="vrijwilligers" class="tab-pane active">
            <h2>E-mail verzenden</h2>
            <p>
                {{ html.cancelLink(path('iz_intervisiegroepen_view', {id: entity.id})) }}
                {{ html.link('Annuleren', path('iz_intervisiegroepen_view', {id: entity.id})) }}
            </p>
            {{ form_start(form) }}
                <div class="row">
                    {{ form_errors(form) }}
                    <span class="form-inline pull-right">
                        {{ form_row(form.submit, {label: 'E-mail verzenden'}) }}
                    </span>
                </div>
                <dl class="dl-horizontal">
                    <dt>Afzender</dt>
                    <dd>{{ form.from.vars.data }}</dd>
                    <dt>Ontvangers</dt>
                    <dd>
                        {% if form.to.vars.data|split(',')|length > 20 %}
                            {{ form.to.vars.data|split(',')|length }} personen
                        {% else %}
                            {{ form.to.vars.data }}
                        {% endif %}
                    </dd>
                </dl>
                {{ form_row(form.to) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.text) }}
                {{ form_row(form.file1) }}
                {{ form_row(form.file2) }}
                {{ form_row(form.file3) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
