{{ form_start(filter) }}
    <tr>
        <th colspan="8">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.id) }}
            {{ form_errors(filter.id) }}
        </th>
        <th>
            {{ form_widget(filter.naam) }}
            {{ form_errors(filter.naam) }}
        </th>
        <th>
            {{ form_widget(filter.hulpverlener) }}
            {{ form_errors(filter.hulpverlener) }}
        </th>
        <th>
            {{ form_widget(filter.adres) }}
            {{ form_errors(filter.adres) }}
        </th>
        <th>
            {{ form_widget(filter.stadsdeel) }}
            {{ form_errors(filter.stadsdeel) }}
        </th>
        <th>
            {{ form_widget(filter.afwijkendFactuuradres) }}
            {{ form_errors(filter.afwijkendFactuuradres) }}
        </th>
        <th>
            {{ form_widget(filter.negatiefSaldo) }}
            {{ form_label(filter.negatiefSaldo) }}
            {{ form_errors(filter.negatiefSaldo) }}
        </th>
        <th>
            {{ form_widget(filter.status) }}
            {{ form_errors(filter.status) }}
        </th>
    </tr>
{{ form_end(filter) }}
