{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>Klant {{ entity }}</h1>
    <p>
        {{ html.editLink(path('hs_klanten_edit', {id: entity.id})) }}
        {{ html.link('Wijzigen', path('hs_klanten_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('hs_klanten_delete', {id: entity.id})) }}
            {{ html.link('Verwijderen', path('hs_klanten_delete', {id: entity.id})) }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    {% include 'hs/klanten/basic_klant.html.twig' with {klant: entity} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#memos">Klantinfo</a></li>
        <li><a data-toggle="tab" href="#klussen">Klussen</a></li>
        <li><a data-toggle="tab" href="#facturen">Facturen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
        <li><a data-toggle="tab" href="#incidenten">Incidenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="memos" class="tab-pane active">
            {% include 'hs/memos/_list.html.twig' with {klant: entity} %}
        </div>
        <div id="klussen" class="tab-pane">
            {% include 'hs/klussen/_list.html.twig' with {klant: entity} %}
        </div>
        <div id="facturen" class="tab-pane">
            {% include 'hs/facturen/_list.html.twig' with {klant: entity} %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include 'hs/documenten/_list.html.twig' with {klant: entity} %}
        </div>
        <div id="incidenten" class="tab-pane">
            {% include 'hs/incidenten/_list.html.twig' with {klant: entity} %}
        </div>
    </div>
{% endblock %}
