{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="6">
                         <span class="pull-right">
                            {{ form_widget(filter.actief) }}
                         </span>
                    </th>
                    <th colspan="2">
                        <span class="pull-right">

                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.soort) }}
                        {{ form_errors(filter.soort) }}
                    </th>
                    <th>
                        {{ form_widget(filter.resultaatgebied) }}
                        {{ form_errors(filter.resultaatgebied) }}
                    </th>
                    <th>
                        {{ form_widget(filter.trajectcoach) }}
                        {{ form_errors(filter.trajectcoach) }}
                    </th>
                    <th>
                        {{ form_widget(filter.project) }}
                        {{ form_errors(filter.project) }}
                    </th>
                    <th>
                        {{ form_widget(filter.startdatum.start) }}
                        {{ form_errors(filter.startdatum.start) }}
                        {{ form_widget(filter.startdatum.end) }}
                        {{ form_errors(filter.startdatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.evaluatiedatum.start) }}
                        {{ form_errors(filter.evaluatiedatum.start) }}
                        {{ form_widget(filter.evaluatiedatum.end) }}
                        {{ form_errors(filter.evaluatiedatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.afsluitdatum.start) }}
                        {{ form_errors(filter.afsluitdatum.start) }}
                        {{ form_widget(filter.afsluitdatum.end) }}
                        {{ form_errors(filter.afsluitdatum.end) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Soort', 'trajectsoort.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Resultaatgebied', 'resultaatgebiedsoort.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Trajectcoach', 'trajectcoach.naam') }}
                </th>
                <th>
                    Project(en)
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Startdatum', 'traject.startdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Evaluatiedatum', 'traject.evaluatiedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'traject.afsluitdatum') }}
                </th>
            </tr>
        </thead>
        {% for traject in pagination %}
            {% set class = '' %}
            {% if traject.evaluatiedatum and date(traject.evaluatiedatum) < date("+1 month")  %}
                {% set class = 'alert-warning' %}
            {% endif %}
        <tr data-href="{{ path('dagbesteding_trajecten_view', {id: traject.id}) }}" class="{{ class }}">
            <td>
                {{ traject.deelnemer.klant.naam }}
            </td>
            <td>
                {{ traject.soort }}
            </td>
            <td>
                {{ traject.resultaatgebied.soort }}
            </td>
            <td>
                {{ traject.trajectcoach }}
            </td>
            <td>
                <ul>
                    {% for deelname in traject.deelnames %}
                        <li>{{ deelname.project }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {{ traject.startdatum|date('d-m-Y') }}
            </td>
            <td>
                {{ traject.evaluatiedatum|if_date('d-m-Y') }}
            </td>
            <td>
                {% if traject.afsluitdatum %}
                    {{ traject.afsluitdatum|if_date('d-m-Y') }}<br>
                    ({{ traject.afsluiting }})
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
