{% import '::html.macro.twig' as html %}

<table class="table table-hover">
    <thead>
        {{ form_start(filter) }}
            <tr>
                <th>
                </th>
                <th>
                    {{ form_widget(filter.klant.id) }}
                    {{ form_errors(filter.klant.id) }}
                </th>
                <th colspan="2">
                    {{ form_widget(filter.klant.naam) }}
                    {{ form_errors(filter.klant.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.klant.geslacht) }}
                    {{ form_errors(filter.klant.geslacht) }}
                </th>
                <th>
                    {{ form_widget(filter.klant.geboortedatum) }}
                    {{ form_errors(filter.klant.geboortedatum) }}
                </th>
                <th>
                    {{ form_widget(filter.gebruikersruimte) }}
                    {{ form_errors(filter.gebruikersruimte) }}
                </th>
                <th>
                    {{ form_widget(filter.laatsteIntakeLocatie) }}
                    {{ form_errors(filter.laatsteIntakeLocatie) }}
                </th>
                <th colspan="3">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                    </span>
                </th>
            </tr>
        {{ form_end(filter) }}
        <tr>
            <th></th>
            <th>
                {{ knp_pagination_sortable(pagination, 'ID', 'klant.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Voornaam', 'klant.voornaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Achternaam', 'klant.achternaam') }}
            </th>
            <th>Geslacht</th>
            <th>Geboortedatum</th>
            <th>1e locatie (gebruikersruimte)</th>
            <th>2e locatie (intakelocatie)</th>
            <th>3e locatie</th>
            <th>Nieuwe intake nodig</th>
            <th>Schorsingen</th>
        </tr>
    </thead>
    <tbody>
        {% for klant in pagination %}
            <tr data-id="{{ klant.id }}">
                <td>
                    <a class="checkin" title="Inchecken">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    {{ klant.id }}
                </td>
                <td>
                    {{ klant.voornaam }}
                    {% if klant.roepnaam %}({{ klant.roepnaam }}){% endif %}
                </td>
                <td>
                    {% if klant.tussenvoegsel %}{{ klant.tussenvoegsel }}{% endif %}
                    {{ klant.achternaam }}
                </td>
                <td>
                    {{ klant.geslacht }}
                </td>
                <td>
                    {{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ klant.laatsteIntake.gebruikersruimte ?: '-' }}
                </td>
                <td>
                    {{ klant.laatsteIntake.intakelocatie ?: '-' }}
                </td>
                <td>
                    {{ klant.laatsteIntake.locatie3 ?: '-' }}
                </td>
                <td>
                    {% set verloopdatum = klant.laatsteIntake.intakedatum|date_modify('+1 year') %}
                    {% if verloopdatum < today %}
                        <strong class="text-danger">
                            {{ today|diff(verloopdatum).days|human_days }} verlopen
                        </strong>
                    {% endif %}
                </td>
                <td>
                    {% if klant.ongezieneSchorsingen|length > 0 %}
                        schorsing verlopen
                    {% else %}
                        geen
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    {{ knp_pagination_render(pagination) }}
</p>
