{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Inloop | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Inloop/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }} {{ locatie }}</h1>
    <ul class="nav nav-tabs">
        {{ html.navLink('Bezoekersregistratie', path('inloop_registraties_index', {locatie: locatie.id}), isActiveRoute('inloop_registraties_index')) }}
        {{ html.navLink('Nu binnen', path('inloop_registraties_active', {locatie: locatie.id}), isActiveRoute('inloop_registraties_active')) }}
        {{ html.navLink('Recent uitgecheckt', path('inloop_registraties_history', {locatie: locatie.id}), isActiveRoute('inloop_registraties_history')) }}
    </ul>
    <div id="content">
        {% include 'InloopBundle:registraties:_active.html.twig' %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {

            function checkoutAll(locatie_id) {
                var confirmed = confirm('Weet u zeker dat u iedereen wilt uitchecken?');
                if (confirmed) {
                    $.post({
                        url: `/inloop/registraties/checkoutAll/${locatie_id}`,
                    }).done(function(data) {
                        $('#content').html(data);
                    }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
                }
            };

            function checkout(registratie_id) {
                $.post({
                    url: `/inloop/registraties/registratieCheckOut/${registratie_id}`,
                }).done(function(data) {
                    $('#content').html(data);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            function remove(registratie_id) {
                var confirmed = confirm('Weet u zeker dat u deze registratie wilt verwijderen?');
                if (confirmed) {
                    $.post({
                        url: `/inloop/registraties/${registratie_id}/delete`,
                    }).done(function(data) {
                        $('#content').html(data);
                    }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
                }
            };

            function addToQueue(id, property) {
                $.post({
                    url: '/inloop/registraties/'+id+'/'+property+'/add',
                }).done(function(data) {
                    $('#content').html(data);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            function removeFromQueue(id, property) {
                $.post({
                    url: '/inloop/registraties/'+id+'/'+property+'/del',
                }).done(function(data) {
                    $('#content').html(data);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            function enable(id, property) {
                $.post({
                    url: '/inloop/registraties/'+id+'/'+property+'/1',
                }).done(function(data) {
                    $('#content').html(data);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            function disable(id, property) {
                $.post({
                    url: '/inloop/registraties/'+id+'/'+property+'/0',
                }).done(function(data) {
                    $('#content').html(data);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#content').on('click', 'a.checkout-all', function() {
                var id = $(this).attr('data-id');
                checkoutAll(id);
            });

            $('#content').on('click', 'a.checkout', function() {
                var id = $(this).closest('tr').attr('data-id');
                checkout(id);
            });

            $('#content').on('click', 'a.remove', function() {
                var id = $(this).closest('tr').attr('data-id');
                remove(id);
            });

            $('#content').on('click', 'a.douche', function() {
                var id = $(this).closest('tr').attr('data-id');
                removeFromQueue(id, 'douche');
            });

            $('#content').on('click', 'input.douche', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    addToQueue(id, 'douche');
                } else {
                    removeFromQueue(id, 'douche');
                }
            });

            $('#content').on('click', 'a.mw', function() {
                var id = $(this).closest('tr').attr('data-id');
                removeFromQueue(id, 'mw');
            });

            $('#content').on('click', 'input.mw', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    addToQueue(id, 'mw');
                } else {
                    removeFromQueue(id, 'mw');
                }
            });

            $('#content').on('click', 'input.kleding', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    enable(id, 'kleding');
                } else {
                    disable(id, 'kleding');
                }
            });

            $('#content').on('click', 'input.maaltijd', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    enable(id, 'maaltijd');
                } else {
                    disable(id, 'maaltijd');
                }
            });

            $('#content').on('click', 'input.veegploeg', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    enable(id, 'veegploeg');
                } else {
                    disable(id, 'veegploeg');
                }
            });

            $('#content').on('click', 'input.activering', function() {
                var id = $(this).closest('tr').attr('data-id');
                if ($(this).is(':checked')) {
                    enable(id, 'activering');
                } else {
                    disable(id, 'activering');
                }
            });
        });
    </script>
{% endblock %}
