{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Inloop | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Inloop/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
        <h1>Registratie voor {{ locatie }}</h1>
        <p>
            <a href="{{ path('inloop_registraties_checkins') }}">Locatie wijzigen</a>
        </p>
        {#
        <table class="table table-hover">
            <thead>
                {{ form_start(filter) }}
                    <tr>
                        <th colspan="10">
                            <span class="pull-right">
                                {{ form_widget(filter.filter) }}
                            </span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ form_widget(filter.klant.id) }}
                            {{ form_errors(filter.klant.id) }}
                        </th>
                        <th>
                            {{ form_widget(filter.klant.naam) }}
                            {{ form_errors(filter.klant.naam) }}
                        </th>
                        <th>
                            {{ form_widget(filter.klant.geslacht) }}
                            {{ form_errors(filter.klant.geslacht) }}
                        </th>
                        <th>
                            {{ form_widget(filter.klant.geboortedatum) }}
                            {{ form_errors(filter.klant.geboortedatum) }}
                        </th>
                        <th>
                            {{ form_widget(filter.gebruikersruimte) }}
                            {{ form_errors(filter.gebruikersruimte) }}
                        </th>
                        <th>
                            {{ form_widget(filter.laatsteIntakeLocatie) }}
                            {{ form_errors(filter.laatsteIntakeLocatie) }}
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                {{ form_end(filter) }}
                <tr>
                    <th>ID</th>
                    <th>Naam</th>
                    <th>Geslacht</th>
                    <th>Geboortedatum</th>
                    <th>1e locatie (gebruikersruimte)</th>
                    <th>2e locatie (intakelocatie)</th>
                    <th>3e locatie</th>
                    <th>Nieuwe intake nodig</th>
                    <th>Schorsingen</th>
                </tr>
            </thead>
            <tbody>
                {% for klant in pagination %}
                    <tr data-href="{{ path(route_base~'view', {id: klant.id}) }}">
                        <td>
                            {{ klant.id }}
                        </td>
                        <td>
                            {{ klant }}
                        </td>
                        <td>
                            {{ klant.geslacht }}
                        </td>
                        <td>
                            {{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}
                        </td>
                        <td>
                            {{ klant.laatsteIntake.gebruikersruimte ?: '-' }}
                        </td>
                        <td>
                            {{ klant.laatsteIntake.intakelocatie ?: '-' }}
                        </td>
                        <td>
                            {{ klant.laatsteIntake.locatie3 ?: '-' }}
                        </td>
                        <td>
                            {% set verloopdatum = klant.laatsteIntake.intakedatum|date_modify('+1 year') %}
                            {% if verloopdatum < today %}
                                <strong class="text-danger">
                                    {{ today|diff(verloopdatum).days|human_days }} verlopen
                                </strong>
                            {% endif %}
                        </td>
                        <td>
                            {% if klant.ongezieneSchorsingen|length > 0 %}
                                schorsing verlopen
                            {% else %}
                                geen
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            {{ knp_pagination_render(pagination) }}
        </p>
        #}
        <div id="registratielijst">
            {% include 'InloopBundle:registraties:registratielijst.html.twig' %}
        </div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        function checkout(elm) {
            $.ajax({
                url: $(elm).attr('data-href'),
                context: "#registratielijst"
            }).done(function(data) {
                console.log(data);
                console.log($(this));
                $(this).html(data);
            });
        };

        function undo(elm) {
            alert('Not implemented!');
            {#
                <?php
                    echo $this->Js->link(
                        $this->Html->image('undo.png'),
                        [
                            'controller' => 'registraties',
                            'action' => 'delete',
                            $registratie['Registratie']['id'],
                            $registratie['Registratie']['locatie_id'],
                       ],
                       [
                            'escape' => false,
                            'update' => '#registratielijst',
                            'before' => '$("#loading").css("display","block")',
                            'complete' => '$("#loading").css("display","none");applyLastSorting();',
                            'title' => 'Registratie verwijderen',
                            'confirm' => 'Weet u zeker dat u deze registratie wilt verwijderen?',
                       ]
                    );
                    echo $js->writeBuffer();
                ?>
                #}
        }
    });
</script>
{% endblock %}
