{% import '::html.macro.twig' as html %}

<br>
<br>
{% set registered_clients = active_registraties|length + gebruikersruimte_registraties|length %}
{% set unregistered_counter = 0 %}
{% if past_registraties is defined %}
    {% set current_klant_id = null %}
    {% for registratie in past_registraties %}
        {# skipping repeated registrations (assuming that they're sorted properly on buiten!) #}
        {% if registratie.klant.id != current_klant_id %}
            {% set current_klant_id = registratie.klant.id %}
            {% set unregistered_counter = unregistered_counter+ 1 %}
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Bezoekersregistratie voor {{ locatie }}</h2>
<div class="row">
    <div class="col-md-8">
        <p>Aantal geregistreerde klanten op dit moment: {{ registered_clients }}</p>
        <p>Totaal aantal geregistreerde klanten: {{ registered_clients + unregistered_counter }}</p>
        <p>Datum: {{ today|date('d-m-Y') }}</p>
    </div>
    <div class="col-md-4">
        <div class="pull-right">
            <label for="HistoryLimit">Toon registraties sinds:</label>
            <select name="history_limit" id="HistoryLimit">
                <option value="0">alleen vandaag</option>
                <option value="1">gisteren</option>
                <option value="2">2 dagen geleden</option>
                <option value="3">3 dagen geleden</option>
                <option value="4">4 dagen geleden</option>
                <option value="5">5 dagen geleden</option>
                <option value="6">6 dagen geleden</option>
                <option value="7">vorige week</option>
                <option value="14">2 weken geleden</option>
            </select>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="backIconCol">&nbsp;</th>
            <th class="voornaamCol"><a href="javascript:void(null);" onclick="ecd_sandbox.alphaSortTable('voornaamCol');">Voornaam/(Roepnaam)</a></th>
            <th class="registraiteAchternaam achternaamCol">
                <a href="javascript:void(null);" onclick="ecd_sandbox.alphaSortTable('achternaamCol');">Achternaam</a>
            </th>
            <th>In</th>
            <th>Uit</th>
            <th></th>
            <th><a href="javascript:void(null);" onclick="ecd_sandbox.sortTableOnShowerOrder();">Douche</a></th>
            <th>Kleding</th>
            <th>Maaltijd</th>
            <th>Veegploeg</th>
            <th>Activering<br/>(geen&nbsp;Hi5)</th>
            <th class ="mwCol"><a href="javascript:void(null);" onclick="ecd_sandbox.sortTableOnMwOrder();">Maatsch.<br/>werk</a></th>
            <th>TBC-check</th>
            <th>Schorsingen</th>
            <th>Opmerkingen</th>
        </tr>
    </thead>
    <tbody class="active_registraties">
        {% set active = 0 %}
        {% for registratie in active_registraties %}
            {% set url = path('inloop_klanten_view', {id: registratie.klant.id}) %}
            <tr>
                <td class="backIconCol">
                    <div class="xButton">
                        <a onclick="undo({{ registratie.id }}, {{ locatie.id }});" href="#">
                            <img src="{{ asset('img/undo.png') }}">
                        </a>
                    </div>
                </td>
                <td class="voornaamCol">
                    {{ html.link(registratie.klant, path('inloop_klanten_view', {id: registratie.klant.id})) }}
                </td>
                    <td class="registraiteAchternaam achternaamCol">
                        <a href="{{ relative_path('/klanten/view/'~registratie.klant.id) }}">{{ registratie.klant.achternaam }}</a>
                    </td>
                <td>{{ registratie.binnen|date('H:i') }}
                </td>
                <td>
                    {% if not registratie.buiten %}
                        {% set active = active + 1 %}
                        <a onclick="checkout(this);" data-href="{{ path('inloop_registraties_registratiecheckout', {registratie: registratie.id, locatie: locatie.id}) }}">
                            <img src="{{ asset('img/time_go.png') }}">
                        </a>
                    {% endif %}
                </td>
                <td></td>
                <td id="douche__{{ registratie.id }}" class="doucheCol">
                    <input type="checkbox" name="data[Registratie][douche]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td id="kleding__{{ registratie.id }}">
                    <input type="checkbox" name="data[Registratie][kleding]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td id="maaltijd__{{ registratie.id }}">
                    <input type="checkbox" name="data[Registratie][maaltijd]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td id="veegploeg__{{ registratie.id }}">
                    <input type="checkbox" name="data[Registratie][veegploeg]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td id="activering__{{ registratie.id }}">
                    <input type="checkbox" name="data[Registratie][activering]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td id="mw__{{ registratie.id }}" class="mwCol">
                    <input type="checkbox" name="data[Registratie][mw]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                </td>
                <td>
                    {% if locatie.tbcCheck() %}
                        {% if not registratie.klant.laatsteTbcControle %}
                            <strong class="text-danger">onbekend</strong>
                        {% else %}
                            {% set valid_until = registratie.klant.laatsteTbcControle|date_modify('+'~tbc_months_period~'months') %}
                            {% if valid_until <= today %}
                                <strong class="text-danger">is verlopen</strong>
                            {% else %}
                                <strong class="text-warning">over {{ today|diff(valid_until).days|human_days }}</strong>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ registratie.klant.ongezieneSchorsingen|length > 0 ? 'schorsing verlopen' : 'geen' }}
                </td>
                <td>
                    {{ registratie.klant.openstaandeOpmerkingen|length > 0 ? registratie.klant.opmerkingen|length~' opmerkingen' : 'geen' }}
                </td>
            </tr>
        {% endfor %}
    </tbody>

    {% if gebruikersruimte_registraties and gebruikersruimte_registraties|length > 0 %}
        <thead>
            <tr>
                <th colspan="14">Gebruikersruimte:</th>
            </tr>
            <tr>
                <th class="backIconCol">&nbsp;</th>
                <th class="voornaamCol">
                    <a href="javascript:void(null);" onclick="ecd_sandbox.alphaSortTable('voornaamCol');">Voornaam/(Roepnaam)</a>
                </th>
                <th class="registraiteAchternaam achternaamCol">
                    <a href="javascript:void(null);" onclick="ecd_sandbox.alphaSortTable('achternaamCol');">Achternaam</a>
                </th>
                <th><?php __('In'); ?></th>
                <th><?php __('Uit'); ?></th>
                <th class ="gbrvCol"><a href="javascript:void(null);" onclick="ecd_sandbox.sortTableOnGbrvOrder();">Gbr.<br/>Volgorde</a></th>
                <th><a href="javascript:void(null);" onclick="ecd_sandbox.sortTableOnShowerOrder();">Douche</a></th>
                <th><?php __('Kleding'); ?></th>
                <th><?php __('Maaltijd'); ?></th>
                <th><?php __('Veegploeg'); ?></th>
                <th>Activering<br/>(geen&nbsp;Hi5)</th>
                <th class ="mwCol">
                    <a href="javascript:void(null);" onclick="ecd_sandbox.sortTableOnMwOrder();">Maatsch.<br>werk</a>
                </th>
                <th><?php __('TBC-check'); ?></th>
                <th><?php __('Schorsingen'); ?></th>
                <th>Opmerkingen</th>
            </tr>
        </thead>
        <tbody class="gebruikers">
            {% set active = 0 %}
            {% for registratie in gebruikersruimte_registraties %}
                {% set url = path('inloop_klanten_view', {id: registratie.klant.id}) %}
                <tr>
                    <td class="backIconCol">
                        <div class="xButton">
                            <?= $this->Js->link(
                                $this->Html->image('undo.png'),
                                [
                                    'controller' => 'registraties',
                                    'action' => 'delete',
                                    $registratie['Registratie']['id'],
                                    $registratie['Registratie']['locatie_id'],
                                ],
                                [
                                    'escape' => false,
                                    'update' => '#registratielijst',
                                    'before' => '$("#loading").css("display","block")',
                                    'complete' => '$("#loading").css("display","none");applyLastSorting()',
                                    'title' => 'Registratie verwijderen',
                                    'confirm' => 'Weet u zeker dat u deze registratie wilt verwijderen?',
                                ]
                            ); ?>
                        </div>
                    </td>
                    <td class="voornaamCol">
                        <?= $this->Html->link(
                            $this->Format->name1st($registratie['Klant']),
                            [
                                'controller' => 'klanten',
                                'action' => 'view',
                                $registratie['Registratie']['klant_id'],
                            ]
                        ); ?>
                    </td>
                    <td class="achternaamCol">
                        <?= $this->Html->link(
                            $registratie['Klant']['achternaam'],
                            [
                                'controller' => 'klanten',
                                'action' => 'view',
                                $registratie['Registratie']['klant_id'],
                            ]
                        ); ?>
                    </td>
                    <td>
                        <?= date('H:i', strtotime($registratie['Registratie']['binnen'])); ?>
                    </td>
                    <td>
                        <?php
                            if ($registratie['Registratie']['buiten'] == null) {
                                ++$active;
                                $img = $html->image('time_go.png', ['alt' => 'Uitchecken']);
                                echo $this->Js->link($img, [
                                    'controller' => 'inloop/registraties',
                                    'action' => 'registratieCheckOut',
                                    $registratie['Registratie']['id'],
                                    $registratie['Registratie']['locatie_id'], ],
                                    [
                                        'escape' => false,
                                        'update' => '#registratielijst',
                                        'before' => '$("#loading").css("display","block")',
                                        'complete' => '$("#loading").css("display","none");applyLastSorting();',
                                ]);
                                echo $js->writeBuffer();
                            }
                        ?>
                    </td>
                    <td id='gbrv__{{ registratie.id }}' class="gbrvCol">
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'gbrv',
                            'registratie' => $registratie,
                            'locatie_id' => $locatie_id,
                        ]); ?>
                    </td>
                    <td id='douche__{{ registratie.id }}' class="doucheCol">
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'douche',
                            'registratie' => $registratie,
                            'locatie_id' => $locatie_id,
                        ]); ?>
                    </td>
                    <td id='kleding__{{ registratie.id }}'>
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'kleding',
                            'registratie' => $registratie,
                        ]); ?>
                    </td>
                    <td id='maaltijd__{{ registratie.id }}'>
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'maaltijd',
                            'registratie' => $registratie, ]
                        ); ?>
                    </td>
                    <td id='veegploeg__{{ registratie.id }}'>
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'veegploeg',
                            'registratie' => $registratie,
                        ]); ?>
                    </td>
                    <td id='activering__{{ registratie.id }}'>
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'activering',
                            'registratie' => $registratie, ]
                        ); ?>
                    </td>
                    <td id='mw__{{ registratie.id }}' class="mwCol">
                        <?= $this->element('registratie_checkboxes', [
                            'fieldname' => 'mw',
                            'registratie' => $registratie,
                            'locatie_id' => $locatie_id,
                        ]); ?>
                    </td>
                    <td>
                        <?php if (1 == $locatie['tbc_check']): ?>
                            <?= $registratie['Klant']['laatste_TBC_controle_message']; ?>&nbsp;
                        <?php endif; ?>
                    </td>
                    <td>
                        <?= $html->link($registratie['Klant']['active_schorsingen'],
                            ['controller' => 'schorsingen', 'action' => 'index',
                            $registratie['Registratie']['klant_id'], $locatie_id, ]
                        ); ?>
                        &nbsp;
                    </td>
                    <td>
                        <?= $html->link($registratie['Klant']['opmerkingen'], [
                            'controller' => 'opmerkingen',
                            'action' => 'index',
                            $registratie['Registratie']['klant_id'],
                            $locatie_id,
                        ]); ?>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    {% endif %}

    {% if past_registraties|length > 0 %}
        <thead>
            <tr>
                <th colspan="3">Uitgecheckt:</th>
                <th>In</th>
                <th>Uit</th>
                <th>Duur</th>
                <th>Douche</th>
                <th>Kleding</th>
                <th>Maaltijd</th>
                <th>Veegploeg</th>
                <th>Activering<br/>(geen&nbsp;Hi5)</th>
                <th class ="mwCol">Maatsch.<br/>werk</th>
                <th>TBC-check</th>
                <th>Schorsingen</th>
                <th>Opmerkingen</th>
            </tr>
        </thead>
        <tbody class="deregistered">
            <?php $i = 0; ?>
            <?php $active = 0; ?>
            <?php $current_klant_id = null; ?>
            {% for registratie in past_registraties %}
                <?php
                    if ($registratie['Registratie']['klant_id'] == $current_klant_id) {
                        continue;
                    } else {
                        $current_klant_id = $registratie['Registratie']['klant_id'];
                        ++$unregistered_counter;
                    }
                    $class = null;
                    if (1 == $i++ % 2) {
                        $class = ' class="altrow"';
                    }
                ?>
                <tr id="registratielijst_klant_<?=$registratie['Registratie']['klant_id']; ?>">
                    <td class="backIconCol">&nbsp;</td>

                <td class="voornaamCol">
                    {{ html.link(registratie.klant, path('inloop_klanten_view', {id: registratie.klant.id})) }}
                </td>
                    <td class="registraiteAchternaam achternaamCol">
                        <a href="{{ relative_path('/klanten/view/'~registratie.klant.id) }}">{{ registratie.klant.achternaam }}</a>
                    </td>
                <td>
                    {{ registratie.binnen|date('d-m-Y | H:i') }}
                </td>
                <td>
                    {{ registratie.buiten|date('d-m-Y | H:i') }}
                </td>
                <td>
                    {% set duration = registratie.buiten|diff(registratie.binnen) %}
                    {{ duration.h }}:{{ '%02d'|format(duration.i) }}
                </td>
                    <td id="douche__{{ registratie.id }}" class="doucheCol">
                        <input type="checkbox" name="data[Registratie][douche]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td id="kleding__{{ registratie.id }}">
                        <input type="checkbox" name="data[Registratie][kleding]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td id="maaltijd__{{ registratie.id }}">
                        <input type="checkbox" name="data[Registratie][maaltijd]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td id="veegploeg__{{ registratie.id }}">
                        <input type="checkbox" name="data[Registratie][veegploeg]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td id="activering__{{ registratie.id }}">
                        <input type="checkbox" name="data[Registratie][activering]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td id="mw__{{ registratie.id }}" class="mwCol">
                        <input type="checkbox" name="data[Registratie][mw]" class="compact" id="RegistratieDouche{{ registratie.id }}" value="1">
                    </td>
                    <td>
                        {% if locatie.tbcCheck() %}
                            {% if not registratie.klant.laatsteTbcControle %}
                                <strong class="text-danger">onbekend</strong>
                            {% else %}
                                {% set valid_until = registratie.klant.laatsteTbcControle|date_modify('+'~tbc_months_period~'months') %}
                                {% if valid_until <= today %}
                                    <strong class="text-danger">is verlopen</strong>
                                {% else %}
                                    <strong class="text-warning">over {{ today|diff(valid_until).days|human_days }}</strong>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ registratie.klant.ongezieneSchorsingen|length > 0 ? 'schorsing verlopen' : 'geen' }}
                    </td>
                    <td>
                        {{ registratie.klant.openstaandeOpmerkingen|length > 0 ? registratie.klant.opmerkingen|length~' opmerkingen' : 'geen' }}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    {% endif %}
</table>

{% if (active_registraties|length + gebruikersruimte_registraties|length) > 0 %}
    <div class="action">
        <a id="checkout-all" href="">Alle bezoekers van {{ locatie }} uitchecken</a>
        <script>
            $(document).ready(function () {
                $("#checkout-all").bind("click", function (event) {
                    var _confirm = confirm("Wil je echt iedereen uitchecken van {{ locatie }}?");
                    if (!_confirm) {
                        return false;
                    }
                    $.ajax({
                        dataType: "html",
                        success: function (data, textStatus) {
                            $("#registratielijst").html(data);
                        },
                        url: '/registraties/registratieCheckOutAll/'+ {{ locatie.id }}
                    });
                    return false;
                });
            });
        </script>
    </div>
{% endif %}

<script>
    $(function() {

        $('#HistoryLimit').change(function() {
            $.ajax({
                url: '{{ path('inloop_registraties_ajaxshowhistory', {locatie: locatie.id}) }}'+'/'+$(this).val(),
            }).done(function(data) {
                $('#registratielijst').html(data);
            });
        });

        function checkout(elm) {
            $.ajax({
                url: $(elm).attr('data-href'),
            }).done(function(data) {
                $('#registratielijst').html(data);
            });
        };

        function undo(elm) {
            alert('Not implemented!');
            {#
                <?php
                    echo $this->Js->link(
                        $this->Html->image('undo.png'),
                        [
                            'controller' => 'registraties',
                            'action' => 'delete',
                            $registratie['Registratie']['id'],
                            $registratie['Registratie']['locatie_id'],
                       ],
                       [
                            'escape' => false,
                            'update' => '#registratielijst',
                            'before' => '$("#loading").css("display","block")',
                            'complete' => '$("#loading").css("display","none");applyLastSorting();',
                            'title' => 'Registratie verwijderen',
                            'confirm' => 'Weet u zeker dat u deze registratie wilt verwijderen?',
                       ]
                    );
                    echo $js->writeBuffer();
                ?>
                #}
        }
    });
</script>
