{% import 'html.macro.twig' as html %}
<h2>Huuraanbiedingen</h2>
<p>
    {% if verhuurder.actief %}
        {{ html.addLink(path('tw_huuraanbiedingen_add', {id: verhuurder.id})) }}
        {{ html.link('Huuraanbod toevoegen', path('tw_huuraanbiedingen_add', {id: verhuurder.id})) }}
    {% endif %}
</p>
<table class="table">
    <tr>
        <th>Stadsdeel
        <th>Project</th>
        <th>Startdatum</th>
        <th>Toestemming aangevraagd</th>
        <th>Toestemming toegekend</th>
        <th>Afsluitdatum</th>
        <th></th>
    </tr>
    {% for huuraanbod in verhuurder.huuraanbiedingen %}
        {% if not huuraanbod.huurovereenkomst %}
            {% if huuraanbod.datumTOestemmingToegekend is not empty and date(huuraanbod.datumToestemmingToegekend) < date() %}
                {% set cssClass = "success" %}
            {% else %}
                {% set cssClass = "" %}
            {% endif %}
            <tr class="{{ cssClass }}">
                <td>{{ huuraanbod.verhuurder.appKlant.werkgebied }}</td>
                <td>{{ huuraanbod.project }}</td>
                <td>
                    {{ huuraanbod.startdatum ? huuraanbod.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huuraanbod.datumToestemmingAangevraagd ? huuraanbod.datumToestemmingAangevraagd|date('d-m-Y') }}
                </td>
                <td>
                    {{ huuraanbod.datumToestemmingToegekend ? huuraanbod.datumToestemmingToegekend|date('d-m-Y') }}
                </td>
                <td>
                    {{ huuraanbod.afsluitdatum ? huuraanbod.afsluitdatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewlink(path('tw_huuraanbiedingen_view', {id: huuraanbod.id})) }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
