{% include 'hs_subnavigation.twig' %} 

<h1>Profielgroepen</h1>

{{ html.link('Profielgroep toevoegen', {'action': 'add'}) }}

<table>
	<tr>
		<th>Nummer</th>
		<th>Naam</th>
		<th></th>
	</tr>
	{% for hsProfielGroep in hsProfielGroepen %}
	<tr>
		<td>{{ hsProfielGroep.id }}</td>
        <td>{{ hsProfielGroep }}</td>
		<td>
		    {{ html.link('Bekijken', {'action': 'view', 0: hsProfielGroep.id}) }}
            {{ html.link('Bewerken', {'action': 'edit', 0: hsProfielGroep.id}) }}
            {{ html.link('Verwijderen', {'action': 'delete', 0: hsProfielGroep.id}) }}
	    </td>
	</tr>
	{% endfor %}
</table>

{# this.element('pagination') #}