{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    SCIP | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Scip/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
    </p>
{% endblock %}

{% block content_left %}
    {# als evaluateidtum, en als ie in het verleden of op vandaag ligt, dan rood               #}
    {% if entity.evaluatiedatum and date() >= date(entity.evaluatiedatum) %}
        {% set evaluatieClass = "text-danger" %}
    {# als evaluateidtum, en als ie in het als ie binnen een week is, dan geel               #}
    {% elseif entity.evaluatiedatum and date("+1 week") >= date(entity.evaluatiedatum)  %}
        {% set evaluatieClass = "text-warning" %}
    {% else %}
        {% set evaluatieClass = "" %}
    {% endif %}
    <h2>SCIP</h2>
    <dl class="dl-horizontal">
        <dt>Functie</dt>
        <dd>{{ entity.functie }}</dd>
        <dt>Werkbegeleider</dt>
        <dd>{{ entity.werkbegeleider }}</dd>
        <span class="{{evaluatieClass}}">
        <dt>Evaluatiedatum</dt>
        <dd>{{ entity.evaluatiedatum|if_date('d-m-Y') }}</dd></span>
        <dt>Type</dt>
        <dd>{{ entity.type }}</dd>
        <dt>RIS-nummer</dt>
        <dd>{{ entity.risNummer }}</dd>
        <dt>Labels</dt>
        <dd>
            <ul>
                {% for label in entity.labels %}
                    <li>{{ label }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% include 'klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#deelnemers">Projecten</a></li>
        <li><a data-toggle="tab" href="#werkdoelen">Werkdoelen</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="deelnemers" class="tab-pane active">
            <h2>Projecten</h2>
            <p>
                {{ html.link('Toevoegen', path('scip_deelnames_add', {deelnemer: entity.id}), 'add') }}
            </p>
            {% include '@Scip/deelnames/_list.html.twig' %}
        </div>
        <div id="werkdoelen" class="tab-pane">
            <h2>Werkdoelen</h2>
            <p>
                {{ html.link('Toevoegen', path('scip_werkdoelen_add', {deelnemer: entity.id}), 'add') }}
            </p>
            {% for werkdoel in entity.werkdoelen %}
                <div class="well">
                    <p class="text-right">
                        {{ werkdoel.medewerker }} | {{ werkdoel.datum|date('d-m-Y') }} |
                        {{ html.editLink(path('scip_werkdoelen_edit', {id: werkdoel.id})) }}
                        {{ html.deleteLink(path('scip_werkdoelen_delete', {id: werkdoel.id})) }}
                    </p>
                    <p>{{ werkdoel.tekst }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="verslagen" class="tab-pane">
            <h2>Verslagen</h2>
            <p>
                {{ html.link('Toevoegen', path('scip_verslagen_add', {deelnemer: entity.id}), 'add') }}
            </p>
            {% for verslag in entity.verslagen %}
                <div class="well">
                    <p class="text-right">
                        {{ verslag.medewerker }} | {{ verslag.datum|date('d-m-Y') }} |
                        {{ html.editLink(path('scip_verslagen_edit', {id: verslag.id})) }}
                        {{ html.deleteLink(path('scip_verslagen_delete', {id: verslag.id})) }}
                    </p>
                    <p>{{ verslag.tekst }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="documenten" class="tab-pane">
            <h2>Documenten</h2>
            <p>
                {{ html.link('Toevoegen', path('scip_documenten_add', {deelnemer: entity.id}), 'add') }}
            </p>
            {% for document in entity.documenten %}
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{ document.type }}</h4>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right">{{ document.medewerker }} | {{ document.created|date('d-m-Y') }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{ html.link(document.naam, vich_uploader_asset(document, 'file'), 'download') }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right">
                                {{ html.editLink(path('scip_documenten_edit', {id: document.id}), 'edit') }}
                                {{ html.deleteLink(path('scip_documenten_delete', {id: document.id}), 'delete') }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
