{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Onder de Pannen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>
        Verhuurder {{ verhuurder.klant.naam }}
    </h1>
    <p>
        {% if verhuurder.actief %}
            {{ html.editLink(path('odp_verhuurders_edit', {'id': verhuurder.id})) }}
            {{ html.link('Wijzigen', path('odp_verhuurders_edit', {'id': verhuurder.id})) }}
            {% if verhuurder.closable %}
                {{ html.closeLink(path('odp_verhuurders_close', {id: verhuurder.id})) }}
                {{ html.link('Afsluiten', path('odp_verhuurders_close', {id: verhuurder.id})) }}
            {% endif %}
        {% else %}
            {{ html.addLink(path('odp_verhuurders_reopen', {id: verhuurder.id})) }}
            {{ html.link('Heropenen', path('odp_verhuurders_reopen', {id: verhuurder.id})) }}
            <dl class="dl-horizontal" style="color: red;">
                <dt>Afsluitdatum dossier</dt>
                <dd>{{ verhuurder.afsluitdatum ? verhuurder.afsluitdatum|date('d-m-Y') }}</dd>
                <dt>Reden afsluiting</dt>
                <dd>{{ verhuurder.afsluiting ? verhuurder.afsluiting }}</dd>
            </dl>
        {% endif %}
        {% if verhuurder.deletable %}
            {{ html.deleteLink(path('odp_verhuurders_delete', {'id': verhuurder.id})) }}
            {{ html.link('Verwijderen', path('odp_verhuurders_delete', {'id': verhuurder.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ verhuurder.klant }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ verhuurder.medewerker }}</dd>
        <dt>Aanmelddatum</dt>
        <dd>{{ verhuurder.aanmelddatum|date('d-m-Y') }}</dd>
        <dt>Rekeningnummer</dt>
        <dd>{{ verhuurder.rekeningnummer }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Woningbouwcorporatie</dt>
        <dd>{{ verhuurder.woningbouwcorporatie }}</dd>
        <dt>Toelichting</dt>
        <dd>{{ verhuurder.woningbouwcorporatieToelichting }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Klantmanager</dt>
        <dd>{{ verhuurder.klantmanager }}</dd>
        <dt>WPI</dt>
        <dd>{{ verhuurder.wpi ? 'Ja' : 'Nee' }}</dd>
        <dt title="Kleine schuld, grote winst">KSGW</dt>
        <dd>{{ verhuurder.ksgw ? 'Ja' : 'Nee' }}</dd>
    </dl>
    {% include '::klant_basis.html.twig' with {klant: verhuurder.klant} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#huuraanbiedingen">Huuraanbiedingen / Koppelingen</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="huuraanbiedingen" class="tab-pane active">
            {% include 'OdpBundle:huuraanbiedingen:_list.html.twig' %}
            {% include 'OdpBundle:huurovereenkomsten:_list.html.twig' %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include 'OdpBundle:verslagen:_list.html.twig' with {verhuurder: verhuurder} %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include 'OdpBundle:documenten:_list.html.twig' with {verhuurder: verhuurder} %}
        </div>
    </div>
{% endblock %}
