{% import '::html.macro.twig' as html %}
<h2>Trajecten</h2>
<p>
    {% if deelnemer is defined %}
        {% set url = path('dagbesteding_trajecten_add', {deelnemer: deelnemer.id}) %}
        {% set entity = deelnemer %}
    {% elseif Trajectcoach is defined %}
        {% set entity = Trajectcoach %}
    {% endif %}
    {% if url is defined %}
        {{ html.addLink(url) }}
        {{ html.link('Traject toevoegen', url) }}
    {% endif %}
</p>
<table class="table table-hover">
    <tr>
        <th>Soort</th>
        <th>Resultaatgebied</th>
        <th>Startdatum</th>
        <th>Afsluitdatum</th>
    </tr>
    {% for traject in entity.trajecten %}
        <tr data-href="{{ path('dagbesteding_trajecten_view', {id: traject.id}) }}">
            <td>{{ traject.soort }}</td>
            <td>{{ traject.resultaatgebied }}</td>
            <td>
                {{ traject.startdatum ? traject.startdatum|date('d-m-Y') }}
            </td>
            <td>
                {{ traject.afsluitdatum ? traject.afsluitdatum|date('d-m-Y') }}
            </td>
        </tr>
    {% endfor %}
</table>
