
{% import 'html.macro.twig' as html %}
{% if entity is defined %}
    {% set url = path('dagbesteding_trajecten_add', {deelnemer: entity.deelnemer.id}) %}
{% elseif Trajectcoach is defined %}
    {% set entity = Trajectcoach %}
{% endif %}


{% if is_granted('ROLE_DAGBESTEDING') %}
    <ul class="nav nav-tabs sub-content">
        <li class="active"><a data-toggle="tab" href="#algemeen">Algemeen</a> </li>
        <li class=""><a data-toggle="tab" href="#aanwezigheid">Aanwezigheid</a></li>
        <li><a data-toggle="tab" href="#beschikbaarheid">Beschikbaarheid</a></li>

    </ul>
    <div class="tab-content sub-content p-3">
        <div id="algemeen" class="tab-pane active">
            <h3>Trajectinformatie</h3>
            <p>
                {% if is_granted('ROLE_DAGBESTEDING') and entity.deelnemer.isActief %}
                    {% if url is defined %}
                        {{ html.addLink(url) }}
                        {{ html.link('Traject toevoegen', url) }}
                    {% endif %}

                    {% if entity.actief %}
                        {{ html.link('Wijzigen', path('dagbesteding_trajecten_edit', {id: entity.id}), 'edit') }}
                        {{ html.link('Afsluiten', path('dagbesteding_trajecten_close', {id: entity.id}), 'close') }}
                    {% elseif is_granted('ROLE_ADMIN') %}
                        {{ html.link('Heropenen', path('dagbesteding_trajecten_open', {id: entity.id}), 'open') }}
                        {{ html.link('Afsluiting wijzigen', path('dagbesteding_trajecten_close', {id: entity.id}), 'close') }}
                    {% endif %}
                    {% if entity.deletable %}
                        {{ html.link('Verwijderen', path('dagbesteding_trajecten_delete', {id: entity.id}), 'delete') }}
                    {% endif %}
                {% endif %}
            </p>

            <dl class="dl-horizontal">
                <dt>#</dt>
                <dd>{{ entity.id }}</dd>
                <dt>Traject</dt>
                <dd>{{ entity.soort }}</dd>
                <dt>Resultaatgebied</dt>
                <dd>{{ entity.resultaatgebied.soort }} (sinds {{ entity.resultaatgebied.startdatum|date('d-m-Y') }})</dd>
                {% if entity.resultaatgebieden|length > 1 %}
                    <dt>Eerdere resultaatgebieden</dt>
                    <dd>
                        <ul>
                            {% for i, resultaatgebied in entity.resultaatgebieden %}
                                {% if i > 0 %}
                                    <li>{{ resultaatgebied.soort }} (sinds {{ resultaatgebied.startdatum|date('d-m-Y') }})</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </dd>
                {% endif %}
                <dt>Startdatum</dt>
                <dd>{{ entity.startdatum|date('d-m-Y') }}</dd>
                <dt>Evaluatiedatum</dt>
                <dd>{{ entity.evaluatiedatum|if_date('d-m-Y') }}</dd>
                <dt>Geplande einddatum</dt>
                <dd>{{ entity.einddatum|if_date('d-m-Y') }}</dd>
                <dt>Werklocatie(s)</dt>
                <dd>
                    <ul>
                        {% for locatie in entity.locaties %}
                            <li>{{ locatie }}</li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt>Project(en)</dt>
                <dd>
                    <ul>
                        {% for d in entity.deelnames %}
                            {#                    {% for project in projecten %}#}
                            <li>{{ d.project.naam }}</li>
                            {#                    {% endfor %}#}
                        {% endfor %}

                    </ul>
                    {% if ( entity.deelnemer.isActief ) %}
                        {{ html.link('Project toevoegen', path('dagbesteding_deelnames_add', {'traject': entity.id}), 'add') }}
                    {% endif %}
                </dd>

                <dt>Trajectcoach</dt>
                <dd>{{ entity.trajectcoach }}</dd>
                <dt>Ondersteuningsplan verwerkt</dt>
                <dd>{{ entity.ondersteuningsplanVerwerkt|ja_nee }}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Afsluitdatum</dt>
                <dd>{{ entity.afsluitdatum ? entity.afsluitdatum|date('d-m-Y') }}</dd>
                <dt>Reden afsluiting</dt>
                <dd>{{ entity.afsluiting }}</dd>
            </dl>

        </div>
        <div id="aanwezigheid" class="tab-pane">
            {% include '@Dagbesteding/dagdelen/_list.html.twig' with {traject: entity, deelnemer: entity.deelnemer} %}
        </div>
        <div id="beschikbaarheid" class="tab-pane">
            {% include '@Dagbesteding/deelnames/_list.html.twig' with {entity: entity} %}
        </div>
    </div>
{% else %}
    {% include '@Dagbesteding/dagdelen/_list.html.twig' with {traject: entity} %}
{% endif %}

