{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>Traject van {{ entity.deelnemer.klant }}</h1>
    <p>
        {% if is_granted('ROLE_DAGBESTEDING') %}
            {% if entity.actief %}
                {{ html.link('Wijzigen', path('dagbesteding_trajecten_edit', {id: entity.id}), 'edit') }}
                {{ html.link('Afsluiten', path('dagbesteding_trajecten_close', {id: entity.id}), 'close') }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ html.link('Heropenen', path('dagbesteding_trajecten_open', {id: entity.id}), 'open') }}
                {{ html.link('Afsluiting wijzigen', path('dagbesteding_trajecten_close', {id: entity.id}), 'close') }}
            {% endif %}
            {% if entity.deletable %}
                {{ html.link('Verwijderen', path('dagbesteding_trajecten_delete', {id: entity.id}), 'delete') }}
            {% endif %}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <h2>Traject dagbesteding</h2>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Traject</dt>
        <dd>{{ entity.soort }}</dd>
        <dt>Deelnemer</dt>
        <dd>{{ html.link(entity.deelnemer.klant, path('dagbesteding_deelnemers_view', {id: entity.deelnemer.id})) }}</dd>
        <dt>Resultaatgebied</dt>
        <dd>{{ entity.resultaatgebied.soort }} (sinds {{ entity.resultaatgebied.startdatum|date('d-m-Y') }})</dd>
        {% if entity.resultaatgebieden|length > 1 %}
            <dt>Eerdere resultaatgebieden</dt>
            <dd>
                <ul>
                {% for i, resultaatgebied in entity.resultaatgebieden %}
                    {% if i > 0 %}
                        <li>{{ resultaatgebied.soort }} (sinds {{ resultaatgebied.startdatum|date('d-m-Y') }})</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Startdatum</dt>
        <dd>{{ entity.startdatum|date('d-m-Y') }}</dd>
        <dt>Evaluatiedatum</dt>
        <dd>{{ entity.evaluatiedatum|if_date('d-m-Y') }}</dd>
        <dt>Geplande einddatum</dt>
        <dd>{{ entity.einddatum|if_date('d-m-Y') }}</dd>
        <dt>Werklocatie(s)</dt>
        <dd>
            <ul>
                {% for locatie in entity.locaties %}
                    <li>{{ locatie }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Project(en)</dt>
        <dd>
            <ul>
                {% for d in entity.deelnames %}
{#                    {% for project in projecten %}#}
                        <li>{{ d.project.naam }}</li>
{#                    {% endfor %}#}
                {% endfor %}

            </ul>
            {{ html.link('Project toevoegen', path('dagbesteding_deelnames_add', {'traject': entity.id}), 'add') }}
        </dd>

        <dt>Trajectcoach</dt>
        <dd>{{ entity.trajectcoach }}</dd>
        <dt>Ondersteuningsplan verwerkt</dt>
        <dd>{{ entity.ondersteuningsplanVerwerkt|ja_nee }}</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Afsluitdatum</dt>
        <dd>{{ entity.afsluitdatum ? entity.afsluitdatum|date('d-m-Y') }}</dd>
        <dt>Reden afsluiting</dt>
        <dd>{{ entity.afsluiting }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% if is_granted('ROLE_DAGBESTEDING') %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#aanwezigheid">Aanwezigheid</a></li>
            <li><a data-toggle="tab" href="#beschikbaarheid">Beschikbaarheid</a></li>
        </ul>
        <div class="tab-content">
            <div id="aanwezigheid" class="tab-pane active">
                {% include '@Dagbesteding/dagdelen/_list.html.twig' with {traject: entity, deelnemer: entity.deelnemer} %}
            </div>
            <div id="beschikbaarheid" class="tab-pane">
                {% include '@Dagbesteding/deelnames/_list.html.twig' with {entity: entity} %}
            </div>

        </div>
    {% else %}
        {% include '@Dagbesteding/dagdelen/_list.html.twig' with {traject: entity} %}
    {% endif %}
{% endblock %}
