{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Trainingen</h1>

    <p>
        {{ html.addLink(path('oek_trainingen_add')) }}
        {{ html.link('Training toevoegen', path('oek_trainingen_add')) }}
    </p>

    <table class="table table-hover">
        <tr>
            {{ form_start(filter) }}
            <th>
                {{ form_widget(filter.id) }}
                {{ form_errors(filter.id) }}
            </th>
            <th>
                {{ form_widget(filter.naam) }}
                {{ form_errors(filter.naam) }}
            </th>
            <th>
                {{ form_widget(filter.groep) }}
                {{ form_errors(filter.groep) }}
            </th>
            <th></th>
            <th>
                {{ form_widget(filter.startdatum) }}
                {{ form_errors(filter.startdatum) }}
            </th>
            <th>
                {{ form_widget(filter.einddatum) }}
                {{ form_errors(filter.einddatum) }}
            </th>
            <th>
                <button type="submit">Filteren</button>
            </th>
            {{ form_end(filter) }}
        </tr>
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'training.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'training.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Groep', 'groep.naam') }}
            </th>
            <th>
                Deelnemers
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Startdatum', 'training.startdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Einddatum', 'training.einddatum') }}
            </th>
            <th></th>
        </tr>
        {% for training in pagination %}
            <tr>
                <td>
                    {{ html.link(training.id, path('oek_trainingen_view', {id: training.id})) }}
                </td>
                <td>
                    {{ html.link(training.naam, path('oek_trainingen_view', {id: training.id})) }}
                </td>
                <td>
                    {{ html.link(training.groep, path('oek_groepen_view', {id: training.groep.id})) }}
                </td>
                <td>{{ training.count_deelnemers }}</td>
                <td>
                    {{ training.startdatum ? training.startdatum|date('d-m-Y') }}
                    {{ training.starttijd ? training.starttijd|date('H:i') ~ ' uur' }}
                </td>
                <td>{{ training.einddatum ? training.einddatum|date('d-m-Y') }}</td>
                <td>
                    {{ html.viewLink(path('oek_trainingen_view', {id: training.id})) }}
                    {{ html.editLink(path('oek_trainingen_edit', {id: training.id})) }}
                    {% if training.deletable %}
                        {{ html.deleteLink(path('oek_trainingen_delete', {id: training.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
