{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity }}</h1>
    <p>
        {{ html.editLink(path('oek_trainingen_edit', {id: entity.id})) }}
        {{ html.link('Training wijzigen', path('oek_trainingen_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('oek_trainingen_delete', {id: entity.id})) }}
            {{ html.link('Training verwijderen', path('oek_trainingen_delete', {id: entity.id})) }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
        <dt>Groep</dt>
        <dd>
            {{ html.link(entity.groep, path('oek_groepen_view', {id: entity.groep.id})) }}
        </dd>
        <dt>Locatie</dt>
        <dd>{{ entity.locatie }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ entity.startdatum ? entity.startdatum|date('d-m-Y') }}&nbsp;</dd>
        <dt>Starttijd</dt>
        <dd>{{ entity.starttijd ? entity.starttijd|date('H:i') }}&nbsp;</dd>
        <dt>Einddatum</dt>
        <dd>{{ entity.einddatum ? entity.einddatum|date('d-m-Y') }}&nbsp;</dd>
    </dl>
{% endblock %}

{% block content_right %}
    <h2>Deelnemers</h2>
    <p>
        {% set add_link = path('oek_deelnames_add', {'training': entity.id}) %}
        {{ html.addLink(add_link) }}
        {{ html.link('Deelnemer aan training toevoegen', add_link) }}
        <br>
        {% set email_link = path('oek_trainingen_email', {id: entity.id}) %}
        {{ html.editLink(email_link) }}
        {{ html.link('Deelnemers e-mailen', email_link) }}
        <br>
        {% set url = path('oek_trainingen_deelnemerslijst', {id: entity.id}) %}
        {{ html.downloadLink(url) }}
        {{ html.link('Deelnemerslijst downloaden', url) }}
        <br>
        {% set url = path('oek_trainingen_presentielijst', {id: entity.id}) %}
        {{ html.downloadLink(url) }}
        {{ html.link('Presentielijst downloaden', url) }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Deelnemer</th>
            <th>Stadsdeel</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for deelname in entity.deelnames %}
            <tr>
                <td>
                    {{ html.link(deelname.deelnemer.klant.id, path('oek_deelnemers_view', {id: deelname.deelnemer.id})) }}
                </td>
                <td>
                    {{ html.link(deelname.deelnemer, path('oek_deelnemers_view', {id: deelname.deelnemer.id})) }}
                </td>
                <td>
                    {{ deelname.deelnemer.klant.werkgebied }}
                </td>
                <td>
                    {{ deelname.deelnameStatus.status }}
                </td>
                <td>
                    {{ html.editLink(path('oek_deelnames_edit', {id: deelname.id})) }}

                    {% if deelname.deletable %}
                        {{ html.deleteLink(path('oek_deelnames_delete', {id: deelname.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
