{% import '::html.macro.twig' as html %}
<ul class="nav nav-tabs">
    {{ html.navLink('Huurders', path('odp_huurders_index'), isActiveRoute('odp_huurders')) }}
    {{ html.navLink('Verhuurders', path('odp_verhuurders_index'), isActiveRoute('odp_verhuurders')) }}
    {{ html.navLink('Huurverzoeken', path('odp_huurverzoeken_index'), isActiveRoute('odp_huurverzoeken')) }}
    {{ html.navLink('Huuraanbiedingen', path('odp_huuraanbiedingen_index'), isActiveRoute('odp_huuraanbiedingen')) }}
    {{ html.navLink('Koppelingen', path('odp_huurovereenkomsten_index'), isActiveRoute('odp_huurovereenkomsten')) }}
    <li role="presentation" class="dropdown {{ isActivePath('odp/admin') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Coördinatoren', path('odp_coordinatoren_index'), isActiveRoute('odp_coordinatoren')) }}
            {{ html.navLink('Huurderafsluitingen', path('odp_huurderafsluitingen_index'), isActiveRoute('odp_huurderafsluitingen')) }}
            {{ html.navLink('Verhuurdersafsluitingen', path('odp_verhuurderafsluitingen_index'), isActiveRoute('odp_verhuurderafsluitingen')) }}
            {{ html.navLink('Woningbouwcorporaties', path('odp_woningbouwcorporaties_index'), isActiveRoute('odp_woningbouwcorporaties')) }}
        </ul>
    </li>
</ul>
