{% import 'html.macro.twig' as html %}
{% import 'inloop/schorsingen/view.html.twig' as schorsingenMacro %}


        <h2>Huidige schorsingen <small>({{ klant.huidigeSchorsingen|length }} schorsingen)</small></h2>
        <p>
            {{ html.link('Schorsing toevoegen', path('inloop_schorsingen_add', {'klant': klant.id}), 'add') }}
        </p>
        {% if 0 == klant.huidigeSchorsingen|length %}
            <p>Deze persoon is op dit moment niet geschorst.</p>
        {% else %}

            {{ schorsingenMacro.schorsingenTabel(klant.huidigeSchorsingen, klant, allRows, route_base) }}
        {% endif %}
        <h2>Verlopen schorsingen <small>({{ klant.verlopenSchorsingen|length }} schorsingen)</small></h2>
        {{ schorsingenMacro.schorsingenTabel(klant.verlopenSchorsingen, klant, allRows, route_base) }}
