<h2>Vragen</h2>
<p>
    {% if client is defined %}
        {% set entity = client %}
        {% set url = path('clip_vragen_add', {client: entity.id}) %}
    {% endif %}
    {% if url is defined %}
        {{ html.addLink(url) }}
        {{ html.link('Vraag toevoegen', url) }}
    {% endif %}
</p>
<table class="table table-hover">
    <tr>
        <th>Startdatum</th>
        <th>Medewerker</th>
        <th>Onderwerp</th>
        <th>Contacttype</th>
        <th>Afsluitdatum</th>
    </tr>
    {% for vraag in entity.vragen %}
        <tr data-href="{{ path('clip_vragen_view', {id: vraag.id}) }}">
            <td>
                {{ vraag.startdatum ? vraag.startdatum|date('d-m-Y') }}
            </td>
            <td>{{ vraag.behandelaar }}</td>
            <td>{{ vraag.soort }}</td>
            <td>{{ vraag.communicatiekanaal }}</td>
            <td>
                {{ vraag.afsluitdatum ? vraag.afsluitdatum|date('d-m-Y') }}
            </td>
        </tr>
    {% endfor %}
</table>
