{% include 'elements/iz_subnavigation.twig' %}

<h2>Selecties</h2>
{{ form_start(form) }}
<div class="left3cDiv">
    <fieldset>
        <legend>Projecten</legend>
        <p>
            Selecteer nul of meer projecten.
            Geen project geselecteerd betekent: alleen personen zonder hulpvraag, hulpaanbod of koppeling.
        </p>
        {{ form_widget(form.izProjecten, {'attr': {'size': 20}}) }}
        {{ form_errors(form.izProjecten) }}
        <p>
            Tip: gebruik de control-toets om meerdere opties te selecteren of
            de shift-toets om een bereik te selecteren.
        </p>
    </fieldset>
</div>
<div class="center3cDiv">
    <fieldset>
        <legend>Stadsdelen</legend>
        <p>Selecteer een of meer stadsdelen.</p>
        {{ form_widget(form.stadsdelen, {'attr': {'size': 20}}) }}
        {{ form_errors(form.stadsdelen) }}
        <p>
            Tip: gebruik de control-toets om meerdere opties te selecteren of
            de shift-toets om een bereik te selecteren.
        </p>
    </fieldset>
</div>
<div class="right3cDiv">
    <fieldset>
        <legend>Personen</legend>
        <p>Selecteer deelnemers en/of vrijwilligers.</p>
        {{ form_widget(form.personen) }}
        {{ form_errors(form.personen) }}
    </fieldset>
    <fieldset>
        <legend>Communicatievorm</legend>
        <p>Selecteer de communicatievorm.</p>
        <p>
            Als je "Geen email" aanvinkt worden de mensen die geen email willen ontvangen weggelaten.
            Als je "Geen post" aanvinkt worden de mensen die geen post willen ontvangen weggelaten.
            Beide uitgeschakeld betekent: iedereen, ongeacht communicatievoorkeur.
        </p>
        {{ form_widget(form.communicatie) }}
        {{ form_errors(form.communicatie) }}
    </fieldset>
</div>
<fieldset class="action data">
    <legend>Formaat</legend>
    {{ form_widget(form.formaat) }}
    {{ form_errors(form.formaat) }}
    <button type="submit">Downloaden</button>
 </fieldset>
{{ form_end(form) }}
