{% if not iz_vrijwilliger.matching %}
    <p>Er is nog geen matchingsinformatie opgegeven.</p>
{% else %}
    <table class="table">
        <tr>
            <th>Matchingsinformatie</th>
            <td>{{ iz_vrijwilliger.matching.info }}</td>
        </tr>
        <tr>
            <th>Belangstelling voor doelgroepen</th>
            <td>
                <ul>
                    {% for doelgroep in iz_vrijwilliger.matching.doelgroepen %}
                        <li>{{ doelgroep }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Belangstelling voor hulpvraagsoorten</th>
            <td>
                <ul>
                    {% for hulpvraagsoort in iz_vrijwilliger.matching.hulpvraagsoorten %}
                        <li>{{ hulpvraagsoort }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Voorkeur voor Nederlands</th>
            <td>{{ iz_vrijwilliger.matching.voorkeurVoorNederlands ? 'Ja' : 'Nee' }}</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <h3>Deelnemers</h3>
    {% if 0 == kandidaten|length %}
        <p>Geen kandidaten gevonden.</p>
    {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Matching-info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for iz_klant in kandidaten %}
                    <tr>
                        <td>{{ iz_klant }}</td>
                        <td>{{ iz_klant.matching ? iz_klant.matching.info }}</td>
                        <td>{{ html.viewLink({action: 'toon_matching', 0: iz_klant.id})|raw }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}
