{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('inloop_index') }}">Inloophuizen</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {% if is_granted('ROLE_INLOOP_REGISTRATIES') %}
        {{ html.navLink('Bezoekersregistratie', path('inloop_registraties_locationselect',{'locatieType': 'Inloop'}), isActiveRoute(['inloop_registraties_','Inloop'],"AND")) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_KLANTEN') %}
        {{ html.navLink('Klanten', path('inloop_klanten_index'), isActiveRoute('inloop_klanten_')) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_VRIJWILLIGERS') %}
        {{ html.navLink('Vrijwilligers', path('inloop_vrijwilligers_index'), isActiveRoute('inloop_vrijwilligers_')) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_INTAKES') %}
        {{ html.navLink('Intakes', path('inloop_intakes_index'), isActiveRoute('inloop_intakes_')) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_SCHORSINGEN') %}
        {{ html.navLink('Schorsingen', path('inloop_schorsingen_index'), isActiveRoute('inloop_schorsingen_')) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_REGISTRATIES') %}
        {{ html.navLink('Nachtopvang', path('inloop_registraties_locationselect',{'locatieType': 'Nachtopvang'}), isActiveRoute(['inloop_registraties_','Nachtopvang'],"AND")) }}
    {% endif %}
    {#{ html.navLink('Opmerkingen', path('inloop_opmerkingen_index'), isActiveRoute('inloop_opmerkingen_')) }#}
    {% if is_granted('ROLE_INLOOP_REPORTS') %}
        {{ html.navLink('Rapportage', path('inloop_rapportages_index'), isActiveRoute('inloop_rapportages_')) }}
    {% endif %}
    {% if is_granted('ROLE_INLOOP_BEHEER') %}
        <li role="presentation" class="dropdown {{ isActivePath('inloop/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Afsluitredenen vrijwilligers', path('inloop_afsluitredenenvrijwilligers_index'), isActiveRoute('inloop_afsluitredenenvrijwilligers_')) }}
                {{ html.navLink('Trainingen vrijwilligers', path('inloop_trainingen_index'), isActiveRoute('inloop_training_')) }}
                {{ html.navLink('Binnen via-opties', path('inloop_binnenvia_index'), isActiveRoute('inloop_binnenvia_')) }}
                {{ html.navLink('Infobaliedoelgroepen', path('inloop_infobaliedoelgroepen_index'), isActiveRoute('inloop_infobaliedoelgroepen_')) }}
                {{ html.navLink('Locaties', path('inloop_locaties_index'), isActiveRoute('inloop_locaties_')) }}
                {{ html.navLink('Verslavingen', path('inloop_verslavingen_index'), isActiveRoute('inloop_verslavingen_')) }}
                {{ html.navLink('Verslavingsfrequenties', path('inloop_frequenties_index'), isActiveRoute('inloop_frequenties_')) }}
                {{ html.navLink('Verslavingsgebruikswijzen', path('inloop_gebruikswijzen_index'), isActiveRoute('inloop_gebruikswijzen_')) }}
                {{ html.navLink('Verslavingsperiodes', path('inloop_periodes_index'), isActiveRoute('inloop_periodes_')) }}
                {{ html.navLink('Woonsituaties', path('inloop_woonsituaties_index'), isActiveRoute('inloop_woonsituaties_')) }}

            </ul>
        </li>
    {% endif %}
</ul>
