{% import '::html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('inloop_index') }}">Inloophuizen</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Klanten', path('inloop_klanten_index'), isActiveRoute('inloop_klanten_')) }}
    {{ html.navLink('Vrijwilligers', path('inloop_vrijwilligers_index'), isActiveRoute('inloop_vrijwilligers_')) }}
    {{ html.navLink('Schorsingen', path('inloop_schorsingen_index'), isActiveRoute('inloop_schorsingen_')) }}
    <li role="presentation" class="dropdown {{ isActivePath('inloop/admin') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Binnen via-opties', path('inloop_binnenvia_index'), isActiveRoute('inloop_binnenvia_')) }}
        </ul>
    </li>
</ul>
