{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path('mw_klanten_add'), 'add') }}
    </p>
    <table class="table table-hover mb-0">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th>
                        {{ form_label(filter.isGezin) }}
                        {{ form_widget(filter.isGezin) }}
                        {{ form_errors(filter.isGezin) }}
                    </th>
                    <th colspan="10">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}

                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geboortedatumRange.start) }}
                        {{ form_errors(filter.klant.geboortedatumRange.start) }}
                        {{ form_widget(filter.klant.geboortedatumRange.end) }}
                        {{ form_errors(filter.klant.geboortedatumRange.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geslacht) }}
                        {{ form_errors(filter.klant.geslacht) }}
                    </th>
                    <th>
                        {{ form_widget(filter.gebruikersruimte) }}
                        {{ form_errors(filter.gebruikersruimte) }}
                    </th>
                    <th>
                        {{ form_widget(filter.laatsteVerslagLocatie) }}
                        {{ form_errors(filter.laatsteVerslagLocatie) }}
                    </th>
                    <th>
                        {{ form_widget(filter.project) }}
                        {{ form_errors(filter.project) }}
                    </th>
                    <th>
                        {{ form_widget(filter.maatschappelijkWerker) }}
                        {{ form_errors(filter.maatschappelijkWerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.laatsteVerslagDatum.start) }}
                        {{ form_errors(filter.laatsteVerslagDatum.start) }}
                        {{ form_widget(filter.laatsteVerslagDatum.end) }}
                        {{ form_errors(filter.laatsteVerslagDatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.huidigeMwStatus) }}
                        {{ form_errors(filter.huidigeMwStatus) }}
                    </th>
                    <th>
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Nummer', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Gebruikersruimte', 'gebruikersruimte.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Verslaglocatie', 'locatie.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                </th>
                <th>
                    Maatschappelijk werker
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Laatste verslag', 'laatsteVerslag.datum') }}
                </th>
                <th>
                    MW dossierstatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for klant in pagination %}
                {% set huidigeMwStatus = klant.mwStatussen[0] %}
                {% set laatsteIntake = klant.intakes|length ? klant.intakes[0] %}
                {% set laatsteVerslag = klant.verslagen|length ? klant.verslagen[0] %}

                {% set class = '' %}
                {% set messages = [] %}

                {% if laatsteVerslag %}
                    {% if date(laatsteVerslag.datum) < date("-6 months") %}
                        {% set class = 'danger' %}
                        {% set messages = messages|merge(["Laatste verslag meer dan 6 maanden geleden."]) %}
                    {% elseif date(laatsteVerslag.datum) < date("-3 months") %}
                        {% set class = 'warning' %}
                        {% set messages = messages|merge(["Laatste verslag meer dan 3 maanden geleden."]) %}
                    {% endif %}
                {% endif %}

                {% if klant.briefadres %}
                    {% if date(klant.briefadres) < date("+6 years") %}
                        {% set class = 'danger' %}
                        {% set messages = messages|merge(["Briefadres loopt binnenkort af."]) %}
                    {% endif %}
                {% endif %}

                <tr href="#" {% if messages|length %}data-toggle="tooltip" data-container="body" title="{{ messages|join(" ") }}"{% endif %}
                    class="{{ class }}" data-href="{{ path(route_base~'view', {id: klant.id}) }}">
                    <td>
                        {{ klant.id }}
                    </td>
                    <td>
                        {{ klant }}
                    </td>
                    <td>
                        {{ klant.geboortedatum ? klant.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ klant.geslacht }}
                    </td>
                    <td>
                        {{ laatsteIntake ? laatsteIntake.gebruikersruimte }}
                    </td>
                    <td>
                        {{ laatsteVerslag ? laatsteVerslag.locatie }}
                    </td>
                    <td>
                        {{ huidigeMwStatus.project }}
                    </td>
                    <td>
                        <ul>
                            {% set medewerkers = [huidigeMwStatus.medewerker] %}
                            {% if klant.maatschappelijkWerker %}
                                {% if klant.maatschappelijkWerker not in medewerkers %}
                                    {% set medewerkers = medewerkers|merge([klant.maatschappelijkWerker]) %}
                                {% endif %}
                            {% endif %}
                            {% if laatsteVerslag %}
                                {% if laatsteVerslag.medewerker not in medewerkers %}
                                    {% set medewerkers = medewerkers|merge([laatsteVerslag.medewerker]) %}
                                {% endif %}
                            {% endif %}
                            {% for medewerker in medewerkers %}
                                <li>{{ medewerker }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ laatsteVerslag ? laatsteVerslag.datum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ huidigeMwStatus }}
                    </td>
                    <td>
                        {% if instanceof(huidigeMwStatus, 'MwBundle\\Entity\\Aanmelding') %}
                            {{ html.link('Verslag toevoegen', path('mw_verslagen_add', {klant: klant.id}), 'add') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
