{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}
{% import 'inloop/schorsingen/view.html.twig' as schorsingenMacro %}
{% import _self as verslagen %}

{% if is_granted("ROLE_MW") %}
    {%  set roleMw = true %}
{% else %}
    {%  set roleMw = false %}
{% endif %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    {% if entity.huidigeMwStatus?entity.huidigeMwStatus.afgesloten %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten op {{ entity.huidigeMwStatus.datum|date("d-m-Y") }}.
            {% if entity.huidigeMwStatus.resultaat is not empty %} Resultaat: {{ entity.huidigeMwStatus.resultaat|join(', ') }} {% endif %}
            {{ html.link('Mw dossier heropenen', path(route_base~'open', {id: entity.id}), 'open') }}
        </p>
    {% endif %}


    {% if not entity.laatsteZrm %}
        <p class="text-danger">
            LET OP: geen ZRM aanwezig. Klik
            {{ html.link('hier', path('app_zrms_add', {klant: entity.id, module: 'MaatschappelijkWerk'})) }}
            om een ZRM toe te voegen.
        </p>
    {% elseif entity.laatsteZrm < today|date_modify('-6 months') %}
        <p class="text-danger">
            LET OP: laatste ZRM is meer dan 6 maanden oud. Klik
            {{ html.link('hier', path('app_zrms_add', {klant: entity.id, module: 'MaatschappelijkWerk'})) }}
            om een nieuwe ZRM toe te voegen.
        </p>
    {% endif %}
{% endblock %}

{% block content_left %}
    <h2>Maatschappelijkwerk dossier</h2>
    <p>
        {% if entity.huidigeMwStatus? instanceof(entity.huidigeMwStatus, "MwBundle\\Entity\\Aanmelding") %}

           {% if is_granted("ROLE_MW_BEHEER") %}
               {{ html.link('Wijzigen', path('mw_klanten_editmwdossierstatus', {id: entity.id, statusId: entity.aanmelding.id}), 'edit') }}
           {% endif %}

            {{ html.link('Mw dossier afsluiten', path(route_base~'close', {id: entity.id}), 'close') }}

            {{ html.link('Klant toevoegen aan TW', path('tw_klanten_addwithcheck', {id: entity.id}),'add') }}
        {% endif %}
    </p>
    <ul>
        {% for status in entity.mwStatussen|sort((a, b) => b.datum <=> a.datum ?: b.id <=> a.id) %}
            <li>
                {% if is_granted("ROLE_ADMIN") %}
                    {{ html.link(status, path('mw_klanten_editmwdossierstatus', {id: status.klant.id, statusId: status.id}), 'edit') }} {{ html.link('', path('mw_klanten_deletemwdossierstatus', {id: status.klant.id, statusId: status.id}), 'remove') }}
                {% else %}
                    {{ status }}
                {% endif %}
            </li>

        {% endfor %}
    </ul>
    {% include 'klant_basis.html.twig' with {klant: entity, module: 'MaatschappelijkWerk'} %}

{#    {{ render(controller('InloopBundle\\Controller\\KlantenController::_intakesAction', {id: entity.id})) }}#}
{#    {{ render(controller('InloopBundle\\Controller\\KlantenController::_registratiesAction', {id: entity.id})) }}#}
    {{ render(controller('MwBundle\\Controller\\KlantenController::_documentenAction', {id: entity.id})) }}

{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Dossierinformatie</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
        <li><a data-toggle="tab" href="#opmerkingen">Opmerkingen</a></li>
        <li><a data-toggle="tab" href="#schorsingen">Schorsingen</a></li>
        <li><a data-toggle="tab" href="#registraties">Laatste registraties</a></li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane active">
            {{ render(controller('MwBundle\\Controller\\KlantenController::_mwAction', {id: entity.id})) }}
        </div>
        <div id="verslagen" class="tab-pane">
            <h2>Verslagen</h2>
            {% if entity.huidigeMwStatus? instanceof(entity.huidigeMwStatus, "MwBundle\\Entity\\Aanmelding") %}
                <p>
                    {{ html.link('Verslag toevoegen', path('mw_verslagen_add', {klant: entity.id}), 'add') }}
                </p>
            {% endif %}
            <table class="table">
                {% for verslag in verslagen %}
                    {{ verslagen.verslagProcessing(verslag, roleMw) }}
                {% endfor %}
            </table>
        </div>
        <div id="opmerkingen" class="tab-pane">
            <h2>Opmerkingen</h2>
            {% if entity.huidigeMwStatus? instanceof(entity.huidigeMwStatus, "MwBundle\\Entity\\Aanmelding") %}
                <p>
                    {{ html.link('Opmerking toevoegen', path('inloop_opmerkingen_add', {klant: entity.id}), 'add') }}
                </p>
            {% endif %}
            {% if 0 == entity.opmerkingen|length %}
                <p>Geen opmerkingen.</p>
            {% else %}
                {% for opmerking in entity.opmerkingen %}
                    <div data-id="{{ opmerking.id }}">
                        <h2>{{ opmerking.modified|date('d-m-Y') }}</h2>
                        <p class="pull-right">
                            <input class="gezien" id="gezien-{{ opmerking.id }}" type="checkbox" {{ opmerking.gezien ? 'checked' }}/>
                            <label for="gezien-{{ opmerking.id }}">Opgelost</label>
                            <a class="delete" title="Verwijderen">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Verwijderen
                            </a>
                        </p>
                        <p>Categorie: {{ opmerking.categorie }}</p>
                        <div class="well">{{ opmerking.beschrijving }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="schorsingen" class="tab-pane">
            <h2>Huidige schorsingen <small>({{ entity.huidigeSchorsingen|length }} schorsingen)</small></h2>
            <p>
                {{ html.link('Schorsing toevoegen', path('inloop_schorsingen_add', {'klant': entity.id}), 'add') }}
            </p>
            {% if 0 == entity.huidigeSchorsingen|length %}
                <p>Deze persoon is op dit moment niet geschorst.</p>
            {% else %}
                {{ schorsingenMacro.schorsingenTabel(entity.huidigeSchorsingen, entity, allRows, route_base) }}
            {% endif %}
            <h2>Verlopen schorsingen <small>({{ entity.verlopenSchorsingen|length }} schorsingen)</small></h2>
            {#
            <p>
                {{ html.link('Alle schorsingen van '~entity.klant, path('inloop_schorsingen_index', {'schorsing_filter[klant][id]': entity.klant.id}), 'view') }}
            </p>
            #}
            {{ schorsingenMacro.schorsingenTabel(entity.verlopenSchorsingen, entity, allRows, route_base) }}
        </div>
        <div id="registraties" class="tab-pane">
            {% include 'inloop/klanten/_registraties.html.twig' with {klant: entity} %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            function opmerking_seen(opmerking_id) {
                $.post({
                    url: `/inloop/opmerkingen/${opmerking_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#opmerkingen .gezien').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_seen(id);
            });

            function opmerking_remove(opmerking_id) {
                var confirmed = confirm('Weet u zeker dat u deze opmerking wilt verwijderen?');
                if (confirmed) {
                    $.post({
                        url: `/inloop/opmerkingen/${opmerking_id}/delete`,
                    }).done(function(data) {
                        location.reload();
                    }).fail(function() {
                        alert('Er is een fout opgetreden.')
                    });
                }
            };

            $('.delete').on('click', function() {
                var id = $(this).closest('div').attr('data-id');
                opmerking_remove(id);
            });

            function schorsing_seen(schorsing_id) {
                $.post({
                    url: `/inloop/schorsingen/${schorsing_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('#schorsingen .gezien').on('click', function() {
                var id = $(this).closest('tr').attr('data-id');
                schorsing_seen(id);
            });
        });
    </script>
{% endblock %}

{% macro verslagProcessing(verslag, roleMw) %}

    {% if verslag.type is defined
        and (
        (verslag.type == 1 and roleMw == true)
        or (verslag.type == 1 and verslag.access == 2)
        or verslag.type == 2
        )
    %}
        {# MW/inloop verslag #}
        <tr>
            <td colspan="6">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>
                            (MW/Inloop) Verslag van {{ verslag.datum|date('d-m-Y') }}
                        </h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        {{ html.link('Verslag bewerken', path('mw_verslagen_edit', {id: verslag.id}), 'edit') }}
                    </div>
                </div>
                {% if verslag.type == 2 %}
                    {% set class = "bg-info" %}
                {% else %}
                    {% set class = "bg-warning" %}
                {% endif %}
                <div class="row {{class}}">
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Locatie</dt>
                            <dd>{{ verslag.locatie }}</dd>
                            <dt>Medewerker</dt>
                            <dd>{{ verslag.medewerker }}</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Aantal contactmomenten</dt>
                            <dd>{{ verslag.aantalContactmomenten }}</dd>

                            <dt>Type</dt>
                            <dd>{{ verslag.typeAsString }}</dd>
                            <dt>Delen met TW?</dt>
                            <dd>{{ verslag.delenTw|ja_nee }}</dd>
                        </dl>
                    </div>
                </div>
                <p class="well">{{ verslag.opmerking|raw|nl2br }}</p>
            </td>
        </tr>
    {% elseif verslag.type is not defined %}
        <tr class="info">
            <td colspan="5">
                <div class="row">
                    <div class="col-xs-8">
                        <h4>TW verslag van {{ verslag.datum|date('d-m-Y') }}</h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        {{ html.editLink(path('tw_verslagen_edit', {id: verslag.id})) }}
                        {{ html.deleteLink(path('tw_verslagen_delete', {id: verslag.id})) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt>Medewerker</dt>
                            <dd>{{ verslag.medewerker }}</dd>
                        </dl>
                    </div>
                </div>
                <p class="well">{{ verslag.opmerking|raw|nl2br }}</p>
            </td>
        </tr>
    {% endif %}
{% endmacro %}