{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base ~ 'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base ~ 'add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            {{ form_start(filter) }}
            <th>
                {{ form_widget(filter.id) }}
                {{ form_errors(filter.id) }}
            </th>
            <th>
                {{ form_widget(filter.vraag.client.klant.naam) }}
                {{ form_errors(filter.vraag.client.klant.naam) }}
            </th>
            <th>
                {{ form_widget(filter.vraag.soort) }}
                {{ form_errors(filter.vraag.soort) }}
            </th>
            <th>
                {{ form_widget(filter.behandelaar) }}
                {{ form_errors(filter.behandelaar) }}
            </th>
            <th>
                {{ form_widget(filter.datum.start) }}
                {{ form_errors(filter.datum.start) }}
                {{ form_widget(filter.datum.end) }}
                {{ form_errors(filter.datum.end) }}
            </th>
            <th>
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </th>
            {{ form_end(filter) }}
        </tr>
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'contactmoment.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Vraag', 'vraagsoort.naam+vraag.startdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Medewerker', 'behandelaar.displayName') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Datum', 'contactmoment.datum') }}
            </th>
            <th>
            </th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ html.link(entity.id, path(route_base ~ 'view', {'id': entity.id})) }}
                </td>
                <td>
                    {{ entity.vraag.client }}
                </td>
                <td>
                    {{ entity.vraag }}
                </td>
                <td>
                    {{ entity.behandelaar }}
                </td>
                <td>
                    {{ entity.datum|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewLink(path(route_base ~ 'view', {'id': entity.id})) }}
                    {{ html.editLink(path(route_base ~ 'edit', {'id': entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path(route_base ~ 'delete', {'id': entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
