{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        {{ form_start(filter) }}
            <tr>
                <th colspan="5">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>
            </tr>
            <tr>
                <th>
                    {{ form_widget(filter.id) }}
                    {{ form_errors(filter.id) }}
                </th>
                <th>
                    {{ form_widget(filter.vraag.client.naam) }}
                    {{ form_errors(filter.vraag.client.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.vraag.soort) }}
                    {{ form_errors(filter.vraag.soort) }}
                </th>
                <th>
                    {{ form_widget(filter.behandelaar) }}
                    {{ form_errors(filter.behandelaar) }}
                </th>
                <th>
                    {{ form_widget(filter.datum.start) }}
                    {{ form_errors(filter.datum.start) }}
                    {{ form_widget(filter.datum.end) }}
                    {{ form_errors(filter.datum.end) }}
                </th>
            </tr>
        {{ form_end(filter) }}
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'contactmoment.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'client.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Onderwerp', 'vraagsoort.naam+vraag.startdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Medewerker', 'behandelaar.displayName') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Datum', 'contactmoment.datum') }}
            </th>
        </tr>
        {% for entity in pagination %}
            <tr data-href="{{ path(route_base ~ 'view', {'id': entity.id}) }}">
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity.vraag.client }}
                </td>
                <td>
                    {{ entity.vraag.soort }}
                </td>
                <td>
                    {{ entity.behandelaar }}
                </td>
                <td>
                    {{ entity.datum|date('d-m-Y') }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
