{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Dienstverleners |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Dienstverlener toevoegen</h1>
    {% if filterForm is defined %}
        Zoek een bestaande dienstverlener op naam, BSN of geboortedatum.
        {{ form(filterForm) }}
    {% endif %}

    {% if klanten is defined %}
        <p>
            Selecteer de gewenste dienstverlener in onderstaande lijst of klik op
            "Nieuwe dienstverlener" als deze niet in de lijst voorkomt.
        </p>
        <p>
            {{ html.addLink(path('hs_dienstverleners_add', {klantId: 'new'}))|raw }}
            {{ html.link('Nieuwe deelnemer', path('hs_dienstverleners_add', {klantId: 'new'}))|raw }}
        </p>
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>BSN</th>
                    <th>Geboortedatum</th>
                </tr>
            </thead>
            {% for entity in klanten %}
                {% set url = path('hs_dienstverleners_add', {klantId: entity.id}) %}
                <tr>
                    <td>{{ html.link(entity, url)|raw }}</td>
                    <td>{{ html.link(entity.bsn, url)|raw }}</td>
                    <td>{{ html.link(entity.geboortedatum ? entity.geboortedatum|date('d-m-Y'), url)|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if creationForm is defined %}
        {{ form(creationForm) }}
    {% endif %}
{% endblock %}
