{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Dienstverleners |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% set add_route = 'hs_dienstverleners_add' %}
{% set view_route = 'hs_dienstverleners_view' %}
{% set edit_route = 'hs_dienstverleners_edit' %}
{% set delete_route = 'hs_dienstverleners_delete' %}

{% block content %}
    <h1>Dienstverleners</h1>
    <p>
        {{ html.addLink(path(add_route)) }}
        {{ html.link('Dienstverlener toevoegen', path(add_route)) }}
    </p>
    <table class="table table-hover">
        <thead>
            {% include '@Hs/dienstverleners/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'klant.werkgebied') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Rijbewijs', 'dienstverlener.rijbewijs') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Status', 'klant.actief') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
            <tr data-href="{{ path(view_route, {id: entity.id}) }}">
                <td>
                    {{ entity.klant.id }}
                </td>
                <td>
                    {{ entity.klant }}
                </td>
                <td>
                    {{ entity.klant.werkgebied }}
                </td>
                <td>
                    {{ entity.rijbewijs ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ entity.actief ? 'Actief'|green : 'Niet actief'|red }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
