{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('villa_vrijwilligers_index') }}">Villa</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Slapers', path('villa_slapers_index'), isActiveRoute('villa_slapers_')) }}
    {{ html.navLink('Vrijwilligers', path('villa_vrijwilligers_index'), isActiveRoute('villa_vrijwilligers_')) }}
    <li role="presentation" class="dropdown {{ isActivePath('villa/admin') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Afsluitredenen vrijwilligers', path('villa_afsluitredenenvrijwilligers_index'), isActiveRoute('villa_afsluitredenenvrijwilligers_')) }}
            {{ html.navLink('Binnen via-opties (VW-ers)', path('villa_binnenvia_index'), isActiveRoute('villa_binnenvia_')) }}
        </ul>
    </li>
</ul>
