<h1>SCHORSINGSFORMULIER</h1>
<p>
    {%- spaceless %}
        Op {{ entity.datumVan|date('d-m-Y') }} bent u geschorst bij locatie(s) {{ entity.locaties|implode }}.
        De reden hiervoor is dat u zich niet aan de huisregels heeft gehouden.
        Hieronder vindt u een korte beschrijving van het incident en de duur van de schorsing.
        Ook informeren we u over de manier waarop u bezwaar kunt maken tegen uw schorsing.
    {% endspaceless -%}
</p>
<table>
    <tr>
        <td><b>Naam bezoeker</b></td>
        <td>{{ entity.klant|naam_voor_achter }}<br></td>
    </tr>
    <tr>
        <td><b>Locatie(s)</b></td>
        <td>
            <p>{{- entity.locaties|implode }}<br></p>
        </td>
    </tr>
    <tr>
        <td><b>Naam locatiehoofd</b></td>
        <td>{{ entity.locatiehoofd }}<br></td>
    </tr>
    <tr>
        <td><b>Reden schorsing</b></td>
        <td>
            <p>{{- entity.redenen|implode }}</p>
            <p>{{ entity.opmerking }}<br></p>
        </td>
    </tr>
    <tr>
        <td>
            <b>Duur schorsing</b>
        </td>
        <td>
            {{- entity.datumTot|diff(entity.datumVan).days }} dagen
            ({{ entity.datumVan|date('d-m-Y') }} t/m {{ entity.datumTot|date('d-m-Y') }})<br>
        </td>
    </tr>
    <tr><td colspan="1">
            <ul>
                <li>
                    Over schorsingen vanaf 2 maanden beslist de Schorsingscommissie. U kunt daar uw kant van het verhaal vertellen.
                    Als u van die mogelijkheid gebruik wilt maken, moet u zich aanmelden bij het secretariaat: 020-5317600.
                </li>
                <li>
                    {%- spaceless %}
                        Na een schorsing van een half jaar of langer volgt altijd een her-intake,
                        waarbij opnieuw wordt vastgesteld of u bij de doelgroep van de inloophuizen hoort.
                        Voor dit gesprek dient u zelf een afspraak te maken met het locatiehoofd van de locatie die u heeft geschorst.
                    {% endspaceless -%}
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Bijzonderheden</b></td>
        <td>{{ entity.bijzonderheden }}<br></td>
    </tr>
    <tr>
        <td><b>Hoe kunt u bezwaar maken</b></td>
        <td>
            <p>Bent u het niet eens met uw schorsing, dan kunt u:</p>
            <ul>
                <li>een afspraak maken voor een gesprek met het locatiehoofd of met de manager inloophuizen.</li>
                <li>uw verhaal doen bij de Schorsingscommissie. Daarvoor dienst u zich aan te melden via het secretariaat: 020-5317600</li>
                <li>zich wenden tot onafhankelijk cliënt-vertrouwenspersoon Lina Berger: 0800-5556661, lina.berger@hvoquerido.nl</li>
                <li>terecht bij de onafhankelijke klachtencommissie van het POA: 06 14264972 info@klachtencommissiepoa.nl</li>
                <li>U kunt een klacht indienen bij de landelijke Geschillencommissie Zorg</li>
            </ul>
        </td>
    </tr>
</table>
<p>
    {%- spaceless %}
        In en om al onze locaties staan rust, veiligheid en gezelligheid voor
        alle bezoekers, deelnemers en medewerkers voorop. We rekenen erop dat u
        hier in de toekomst weer een bijdrage aan zult leveren.
    {% endspaceless -%}
</p>
