{% extends '::base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}
{% import _self as macro %}

{% block title %}
    Inloop | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Inloop/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>
        {{ entity_name|capitalize }} {{ entity }}
    </h1>
    <p>
        {{ html.link('Wijzigen', path(route_base~'edit', {id: entity.id}), 'edit') }}
        {% if is_granted('ROLE_TEAMLEIDERS') %}
            {{ html.link('Verwijderen', path(route_base~'delete', {id: entity.id}), 'delete') }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>Locaties</dt>
        <dd>
            <ul>
                {% for locatie in entity.locaties %}
                    <li>{{ locatie }}</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Begindatum</dt>
        <dd>{{ entity.datumVan|date('d-m-Y') }}</dd>
        <dt>Einddatum</dt>
        <dd>{{ entity.datumTot|date('d-m-Y') }}</dd>
        <dt>Redenen</dt>
        <dd>
            <ul>
                {% for reden in entity.redenen %}
                    <li>{{ reden }}</li>
                {% endfor %}
            </ul>
        </dd>
        {% if entity.redenOverig %}
            <dt>Reden overig</dt>
            <dd>{{ entity.redenOverig }}</dd>
        {% endif %}
        {% if entity.agressie %}
            <dt>Agressie tegen medewerker, stagair of vrijwilliger</dt>
            <dd>Ja</dd>
            <dt>Betrokkenen</dt>
            <dd>
                <ul>
                    {% if entity.doelwitAgressie1 or entity.typeDoelwitAgressie1 %}
                        <li>{{ entity.doelwitAgressie1 }} ({{ macro.doelwit(entity.typeDoelwitAgressie1) }})</li>
                    {% endif %}
                    {% if entity.doelwitAgressie2 or entity.typeDoelwitAgressie2 %}
                        <li>{{ entity.doelwitAgressie2 }} ({{ macro.doelwit(entity.typeDoelwitAgressie2) }})</li>
                    {% endif %}
                    {% if entity.doelwitAgressie3 or entity.typeDoelwitAgressie3 %}
                        <li>{{ entity.doelwitAgressie3 }} ({{ macro.doelwit(entity.typeDoelwitAgressie3) }})</li>
                    {% endif %}
                    {% if entity.doelwitAgressie4 or entity.typeDoelwitAgressie4 %}
                        <li>{{ entity.doelwitAgressie4 }} ({{ macro.doelwit(entity.typeDoelwitAgressie4) }})</li>
                    {% endif %}
                </ul>
            </dd>
        {% endif %}
        <dt>Opmerking</dt>
        <dd>{{ entity.opmerking }}</dd>
        <dt>Locatiehoofd</dt>
        <dd>{{ entity.locatiehoofd }}</dd>
        <dt>Bijzonderheden</dt>
        <dd>{{ entity.bijzonderheden }}</dd>
    </dl>
    {% include '::klant_basis.html.twig' with {klant: entity.klant, module: 'Intake'} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li><a href="#">Registraties</a></li>
        <li class="active"><a data-toggle="tab" href="#schorsingen">Schorsingen</a></li>
        <li><a href="#">Verslagen</a></li>
        <li><a href="#">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="schorsingen" class="tab-pane active">
            <h2>Huidige schorsingen <small>({{ entity.klant.huidigeSchorsingen|length }} schorsingen)</small></h2>
            <p>
                {{ html.link('Schorsing toevoegen', path('inloop_schorsingen_add', {'klant': entity.klant.id}), 'add') }}
            </p>
            {% if 0 == entity.klant.huidigeSchorsingen|length %}
                <p>Deze persoon is op dit moment niet geschorst.</p>
            {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Locaties</th>
                            <th>Begindatum</th>
                            <th>Einddatum</th>
                            <th>Redenen</th>
                            <th>Opmerking</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schorsing in entity.klant.huidigeSchorsingen %}
                            <tr data-id="{{ schorsing.id }}" data-href="{{ path(route_base~'view', {id: schorsing.id}) }}" class="{{ entity.id == schorsing.id ? 'info' }}">
                                <td>
                                    <ul>
                                        {% for locatie in schorsing.locaties %}
                                            <li>{{ locatie }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ schorsing.datumVan|date('d-m-Y') }}</td>
                                <td>{{ schorsing.datumTot|date('d-m-Y') }}</td>
                                <td>
                                    <ul>
                                        {% for reden in schorsing.redenen %}
                                            <li>{{ reden }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ schorsing.opmerking }}<br><br>
                                    <a href="{{ path(route_base~'view', {id: schorsing.id, language: 'nl', _format: 'pdf'}) }}" target="_blank">
                                        <span class="glyphicon glyphicon-print"></span>
                                        Printen
                                    </a>
                                    <a href="{{ path(route_base~'view', {id: schorsing.id, language: 'en', _format: 'pdf'}) }}" target="_blank">
                                        <span class="glyphicon glyphicon-print"></span>
                                        Printen Engels
                                    </a>
                                    {{ html.link('Wijzigen', path(route_base~'edit', {id: schorsing.id}), 'edit') }}
                                    {% if is_granted('ROLE_TEAMLEIDERS') %}
                                        {{ html.link('Verwijderen', path(route_base~'delete', {id: schorsing.id}), 'delete') }}
                                    {% endif %}
                                </td>
                                <td>
                                    <input class="gezien" id="gezien-{{ schorsing.id }}" type="checkbox" {{ schorsing.gezien ? 'checked' }}/>
                                    <label for="gezien-{{ schorsing.id }}">Gezien</label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <h2>Verlopen schorsingen <small>({{ entity.klant.verlopenSchorsingen|length }} schorsingen)</small></h2>
            {#
            <p>
                {{ html.link('Alle schorsingen van '~entity.klant, path('inloop_schorsingen_index', {'schorsing_filter[klant][id]': entity.klant.id}), 'view') }}
            </p>
            #}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Locaties</th>
                        <th>Begindatum</th>
                        <th>Einddatum</th>
                        <th>Redenen</th>
                        <th>Opmerking</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schorsing in entity.klant.verlopenSchorsingen %}
                        <tr data-id="{{ schorsing.id }}" data-href="{{ path(route_base~'view', {id: schorsing.id}) }}" class="{{ entity.id == schorsing.id ? 'info' }}">
                            <td>
                                <ul>
                                    {% for locatie in schorsing.locaties %}
                                        <li>{{ locatie }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ schorsing.datumVan|date('d-m-Y') }}</td>
                            <td>{{ schorsing.datumTot|date('d-m-Y') }}</td>
                            <td>
                                <ul>
                                    {% for reden in schorsing.redenen %}
                                        <li>{{ reden }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {{ schorsing.opmerking }}<br><br>
                                {{ html.link('Wijzigen', path(route_base~'edit', {id: schorsing.id}), 'edit') }}
                                {% if is_granted('ROLE_TEAMLEIDERS') %}
                                    {{ html.link('Verwijderen', path(route_base~'delete', {id: schorsing.id}), 'delete') }}
                                {% endif %}
                            </td>
                            <td>
                                <input class="gezien" id="gezien-{{ schorsing.id }}" type="checkbox" {{ schorsing.gezien ? 'checked' }}/>
                                <label for="gezien-{{ schorsing.id }}">Gezien</label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% macro doelwit(key) %}
    {%- apply spaceless %}
    {% if key == 1 %}
        {% set value = 'medewerker' %}
    {% elseif key == 2 %}
        {% set color = 'stagiair' %}
    {% elseif key == 3 %}
        {% set color = 'vrijwilliger' %}
    {% endif %}
    {{ value }}
    {% endapply -%}
{% endmacro %}

{% block scripts %}
    <script>
        $(function() {
            function seen(schorsing_id) {
                $.post({
                    url: `/inloop/schorsingen/${schorsing_id}/updateGezien`,
                }).done(function(data) {
                    $(this).prop('checked', data.gezien);
                }).fail(function() {
                    alert('Er is een fout opgetreden.')
                });
            };

            $('.gezien').on('click', function() {
                var id = $(this).closest('tr').attr('data-id');
                seen(id);
            });
        });
    </script>
{% endblock %}
