{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Groepsactiviteiten | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Ga/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} wijzigen</h1>
    <p>
        {{ html.cancelLink(path(route_base~'view', {id: entity.id})) }}
        {{ html.link('Annuleren', path(route_base~'view', {id: entity.id})) }}
    </p>
    {{ form(form) }}
{% endblock %}
