{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('ga_index') }}">Groepsactiviteiten</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Deelnemers', path('ga_klantdossiers_index'), isActiveRoute('ga_klantdossiers_')) }}
    {{ html.navLink('Vrijwilligers', path('ga_vrijwilligerdossiers_index'), isActiveRoute('ga_vrijwilligerdossiers_')) }}
    {{ html.navLink('Groepen', path('ga_groepen_index'), isActiveRoute('ga_groepen_')) }}
    {{ html.navLink('Activiteiten', path('ga_activiteiten_index'), isActiveRoute('ga_activiteiten_')) }}
    {{ html.navLink('Rapportages', path('ga_rapportages_index'), isActiveRoute('ga_rapportages_')) }}
    {{ html.navLink('Selecties', path('ga_selecties_index'), isActiveRoute('ga_selecties_')) }}
    {% if is_granted('ROLE_GA_BEHEER') %}
        <li role="presentation" class="dropdown {{ isActivePath('ga/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Annuleringsredenen activiteiten', path('ga_activiteitannuleringsredenen_index'), isActiveRoute('ga_activiteitannuleringsredenen_')) }}
                {{ html.navLink('Afsluitredenen dossiers', path('ga_dossierafsluitredenen_index'), isActiveRoute('ga_intakeafsluitredenen_')) }}
                {{ html.navLink('Afsluitredenen lidmaatschappen', path('ga_lidmaatschapafsluitredenen_index'), isActiveRoute('ga_lidmaatschapaflsuitredenen_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
