{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}
{% block title %}
    Groepsactiviteiten | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Ga/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.editLink(path(route_base~'edit', {id: entity.id})) }}
        {{ html.link(entity_name|capitalize ~ ' wijzigen', path(route_base~'edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path(route_base~'delete', {id: entity.id})) }}
            {{ html.link(entity_name|capitalize ~ ' verwijderen', path(route_base~'delete', {id: entity.id})) }}
        {% endif %}
    </p>
{% endblock %}
