{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('oek_verwijzingendoor_add')) }}
        {{ html.link('Verwijzing toevoegen', path('oek_verwijzingendoor_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'verwijzing.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'verwijzing.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'verwijzing.actief') }}
            </th>
            <th></th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity.naam }}
                </td>
                <td>
                    {{ entity.actief ? 'Ja' : 'Nee' }}
                </td>
                <td>
                    {{ html.editLink(path('oek_verwijzingendoor_edit', {id: entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path('oek_verwijzingendoor_delete', {id: entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
