{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Declaratiecategorieën |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Declaratiecategorie {{ entity.naam }}</h1>
    <p>
        {{ html.editLink(path('hs_declaratiecategorieen_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('hs_declaratiecategorieen_delete', {id: entity.id})) }}
        {% endif %}
    </p>
    <dl>
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
    </dl>
{% endblock %}
