{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    <p>
        {{ html.cancelLink(path(route_base~'index')) }}
        {{ html.link('Annuleren', path(route_base~'index')) }}
    </p>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {% include 'app/vrijwilligers/_form.html.twig' %}
    {{ form_end(form) }}
{% endblock %}
