{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Er op uit | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@ErOpUit/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {#% set url = path(route_base~'add')) %#}
        {% set url = path('ga_vrijwilligerlidmaatschappen_add', {groep: 19}) %}
        {{ html.link('Vrijwilliger toevoegen', url, 'add') }}
    </p>
    <table class="table table-hover">
        <thead>
            {% include '@ErOpUit/vrijwilligers/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'appVrijwilliger.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Naam', 'appVrijwilliger.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Inschrijfdatum', 'vrijwilliger.inschrijfdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Uitschrijfdatum', 'vrijwilliger.uitschrijfdatum') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: entity.id}) }}">
                    <td>{{ entity.vrijwilliger.id }}</td>
                    <td>{{ entity }}</td>
                    <td>{{ entity.vrijwilliger.werkgebied }}</td>
                    <td>{{ entity.inschrijfdatum|date('d-m-Y') }}</td>
                    <td>{{ entity.uitschrijfdatum ? entity.uitschrijfdatum|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
