{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    OEK | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/_partials/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer toevoegen</h1>

    {% if filterForm is defined %}
        Zoek een bestaande deelnemer op nummer, naam en/of geboortedatum.
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        <button type="submit">Verder</button>
        {{ form_end(filterForm) }}
    {% endif %}

    {% if selectionForm is defined %}
        Selecteer een bestaande deelnemer en klik op "Verder".<br>
        Selecteer niks en klik op "Verder" om een nieuwe deelnemer aan te maken.
        {{ form_start(selectionForm) }}
        {{ form_widget(selectionForm) }}
        <button type="submit">Verder</button>
        {{ form_end(selectionForm) }}
    {% endif %}

    {% if creationForm is defined %}
        {{ form_start(creationForm) }}
        {{ form_widget(creationForm) }}
        <button type="submit">Opslaan</button>
        {{ form_end(creationForm) }}
    {% endif %}
{% endblock %}
