{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('tw_coordinatoren_add')) }}
        {{ html.link('Coördinator toevoegen', path('tw_coordinatoren_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'coordinator.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'medewerker.voornaam') }}
            </th>
            <th>
            </th>
        </tr>
        {% for coordinator in pagination %}
            <tr>
                <td>
                    {{ coordinator.id }}
                </td>
                <td>
                    {{ coordinator }}
                </td>
                <td>
                    {{ html.editLink(path('tw_coordinatoren_edit', {'id': coordinator.id})) }}
                    {{ html.deleteLink(path('tw_coordinatoren_delete', {'id': coordinator.id})) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
