{% import 'html.macro.twig' as html %}

<h2>Dagdelen</h2>
<p>
    {% if klus is defined %}
        {% set entity = klus %}
        {% if entity.dienstverleners|length + entity.vrijwilligers|length == 0 %}
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Je kunt pas dagdelen registreren als er dienstverleners en/of vrijwilligers aan deze klus gekoppeld zijn.
            </p>
        {% else %}
            {% set url = path('hs_registraties_add', {klus: entity.id}) %}
            {{ html.addLink(url) }}
            {{ html.link('Dagdelen toevoegen', url) }}
            {% set filterUrl = path('hs_registraties_index', {'registratie_filter[klus]': entity.id }) %}

            {{ html.viewLink(filterUrl) }}
            {{ html.link('Bekijken dagdelen (details)',filterUrl) }}
        {% endif %}
    {% elseif dienstverlener is defined %}
        {% set entity = dienstverlener %}
        {% if entity.klussen|length == 0 %}
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Je kunt pas dagdelen registreren als deze dienstverlener/vrijwilliger aan een klus gekoppeld is.
            </p>
        {% else %}
            {% set url = path('hs_registraties_add', {arbeider: entity.id}) %}
            {{ html.addLink(url) }}
            {{ html.link('Dagdelen toevoegen', url) }}
            {% set download_url = path('hs_registraties_werkbon', {arbeider: entity.id}) %}
            {{ html.addLink(download_url) }}
            {{ html.link('Werkbon downloaden', download_url) }}
        {% endif %}
    {% endif %}
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Dienstverlener/vrijwilliger</th>
            <th>Activiteit</th>
            <th>Datum/Tijd</th>
            <th>Dagdelen</th>
            <th>Reiskosten</th>
            <th>Factuur</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for registratie in entity.registraties %}
            <tr>
                <td>{{ registratie.arbeider }}</td>
                <td>{{ registratie.activiteit }}</td>
                <td>{{ registratie }}</td>
                <td>{{ registratie.dagdelen }}</td>
                <td>
                    {% if registratie.factuur %}
                        {{ html.link(registratie.factuur, path('hs_facturen_view', {id: registratie.factuur.id})) }}
                        {{ not registratie.factuur.locked ? '(concept)' }}
                    {% endif %}
                </td>
                <td>
                    {% if registratie.factuur and not registratie.factuur.locked %}
                        {{ html.editLink(path('hs_registraties_edit', {id: registratie.id})) }}
                        {{ html.deleteLink(path('hs_registraties_delete', {id: registratie.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
