{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    {% if route_exists(route_base~'index') %}
        {{ html.link('Annuleren', path(route_base~'index',{redirect: redirect_uri}), 'cancel') }}
    {% elseif redirect_uri is defined %}
        {{ html.link('Annuleren', redirect_uri, 'cancel') }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if zoekresultaten is defined and filterForm.vars.errors|length == 0 %}
    <p>
        Selecteer de gewenste {{ entity_name }} in onderstaande lijst of klik op
        "Nieuwe {{ entity_name }}" als deze niet in de lijst voorkomt.
    </p>
    <p>
        {{ html.link('Nieuwe '~entity_name, path(route_base~'add', {klant: 'new'}), 'plus') }}
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nummer</th>
            <th>Naam</th>
            <th>BSN</th>
            <th>Geboortedatum</th>
        </tr>
        </thead>
        {% for entity in zoekresultaten %}
            <tr data-href="{{ path(route_base~'add', {entity: entity.id}) }}">
                <td>{{ entity.id }}</td>
                <td>{{ entity }}</td>
                <td>{{ entity.bsn }}</td>
                <td>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </table>
    {% elseif filterForm is defined %}
        <p>Zoek een bestaande {{ entity_name }} op nummer, naam, BSN of geboortedatum.</p>
        {{ form(filterForm) }}
    {% elseif creationForm is defined %}
        {{ form(creationForm) }}
    {% elseif form is defined %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
