{% macro link(label, url, icon, title) %}
    {% apply spaceless %}
        <a href="{{ url }}" {% if title %}title="{{ title }}"{% endif %}>
            {% if icon %}
                {% if icon == 'view' %}{% set icon = 'search' %}{% endif %}
                {% if icon == 'add' %}{% set icon = 'plus' %}{% endif %}
                {% if icon == 'edit' %}{% set icon = 'pencil' %}{% endif %}
                {% if icon == 'delete' %}{% set icon = 'remove' %}{% endif %}
                {% if icon == 'close' %}{% set icon = 'lock' %}{% endif %}
                {% if icon == 'reopen' %}{% set icon = 'reset' %}{% endif %}
                {% if icon == 'download' %}{% set icon = 'download-alt' %}{% endif %}
                {% if icon == 'cancel' %}{% set icon = 'arrow-left' %}{% endif %}
                {% if icon == 'connect' %}{% set icon = 'paperclip' %}{% endif %}
                {% if icon == 'email' %}{% set icon = 'envelope' %}{% endif %}
                <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
            {% endif %}
            {% if label %}
                {{ label }}
            {% endif %}
        </a>
    {% endapply %}
{% endmacro %}

{% macro iconLink(url, icon, title) %}
    {% import _self as self %}
    {{ self.link(null, url, icon, title) }}
{% endmacro %}

{% macro viewLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'view', 'Bekijken') }}
{% endmacro %}

{% macro addLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'add', 'Toevoegen') }}
{% endmacro %}

{% macro editLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'edit', 'Wijzigen') }}
{% endmacro %}

{% macro deleteLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'delete', 'Verwijderen') }}
{% endmacro %}

{% macro closeLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'close', 'Afsluiten') }}
{% endmacro %}

{% macro downloadLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'download', 'Downloaden') }}
{% endmacro %}

{% macro cancelLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'cancel', 'Annuleren') }}
{% endmacro %}

{% macro connectLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'connect', 'Koppelen') }}
{% endmacro %}

{% macro emailLink(url) %}
    {% import _self as self %}
    {{ self.iconLink(url, 'email', 'E-mailen') }}
{% endmacro %}

{% macro navLink(label, url, active) %}
    <li role="presentation" class="{{ active ? "active" }}">
        <a href="{{ url }}" >{{ label }}</a>
    </li>
{% endmacro %}

{% macro tick() %}
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
{% endmacro %}
