{% import 'html.macro.twig' as html %}
{% if module is not defined %}
    {% set module = app.request.get('module', 'Klant') %}
{% endif %}

{% include 'app/klanten/_persoonsgegevens.html.twig' %}
{% include 'app/klanten/_contactgegevens.html.twig' %}

{{ render(controller('AppBundle\\Controller\\KlantenController::_dienstenAction', { id: klant.id} )) }}

{% if module != 'IzIntake' %}
<h2>ZRMs</h2>
<p>
    {{ html.link('ZRM-overzicht', path('app_zrms_index', {'zrm_filter[klant][id]': klant.id}), 'view') }}
    {{ html.link('ZRM toevoegen', path('app_zrms_add', {klant: klant.id, module: module}), 'add') }}
</p>
<table class="table table-hover">
    <tr>
        <th>Module</th>
        <th>Datum</th>
    </tr>
    {% for zrm in klant.zrms %}
        {% if zrm.id is defined and zrm.id > 0 %}
            <tr data-href="{{ path('app_zrms_view', {id: zrm.id}) }}">
                <td>{{ zrm.requestModule }}</td>
                <td>{{ zrm.created|date('d-m-Y') }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endif %}

{% include 'app/klanten/_documenten.html.twig' %}
