{% extends '@Ga/vrijwilligerdossiers/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block tabs %}
    {% include '@Ga/vrijwilligerdossiers/_tabs.html.twig' with {current: 'activiteiten'} %}
{% endblock %}

{% block tab_content %}
    <div class="tab-content">
        <div id="activiteiten" class="tab-pane active">
            <h2>Activiteiten</h2>
            {% if not entity.afgesloten %}
                {{ html.link('Activiteit toevoegen', path('ga_deelnames_add', {dossier: entity.id}), 'add') }}
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Datum en tijd</th>
                        <th>Groep</th>
                        <th>Activiteit</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for deelname in entity.deelnames %}
                        <tr>
                            <td>{{ deelname.activiteit.datum|date('d-m-Y | h:i') }}</td>
                            <td>{{ deelname.activiteit.groep }} ({{ deelname.activiteit.groep.werkgebied }})</td>
                            <td>{{ deelname.activiteit.naam }}</td>
                            <td>{{ deelname.status }}</td>
                            <td>
                                {{ html.link('Wijzigen', path('ga_deelnames_edit', {id: deelname.id}), 'edit') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
