{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Groepen</h1>

    <p>
        {{ html.addLink(path('oek_groepen_add')) }}
        {{ html.link('Groep toevoegen', path('oek_groepen_add')) }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'groep.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'groep.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Aantal bijeenkomsten', 'groep.aantalBijeenkomsten') }}
            </th>
            <th>
                Deelnemers op wachtlijst
            </th>
            <th>
                Trainingen
            </th>
        </tr>
        {% for row in pagination %}
            {% set groep = row.0 %}
            <tr data-href="{{ path('oek_groepen_view', {id: groep.id}) }}">
                <td>{{ groep.id }}</td>
                <td>{{ groep.naam }}</td>
                <td>{{ groep.aantalBijeenkomsten }}</td>
                <td>{{ row.lidmaatschappen }}</td>
                <td>{{ row.trainingen }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
