{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Groepen
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Groepen</h1>

    <p>
        {{ html.addLink(path('oek_groepen_add')) }}
        {{ html.link('Groep toevoegen', path('oek_groepen_add')) }}
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'groep.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'groep.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Aantal bijeenkomsten', 'groep.aantalBijeenkomsten') }}
            </th>
            <th>
                Deelnemers op wachtlijst
            </th>
            <th>
                Trainingen
            </th>
            <th></th>
        </tr>
        {% for row in pagination %}
            {% set groep = row.0 %}
            <tr>
                <td>
                    {{ html.link(groep.id, path('oek_groepen_view', {id: groep.id})) }}
                </td>
                <td>
                    {{ html.link(groep.naam, path('oek_groepen_view', {id: groep.id})) }}
                </td>
                <td>{{ groep.aantalBijeenkomsten }}</td>
                <td>{{ row.lidmaatschappen }}</td>
                <td>{{ row.trainingen }}</td>
                <td>
                    {{ html.viewLink(path('oek_groepen_view', {id: groep.id})) }}
                    {{ html.editLink(path('oek_groepen_edit', {id: groep.id})) }}
                    {% if groep.deletable %}
                        {{ html.deleteLink(path('oek_groepen_delete', {id: groep.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
