{% extends '::base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Groepen
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {{ html.editLink(path('oek_groepen_edit', {id: entity.id})) }}
        {{ html.link('Groep wijzigen', path('oek_groepen_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('oek_groepen_delete', {id: entity.id})) }}
            {{ html.link('Groep verwijderen', path('oek_groepen_delete', {id: entity.id})) }}
        {% endif %}
    </p>
{% endblock %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#wachtlijst">Wachtlijst</a></li>
        <li><a data-toggle="tab" href="#trainingen">Trainingen</a></li>
    </ul>
    <div class="tab-content">
        <div id="wachtlijst" class="tab-pane active">
            <h2>Wachtlijst</h2>
            <p>
                {{ html.link('Deelnemer aan wachtlijst toevoegen', path('oek_lidmaatschappen_add', {groep: entity.id}), 'add') }}
            </p>
            {% if entity.deelnemers.count == 0 %}
                <p>Deze groep heeft nog geen wachtlijst.</p>
            {% else %}
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Deelnemer</th>
                        <th>Stadsdeel</th>
                        <th>Aanmelddatum</th>
                        <th>Afsluitdatum</th>
                        <th></th>
                    </tr>
                    {% for deelnemer in entity.deelnemers %}
                        <tr>
                            <td>
                                {{ html.link(deelnemer.klant.id, path('oek_deelnemers_view', {id: deelnemer.id})) }}
                            </td>
                            <td>
                                {{ html.link(deelnemer.klant.naam, path('oek_deelnemers_view', {id: deelnemer.id})) }}
                            </td>
                            <td>
                                {{ deelnemer.klant.werkgebied }}
                            </td>
                            <td>
                                {{ deelnemer.aanmelding ? deelnemer.aanmelding.datum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ deelnemer.afsluiting ? deelnemer.afsluiting.datum|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ html.link('Deelnemer van wachtlijst verwijderen', path('oek_lidmaatschappen_delete', {deelnemer: deelnemer.id, groep: entity.id}), 'delete') }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div id="trainingen" class="tab-pane">
            <h2>Trainingen</h2>
            <p>
                {{ html.addLink(path('oek_trainingen_add', {'groep': entity.id})) }}
                {{ html.link('Training toevoegen', path('oek_trainingen_add', {'groep': entity.id})) }}
            </p>
            {% if entity.trainingen.count == 0 %}
                <p>Deze groep bevat nog geen trainingen.</p>
            {% else %}
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Naam
                        </th>
                        <th>Deelnemers</th>
                        <th>Startdatum</th>
                        <th>Einddatum</th>
                        <th></th>
                    </tr>
                    {% for training in entity.trainingenToekomstig %}
                        <tr>
                            <td>
                                {{ html.link(training.id, path('oek_trainingen_view', {id: training.id})) }}
                            </td>
                            <td>
                                {{ html.link(training.naam, path('oek_trainingen_view', {id: training.id})) }}
                            </td>
                            <td>{{ training.deelnemers.count() }}</td>
                            <td>
                                {{ training.startdatum ? training.startdatum|date('d-m-Y') }}
                                {{ training.starttijd ? training.starttijd|date('H:i') ~ ' uur' }}
                            </td>
                            <td>{{ training.einddatum ? training.einddatum|date('d-m-Y') }}</td>
                            <td>
                                {{ html.viewLink(path('oek_trainingen_view', {id: training.id})) }}
                                {{ html.editLink(path('oek_trainingen_edit', {id: training.id})) }}
                                {% if training.deletable %}
                                    {{ html.deleteLink(path('oek_trainingen_delete', {id: training.id})) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
