{{ form_start(filter) }}
    <tr>
        <th colspan="3">
        </th>
        <th>
            {{ form_widget(filter.lopendeKoppelingen) }}
            {{ form_errors(filter.lopendeKoppelingen) }}
        </th>
        <th colspan="4">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.klant.voornaam) }}
            {{ form_errors(filter.klant.voornaam) }}
            {{ form_widget(filter.klant.achternaam) }}
            {{ form_errors(filter.klant.achternaam) }}
        </th>
        <th>
            {{ form_widget(filter.vrijwilliger.voornaam) }}
            {{ form_errors(filter.vrijwilliger.voornaam) }}
            {{ form_widget(filter.vrijwilliger.achternaam) }}
            {{ form_errors(filter.vrijwilliger.achternaam) }}
        </th>
        <th>
            {{ form_widget(filter.koppelingStartdatum.start) }}
            {{ form_errors(filter.koppelingStartdatum.start) }}
            {{ form_widget(filter.koppelingStartdatum.end) }}
            {{ form_errors(filter.koppelingStartdatum.end) }}
        </th>
        <th>
            {{ form_widget(filter.koppelingEinddatum.start) }}
            {{ form_errors(filter.koppelingEinddatum.start) }}
            {{ form_widget(filter.koppelingEinddatum.end) }}
            {{ form_errors(filter.koppelingEinddatum.end) }}
        </th>
        <th>
            {{ form_widget(filter.project) }}
            {{ form_errors(filter.project) }}
        </th>
        <th>
            {{ form_widget(filter.hulpvraagMedewerker) }}
            {{ form_errors(filter.hulpvraagMedewerker) }}
        </th>
        <th>
            {{ form_widget(filter.hulpaanbodMedewerker) }}
            {{ form_errors(filter.hulpaanbodMedewerker) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
    </tr>
{{ form_end(filter) }}
