{% extends '@Iz/index.html.twig' %}
{% import '::html.macro.twig' as html %}
{% import 'IzBundle::iz.macro.twig' as iz %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {% include '@Iz/koppelingen/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Status', 'status.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Aanmelddatum deelnemer', 'izKlant.datumAanmelding') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Startdatum koppeling', 'koppeling.startdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Einddatum koppeling', 'koppeling.afsluitdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Hulpvraagsoort', 'hulpvraagsoort.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Werkgebied', 'werkgebied.naam') }}
                </th>
                <th>
                    Evaluaties
                </th>
            </tr>
        </thead>
        <tbody>
            {% for koppeling in pagination %}
                <tr data-href="{{ path('iz_koppelingen_view', {id: koppeling.id}) }}">
                    <td>
                        {{ koppeling.status }}
                    </td>
                    <td>
                        {{ koppeling.hulpvraag.izKlant.datumAanmelding|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ koppeling.hulpvraag.izKlant }}
                    </td>
                    <td>
                        {{ koppeling.hulpaanbod.izVrijwilliger }}
                    </td>
                    <td>
                        {{ koppeling.startdatum is empty ? "" : koppeling.startdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ koppeling.afsluitdatum is empty ? "" : koppeling.afsluitdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ koppeling.hulpvraag.hulpvraagsoort }}
                    </td>
                    <td>
                        {{ koppeling.hulpvraag.izKlant.klant.werkgebied }}
                    </td>
                    <td>
                        {{ iz.koppeling_evaluatie_list(koppeling) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
