{% extends '@Iz/index.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {% include '@Iz/koppelingen/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Startdatum koppeling', 'hulpvraag.koppelingStartdatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Einddatum koppeling', 'hulpvraag.koppelingEinddatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker hulpvraag', 'medewerker.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker hulpaanbod', 'medewerker.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Werkgebied', 'klant.werkgebied') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for hulpvraag in pagination %}
                <tr data-href="{{ path('cake_iz_hulpvragen_view', {iz_klant_id: hulpvraag.izKlant.id}) }}">
                    <td>
                        {{ hulpvraag.izKlant.klant.naam }}
                    </td>
                    <td>
                        {{ hulpvraag.hulpaanbod.izVrijwilliger.vrijwilliger.naam }}
                    </td>
                    <td>
                        {{ hulpvraag.koppelingStartdatum is empty ? "" : hulpvraag.koppelingStartdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ hulpvraag.koppelingEinddatum is empty ? "" : hulpvraag.koppelingEinddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ hulpvraag.project }}
                    </td>
                    <td>
                        {{ hulpvraag.medewerker }}
                    </td>
                    <td>
                        {{ hulpvraag.hulpaanbod.medewerker }}
                    </td>
                    <td>
                        {{ hulpvraag.izKlant.klant.werkgebied }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
