{% extends 'IzBundle::view.html.twig' %}
{% import '::html.macro.twig' as html %}
{% import 'IzBundle::iz.macro.twig' as iz %}

{% block content_top %}
    <h1>
        {{ entity_name|capitalize }}
        {{ entity.izKlant }} -
        {{ entity.hulpaanbod.izVrijwilliger }}
    </h1>
{% endblock %}

{% block content_left %}
    <h2>Koppeling</h2>
    <p>
        {{ html.link('Bewerken', path('iz_koppelingen_edit', {id: entity.id}), 'edit') }}
        {% if not entity.afgesloten %}
            {{ html.link('Koppeling beëindigen', path('iz_koppelingen_close', {id: entity.id}), 'close') }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>{{ entity.status }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ entity.startdatum ? entity.startdatum|date('d-m-Y') }}</dd>
        <dt>Evaluatiedata</dt>
        <dd>{{ iz.koppeling_evaluatie_list(entity) }}</dd>
        <dt>Einddatum</dt>
        <dd>{{ entity.afsluitdatum ? entity.afsluitdatum|date('d-m-Y') }}</dd>
        <dt>Reden beëindiging</dt>
        <dd>{{ entity.afsluitreden }}</dd>
        <dt>Koppeling succesvol</dt>
        <dd>{{ entity.succesvol ? 'Ja' }}</dd>
    </dl>
    <h2>Hulpvraag</h2>
    <dl class="dl-horizontal">
        <dt>Deelnemer</dt>
        <dd>{{ html.link(entity.izKlant, path('iz_klanten_view', {id: entity.hulpvraag.izKlant.id})) }}</dd>
        <dt>Coördinator hulpvraag</dt>
        <dd>{{ entity.hulpvraag.medewerker }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Startdatum</dt>
        <dd>{{ entity.hulpvraag.startdatum|date('d-m-Y') }}</dd>
        <dt>Project</dt>
        <dd>{{ entity.hulpvraag.project }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Hulpvraagsoort</dt>
        <dd>{{ entity.hulpvraag.hulpvraagsoort }}</dd>
    </dl>
    <h2>Hulpaanbod</h2>
    <dl class="dl-horizontal">
        <dt>Vrijwilliger</dt>
        <dd>{{ html.link(entity.hulpaanbod.izVrijwilliger, path('iz_vrijwilligers_view', {id: entity.hulpaanbod.izVrijwilliger.id})) }}</dd>
        <dt>Coördinator hulpaanbod</dt>
        <dd>{{ entity.hulpaanbod.medewerker }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Startdatum</dt>
        <dd>{{ entity.hulpaanbod.startdatum|date('d-m-Y') }}</dd>
        <dt>Project</dt>
        <dd>{{ entity.hulpaanbod.project }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    {% include 'IzBundle:verslagen:_list.html.twig' with {koppeling: entity} %}
{% endblock %}
