{{ form_start(filter) }}
    <tr>
        <th colspan="5">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.klant.id) }}
            {{ form_errors(filter.klant.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.naam) }}
            {{ form_errors(filter.klant.naam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>
        <th>
            {{ form_widget(filter.inschrijfdatum.start) }}
            {{ form_errors(filter.inschrijfdatum.start) }}
            {{ form_widget(filter.inschrijfdatum.end) }}
            {{ form_errors(filter.inschrijfdatum.end) }}
        </th>
        <th>
            {{ form_widget(filter.uitschrijfdatum.start) }}
            {{ form_errors(filter.uitschrijfdatum.start) }}
            {{ form_widget(filter.uitschrijfdatum.end) }}
            {{ form_errors(filter.uitschrijfdatum.end) }}
        </th>
    </tr>
{{ form_end(filter) }}
