{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }} {{ locatie }}</h1>
    <p>
        <a href="{{ path('oekraine_registraties_locationselect') }}">Locatie wijzigen</a>
    </p>
    <ul class="nav nav-tabs">
        {{ html.navLink('Bezoekersregistratie', path('oekraine_registraties_index', {locatie: locatie.id}), isActiveRoute('oekraine_registraties_index')) }}
        {{ html.navLink('Nu binnen', path('oekraine_registraties_active', {locatie: locatie.id}), isActiveRoute('oekraine_registraties_active')) }}
        {{ html.navLink('Recent uitgecheckt', path('oekraine_registraties_history', {locatie: locatie.id}), isActiveRoute('oekraine_registraties_history')) }}
    </ul>
    <div id="content">
        {{ form_start(filter) }}
            <table class="table table-fixed">
                {{ colgroup(8) }}
                <thead>
                    <tr>
                        <th>
                            {{ form_widget(filter.appKlant.id) }}
                            {{ form_errors(filter.appKlant.id) }}
                        </th>
                        <th>
                            {{ form_widget(filter.appKlant.voornaam) }}
                            {{ form_errors(filter.appKlant.voornaam) }}
                        </th>
                        <th>
                            {{ form_widget(filter.appKlant.achternaam) }}
                            {{ form_errors(filter.appKlant.achternaam) }}
                        </th>
                        <th>
                            {{ form_widget(filter.appKlant.geslacht) }}
                            {{ form_errors(filter.appKlant.geslacht) }}
                        </th>
                        <th>
                            {{ form_widget(filter.appKlant.geboortedatum) }}
                            {{ form_errors(filter.appKlant.geboortedatum) }}
                        </th>

                        <th>
                            {{ form_widget(filter.woonlocatie) }}
                            {{ form_errors(filter.woonlocatie) }}
                        </th>
                        <th></th>
                        <th>
                            <span class="pull-right">
                                {{ form_widget(filter.filter) }}
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
        {{ form_end(filter) }}
        <div id="loader" style="display: none; margin-top: 1em">
            <h4>Een moment geduld...</h4>
        </div>
        <div id="ajaxContainer" style="margin-top: -17px;">
            {#% include 'oekraine/registraties/_index.html.twig' %#}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
         var locatie_id = {{ locatie.id }};
    </script>
    {{ encore_entry_script_tags('oekraine-registraties-index') }}
{% endblock %}
