{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('oekraine_index') }}">Oekraine</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Bezoekersregistratie', path('oekraine_registraties_locationselect'), isActiveRoute('oekraine_registraties_')) }}
    {{ html.navLink('Vrijwilligers', path('oekraine_vrijwilligers_index'), isActiveRoute('oekraine_vrijwilligers_')) }}
    {% if is_granted('ROLE_OEKRAINE') %}
        {{ html.navLink('Bezoekers', path('oekraine_bezoekers_index'), isActiveRoute('oekraine_bezoekers_')) }}
        {{ html.navLink('Intakes', path('oekraine_intakes_index'), isActiveRoute('oekraine_intakes_')) }}


    {% endif %}
    {% if is_granted('ROLE_OEKRAINE_BEHEER') %}
        {{ html.navLink('Rapportages', path('oekraine_rapportages_index'), isActiveRoute('oekraine_rapportages_')) }}
        <li role="presentation" class="dropdown {{ isActivePath('oekraine/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Locaties', path('oekraine_locaties_index'), isActiveRoute('oekraine_locaties_')) }}
                {{ html.navLink('Binnen via-opties', path('oekraine_binnenvia_index'), isActiveRoute('oekraine_binnenvia_')) }}
                {{ html.navLink('Trainingen vrijwilligers', path('oekraine_trainingen_index'), isActiveRoute('oekraine_training_')) }}
                {{ html.navLink('Afsluitredenen vrijwilligers', path('oekraine_afsluitredenenvrijwilligers_index'), isActiveRoute('oekraine_afsluitredenenvrijwilligers_')) }}
                {{ html.navLink('Afsluitredenen bezoekers', path('oekraine_afsluitredenenbezoekers_index'), isActiveRoute('oekraine_afsluitredenenbezoekers_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
