{% import '::html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('iz_index') }}">Informele Zorg</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Mijn IZ', path('iz_dashboard_index'), isActiveRoute('iz_dashboard_')) }}
    {{ html.navLink('Deelnemers', path('iz_klanten_index'), isActiveRoute('iz_klanten_')) }}
    {{ html.navLink('Vrijwilligers', path('iz_vrijwilligers_index'), isActiveRoute('iz_vrijwilligers_')) }}
    {{ html.navLink('Hulpvragen', path('iz_hulpvragen_index'), isActiveRoute('iz_hulpvragen_')) }}
    {{ html.navLink('Hulpaanbiedingen', path('iz_hulpaanbiedingen_index'), isActiveRoute('iz_hulpaanbiedingen_')) }}
    {{ html.navLink('Koppelingen', path('iz_koppelingen_index'), isActiveRoute('iz_koppelingen_')) }}
    {{ html.navLink('Rapportages', path('iz_rapportages_index'), isActiveRoute('iz_rapportages_')) }}
    {{ html.navLink('Selecties', path('iz_selecties_index'), isActiveRoute('iz_selecties_')) }}
    {{ html.navLink('Intervisiegroepen', path('cake_iz_intervisiegroepen_index'), isActiveRoute('iz_intervisiegroepen_')) }}
    {% if constant('GROUP_IZ_BEHEER') in userGroups|keys %}
        <li role="presentation" class="dropdown {{ isActivePath('iz/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Afsluitredenen deelnemers/vrijwilligers', path('iz_afsluitredenendeelnemer_index'), isActiveRoute('iz_afsluitredenendeelnemer_')) }}
                {{ html.navLink('Afsluitredenen hulpvragen/-aanbiedingen', path('iz_afsluitredenenvraagaanbod_index'), isActiveRoute('iz_afsluitredenenvraagaanbod_')) }}
                {{ html.navLink('Afsluitredenen koppelingen', path('iz_afsluitredenenkoppeling_index'), isActiveRoute('iz_afsluitredenenkoppeling_')) }}
                {{ html.navLink('Binnengekomen via-opties', path('iz_binnengekomenviaopties_index'), isActiveRoute('iz_binnengekomenviaopties_')) }}
                {{ html.navLink('Contacten ontstaan-opties', path('iz_contactontstaanopties_index'), isActiveRoute('iz_contactontstaanopties_')) }}
                {{ html.navLink('Doelgroepen', path('iz_doelgroepen_index'), isActiveRoute('iz_doelgroepen_')) }}
                {{ html.navLink('Doelstellingen', path('iz_doelstellingen_index'), isActiveRoute('iz_doelstellingen_')) }}
                {{ html.navLink('Intervisiegroepen', path('iz_intervisiegroepen_index'), isActiveRoute('iz_intervisiegroepen_')) }}
                {{ html.navLink('Hulpvraagsoorten', path('iz_hulpvraagsoorten_index'), isActiveRoute('iz_hulpvraagsoorten_')) }}
                {{ html.navLink('Projecten', path('iz_projecten_index'), isActiveRoute('iz_projecten_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
