{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% set add_route = 'hs_klanten_add' %}
{% set view_route = 'hs_klanten_view' %}
{% set edit_route = 'hs_klanten_edit' %}
{% set delete_route = 'hs_klanten_delete' %}

{% block content %}
    <h1>Klanten</h1>
    <p>
        {{ html.addLink(path(add_route)) }}
        {{ html.link('Klant toevoegen', path(add_route)) }}
    </p>
    <table class="table table-hover">
        <thead>
            {% include '@Hs/klanten/_filter.html.twig' %}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Achternaam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Saldo', 'klant.saldo') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Actief', 'klant.actief') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pagination %}
            <tr data-href="{{ path(view_route, {id: entity.id}) }}">
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity }}
                </td>
                <td>
                    {{ entity.werkgebied }}
                </td>
                <td>
                    {% if entity.saldo > 0 %}
                        <span style="color: green">{{ entity.saldo|money }}</span>
                    {% elseif entity.saldo < 0 %}
                        <span style="color: red">{{ entity.saldo|money }}</span>
                    {% else %}
                        {{ entity.saldo|money }}
                    {% endif %}
                </td>
                <td>
                    {{ entity.actief ? 'Actief'|green : 'Niet actief'|red }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
