{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>Klant {{ entity }}</h1>
    <p>
        {{ html.editLink(path('hs_klanten_edit', {id: entity.id})) }}
        {{ html.link('Wijzigen', path('hs_klanten_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('hs_klanten_delete', {id: entity.id})) }}
            {{ html.link('Verwijderen', path('hs_klanten_delete', {id: entity.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
        <dt>Adres</dt>
        <dd>
            {{ entity.adres }}<br>
            {{ entity.postcode }} {{ entity.plaats }}
        </dd>
        <dt>Stadsdeel</dt>
        <dd>{{ entity.werkgebied }}</dd>
        <dt>Mobiel</dt>
        <dd>{{ entity.mobiel }}</dd>
        <dt>Telefoon</dt>
        <dd>{{ entity.telefoon }}</dd>
        <dt>E-mail</dt>
        <dd>{{ entity.email }}</dd>
        <dt>Inschrijving</dt>
        <dd>{{ entity.inschrijving ? entity.inschrijving|date('d-m-Y') }}</dd>
        <dt>Bewindvoerder</dt>
        <dd>{{ entity.bewindvoerder }}</dd>
        <dt>Saldo</dt>
        <dd>{{ entity.saldo|money }}</dd>
    </dl>
    {% include '@Hs/memos/_list.html.twig' with {add_url: path('hs_klanten_memos_add', {id: entity.id})} %}
    {% include '@Hs/documenten/_list.html.twig' with {add_url: path('hs_klanten_documenten_add', {id: entity.id})} %}
{% endblock %}

{% block content_right %}
    {% include '@Hs/klussen/_list.html.twig' with {add_url: path('hs_klussen_add', {klantId: entity.id})} %}
    {% include '@Hs/facturen/_list.html.twig'with {add_url: path('hs_facturen_add', {klant: entity.id})} %}
{% endblock %}
