{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    {% if deelnemers is defined and filterForm.vars.errors|length == 0 %}
        <p>
            Selecteer de gewenste {{ entity_name }} in onderstaande lijst of klik op
            "Nieuwe {{ entity_name }}" als deze niet in de lijst voorkomt.
        </p>
        <p>
            {{ html.link('Nieuwe '~entity_name, path('dagbesteding_deelnemers_add', {klant: 'new'}), 'plus') }}
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>BSN</th>
                <th>Geboortedatum</th>
            </tr>
            </thead>
            {% for entity in deelnemers %}
                <tr data-href="{{ path('dagbesteding_deelnemers_add', {klant: entity.id}) }}">
                    <td>{{ entity.id }}</td>
                    <td>{{ entity }}</td>
                    <td>{{ entity.bsn }}</td>
                    <td>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% elseif filterForm is defined %}
        <p>Zoek een bestaande {{ entity_name }} op naam, BSN of geboortedatum.</p>
        {{ form(filterForm) }}
    {% endif %}

    {% if creationForm is defined %}
        <h2>{{ klant.naam }}</h2>
        {{ form(creationForm) }}
    {% endif %}
{% endblock %}
