{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('dagbesteding_deelnemers_add')) }}
        {{ html.link('Deelnemer toevoegen', path('dagbesteding_deelnemers_add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th>
                        {{ form_widget(filter.zonderTraject) }}
                        {{ form_errors(filter.zonderTraject) }}
                    </th>
                    <th colspan="5">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.naam) }}
                        {{ form_errors(filter.klant.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.stadsdeel) }}
                        {{ form_errors(filter.klant.stadsdeel) }}
                    </th>
                    <th>
                        {{ form_widget(filter.medewerker) }}
                        {{ form_errors(filter.medewerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.aanmelddatum.start) }}
                        {{ form_errors(filter.aanmelddatum.start) }}
                        {{ form_widget(filter.aanmelddatum.end) }}
                        {{ form_errors(filter.aanmelddatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.afsluitdatum.start) }}
                        {{ form_errors(filter.afsluitdatum.start) }}
                        {{ form_widget(filter.afsluitdatum.end) }}
                        {{ form_errors(filter.afsluitdatum.end) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Deelnemer', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'deelnemer.aanmelddatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'deelnemer.afsluitdatum') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for deelnemer in pagination %}
            <tr data-href="{{ path('dagbesteding_deelnemers_view', {id: deelnemer.id}) }}">
                <td>
                    {{ deelnemer.klant.id }}
                </td>
                <td>
                    {{ deelnemer.klant }}
                </td>
                <td>
                    {{ deelnemer.klant.werkgebied }}
                </td>
                <td>
                    {{ deelnemer.medewerker }}
                </td>
                <td>
                    {{ deelnemer.aanmelddatum ? deelnemer.aanmelddatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ deelnemer.afsluitdatum ? deelnemer.afsluitdatum|date('d-m-Y') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
