{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer heropenen</h1>
    <p>Weet u zeker dat u het dossier van {{ deelnemer }} wilt heropenen?</p>
    {{ form_start(form) }}
        {{ html.link('Annuleren', path('dagbesteding_deelnemers_view', {id: deelnemer.id})) }}
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
