{% include('hs_subnavigation.twig') %}

<h1>Groep verwijderen</h1>
<p>
    Weet u zeker dat u deelnemer <strong>{{ oekLidmaatschap.oekKlant }}</strong>
    van wachtlijst <strong>{{ oekLidmaatschap.oekGroep }}</strong> wilt verwijderen?
    <br>
    {{ form_start(form) }}
        {{ html.link('Nee, terug', {'controller': 'oek_klanten', 'action': 'view', 0: oekLidmaatschap.oekKlant.id})|raw }}
        <button type="submit">Ja, verwijderen</button>
    {{ form_end(form) }}
</p>
