{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>

    {% if filterForm is defined %}
        Zoek een bestaande {{ entity_name }} op naam, BSN of geboortedatum.
        {{ form(filterForm) }}
    {% endif %}

    {% if selectionForm is defined %}
        <p>
            Selecteer een bestaande {{ entity_name }} en klik op "Verder".<br>
            Selecteer niks en klik op "Verder" om een nieuwe {{ entity_name }} aan te maken.
        </p>
        {{ form(selectionForm) }}
    {% endif %}

    {% if creationForm is defined %}
        {{ form(creationForm) }}
    {% endif %}
{% endblock %}
