{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
    {{ form_start(form) }}
        <div class="container-fluid">
            <div class="col-xs-6">
                <h2>Persoonsgegevens</h2>
                {{ form_widget(form.person) }}
                {{ form_errors(form.person) }}
                {{ form_row(form.etniciteit) }}
                {{ form_row(form.viacategorie) }}
                {{ form_row(form.organisatie) }}
            </div>
            <div class="col-xs-6">
                <h2>Contactgegevens</h2>
                {{ form_widget(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_row(form.werkgebied) }}
            </div>
            <div class="col-xs-6">
                <h2>Behandeling</h2>
                {{ form_row(form.aanmelddatum) }}
                {{ form_row(form.behandelaar) }}
            </div>
            <div class="col-xs-6">
                {{ form_row(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
