{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>
        {{ entity_name|capitalize }} {{ entity }}
    </h1>
{% endblock %}

{% block content_left %}
    <p>
        {{ html.editLink(path('clip_clienten_edit', {id: entity.id})) }}
        {{ html.link('Wijzigen', path('clip_clienten_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('clip_clienten_delete', {id: entity.id})) }}
            {{ html.link('Verwijderen', path('clip_clienten_delete', {id: entity.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Geslacht</dt>
        <dd>{{ entity.geslacht }}</dd>
        <dt>Geboortedatum</dt>
        <dd>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</dd>
        <dt>Adres</dt>
        <dd>
            {{ entity.adres }}<br>
            {{ entity.postcode }} {{ entity.plaats }}
        </dd>
        <dt>Werkgebied</dt>
        <dd>{{ entity.werkgebied }}</dd>
        <dt>Mobiel</dt>
        <dd>{{ entity.mobiel }}</dd>
        <dt>Telefoon</dt>
        <dd>{{ entity.telefoon }}</dd>
        <dt>E-mail</dt>
        <dd>{{ entity.email }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Aanmelddatum</dt>
        <dd>{{ entity.aanmelddatum|date('d-m-Y') }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.behandelaar }}</dd>
        <dt>Hoe bekend</dt>
        <dd>{{ entity.viacategorie }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#vragen">Vragen</a></li>
        <li><a data-toggle="tab" href="#contactmomenten">Contactmomenten</a></li>
        <li><a data-toggle="tab" href="#documenten">Documenten</a></li>
    </ul>
    <div class="tab-content">
        <div id="vragen" class="tab-pane active">
            {% include 'ClipBundle:vragen:_list.html.twig' with {client: entity} %}
        </div>
        <div id="contactmomenten" class="tab-pane">
            {% include 'ClipBundle:contactmomenten:_list.html.twig' with {client: entity} %}
        </div>
        <div id="documenten" class="tab-pane">
            {% include 'ClipBundle:documenten:_list.html.twig' with {client: entity} %}
        </div>
    </div>
{% endblock %}
