{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    <p>
        {% if entity.afsluiting %}
            {{ html.link('Dossier heropenen', path('oek_deelnemers_open', {id: entity.id}), 'add') }}
        {% else %}
            {{ html.link('Deelnemer wijzigen', path('oek_deelnemers_edit', {id: entity.id}), 'edit') }}
            {% if entity.deletable %}
                {{ html.deleteLink(path('oek_deelnemers_delete', {id: entity.id})) }}
            {% endif %}
            {{ html.link('Dossier afsluiten', path('oek_deelnemers_close', {id: entity.id}), 'close') }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.klant.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
        <dt>Historie</dt>
        <dd>
            <ul>
                {% for dossierStatus in entity.dossierStatussen %}
                    <li>{{ dossierStatus }}</li>
                {% endfor %}
            </ul>&nbsp;
        </dd>
        <dt>Opmerking</dt>
        <dd>{% if entity.opmerking %}{{ entity.opmerking|nl2br }}{% endif %}</dd>
        <dt>Voedselbankklant</dt>
        <dd>{{ entity.voedselbankklant ? 'Ja' : 'Nee' }}</dd>
        <dt>
            Groepen
            {{ html.addLink(path('oek_lidmaatschappen_add', {deelnemer: entity.id})) }}
        </dt>
        <dd>
            <ul>
                {% for lidmaatschap in entity.lidmaatschappen %}
                    <li>
                        {{ html.link(lidmaatschap.groep, path('oek_groepen_view', {id: lidmaatschap.groep.id})) }}
                        {% set delete_link = path('oek_lidmaatschappen_delete', {deelnemer: lidmaatschap.deelnemer.id, groep: lidmaatschap.groep.id}) %}
                        {{ html.deleteLink(delete_link) }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
        <dt>
            Trainingen
            {{ html.addLink(path('oek_deelnames_add', {deelnemer: entity.id})) }}
        </dt>
        <dd>
            <ul>
                {% for deelname in entity.deelnames %}
                    <li>
                        {{ html.link(deelname.training, path('oek_trainingen_view', {id: deelname.training.id})) }} | {{ deelname.deelnameStatus.status }} {{ deelname.status == 'Afgerond'? " | " ~ deelname.doorverwezenNaar   }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% include 'klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}
