{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Klanten
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer {{ entity.klant.naam }}</h1>

    <p>
        {% if entity.afsluiting %}
            {% set open_link = path('oek_deelnemers_open', {id: entity.id}) %}
            {{ html.addLink(open_link)|raw }}
            {{ html.link('Dossier heropenen', open_link)|raw }}
        {% else %}
            {% set edit_link = path('oek_deelnemers_edit', {id: entity.id}) %}
            {{ html.editLink(edit_link)|raw }}
            {{ html.link('Deelnemer wijzigen', edit_link)|raw }}

            {% if entity.deletable %}
                {% set delete_link = path('oek_deelnemers_delete', {id: entity.id}) %}
                {{ html.deleteLink(delete_link)|raw }}
            {% endif %}

            {% set close_link = path('oek_deelnemers_close', {id: entity.id}) %}
            {{ html.deleteLink(close_link)|raw }}
            {{ html.link('Dossier afsluiten', close_link)|raw }}
        {% endif %}
    </p>

    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.klant.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.klant.naam }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
        <dt>Historie</dt>
        <dd>
            <ul>
                {% for dossierStatus in entity.dossierStatussen %}
                    <li>{{ dossierStatus }}</li>
                {% endfor %}
            </ul>&nbsp;
        </dd>
        <dt>Opmerking</dt>
        <dd>{% if entity.opmerking %}{{ entity.opmerking|nl2br }}{% endif %}</dd>
        <dt>Voedselbankklant</dt>
        <dd>{{ entity.voedselbankklant ? 'Ja' : 'Nee' }}</dd>
        <dt>
            Groepen
            {{ html.addLink(path('oek_lidmaatschappen_add', {deelnemer: entity.id})) }}
        </dt>
        <dd>
            <ul>
                {% for lidmaatschap in entity.lidmaatschappen %}
                    <li>
                        {{ html.link(lidmaatschap.groep, path('oek_groepen_view', {id: lidmaatschap.groep.id})) }}
                        {% set delete_link = path('oek_lidmaatschappen_delete', {deelnemer: lidmaatschap.deelnemer.id, groep: lidmaatschap.groep.id}) %}
                        {{ html.deleteLink(delete_link)|raw }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
        <dt>
            Trainingen
            {{ html.addLink(path('oek_deelnames_add', {deelnemer: entity.id})) }}
        </dt>
        <dd>
            <ul>
                {% for training in entity.trainingen %}
                    <li>
                        {{ html.link(training, path('oek_trainingen_view', {id: training.id})) }} | {{ training.deelname(entity).status }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% include '::klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}
