{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>

    {% if 'vrijwilliger_filter' == form.vars.name %}
        {% if vrijwilligers is not defined %}
            <p>Zoek een bestaande {{ entity_name }} op nummer, naam, BSN of geboortedatum.</p>
            {{ form(form) }}
        {% else %}
            <p>
                Selecteer de gewenste {{ entity_name }} in onderstaande lijst of klik op
                "Nieuwe {{ entity_name }}" als deze niet in de lijst voorkomt.
            </p>
            <p>
                {{ html.link('Nieuwe '~entity_name, path(route_base~'add', {vrijwilliger: 'new'}), 'plus') }}
            </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Naam</th>
                        <th>BSN</th>
                        <th>Geboortedatum</th>
                    </tr>
                </thead>
                {% for entity in vrijwilligers %}
                    <tr data-href="{{ path(route_base~'add', {vrijwilliger: entity.id}) }}">
                        <td>{{ entity.id }}</td>
                        <td>{{ entity }}</td>
                        <td>{{ entity.bsn }}</td>
                        <td>{{ entity.geboortedatum ? entity.geboortedatum|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    {% if 'vrijwilliger_intake' == form.vars.name %}
        {{ form_start(form) }}
            <div class="col-xs-6">
                <h2>Basisgegevens</h2>
                {{ form_widget(form.vrijwilliger) }}
            </div>
            <div class="col-xs-6">
                <h2>Intake groepsactiviteiten</h2>
                {{ form(form) }}
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
