{% extends 'GaBundle::index.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base~'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base~'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="6">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                            {{ form_widget(filter.download) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.vrijwilliger.id) }}
                        {{ form_errors(filter.vrijwilliger.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.vrijwilliger.naam) }}
                        {{ form_errors(filter.vrijwilliger.naam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.vrijwilliger.geboortedatumRange.start) }}
                        {{ form_errors(filter.vrijwilliger.geboortedatumRange.start) }}
                        {{ form_widget(filter.vrijwilliger.geboortedatumRange.end) }}
                        {{ form_errors(filter.vrijwilliger.geboortedatumRange.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.vrijwilliger.medewerker) }}
                        {{ form_errors(filter.vrijwilliger.medewerker) }}
                    </th>
                    <th>
                        {{ form_widget(filter.intakedatum.start) }}
                        {{ form_errors(filter.intakedatum.start) }}
                        {{ form_widget(filter.intakedatum.end) }}
                        {{ form_errors(filter.intakedatum.end) }}
                    </th>
                    <th>
                        {{ form_widget(filter.afsluitdatum.start) }}
                        {{ form_errors(filter.afsluitdatum.start) }}
                        {{ form_widget(filter.afsluitdatum.end) }}
                        {{ form_errors(filter.afsluitdatum.end) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'vrijwilliger.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'vrijwilliger.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'vrijwilliger.geboortedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Medewerker basisdossier', 'medewerker.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Intakedatum', 'intake.intakedatum') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'intake.afsluitdatum') }}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for intake in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: intake.id}) }}" class="{{ (intake.afsluitdatum and intake.afsluitdatum <= today) ? 'danger' }}">
                    <td>
                        {{ intake.vrijwilliger.id }}
                    </td>
                    <td>
                        {{ intake.vrijwilliger.naam }}
                    </td>
                    <td>
                        {{ intake.vrijwilliger.geboortedatum ? intake.vrijwilliger.geboortedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ intake.vrijwilliger.medewerker }}
                    </td>
                    <td>
                        {{ intake.intakedatum ? intake.intakedatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ intake.afsluitdatum ? intake.afsluitdatum|date('d-m-Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
