{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base ~ 'add')) }}
        {{ html.link(entity_name|capitalize~' toevoegen', path(route_base ~ 'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            {{ form_start(filter) }}
            <tr>
                <th colspan="6">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                        </span>
                </th>
            </tr>
            <th></th>
            <th>
                {{ form_widget(filter.naam) }}
                {{ form_errors(filter.naam) }}
            </th>
            <th>
                {{ form_widget(filter.locatieTypes) }}
                {{ form_errors(filter.locatieTypes) }}
            </th>
            <th colspan="">
                {{ form_widget(filter.status) }}
                {{ form_errors(filter.status) }}
            </th>
            <th colspan="2"> </th>
            {{ form_end(filter) }}
        </tr>
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'locatie.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'locatie.naam') }}
            </th>
            <th>
                Locatietype(s)
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Datum van', 'locatie.datumVan') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Datum tot', 'locatie.datumTot') }}
            </th>
            <th>
            </th>
        </tr>
        {% for entity in pagination %}
            <tr>
                <td>
                    {{ entity.id }}
                </td>
                <td>
                    {{ entity }}
                </td>
                <td>
                    {{ entity.locatieTypes|implode }}
                </td>
                <td>
                    {{ entity.datumVan ? entity.datumVan|date('d-m-Y') }}
                </td>
                <td>
                    {{ entity.datumTot ? entity.datumTot|date('d-m-Y') }}
                </td>
                <td>
                    {{ html.viewLink(path(route_base ~ 'view', {'id': entity.id})) }}
                    {{ html.editLink(path(route_base ~ 'edit', {'id': entity.id})) }}
                    {% if entity.deletable %}
                        {{ html.deleteLink(path(route_base ~ 'delete', {'id': entity.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
