{% include 'odp_subnavigation.twig' %}

<h1>Woningbouwcorporaties</h1>

<table>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'odpWoningbouwcorporatie.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Naam', 'odpWoningbouwcorporatie.naam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Actief', 'odpWoningbouwcorporatie.actief') }}
        </th>
        <th>
        </th>
    </tr>
    {% for odpWoningbouwcorporatie in pagination %}
        <tr>
            <td>
                {{ odpWoningbouwcorporatie.id }}
            </td>
            <td>
                {{ odpWoningbouwcorporatie }}
            </td>
            <td>
                {{ odpWoningbouwcorporatie.actief ? 'ja' : 'nee' }}
            </td>
            <td>
                {{ html.editLink({'action': 'edit', 0: odpWoningbouwcorporatie.id})|raw }}
                {% if odpWoningbouwcorporatie.deletable %}
                    {{ html.deleteLink({'action': 'delete', 0: odpWoningbouwcorporatie.id})|raw }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
