{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        {{ form_start(filter) }}
            <tr>
                <th colspan="10">
                </th>
                <th>
                    {{ form_widget(filter.actief) }}
                </th>
                <th colspan="4">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>
            </tr>
            <tr>
                <th>
                    {{ form_widget(filter.id) }}
                    {{ form_errors(filter.id) }}
                </th>
                <th>
                    {{ form_widget(filter.huurder.klant.naam) }}
                    {{ form_errors(filter.huurder.klant.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.verhuurderKlant.naam) }}
                    {{ form_errors(filter.verhuurderKlant.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.project) }}
                    {{ form_errors(filter.project) }}
                </th>
                <th>
                    {{ form_widget(filter.medewerker) }}
                    {{ form_errors(filter.medewerker) }}
                </th>
                <th>
                    {{ form_widget(filter.startdatum.start) }}
                    {{ form_errors(filter.startdatum.start) }}
                    {{ form_widget(filter.startdatum.end) }}
                    {{ form_errors(filter.startdatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.opzegdatum.start) }}
                    {{ form_errors(filter.opzegdatum.start) }}
                    {{ form_widget(filter.opzegdatum.end) }}
                    {{ form_errors(filter.opzegdatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.einddatum.start) }}
                    {{ form_errors(filter.einddatum.start) }}
                    {{ form_widget(filter.einddatum.end) }}
                    {{ form_errors(filter.einddatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.afsluitdatum.start) }}
                    {{ form_errors(filter.afsluitdatum.start) }}
                    {{ form_widget(filter.afsluitdatum.end) }}
                    {{ form_errors(filter.afsluitdatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.verhuurderKlant.plaats) }}
                    {{ form_errors(filter.verhuurderKlant.plaats) }}
                </th>
                <th>
                    {{ form_widget(filter.vorm) }}
                    {{ form_errors(filter.vorm) }}
                </th>
                <th>
                    {{ form_widget(filter.huurder.automatischeIncasso) }}
                    {{ form_errors(filter.huurder.automatischeIncasso) }}
                </th>
                <th>
                    {{ form_widget(filter.isReservering) }}
                </th>
                <th>
                    {{ form_widget(filter.opzegbriefVerstuurd) }}
                </th>
                <th>
                </th>
            </tr>
        {{ form_end(filter) }}
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'huurovereenkomst.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Huurder', 'klant.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Verhuurder', 'verhuurderKlant.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Project', 'project.naam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.voornaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Startdatum', 'huurovereenkomst.startdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Opzegdatum', 'huurovereenkomst.opzegdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Einddatum huurovereenkomst', 'huurovereenkomst.einddatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Afsluitdatum koppeling', 'huurovereenkomst.afsluitdatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Plaats', 'verhuurderKlant.plaats') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Vorm', 'huurovereenkomst.vorm') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Automatische incasso', 'huurder.automatischeIncasso') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Reservering', 'huurovereenkomst.isReservering') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Opzegbrief verstuurd?', 'huurovereenkomst.opzegbriefVerstuurd') }}
            </th>
            <th>
            </th>
        </tr>
        {% for huurovereenkomst in pagination %}
            {% set class = "" %}
            {% if huurovereenkomst.isReservering == true %}
                {% set class = "danger" %}
            {% endif %}
            <tr class="{{ class }}" data-href="{{ path(route_base~'view', {id: huurovereenkomst.id}) }}">
                <td>
                    {{ huurovereenkomst.id }}
                </td>
                <td>
                    {{ huurovereenkomst.huurder.klant }}
                </td>
                <td>
                    {{ huurovereenkomst.verhuurder.klant }}
                </td>
                <td>
                    {{ huurovereenkomst.huuraanbod.project }}
                </td>
                <td>
                    {{ huurovereenkomst.medewerker }}
                </td>
                <td>
                    {{ huurovereenkomst.startdatum|date('d-m-Y') }}
                </td>
                <td>
                    {% if huurovereenkomst.opzegdatum %}
                        {% set color = huurovereenkomst.opzegdatum < today and not huurovereenkomst.opzegbriefVerstuurd ? 'red' : 'black' %}
                        <span style="color:{{ color }};">
                            {{ huurovereenkomst.opzegdatum|date('d-m-Y') }}
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ huurovereenkomst.einddatum ? huurovereenkomst.einddatum|date('d-m-Y') }}
                </td>
                <td>
                    {{ huurovereenkomst.afsluitdatum ? huurovereenkomst.afsluitdatum|date('d-m-Y') }}
                    {{ huurovereenkomst.afsluiting ? '('~huurovereenkomst.afsluiting~')' }}
                </td>
                <td>
                    {{ huurovereenkomst.verhuurder.klant.plaats }}
                </td>
                <td>
                    {{ huurovereenkomst.vorm }}
                </td>
                <td>
                    {{ huurovereenkomst.huurder.automatischeIncasso|ja_nee() }}
                </td>
                <td>
                    {{ huurovereenkomst.isReservering|ja_nee() }}
                </td>
                <td>
                    {{ huurovereenkomst.opzegbriefVerstuurd|ja_nee() }}
                </td>
                <td>
                    {% if huurovereenkomst.actief %}
                        {{ html.editLink(path('odp_huurovereenkomsten_edit', {id: huurovereenkomst.id})) }}
                    {% endif %}
                    {% if huurovereenkomst.deletable %}
                        {{ html.deleteLink(path('odp_huurovereenkomsten_delete', {id: huurovereenkomst.id})) }}
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
