{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
    {% if entity.dossierStatus?entity.dossierStatus.afgesloten %}
        <p class="alert alert-danger">
            Dit dossier is afgesloten op ({{ entity.dossierStatus.datum|date("d-m-Y") }}).
            {% if entity.dossierStatus.resultaat is defined%} Resultaat: {{ entity.dossierStatus.resultaat|join(', ') }} {% endif %}
            {{ html.link('Dossier heropenen', path(route_base~'open', {id: entity.id}), 'open') }}
        </p>
    {% endif %}
    <p>
        {% if entity.dossierStatus?entity.dossierStatus.aangemeld %}
            {{ html.link('Status wijzigen', path('villa_slapers_editdossierstatus', {id: entity.id}), 'edit') }}
            {{ html.link('Dossier afsluiten', path(route_base~'close', {id: entity.id}), 'close') }}
        {% endif %}
{#        {{ html.link('Klantrapportage bekijken', path(route_base~'viewreport', {klant: entity.id}), 'list') }}#}
    </p>

{% endblock %}

{% block content_left %}
    <ul>
        {% for status in entity.dossierStatussen %}
            <li>{{ status }}</li>
        {% endfor %}
    </ul>
    {% include 'klant_basis.html.twig' with {klant: entity.appKlant} %}


{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dossier">Dossier</a></li>
        <li><a data-toggle="tab" href="#nachten">Nachten</a></li>

    </ul>
    <div class="tab-content">
        <div id="dossier" class="tab-pane active">
            <h2>Dossier</h2>
            <p>
                {{ html.link('Dossier wijzigen', path('villa_slapers_edit', {id: entity.id})) }}
            </p>
            <dl class="dl-horizontal">
                <dt>Aanmelddatum</dt><dd>{{ entity.dossierStatus.datum|if_date('d-m-Y') }}</dd>
                <dt>Medewerker aanmelding</dt><dd>{{ entity.medewerker }}</dd>
                <dt>Contactpersoon</dt><dd>{{ entity.contactpersoon }}</dd>
                <dt>Contactgegevens contactpersoon</dt><dd>{{ entity.contactgegevensContactpersoon }}</dd>
{#                <dt>Notitie datum</dt><dd class="text-info">{{ entity.datumNotitieIntake|if_date('d-m-Y') }}</dd>#}
                <dt>Reden slapen</dt><dd>{{ entity.redenSlapen|raw }}</dd>
                <dt>Opmerking</dt><dd>{{ entity.opmerking }}</dd>
            </dl>
        </div>
        <div id="nachten" class="tab-pane">
            <h2>Overnachtingen</h2>
            <a href="#">Nieuwe overnachting</a>

            <div id="calendar-holder" data-events-url="{{ path('fc_load_events') }}" data-calendar-id="villa-slapers">

            </div>
        </div>

    </div>
    {{  html.modalWindow('testModal','Test','<h2>Hallo</h2>',"function(){alert(1);}") }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('calendar') }}
<script>
    var editUrl = "{{ path('villa_overnachtingen_edit', {'id': 'replace_id'}) }}";
    var addUrl = "{{ path('villa_overnachtingen_ajaxsubmit', {'slaper': entity.id}) }}";
    var formUrl = "{{ path('villa_overnachtingen_ajaxform', {'overnachting[datum]': 'replace_date'}) }}";

document.addEventListener('calendarInitialized', function(e) {
    // Access the additional data from the event's detail property
    // console.log('Calendar has been initialized with date info:', e.detail.dateInfo);
    // Example: You can now use the date info or other details as needed

    let calendar = e.detail.calendar;

    calendar.on("dateClick",function (info){

        // Depending on whether it's a new event or an existing one, adjust the AJAX URL
        let eventId = null;

        editUrl = editUrl.replace('replace_id', (eventId||"") );
        formUrl = formUrl.replace('replace_date', info.dateStr);
        addUrl = addUrl.replace('replace_id',(eventId || "null") );

        $.get(formUrl, function(data) {
            // Load form into modal

            $('#testModal .modal-body').html(data.formHtml);
            $('#testModal').modal('show');
        });

        // Setup save button click event
        $('#saveEvent').off('click').on('click', function(e) {

            var $modal = $(this).closest('.modal');

            var $form = $modal.find('form');
            var formData = $form.serialize();

            $.post(addUrl, formData, function(response) {
                if(response.success == true) {

                    $modal.modal('hide');
                    calendar.refetchEvents(); // Refresh events on the calendar
                }
                else {
                    alert("Something went wrong when saving the form. This is the error(s) I got back: "+response.errors.flatten);
                }
            });
        });

        // Optionally, setup delete button click event
        $('#deleteEvent').off('click').on('click', function() {
            if (eventId) {
                $.post('/path/to/delete/event', { id: eventId }, function(response) {
                    $('#eventModal').modal('hide');
                    e.detail.calendar.refetchEvents(); // Refresh events
                });
            }
        });

    });

    calendar.on("eventClick",function (info){
        console.log(info);
    });
});

</script>
{% endblock %}

