{{ form_start(filter) }}
    <tr>
        <th colspan="9">
            <span class="pull-right">
                {{ form_widget(filter.filter) }}
                {{ form_widget(filter.download) }}
            </span>
        </th>
    </tr>
    <tr>
        <th>
            {{ form_widget(filter.startdatum) }}
            {{ form_errors(filter.startdatum) }}
        </th>
        <th>
            {{ form_widget(filter.klant.id) }}
            {{ form_errors(filter.klant.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.voornaam) }}
            {{ form_errors(filter.klant.voornaam) }}
            {{ form_widget(filter.klant.achternaam) }}
            {{ form_errors(filter.klant.achternaam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.geboortedatumRange.start) }}
            {{ form_errors(filter.klant.geboortedatumRange.start) }}
            {{ form_widget(filter.klant.geboortedatumRange.end) }}
            {{ form_errors(filter.klant.geboortedatumRange.end) }}
        </th>
        <th>
            {{ form_widget(filter.project) }}
            {{ form_errors(filter.project) }}
        </th>
        <th>
            {{ form_widget(filter.hulpvraagsoort) }}
            {{ form_errors(filter.hulpvraagsoort) }}
        </th>
        <th>
            {{ form_widget(filter.doelgroep) }}
            {{ form_errors(filter.doelgroep) }}
        </th>
        <th>
            {{ form_widget(filter.medewerker) }}
            {{ form_errors(filter.medewerker) }}
        </th>
        <th>
            {{ form_widget(filter.klant.stadsdeel) }}
            {{ form_errors(filter.klant.stadsdeel) }}
        </th>

    </tr>
{{ form_end(filter) }}
