{% extends 'iz/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity|naam_klant }}</h1>
{% endblock %}

{% block content_left %}
    <h2>Hulpvraag</h2>
    <p>
        {% if not entity.afgesloten %}
            {{ html.editLink(path(route_base~'edit', {id: entity.id})) }}
            {{ html.link('Bewerken', path(route_base~'edit', {id: entity.id})) }}
            {% if not entity.gekoppeld %}
                {{ html.closeLink(path(route_base~'close', {id: entity.id})) }}
                {{ html.link('Afsluiten', path(route_base~'close', {id: entity.id})) }}
            {% endif %}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>Deelnemer</dt>
        <dd>{{ html.link(entity|naam_klant, path('iz_klanten_view', {id: entity.izKlant.id})) }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
        <dt>Startdatum</dt>
        <dd>{{ entity.startdatum|date('d-m-Y') }}</dd>
        {% if entity.afgesloten %}
            <dt>Afsluitdatum</dt>
            <dd>{{ entity.einddatum ? entity.einddatum|date('d-m-Y') }}</dd>
            <dt>Afsluitreden</dt>
            <dd>{{ entity.eindeVraagAanbod }}</dd>
        {% endif %}
    </dl>
    <dl class="dl-horizontal">
        <dt>Project</dt>
        <dd>{{ entity.project }}</dd>
        <dt>Hulpvraagsoort</dt>
        <dd>{{ entity.hulpvraagsoort }}</dd>
        <dt>Doelgroep</dt>
        <dd>{{ entity.doelgroep }}</dd>
        <dt>Dagdeel</dt>
        <dd>{{ entity.dagdeel ?: 'Geen voorkeur' }}</dd>
        <dt>Geschikt voor expat</dt>
        <dd>{{ entity.geschiktVoorExpat ? 'Ja' : 'Nee' }}</dd>
        <dt>Geschikt voor stagiair</dt>
        <dd>{{ entity.stagiair ? 'Ja' : 'Nee' }}</dd>
        <dt>Voorkeur geslacht</dt>
        <dd>{{ entity.voorkeurGeslacht ?: 'Geen voorkeur' }}</dd>
        <dt>Matchingsinformatie</dt>
        <dd><div class="well">{{ entity.info }}</div></dd>
    </dl>
    {% include 'klant_basis.html.twig' with {klant: entity.izKlant.klant, module: 'IzIntake'} %}
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#matching">Matching</a></li>
        <li><a data-toggle="tab" href="#verslagen">Verslagen</a></li>
    </ul>
    <div class="tab-content">
        <div id="matching" class="tab-pane active">
            {% if entity.gekoppeld %}
                <h2>Koppeling</h2>
                {{ html.viewLink(path('iz_koppelingen_view', {id: entity.id})) }}
                {{ html.link('Naar koppeling', path('iz_koppelingen_view', {id: entity.id})) }}
            {% elseif entity.gereserveerd %}
                <h2>Reservering</h2>
                <p>
                    {{ html.link('Reservering bewerken', path('iz_reserveringen_edit', {id: entity.huidigeReservering.id}), 'edit') }}
                    {{ html.link('Reservering omzetten in koppeling', path('iz_koppelingen_add', {hulpvraag: entity.huidigeReservering.hulpvraag.id, hulpaanbod: entity.huidigeReservering.hulpaanbod.id}), 'paperclip') }}
                </p>
                <p>
                    {{ entity.huidigeReservering.medewerker }} heeft deze hulpvraag
                    <strong>
                        van {{ entity.huidigeReservering.startdatum|date('d-m-Y') }}
                        tot {{ entity.huidigeReservering.einddatum|date('d-m-Y') }}
                    </strong>
                    gereserveerd voor hulpaanbod
                    <strong>
                        {{ html.link(entity.huidigeReservering.hulpaanbod, path('iz_hulpaanbiedingen_view', {id: entity.huidigeReservering.hulpaanbod.id})) }}
                    </strong>.
                </p>
            {% elseif not entity.afgesloten and kandidaten is defined %}
                <h2>Kandidaten</h2>
                <table class="table table-hover">
                    <thead>
                        {{ form_start(filter) }}
                            <tr>
                                <th colspan="5">
                                    {{ form_widget(filter.zoekterm) }}
                                    {{ form_errors(filter.zoekterm) }}
                                </th>
                                <th colspan="4">
                                    {{ form_widget(filter.matching) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.filter) }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ form_widget(filter.startdatum) }}
                                    {{ form_errors(filter.startdatum) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.vrijwilliger.voornaam) }}
                                    {{ form_errors(filter.vrijwilliger.voornaam) }}
                                    {{ form_widget(filter.vrijwilliger.achternaam) }}
                                    {{ form_errors(filter.vrijwilliger.achternaam) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.vrijwilliger.geslacht) }}
                                    {{ form_errors(filter.vrijwilliger.geslacht) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.vrijwilliger.geboortedatumRange.start) }}
                                    {{ form_errors(filter.vrijwilliger.geboortedatumRange.start) }}
                                    {{ form_widget(filter.vrijwilliger.geboortedatumRange.end) }}
                                    {{ form_errors(filter.vrijwilliger.geboortedatumRange.end) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.vrijwilliger.stadsdeel) }}
                                    {{ form_errors(filter.vrijwilliger.stadsdeel) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.hulpvraagsoort) }}
                                    {{ form_errors(filter.hulpvraagsoort) }}
                                </th>
                                <th>
                                    {{ form_widget(filter.doelgroep) }}
                                    {{ form_errors(filter.doelgroep) }}
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                        {{ form_end(filter) }}
                        <tr>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Startdatum hulpaanbod', 'hulpaanbod.startdatum') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Vrijwilliger', 'vrijwilliger.achternaam') }}

                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Geslacht', 'geslacht.volledig') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Geboortedatum', 'vrijwilliger.geboortedatum') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Stadsdeel', 'stadsdeel.naam') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Hulpvraagsoorten', 'hulpvraagsoort.naam') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Doelgroepen', 'doelgroep.naam') }}
                            </th>
                            <th>
                                {{ knp_pagination_sortable(kandidaten, 'Expat', 'hulpaanbod.expat') }}
                            </th>
                            <th>
                                Stagiair
                            </th>
                            <th>Matchingsinformatie</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hulpaanbod in kandidaten %}
                            <tr data-href="{{ path('iz_hulpaanbiedingen_view', {id: hulpaanbod.id}) }}">
                                <td>{{ hulpaanbod.startdatum|date('d-m-Y') }}</td>
                                <td>{{ hulpaanbod|naam_vrijwilliger }}</td>
                                <td>
                                    {{ hulpaanbod.izVrijwilliger.vrijwilliger.geslacht }}<br>
                                </td>
                                <td>
                                    {{ hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum ? hulpaanbod.izVrijwilliger.vrijwilliger.geboortedatum|date('d-m-Y') }}
                                </td>
                                <td>{{ hulpaanbod.izVrijwilliger.vrijwilliger.werkgebied }}</td>
                                <td>
                                    {% if 0 == hulpaanbod.hulpvraagsoorten|length %}
                                        Geen voorkeur
                                    {% else %}
                                        <ul>
                                            {% for hulpvraagsoort in hulpaanbod.hulpvraagsoorten %}
                                                <li>{{ hulpvraagsoort }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if 0 == hulpaanbod.doelgroepen|length %}
                                        Geen voorkeur
                                    {% else %}
                                        <ul>
                                            {% for doelgroep in hulpaanbod.doelgroepen %}
                                                <li>{{ doelgroep }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td>{{ hulpaanbod.expat ? 'Ja' : 'Nee' }}</td>
                                <td>{{ hulpaanbod.stagiair ? 'Ja' : 'Nee' }}</td>
                                <td>{{ hulpaanbod.info }}</td>
                                <td>
                                    {{ html.link('Reserveren', path('iz_reserveringen_add', {hulpvraag: entity.id, hulpaanbod: hulpaanbod.id}), 'tag') }}
                                    {{ html.link('Koppelen', path('iz_koppelingen_add', {hulpvraag: entity.id, hulpaanbod: hulpaanbod.id}), 'paperclip') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(kandidaten) }}
            {% endif %}
        </div>
        <div id="verslagen" class="tab-pane">
            {% include 'iz/verslagen/_list.html.twig' with {hulpvraag: entity} %}
        </div>
    </div>
{% endblock %}
