{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>
        {{ entity_name|capitalize }} {{ entity }}
    </h1>
    <p>
        {{ html.editLink(path('dagbesteding_locaties_edit', {id: entity.id})) }}
        {{ html.link('Wijzigen', path('dagbesteding_locaties_edit', {id: entity.id})) }}
        {% if entity.deletable %}
            {{ html.deleteLink(path('dagbesteding_locaties_delete', {id: entity.id})) }}
            {{ html.link('Verwijderen', path('dagbesteding_locaties_delete', {id: entity.id})) }}
        {% endif %}
    </p>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{ entity.id }}</dd>
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
        <dt>Actief</dt>
        <dd>{{ entity.actief ? 'ja' : 'nee' }}</dd>
    </dl>
{% endblock %}
