{% include 'groepsactiviteiten_subnavigation.twig' %}
{% form_theme filter 'form_div_layout.html.twig' %}

<h1>Deelnemers</h1>

<p>
    {{ html.addLink({'action': 'add'})|raw }}
    {{ html.link('Deelnemer toevoegen', {'action': 'add'})|raw }}
</p>

<table>
    <tr>
        {{ form_start(filter) }}
        <th>
            {{ form_widget(filter.klant.id) }}
            {{ form_errors(filter.klant.id) }}
        </th>
        <th>
            {{ form_widget(filter.klant.naam) }}
            {{ form_errors(filter.klant.naam) }}
        </th>
        <th>
            {{ form_widget(filter.klant.geboortedatum) }}
            {{ form_errors(filter.klant.geboortedatum) }}
        </th>
        <th>
            {{ form_widget(filter.medewerker) }}
            {{ form_errors(filter.medewerker) }}
        </th>
        <th>
            {{ form_widget(filter.intakedatum) }}
            {{ form_errors(filter.intakedatum) }}
        </th>
        <th>
            {{ form_widget(filter.afsluitdatum) }}
            {{ form_errors(filter.afsluitdatum) }}
            {{ form_widget(filter.open) }}
            {{ form_label(filter.open) }}
            {{ form_errors(filter.open) }}
        </th>
        <th>
            {{ form_widget(filter.filter) }}
            {{ form_widget(filter.download) }}
        </th>
        {{ form_end(filter) }}
    </tr>
    <tr>
        <th>
            {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Klant', 'klant.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Geboortedatum', 'klant.geboortedatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.achternaam') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Intakedatum', 'intake.intakedatum') }}
        </th>
        <th>
            {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'intake.afsluitdatum') }}
        </th>
        <th></th>
    </tr>
    {% for intake in pagination %}
        <tr>
            {% set view_link = {'controller': 'groepsactiviteiten', 'action': 'view', 0: 'Klant', 1: intake.klant.id} %}
            <td>
                {{ html.link(intake.klant.id, view_link)|raw }}
            </td>
            <td>
                {{ html.link(intake.klant.naam, view_link)|raw }}
            </td>
            <td>
                {{ intake.klant.geboortedatum ? intake.klant.geboortedatum|date('d-m-Y') }}
            </td>
            <td>
                {{ intake.medewerker }}
            </td>
            <td>
                {{ intake.intakedatum ? intake.intakedatum|date('d-m-Y') }}
            </td>
            <td>
                {{ intake.afsluitdatum ? intake.afsluitdatum|date('d-m-Y') }}
            </td>
            <td>
                {{ html.viewLink({'action': 'view', 0: intake.id})|raw }}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
    {{ knp_pagination_render(pagination) }}
</p>
