{% if report.data is not empty %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th colspan="{{ report.data|first|length + 1 }}">
                    <h3>
                        {{ report.title }}
                        {% if report.description is defined %}
                            <br><small>{{ report.description is defined ? report.description }}</small>
                        {% endif %}
                    </h3>
                </th>
            </tr>
            <tr>
                <th></th>
                <th colspan="{{ report.data|first|length }}">
                    <small>{{ report.xDescription is defined ? report.xDescription }}</small>
                </th>
            </tr>
            <tr>
                <th>
                    <small>{{ report.yDescription is defined ? report.yDescription }}</small>
                </th>
                {% for x, value in report.data|first %}
                    <th><div>{{ x }}</div></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for y, series in report.data %}
                <tr>
                    <td>
                        {% if report.yLookupCollection[(y)]is defined %}
                            {{ report.yLookupCollection[(y)]|raw }}
                        {% else %}
                            {{ y }}
                        {% endif %}
                    </td>
                    {% for value in series %}
                        <td>{{ value|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <table class="table table-hover">
        <thead>
            <th><h3>{{ report.title }}</h3></th>
            <tr><th>Geen data</th></tr>
        </thead>
    </table>
{% endif %}
