{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {{ html.navLink('Rapportages', path('app_rapportages_index'), isActiveRoute('app_rapportages_index')) }}
    {{ html.navLink('Doelstellingen', path('app_doelstellingen_index'), isActiveRoute('app_doelstellingen_')) }}
{#    {% if(isActiveRoute('app_rapportages_prestatiesindex')) %}#}
    <li role="presentation" class="dropdown {{ isActivePath('app/doelstellingen/add') ? 'active' }}">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Beheer <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {{ html.navLink('Doelstellingen toevoegen', path('app_doelstellingen_add'), isActiveRoute('app_doelstellingen_add')) }}
        </ul>
    </li>
{#    {% endif %}#}
</ul>
