{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Informele Zorg | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Iz/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Document verwijderen</h1>
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity.naam }}</dd>
        <dt>Medewerker</dt>
        <dd>{{ entity.medewerker }}</dd>
        <dt>Document</dt>
        <dd>
            {{ html.link('Downloaden', vich_uploader_asset(entity, 'file'), 'download') }}
        </dd>
    </dl>
    <p>
        Weet u zeker dat u bovenstaand document wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
