{% import 'html.macro.twig' as html %}
<h2>Verslagen</h2>
<p>
    {% if deelnemer is defined %}
        {% set url = path('dagbesteding_verslagen_add', {deelnemer: deelnemer.id}) %}
    {% endif %}
    {% if url is defined and deelnemer.isActief %}
        {{ html.addLink(url) }}
        {{ html.link('Verslag toevoegen', url) }}
    {% endif %}
</p>
<h3>Verslagen</h3>
<table class="table">
    {% for verslag in entity.verslagen %}
        {% set type = "" %}
        {% if class(verslag, false) == "Verslag"  %}
            <tr>
                <td>{{ verslag.datum|date('d-m-Y') }}</td>
                <td>{{ verslag.medewerker }}</td>
                <td>
                    {{ verslag.opmerking|raw }}
                </td>
                <td>
                    {{ html.editLink(path('dagbesteding_verslagen_edit', {id: verslag.id})) }}
                    {{ html.deleteLink(path('dagbesteding_verslagen_delete', {id: verslag.id})) }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

