<h2>Verslaving</h2>

<h4>Primaire problematiek</h4>
<table cellspacing="0" cellpadding="2" border="1">
    <tr>
        <td>Problematiek</td>
        <td>{{ entity.primaireProblematiek }}</td>
    </tr>
    <tr>
        <td>Verslavingsfrequentie</td>
        <td>{{ entity.primaireProblematiekFrequentie }}</td>
    </tr>
    <tr>
        <td>Verslavingsperiode</td>
        <td>{{ entity.primaireProblematiekPeriode }}</td>
    </tr>
    <tr>
        <td>Hoe gebruikt client?</td>
        <td>
            <ul>
                {% for gebruikswijze in entity.primaireProblematiekGebruikswijzen %}
                    <li>{{ gebruikswijze }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<h4>Secundaire problematiek</h4>
<table cellspacing="0" cellpadding="2" border="1">
    <tr>
        <td>Verslavingen</td>
        <td>
            <ul>
                {% for verslaving in entity.verslavingen %}
                    <li>{{ verslaving }}</li>
                {% endfor %}
                {% if entity.verslavingOverig %}
                    <li>{{ entity.verslavingOverig }}</li>
                {% endif %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>Verslavingsfrequentie</td>
        <td>{{ entity.frequentie }}</td>
    </tr>
    <tr>
        <td>Verslavingsperiode</td>
        <td>{{ entity.periode }}</td>
    </tr>
    <tr>
        <td>Hoe gebruikt client?</td>
        <td>
            <ul>
                {% for gebruikswijze in entity.gebruikswijzen %}
                    <li>{{ gebruikswijze }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<h4>Algemene problematiek</h4>
<table cellspacing="0" cellpadding="2" border="1">
    <tr>
        <td>Datum eerste gebruik</td>
        <td>{{ entity.eersteGebruik ? entity.eersteGebruik|date('d-m-Y') }}</td>
    </tr>
</table>
