<h2>Verslaving</h2>
<h4>Primaire problematiek</h4>
<dl class="dl-horizontal">
    <dt>Problematiek</dt>
    <dd>{{ entity.primaireProblematiek }}</dd>
    <dt>Verslavingsfrequentie</dt>
    <dd>{{ entity.primaireProblematiekFrequentie }}</dd>
    <dt>Verslavingsperiode</dt>
    <dd>{{ entity.primaireProblematiekPeriode }}</dd>
    <dt>Hoe gebruikt client?</dt>
    <dd>
        <ul>
            {% for gebruikswijze in entity.primaireProblematiekGebruikswijzen %}
                <li>{{ gebruikswijze }}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>
<h4>Secundaire problematiek</h4>
<dl class="dl-horizontal">
    <dt>Verslavingen</dt>
    <dd>
        <ul>
            {% for verslaving in entity.verslavingen %}
                <li>{{ verslaving }}</li>
            {% endfor %}
            {% if entity.verslavingOverig %}
                <li>{{ entity.verslavingOverig }}</li>
            {% endif %}
        </ul>
    </dd>
    <dt>Verslavingsfrequentie</dt>
    <dd>{{ entity.frequentie }}</dd>
    <dt>Verslavingsperiode</dt>
    <dd>{{ entity.periode }}</dd>
    <dt>Hoe gebruikt client?</dt>
    <dd>
        <ul>
            {% for gebruikswijze in entity.gebruikswijzen %}
                <li>{{ gebruikswijze }}</li>
            {% endfor %}
        </ul>
    </dd>
</dl>
<h4>Algemene problematiek</h4>
<dl class="dl-horizontal">
    <dt>Datum eerste gebruik</dt>
    <dd>{{ entity.eersteGebruik ? entity.eersteGebruik|date('d-m-Y') }}</dd>
</dl>
