{% extends 'OekraineBundle:intakes:add.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Inloophuizen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Oekraine/subnavigation.html.twig' %}
{% endblock %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} wijzigen</h1>
{% endblock %}

{% block content_right %}
<p>
    Om klanten toegang te geven tot inloophuizen worden de onderstaande velden gebruikt. Deze staan opgeslagen in de eerste intake.<br />
    Het werkt als volgt:
    <ol>
        <li>Klanten hebben toegang tot alle inloophuizen wanneer dit is aangevinkt, tenzij ze de verblijfsstatus 'Niet rechthebbend, wel EU' hebben.</li>
        <li>Klanten met die verblijfsstatus krijgen toegang tot AMOC, eventueel tot aan de datum zoals ingevuld. Wanneer dit datumveld leeg is (eerste keer, of bij bewerken) de huidige datum + 6 maanden staan. Deze kan je handmatig weghalen of aanpassen.</li>
         <li>Om klanten eventueel toegang te verlenen tot Zeeburg/T6 kan dit veld worden ingevuld. Deze is standaard leeg.</li>
        <li>Wanneer deze klanten geen toegang meer hebben tot AMOC moeten ze dus elders naar binnen kunnen. Het veld 'Startdatum toegang overigen' wordt hiervoor gebruikt en wordt in principe gevuld met de datum tot waar de klant AMOC mag bezoeken.</li>
    </ol>
</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% if entity.klant.eersteIntake == entity %}
        <h2 id="locatiekeuze">Toegang</h2>
        {{ form_widget(form.toegang) }}
        {{ form_errors(form.toegang) }}
    {% else %}
        {% include 'OekraineBundle:intakes:_locatieToegang.html.twig' with {entity: entity.klant.eersteIntake, verblijfsstatusId: entity.Verblijfsstatus.id} %}
    {% endif %}

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
