{% import '::html.macro.twig' as html %}

<h2>Intervisiegroepen</h2>
<p>
    {{ html.addLink(path('iz_lidmaatschappen_add')) }}
    {{ html.link('Intervisiegroep toevoegen', path('iz_lidmaatschappen_add', {vrijwilliger: vrijwilliger.id})) }}
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lidmaatschap in entity.lidmaatschappen %}
            <tr data-href="{{ path('iz_intervisiegroepen_view', {id: lidmaatschap.intervisiegroep.id}) }}">
                <td>{{ lidmaatschap.intervisiegroep }}</td>
                <td>{{ html.deleteLink(path('iz_lidmaatschappen_delete', {id: lidmaatschap.id})) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
