{% extends '@Iz/index.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path(route_base~'add')) }}
        {{ html.link(entity_name|capitalize ~ ' toevoegen', path(route_base~'add')) }}
    </p>
    <table class="table table-hover">
        <thead>
            {% include '@Iz/intervisiegroepen/_filter.html.twig' %}
            <tr>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Nummer', 'intervisiegroep.id') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Naam', 'intervisiegroep.naam') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Startdatum', 'intervisiegroep.startdatum') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Einddatum', 'intervisiegroep.einddatum') }}
                    </th>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Medewerker', 'medewerker.voornaam') }}
                    </th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for intervisiegroep in pagination %}
                <tr data-href="{{ path(route_base~'view', {id: intervisiegroep.id}) }}">
                    <td>
                        {{ intervisiegroep.id }}
                    </td>
                    <td>
                        {{ intervisiegroep }}
                    </td>
                    <td>
                        {{ intervisiegroep.startdatum ? intervisiegroep.startdatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ intervisiegroep.einddatum ? intervisiegroep.einddatum|date('d-m-Y') }}
                    </td>
                    <td>
                        {{ intervisiegroep.medewerker }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
