{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk wonen | Klanten
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <p>
        {{ html.addLink(path('tw_vrijwilligers_add')) }}
        {{ html.link(entity_name|capitalize~' toevoegen', path('tw_vrijwilligers_add')) }}
    </p>

    <table class="table table-hover">
        {{ form_start(filter) }}
            <tr>
                <th colspan="7">
                    <span class="pull-right">
                        {{ form_widget(filter.filter) }}
                        {{ form_widget(filter.download) }}
                    </span>
                </th>
            </tr>
            <tr>
                <th>
                    {{ form_widget(filter.vrijwilliger.id) }}
                    {{ form_errors(filter.vrijwilliger.id) }}
                </th>
                <th>
                    {{ form_widget(filter.vrijwilliger.naam) }}
                    {{ form_errors(filter.vrijwilliger.naam) }}
                </th>
                <th>
                    {{ form_widget(filter.aanmelddatum.start) }}
                    {{ form_errors(filter.aanmelddatum.start) }}
                    {{ form_widget(filter.aanmelddatum.end) }}
                    {{ form_errors(filter.aanmelddatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.afsluitdatum.start) }}
                    {{ form_errors(filter.afsluitdatum.start) }}
                    {{ form_widget(filter.afsluitdatum.end) }}
                    {{ form_errors(filter.afsluitdatum.end) }}
                </th>
                <th>
                    {{ form_widget(filter.filterOpActiefAlleen) }}
                    {{ form_errors(filter.filterOpActiefAlleen) }}
                </th>
                <th>
                    {{ form_widget(filter.locatie) }}
                    {{ form_errors(filter.locatie) }}
                </th>
                <th>
                    {{ form_widget(filter.vrijwilliger.stadsdeel) }}
                    {{ form_errors(filter.vrijwilliger.stadsdeel) }}
                </th>
            </tr>
        {{ form_end(filter) }}
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'appVrijwilliger.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Vrijwilliger', 'appVrijwilliger.achternaam') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Aanmelddatum', 'vrijwilliger.aanmelddatum') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Afsluitdatum', 'vrijwilliger.afsluitdatum') }}
            </th>
            <th>
                Actief
            </th>
            <th>
                Locatie(s)
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Stadsdeel', 'werkgebied.naam') }}
            </th>
        </tr>
        {% for vrijwilliger in pagination %}
        <tr data-href="{{ path('tw_vrijwilligers_view', {id: vrijwilliger.id}) }}" class="{{ not vrijwilliger.actief ? 'danger' }}">
            <td>
                {{ vrijwilliger.vrijwilliger.id }}
            </td>
            <td>
                {{ vrijwilliger }}
            </td>
            <td>
                {{ vrijwilliger.aanmelddatum|date('d-m-Y') }}
            </td>
            <td>
                {% if not vrijwilliger.actief %}
                    {{ vrijwilliger.afsluitdatum|if_date('d-m-Y') }}
                    ({{ vrijwilliger.afsluitreden }})
                {% endif %}
            </td>
            <td>{{ vrijwilliger.actief|ja_nee }}</td>
            <td>
{#                <ul>#}
{#                    {% for locatie in vrijwilliger.locaties %}#}
{#                        <li>{{ locatie }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
                {{ vrijwilliger.locaties|join(', ') }}
            </td>
            <td>
                {{ vrijwilliger.vrijwilliger.werkgebied }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
