{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        {{ html.addLink(path('dagbesteding_trajectcoaches_add')) }}
        {{ html.link('Trajectcoach toevoegen', path('dagbesteding_trajectcoaches_add')) }}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                {{ knp_pagination_sortable(pagination, '#', 'trajectcoach.id') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Naam', 'trajectcoach.displayName') }}
            </th>
            <th>
                {{ knp_pagination_sortable(pagination, 'Actief', 'trajectcoach.actief') }}
            </th>
            <th>
            </th>
        </tr>
        {% for trajectcoach in pagination %}
            <tr>
                <td>
                    {{ trajectcoach.id }}
                </td>
                <td>
                    {{ trajectcoach }}
                </td>
                <td>
                    {{ trajectcoach.actief ? 'ja' : 'nee' }}
                </td>
                <td>
                    {{ html.editLink(path('dagbesteding_trajectcoaches_edit', {'id': trajectcoach.id})) }}
                    {{ html.deleteLink(path('dagbesteding_trajectcoaches_delete', {'id': trajectcoach.id})) }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
