{% import 'html.macro.twig' as html %}
<ol class="breadcrumb">
    <li><a href="{{ path('home') }}">ECD</a></li>
    <li><a href="{{ path('dagbesteding_index') }}">Dagbesteding</a></li>
    <li class="active">{{ title }}</li>
</ol>
<ul class="nav nav-tabs">
    {% if is_granted('ROLE_DAGBESTEDING') %}
        {{ html.navLink('Mijn Dagbesteding', path('dagbesteding_dashboard_index'), isActiveRoute('dagbesteding_dashboard_')) }}
        {{ html.navLink('Deelnemers', path('dagbesteding_deelnemers_index'), isActiveRoute('dagbesteding_deelnemers_')) }}
    {% endif %}
    {{ html.navLink('Trajecten', path('dagbesteding_trajecten_index'), isActiveRoute('dagbesteding_trajecten_')) }}
    {% if is_granted('ROLE_DAGBESTEDING') %}
        {{ html.navLink('Dagdelen', path('dagbesteding_dagdelen_index'), isActiveRoute('dagbesteding_dagdelen_')) }}
        {{ html.navLink('Rapportages', path('dagbesteding_reporting_index'), isActiveRoute('dagbesteding_reporting_')) }}
    {% endif %}
    {% if is_granted('ROLE_DAGBESTEDING_BEHEER') %}
        <li role="presentation" class="dropdown {{ isActivePath('dagbesteding/admin') ? 'active' }}">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Beheer <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {{ html.navLink('Afsluitingen deelnemers', path('dagbesteding_deelnemerafsluitingen_index'), isActiveRoute('dagbesteding_deelnemerafsluitingen_')) }}
                {{ html.navLink('Afsluitingen trajecten', path('dagbesteding_trajectafsluitingen_index'), isActiveRoute('dagbesteding_trajectafsluitingen_')) }}
                {{ html.navLink('Projecten', path('dagbesteding_projecten_index'), isActiveRoute('dagbesteding_projecten_')) }}
                {{ html.navLink('Trajectbegeleiders', path('dagbesteding_trajectbegeleiders_index'), isActiveRoute('dagbesteding_trajectbegeleiders_')) }}
                {{ html.navLink('Soorten resultaatgebieden', path('dagbesteding_resultaatgebiedsoorten_index'), isActiveRoute('dagbesteding_resultaatgebiedsoorten_')) }}
                {{ html.navLink('Soorten trajecten', path('dagbesteding_trajectsoorten_index'), isActiveRoute('dagbesteding_trajectsoorten_')) }}
                {{ html.navLink('Werklocaties', path('dagbesteding_locaties_index'), isActiveRoute('dagbesteding_locaties_')) }}
            </ul>
        </li>
    {% endif %}
</ul>
