{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Maatschappelijk werk | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Mw/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-hover">
        <thead>
            {{ form_start(filter) }}
                <tr>
                    <th colspan="7">
                        <span class="pull-right">
                            {{ form_widget(filter.filter) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <th>
                        {{ form_widget(filter.klant.id) }}
                        {{ form_errors(filter.klant.id) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.voornaam) }}
                        {{ form_errors(filter.klant.voornaam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.achternaam) }}
                        {{ form_errors(filter.klant.achternaam) }}
                    </th>
                    <th>
                        {{ form_widget(filter.klant.geslacht) }}
                        {{ form_errors(filter.klant.geslacht) }}
                    </th>
                    <th>
                        {{ form_widget(filter.werkgebied) }}
                        {{ form_errors(filter.werkgebied) }}
                    </th>
                    <th>
                        {{ form_widget(filter.locatie) }}
                        {{ form_errors(filter.locatie) }}
                    </th>
                    <th>
                        {{ form_widget(filter.datum.start) }}
                        {{ form_errors(filter.datum.start) }}
                        {{ form_widget(filter.datum.end) }}
                        {{ form_errors(filter.datum.end) }}
                    </th>
                </tr>
            {{ form_end(filter) }}
            <tr>
                <th>
                    {{ knp_pagination_sortable(pagination, '#', 'klant.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Voornaam', 'klant.voornaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Achternaam', 'klant.achternaam') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Geslacht', 'geslacht.volledig') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Werkgebied', 'werkgebied.naam') }}
                </th>
                <th>
                    Wachtlijst (locatie)
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Eerste datum', 'verslag.datum') }}

                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination %}
                {% if item.klant is defined %}
                    {% set klant = item.klant %}
                {% else %}
                    {% set klant = item %}
                {% endif %}

                {% if klant.eersteIntake.id is defined %}
                    {% set href = path('inloop_klanten_view', {id: klant.id}) %}
                {% else %}
                    {% set href = path('mw_klanten_view', {id: klant.id}) %}
{#                    {% set href = "" %}#}
                {% endif %}
            <tr data-href="{{ href }}">
                <td>
                    {{ klant.id }}
                </td>
                <td>
                    {% if klant.roepnaam %}({{ klant.roepnaam }}){% endif %}
                </td>
                <td>
                    {{ klant.tussenvoegsel }} {{ klant.achternaam }}
                </td>
                <td>
                    {{ klant.geslacht }}
                </td>
                <td>
                    {{ klant.werkgebied }}
                </td>
                <td>
                    {% if item.eersteIntake.id is defined and item.eersteIntake.id is not null %}
                        {{ klant.eersteIntake.intakelocatie.naam }}
                    {% else %}
                        {{ item.locatie.naam }}
                    {% endif %}
                </td>
                <td>
                    {% if item.eersteIntake.id is defined %}
                        {{ item.eersteIntake.intakedatum|date("d-m-Y") }}
                    {% else %}
                        {{ item.datum|date("d-m-Y") }}
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ knp_pagination_render(pagination) }}
    </p>
{% endblock %}
